# ***Upload and Load dataset***

In [ ]:
#Upload the google drive
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
#Load the dataset
import pandas as pd
df = pd.read_csv('/content/drive/MyDrive/UM-Internship/HRDataset_cleaned.csv')

# ***Business Insights***

In [ ]:
#Display all rows and columns
pd.set_option('display.max_rows', None)
pd.set_option('display.max_columns', None)

In [ ]:
#RecruitmentSource x PerformanceScore X Department X TerminatedFlag
df.pivot_table(
    index=['RecruitmentSource', 'PerformanceScore', 'Department'],
    columns='TerminatedFlag',
    values='Employee_Name',
    aggfunc='count',
    fill_value=0,
    observed=False
)

TerminatedFlag                                                   0   1
RecruitmentSource       PerformanceScore  Department
CareerBuilder           Exceeds           Production             1   1
                        Fully Meets       Admin Offices          1   0
                                          IT/IS                  1   1
                                          Production             4   6
                                          Sales                  2   1
                                          Software Engineering   1   0
                        Needs Improvement Production             2   2
Diversity Job Fair      Exceeds           IT/IS                  2   0
                                          Production             2   1
                                          Software Engineering   0   1
                        Fully Meets       Admin Offices          2   1
                                          IT/IS                  0   1
                                          Production             3   8
                                          Sales                  1   0
                                          Software Engineering   0   2
                        Needs Improvement IT/IS                  1   0
                                          Production             1   1
                                          Sales                  1   0
                        PIP               Production             0   1
Employee Referral       Exceeds           IT/IS                  2   0
                                          Production             3   0
                        Fully Meets       IT/IS                  9   2
                                          Production            11   2
                                          Sales                  1   0
                        PIP               Sales                  0   1
Google Search           Exceeds           Production             1   1
                        Fully Meets       IT/IS                  0   1
                                          Production            16  22
                                          Sales                  0   2
                                          Software Engineering   2   0
                        Needs Improvement Production             0   3
                        PIP               Production             0   1
Indeed                  Exceeds           IT/IS                  2   0
                                          Production             7   1
                                          Sales                  2   0
                        Fully Meets       Admin Offices          1   1
                                          Executive Office       1   0
                                          IT/IS                 15   2
                                          Production            20  14
                                          Sales                 10   0
                                          Software Engineering   2   0
                        Needs Improvement Production             1   2
                                          Software Engineering   0   1
                        PIP               Production             4   0
                                          Sales                  1   0
LinkedIn                Exceeds           Production             5   3
                                          Software Engineering   1   0
                        Fully Meets       IT/IS                  7   3
                                          Production            40   8
                                          Sales                  1   1
                                          Software Engineering   1   0
                        Needs Improvement Production             2   1
                        PIP               IT/IS                  1   0
                                          Production             0   2
On-line Web application Fully Meets       Production             0   1
Other                   Fully Meets       Admin Offices          1   0
                                          Production             0   1
Website                 Exceeds           Production             1   0
                        Fully Meets       Admin Offices          2   0
                                          Production             2   1
                                          Sales                  5   0
                        PIP               Sales                  2   0

In [ ]:
#RecruitmentSource x TenureGroup X Department X TerminatedFlag
df.pivot_table(
    index=['RecruitmentSource', 'TenureGroup', 'Department'],
    columns='TerminatedFlag',
    values='Employee_Name',
    aggfunc='count',
    fill_value=0,
    observed=False
)

TerminatedFlag                                             0   1
RecruitmentSource       TenureGroup Department
CareerBuilder           0-2 yrs     IT/IS                  0   1
                                    Sales                  0   1
                        10-15 yrs   Production             6   0
                                    Sales                  2   0
                                    Software Engineering   1   0
                        2-5 yrs     Production             0   5
                        5-10 yrs    Admin Offices          1   0
                                    IT/IS                  1   0
                                    Production             1   4
Diversity Job Fair      0-2 yrs     Admin Offices          0   1
                                    Production             0   2
                        10-15 yrs   IT/IS                  3   0
                                    Production             4   0
                                    Sales                  2   0
                        15-20 yrs   Admin Offices          1   0
                                    Production             1   0
                        2-5 yrs     IT/IS                  0   1
                                    Production             0   7
                                    Software Engineering   0   2
                        5-10 yrs    Admin Offices          1   0
                                    Production             1   2
                                    Software Engineering   0   1
Employee Referral       0-2 yrs     IT/IS                  0   1
                        10-15 yrs   IT/IS                  4   0
                                    Production            10   0
                                    Sales                  1   0
                        2-5 yrs     IT/IS                  0   1
                                    Production             0   2
                                    Sales                  0   1
                        5-10 yrs    IT/IS                  7   0
                                    Production             4   0
Google Search           0-2 yrs     IT/IS                  0   1
                                    Production             0   7
                        10-15 yrs   Production            15   0
                                    Software Engineering   2   0
                        15-20 yrs   Production             1   0
                        2-5 yrs     Production             0  10
                                    Sales                  0   2
                        5-10 yrs    Production             1  10
Indeed                  0-2 yrs     Admin Offices          0   1
                                    IT/IS                  0   2
                                    Production             0   8
                        10-15 yrs   Admin Offices          1   0
                                    Executive Office       1   0
                                    IT/IS                  4   0
                                    Production            24   0
                                    Sales                 11   0
                                    Software Engineering   2   0
                        15-20 yrs   Production             3   0
                                    Sales                  1   0
                        2-5 yrs     Production             0   1
                                    Software Engineering   0   1
                        5-10 yrs    IT/IS                 13   0
                                    Production             5   8
                                    Sales                  1   0
LinkedIn                0-2 yrs     IT/IS                  0   1
                                    Production             0   3
                        10-15 yrs   IT/IS                  4   0
                                    Production            41   0
                                    Sales                  1   0
                                    Software Engineering   2   0
                        2-5 yrs     IT/IS                  0   2
                                    Production             0  10
                                    Sales                  0   1
                        5-10 yrs    IT/IS                  4   0
                                    Production             6   1
On-line Web application 2-5 yrs     Production             0   1
Other                   15-20 yrs   Admin Offices          1   0
                        2-5 yrs     Production             0   1
Website                 10-15 yrs   Admin Offices          1   0
                                    Production             2   0
                                    Sales                  5   0
                        2-5 yrs     Production             0   1
                        5-10 yrs    Admin Offices          1   0
                                    Production             1   0
                                    Sales                  2   0

In [ ]:
#RecruitmentSource x Sex X Department X TerminatedFlag
df.pivot_table(
    index=['RecruitmentSource', 'Sex', 'Department'],
    columns='TerminatedFlag',
    values='Employee_Name',
    aggfunc='count',
    fill_value=0,
    observed=False
)

TerminatedFlag                                     0   1
RecruitmentSource       Sex Department
CareerBuilder           F   IT/IS                  1   0
                            Production             5   8
                            Sales                  0   1
                            Software Engineering   1   0
                        M   Admin Offices          1   0
                            IT/IS                  0   1
                            Production             2   1
                            Sales                  2   0
Diversity Job Fair      F   Admin Offices          2   1
                            IT/IS                  1   0
                            Production             4   7
                        M   IT/IS                  2   1
                            Production             2   4
                            Sales                  2   0
                            Software Engineering   0   3
Employee Referral       F   IT/IS                  7   0
                            Production             4   0
                        M   IT/IS                  4   2
                            Production            10   2
                            Sales                  1   1
Google Search           F   IT/IS                  0   1
                            Production            10  19
                            Sales                  0   2
                            Software Engineering   1   0
                        M   Production             7   8
                            Software Engineering   1   0
Indeed                  F   Admin Offices          0   1
                            Executive Office       1   0
                            IT/IS                  5   1
                            Production            21   9
                            Sales                  9   0
                            Software Engineering   2   1
                        M   Admin Offices          1   0
                            IT/IS                 12   1
                            Production            11   8
                            Sales                  4   0
LinkedIn                F   IT/IS                  5   1
                            Production            28   8
                            Sales                  1   0
                            Software Engineering   1   0
                        M   IT/IS                  3   2
                            Production            19   6
                            Sales                  0   1
                            Software Engineering   1   0
On-line Web application M   Production             0   1
Other                   F   Admin Offices          1   0
                        M   Production             0   1
Website                 F   Admin Offices          1   0
                            Production             3   0
                            Sales                  2   0
                        M   Admin Offices          1   0
                            Production             0   1
                            Sales                  5   0

In [ ]:
#RecruitmentSource x MaritalDesc X Department X TerminatedFlag
df.pivot_table(
    index=['RecruitmentSource', 'MaritalDesc', 'Department'],
    columns='TerminatedFlag',
    values='Employee_Name',
    aggfunc='count',
    fill_value=0,
    observed=False
)

TerminatedFlag                                             0   1
RecruitmentSource       MaritalDesc Department
CareerBuilder           Divorced    Production             1   1
                        Married     Admin Offices          1   0
                                    IT/IS                  1   1
                                    Production             3   3
                                    Sales                  1   0
                        Single      Production             3   5
                                    Sales                  1   0
                                    Software Engineering   1   0
                        Widowed     Sales                  0   1
Diversity Job Fair      Divorced    IT/IS                  1   1
                                    Production             1   1
                                    Sales                  1   0
                        Married     Admin Offices          2   1
                                    IT/IS                  1   0
                                    Production             0   6
                                    Software Engineering   0   1
                        Separated   Production             2   0
                        Single      IT/IS                  1   0
                                    Production             3   4
                                    Sales                  1   0
                                    Software Engineering   0   2
Employee Referral       Divorced    Production             3   0
                        Married     IT/IS                  6   2
                                    Production             3   2
                                    Sales                  0   1
                        Separated   IT/IS                  1   0
                        Single      IT/IS                  3   0
                                    Production             6   0
                                    Sales                  1   0
                        Widowed     IT/IS                  1   0
                                    Production             2   0
Google Search           Divorced    Production             1   5
                        Married     Production             6  12
                                    Sales                  0   1
                        Separated   Production             1   1
                        Single      IT/IS                  0   1
                                    Production             9   9
                                    Sales                  0   1
                                    Software Engineering   2   0
Indeed                  Divorced    IT/IS                  1   0
                                    Production             2   3
                        Married     Admin Offices          0   1
                                    Executive Office       1   0
                                    IT/IS                  6   1
                                    Production            13  10
                                    Sales                  3   0
                                    Software Engineering   1   1
                        Separated   Production             2   0
                                    Sales                  1   0
                        Single      Admin Offices          1   0
                                    IT/IS                 10   1
                                    Production            15   3
                                    Sales                  9   0
                                    Software Engineering   1   0
                        Widowed     Production             0   1
LinkedIn                Divorced    IT/IS                  0   1
                                    Production             2   3
                        Married     IT/IS                  5   0
                                    Production            17   3
                                    Sales                  1   0
                        Separated   Production             2   0
                        Single      IT/IS                  3   2
                                    Production            25   7
                                    Sales                  0   1
                                    Software Engineering   2   0
                        Widowed     Production             1   1
On-line Web application Divorced    Production             0   1
Other                   Married     Admin Offices          1   0
                        Widowed     Production             0   1
Website                 Divorced    Admin Offices          1   0
                        Married     Production             2   1
                                    Sales                  3   0
                        Separated   Production             1   0
                                    Sales                  1   0
                        Single      Admin Offices          1   0
                                    Sales                  3   0

In [ ]:
#RecruitmentSource x EmploymentStatus X Department X TerminatedFlag
df.pivot_table(
    index=['RecruitmentSource', 'EmploymentStatus', 'Department'],
    columns='TerminatedFlag',
    values='Employee_Name',
    aggfunc='count',
    fill_value=0,
    observed=False
)

TerminatedFlag                                                        0   1
RecruitmentSource       EmploymentStatus       Department
CareerBuilder           Active                 Admin Offices          1   0
                                               IT/IS                  1   0
                                               Production             7   0
                                               Sales                  2   0
                                               Software Engineering   1   0
                        Terminated for Cause   Sales                  0   1
                        Voluntarily Terminated IT/IS                  0   1
                                               Production             0   9
Diversity Job Fair      Active                 Admin Offices          2   0
                                               IT/IS                  3   0
                                               Production             6   0
                                               Sales                  2   0
                        Voluntarily Terminated Admin Offices          0   1
                                               IT/IS                  0   1
                                               Production             0  11
                                               Software Engineering   0   3
Employee Referral       Active                 IT/IS                 11   0
                                               Production            14   0
                                               Sales                  1   0
                        Terminated for Cause   IT/IS                  0   1
                                               Production             0   1
                                               Sales                  0   1
                        Voluntarily Terminated IT/IS                  0   1
                                               Production             0   1
Google Search           Active                 Production            17   0
                                               Software Engineering   2   0
                        Terminated for Cause   IT/IS                  0   1
                                               Production             0   4
                        Voluntarily Terminated Production             0  23
                                               Sales                  0   2
Indeed                  Active                 Admin Offices          1   0
                                               Executive Office       1   0
                                               IT/IS                 17   0
                                               Production            32   0
                                               Sales                 13   0
                                               Software Engineering   2   0
                        Terminated for Cause   Admin Offices          0   1
                                               IT/IS                  0   1
                                               Production             0   1
                                               Software Engineering   0   1
                        Voluntarily Terminated IT/IS                  0   1
                                               Production             0  16
LinkedIn                Active                 IT/IS                  8   0
                                               Production            47   0
                                               Sales                  1   0
                                               Software Engineering   2   0
                        Terminated for Cause   IT/IS                  0   1
                                               Production             0   2
                        Voluntarily Terminated IT/IS                  0   2
                                               Production             0  12
                                               Sales                  0   1
On-line Web application Voluntarily Terminated Production             0   1
Other                   Active                 Admin Offices          1   0
                        Voluntarily Terminated Production             0   1
Website                 Active                 Admin Offices          2   0
                                               Production             3   0
                                               Sales                  7   0
                        Voluntarily Terminated Production             0   1

In [ ]:
#RecruitmentSource x PerformanceScore X TenureGroup X TerminatedFlag
df.pivot_table(
    index=['RecruitmentSource', 'PerformanceScore', 'TenureGroup'],
    columns='TerminatedFlag',
    values='Employee_Name',
    aggfunc='count',
    fill_value=0,
    observed=False
)

TerminatedFlag                                          0   1
RecruitmentSource       PerformanceScore  TenureGroup
CareerBuilder           Exceeds           10-15 yrs     1   0
                                          5-10 yrs      0   1
                        Fully Meets       0-2 yrs       0   2
                                          10-15 yrs     6   0
                                          2-5 yrs       0   3
                                          5-10 yrs      3   3
                        Needs Improvement 10-15 yrs     2   0
                                          2-5 yrs       0   2
Diversity Job Fair      Exceeds           10-15 yrs     4   0
                                          2-5 yrs       0   2
                        Fully Meets       0-2 yrs       0   2
                                          10-15 yrs     3   0
                                          15-20 yrs     2   0
                                          2-5 yrs       0   7
                                          5-10 yrs      1   3
                        Needs Improvement 10-15 yrs     2   0
                                          2-5 yrs       0   1
                                          5-10 yrs      1   0
                        PIP               0-2 yrs       0   1
Employee Referral       Exceeds           10-15 yrs     3   0
                                          5-10 yrs      2   0
                        Fully Meets       0-2 yrs       0   1
                                          10-15 yrs    12   0
                                          2-5 yrs       0   3
                                          5-10 yrs      9   0
                        PIP               2-5 yrs       0   1
Google Search           Exceeds           10-15 yrs     1   0
                                          2-5 yrs       0   1
                        Fully Meets       0-2 yrs       0   8
                                          10-15 yrs    16   0
                                          15-20 yrs     1   0
                                          2-5 yrs       0  10
                                          5-10 yrs      1   7
                        Needs Improvement 2-5 yrs       0   1
                                          5-10 yrs      0   2
                        PIP               5-10 yrs      0   1
Indeed                  Exceeds           0-2 yrs       0   1
                                          10-15 yrs     8   0
                                          15-20 yrs     2   0
                                          5-10 yrs      1   0
                        Fully Meets       0-2 yrs       0   9
                                          10-15 yrs    30   0
                                          15-20 yrs     2   0
                                          2-5 yrs       0   1
                                          5-10 yrs     17   7
                        Needs Improvement 0-2 yrs       0   1
                                          10-15 yrs     1   0
                                          2-5 yrs       0   1
                                          5-10 yrs      0   1
                        PIP               10-15 yrs     4   0
                                          5-10 yrs      1   0
LinkedIn                Exceeds           10-15 yrs     6   0
                                          2-5 yrs       0   3
                        Fully Meets       0-2 yrs       0   4
                                          10-15 yrs    40   0
                                          2-5 yrs       0   8
                                          5-10 yrs      9   0
                        Needs Improvement 10-15 yrs     2   0
                                          5-10 yrs      0   1
                        PIP               2-5 yrs       0   2
                                          5-10 yrs      1   0
On-line Web application Fully Meets       2-5 yrs       0   1
Other                   Fully Meets       15-20 yrs     1   0
                                          2-5 yrs       0   1
Website                 Exceeds           10-15 yrs     1   0
                        Fully Meets       10-15 yrs     5   0
                                          2-5 yrs       0   1
                                          5-10 yrs      4   0
                        PIP               10-15 yrs     2   0

In [ ]:
#RecruitmentSource x Position X Department X TerminatedFlag
df.pivot_table(
    index=['RecruitmentSource', 'Position', 'Department'],
    columns='TerminatedFlag',
    values='Employee_Name',
    aggfunc='count',
    fill_value=0,
    observed=False
)

TerminatedFlag                                                              0  \
RecruitmentSource       Position                     Department
CareerBuilder           Area Sales Manager           Sales                  2
                        Network Engineer             IT/IS                  1
                        Production Manager           Production             1
                        Production Technician I      Production             4
                        Production Technician II     Production             2
                        Shared Services Manager      Admin Offices          1
                        Software Engineer            Software Engineering   1
Diversity Job Fair      Accountant I                 Admin Offices          1
                        Administrative Assistant     Admin Offices          0
                        Area Sales Manager           Sales                  1
                        Data Analyst                 IT/IS                  1
                        IT Manager - DB              IT/IS                  0
                        IT Manager - Infra           IT/IS                  1
                        IT Support                   IT/IS                  1
                        Production Manager           Production             0
                        Production Technician I      Production             5
                        Production Technician II     Production             1
                        Sales Manager                Sales                  1
                        Software Engineer            Software Engineering   0
                        Sr. Accountant               Admin Offices          1
Employee Referral       Area Sales Manager           Sales                  1
                        CIO                          IT/IS                  1
                        Data Analyst                 IT/IS                  4
                        Database Administrator       IT/IS                  0
                        IT Support                   IT/IS                  2
                        Network Engineer             IT/IS                  1
                        Production Manager           Production             2
                        Production Technician I      Production             9
                        Production Technician II     Production             3
                        Sr. Network Engineer         IT/IS                  3
Google Search           Area Sales Manager           Sales                  0
                        Database Administrator       IT/IS                  0
                        Production Manager           Production             1
                        Production Technician I      Production            14
                        Production Technician II     Production             2
                        Sales Manager                Sales                  0
                        Software Engineer            Software Engineering   1
                        Software Engineering Manager Software Engineering   1
Indeed                  Accountant I                 Admin Offices          1
                        Administrative Assistant     Admin Offices          0
                        Area Sales Manager           Sales                 12
                        BI Developer                 IT/IS                  4
                        BI Director                  IT/IS                  1
                        Data Analyst                 IT/IS                  1
                        Data Architect               IT/IS                  1
                        Database Administrator       IT/IS                  2
                        Director of Operations       Production             1
                        IT Director                  IT/IS                  1
                        IT Manager - DB              IT/IS                  1
                        IT Manager - Support         IT/IS                  1
                        IT Support                   IT/IS                  2
                        President & CEO              Executive Office       1
                        Production Manager           Production             3
                        Production Technician I      Production            21
                        Production Technician II     Production             7
                        Sales Manager                Sales                  1
                        Senior BI Developer          IT/IS                  3
                        Software Engineer            Software Engineering   2
                        Sr. DBA                      IT/IS                  0
LinkedIn                Area Sales Manager           Sales                  0
                        Data Analyst                 IT/IS                  0
                        Director of Sales            Sales                  1
                        Enterprise Architect         IT/IS                  0
                        IT Support                   IT/IS                  3
                        Network Engineer             IT/IS                  2
                        Principal Data Architect     IT/IS                  0
                        Production Manager           Production             1
                        Production Technician I      Production            30
                        Production Technician II     Production            16
                        Software Engineer            Software Engineering   2
                        Sr. DBA                      IT/IS                  1
                        Sr. Network Engineer         IT/IS                  2
On-line Web application Production Technician I      Production             0
Other                   Production Technician II     Production             0
                        Sr. Accountant               Admin Offices          1
Website                 Accountant I                 Admin Offices          1
                        Administrative Assistant     Admin Offices          1
                        Area Sales Manager           Sales                  7
                        Production Manager           Production             1
                        Production Technician I      Production             2

TerminatedFlag                                                              1
RecruitmentSource       Position                     Department
CareerBuilder           Area Sales Manager           Sales                  1
                        Network Engineer             IT/IS                  1
                        Production Manager           Production             0
                        Production Technician I      Production             6
                        Production Technician II     Production             3
                        Shared Services Manager      Admin Offices          0
                        Software Engineer            Software Engineering   0
Diversity Job Fair      Accountant I                 Admin Offices          0
                        Administrative Assistant     Admin Offices          1
                        Area Sales Manager           Sales                  0
                        Data Analyst                 IT/IS                  0
                        IT Manager - DB              IT/IS                  1
                        IT Manager - Infra           IT/IS                  0
                        IT Support                   IT/IS                  0
                        Production Manager           Production             1
                        Production Technician I      Production             9
                        Production Technician II     Production             1
                        Sales Manager                Sales                  0
                        Software Engineer            Software Engineering   3
                        Sr. Accountant               Admin Offices          0
Employee Referral       Area Sales Manager           Sales                  1
                        CIO                          IT/IS                  0
                        Data Analyst                 IT/IS                  1
                        Database Administrator       IT/IS                  1
                        IT Support                   IT/IS                  0
                        Network Engineer             IT/IS                  0
                        Production Manager           Production             1
                        Production Technician I      Production             1
                        Production Technician II     Production             0
                        Sr. Network Engineer         IT/IS                  0
Google Search           Area Sales Manager           Sales                  1
                        Database Administrator       IT/IS                  1
                        Production Manager           Production             0
                        Production Technician I      Production            18
                        Production Technician II     Production             9
                        Sales Manager                Sales                  1
                        Software Engineer            Software Engineering   0
                        Software Engineering Manager Software Engineering   0
Indeed                  Accountant I                 Admin Offices          0
                        Administrative Assistant     Admin Offices          1
                        Area Sales Manager           Sales                  0
                        BI Developer                 IT/IS                  0
                        BI Director                  IT/IS                  0
                        Data Analyst                 IT/IS                  0
                        Data Architect               IT/IS                  0
                        Database Administrator       IT/IS                  1
                        Director of Operations       Production             0
                        IT Director                  IT/IS                  0
                        IT Manager - DB              IT/IS                  0
                        IT Manager - Support         IT/IS                  0
                        IT Support                   IT/IS                  0
                        President & CEO              Executive Office       0
                        Production Manager           Production             3
                        Production Technician I      Production             9
                        Production Technician II     Production             5
                        Sales Manager                Sales                  0
                        Senior BI Developer          IT/IS                  0
                        Software Engineer            Software Engineering   1
                        Sr. DBA                      IT/IS                  1
LinkedIn                Area Sales Manager           Sales                  1
                        Data Analyst                 IT/IS                  1
                        Director of Sales            Sales                  0
                        Enterprise Architect         IT/IS                  1
                        IT Support                   IT/IS                  0
                        Network Engineer             IT/IS                  0
                        Principal Data Architect     IT/IS                  1
                        Production Manager           Production             0
                        Production Technician I      Production             7
                        Production Technician II     Production             7
                        Software Engineer            Software Engineering   0
                        Sr. DBA                      IT/IS                  0
                        Sr. Network Engineer         IT/IS                  0
On-line Web application Production Technician I      Production             1
Other                   Production Technician II     Production             1
                        Sr. Accountant               Admin Offices          0
Website                 Accountant I                 Admin Offices          0
                        Administrative Assistant     Admin Offices          0
                        Area Sales Manager           Sales                  0
                        Production Manager           Production             0
                        Production Technician I      Production             1

In [ ]:
#RecruitmentSource x Sex X TenureGroup X TerminatedFlag
df.pivot_table(
    index=['RecruitmentSource', 'Sex', 'TenureGroup'],
    columns='TerminatedFlag',
    values='Employee_Name',
    aggfunc='count',
    fill_value=0,
    observed=False
)

TerminatedFlag                            0   1
RecruitmentSource       Sex TenureGroup
CareerBuilder           F   0-2 yrs       0   1
                            10-15 yrs     5   0
                            2-5 yrs       0   5
                            5-10 yrs      2   3
                        M   0-2 yrs       0   1
                            10-15 yrs     4   0
                            5-10 yrs      1   1
Diversity Job Fair      F   0-2 yrs       0   2
                            10-15 yrs     3   0
                            15-20 yrs     2   0
                            2-5 yrs       0   4
                            5-10 yrs      2   2
                        M   0-2 yrs       0   1
                            10-15 yrs     6   0
                            2-5 yrs       0   6
                            5-10 yrs      0   1
Employee Referral       F   10-15 yrs     5   0
                            5-10 yrs      6   0
                        M   0-2 yrs       0   1
                            10-15 yrs    10   0
                            2-5 yrs       0   4
                            5-10 yrs      5   0
Google Search           F   0-2 yrs       0   6
                            10-15 yrs    11   0
                            2-5 yrs       0  11
                            5-10 yrs      0   5
                        M   0-2 yrs       0   2
                            10-15 yrs     6   0
                            15-20 yrs     1   0
                            2-5 yrs       0   1
                            5-10 yrs      1   5
Indeed                  F   0-2 yrs       0   6
                            10-15 yrs    28   0
                            15-20 yrs     2   0
                            2-5 yrs       0   2
                            5-10 yrs      8   4
                        M   0-2 yrs       0   5
                            10-15 yrs    15   0
                            15-20 yrs     2   0
                            5-10 yrs     11   4
LinkedIn                F   0-2 yrs       0   3
                            10-15 yrs    28   0
                            2-5 yrs       0   6
                            5-10 yrs      7   0
                        M   0-2 yrs       0   1
                            10-15 yrs    20   0
                            2-5 yrs       0   7
                            5-10 yrs      3   1
On-line Web application M   2-5 yrs       0   1
Other                   F   15-20 yrs     1   0
                        M   2-5 yrs       0   1
Website                 F   10-15 yrs     4   0
                            5-10 yrs      2   0
                        M   10-15 yrs     4   0
                            2-5 yrs       0   1
                            5-10 yrs      2   0

In [ ]:
#RecruitmentSource x MaritalDesc X TenureGroup X TerminatedFlag
df.pivot_table(
    index=['RecruitmentSource', 'MaritalDesc', 'TenureGroup'],
    columns='TerminatedFlag',
    values='Employee_Name',
    aggfunc='count',
    fill_value=0,
    observed=False
)

TerminatedFlag                                    0  1
RecruitmentSource       MaritalDesc TenureGroup
CareerBuilder           Divorced    10-15 yrs     1  0
                                    2-5 yrs       0  1
                        Married     0-2 yrs       0  1
                                    10-15 yrs     4  0
                                    2-5 yrs       0  1
                                    5-10 yrs      2  2
                        Single      10-15 yrs     4  0
                                    2-5 yrs       0  3
                                    5-10 yrs      1  2
                        Widowed     0-2 yrs       0  1
Diversity Job Fair      Divorced    10-15 yrs     3  0
                                    2-5 yrs       0  1
                                    5-10 yrs      0  1
                        Married     0-2 yrs       0  3
                                    10-15 yrs     1  0
                                    15-20 yrs     1  0
                                    2-5 yrs       0  4
                                    5-10 yrs      1  1
                        Separated   10-15 yrs     2  0
                        Single      10-15 yrs     3  0
                                    15-20 yrs     1  0
                                    2-5 yrs       0  5
                                    5-10 yrs      1  1
Employee Referral       Divorced    10-15 yrs     2  0
                                    5-10 yrs      1  0
                        Married     0-2 yrs       0  1
                                    10-15 yrs     3  0
                                    2-5 yrs       0  4
                                    5-10 yrs      6  0
                        Separated   5-10 yrs      1  0
                        Single      10-15 yrs     8  0
                                    5-10 yrs      2  0
                        Widowed     10-15 yrs     2  0
                                    5-10 yrs      1  0
Google Search           Divorced    0-2 yrs       0  2
                                    10-15 yrs     1  0
                                    2-5 yrs       0  1
                                    5-10 yrs      0  2
                        Married     0-2 yrs       0  5
                                    10-15 yrs     5  0
                                    2-5 yrs       0  6
                                    5-10 yrs      1  2
                        Separated   10-15 yrs     1  0
                                    2-5 yrs       0  1
                        Single      0-2 yrs       0  1
                                    10-15 yrs    10  0
                                    15-20 yrs     1  0
                                    2-5 yrs       0  4
                                    5-10 yrs      0  6
Indeed                  Divorced    0-2 yrs       0  2
                                    10-15 yrs     2  0
                                    5-10 yrs      1  1
                        Married     0-2 yrs       0  7
                                    10-15 yrs    13  0
                                    15-20 yrs     2  0
                                    2-5 yrs       0  1
                                    5-10 yrs      9  5
                        Separated   10-15 yrs     1  0
                                    15-20 yrs     1  0
                                    5-10 yrs      1  0
                        Single      0-2 yrs       0  2
                                    10-15 yrs    27  0
                                    15-20 yrs     1  0
                                    2-5 yrs       0  1
                                    5-10 yrs      8  1
                        Widowed     5-10 yrs      0  1
LinkedIn                Divorced    0-2 yrs       0  1
                                    10-15 yrs     2  0
                                    2-5 yrs       0  3
                        Married     0-2 yrs       0  3
                                    10-15 yrs    19  0
                                    5-10 yrs      4  0
                        Separated   10-15 yrs     2  0
                        Single      10-15 yrs    24  0
                                    2-5 yrs       0  9
                                    5-10 yrs      6  1
                        Widowed     10-15 yrs     1  0
                                    2-5 yrs       0  1
On-line Web application Divorced    2-5 yrs       0  1
Other                   Married     15-20 yrs     1  0
                        Widowed     2-5 yrs       0  1
Website                 Divorced    10-15 yrs     1  0
                        Married     10-15 yrs     3  0
                                    2-5 yrs       0  1
                                    5-10 yrs      2  0
                        Separated   10-15 yrs     2  0
                        Single      10-15 yrs     2  0
                                    5-10 yrs      2  0

In [ ]:
#RecruitmentSource x EmploymentStatus X TenureGroup X TerminatedFlag
df.pivot_table(
    index=['RecruitmentSource', 'EmploymentStatus', 'TenureGroup'],
    columns='TerminatedFlag',
    values='Employee_Name',
    aggfunc='count',
    fill_value=0,
    observed=False
)

TerminatedFlag                                               0   1
RecruitmentSource       EmploymentStatus       TenureGroup
CareerBuilder           Active                 10-15 yrs     9   0
                                               5-10 yrs      3   0
                        Terminated for Cause   0-2 yrs       0   1
                        Voluntarily Terminated 0-2 yrs       0   1
                                               2-5 yrs       0   5
                                               5-10 yrs      0   4
Diversity Job Fair      Active                 10-15 yrs     9   0
                                               15-20 yrs     2   0
                                               5-10 yrs      2   0
                        Voluntarily Terminated 0-2 yrs       0   3
                                               2-5 yrs       0  10
                                               5-10 yrs      0   3
Employee Referral       Active                 10-15 yrs    15   0
                                               5-10 yrs     11   0
                        Terminated for Cause   2-5 yrs       0   3
                        Voluntarily Terminated 0-2 yrs       0   1
                                               2-5 yrs       0   1
Google Search           Active                 10-15 yrs    17   0
                                               15-20 yrs     1   0
                                               5-10 yrs      1   0
                        Terminated for Cause   0-2 yrs       0   1
                                               2-5 yrs       0   2
                                               5-10 yrs      0   2
                        Voluntarily Terminated 0-2 yrs       0   7
                                               2-5 yrs       0  10
                                               5-10 yrs      0   8
Indeed                  Active                 10-15 yrs    43   0
                                               15-20 yrs     4   0
                                               5-10 yrs     19   0
                        Terminated for Cause   0-2 yrs       0   2
                                               2-5 yrs       0   1
                                               5-10 yrs      0   1
                        Voluntarily Terminated 0-2 yrs       0   9
                                               2-5 yrs       0   1
                                               5-10 yrs      0   7
LinkedIn                Active                 10-15 yrs    48   0
                                               5-10 yrs     10   0
                        Terminated for Cause   2-5 yrs       0   2
                                               5-10 yrs      0   1
                        Voluntarily Terminated 0-2 yrs       0   4
                                               2-5 yrs       0  11
On-line Web application Voluntarily Terminated 2-5 yrs       0   1
Other                   Active                 15-20 yrs     1   0
                        Voluntarily Terminated 2-5 yrs       0   1
Website                 Active                 10-15 yrs     8   0
                                               5-10 yrs      4   0
                        Voluntarily Terminated 2-5 yrs       0   1

In [ ]:
#RecruitmentSource x PerformanceScore X Position X TerminatedFlag
df.pivot_table(
    index=['RecruitmentSource', 'PerformanceScore', 'Position'],
    columns='TerminatedFlag',
    values='Employee_Name',
    aggfunc='count',
    fill_value=0,
    observed=False
)

TerminatedFlag                                                           0   1
RecruitmentSource       PerformanceScore  Position
CareerBuilder           Exceeds           Production Technician I        1   1
                        Fully Meets       Area Sales Manager             2   1
                                          Network Engineer               1   1
                                          Production Technician I        3   4
                                          Production Technician II       1   2
                                          Shared Services Manager        1   0
                                          Software Engineer              1   0
                        Needs Improvement Production Manager             1   0
                                          Production Technician I        0   1
                                          Production Technician II       1   1
Diversity Job Fair      Exceeds           Data Analyst                   1   0
                                          IT Support                     1   0
                                          Production Technician I        2   1
                                          Software Engineer              0   1
                        Fully Meets       Accountant I                   1   0
                                          Administrative Assistant       0   1
                                          Area Sales Manager             1   0
                                          IT Manager - DB                0   1
                                          Production Manager             0   1
                                          Production Technician I        2   7
                                          Production Technician II       1   0
                                          Software Engineer              0   2
                                          Sr. Accountant                 1   0
                        Needs Improvement IT Manager - Infra             1   0
                                          Production Technician I        1   1
                                          Sales Manager                  1   0
                        PIP               Production Technician II       0   1
Employee Referral       Exceeds           CIO                            1   0
                                          Data Analyst                   1   0
                                          Production Technician I        2   0
                                          Production Technician II       1   0
                        Fully Meets       Area Sales Manager             1   0
                                          Data Analyst                   3   1
                                          Database Administrator         0   1
                                          IT Support                     2   0
                                          Network Engineer               1   0
                                          Production Manager             2   1
                                          Production Technician I        7   1
                                          Production Technician II       2   0
                                          Sr. Network Engineer           3   0
                        PIP               Area Sales Manager             0   1
Google Search           Exceeds           Production Technician I        1   1
                        Fully Meets       Area Sales Manager             0   1
                                          Database Administrator         0   1
                                          Production Manager             1   0
                                          Production Technician I       13  13
                                          Production Technician II       2   9
                                          Sales Manager                  0   1
                                          Software Engineer              1   0
                                          Software Engineering Manager   1   0
                        Needs Improvement Production Technician I        0   3
                        PIP               Production Technician I        0   1
Indeed                  Exceeds           Area Sales Manager             2   0
                                          Director of Operations         1   0
                                          IT Director                    1   0
                                          IT Manager - Support           1   0
                                          Production Manager             1   0
                                          Production Technician I        2   0
                                          Production Technician II       3   1
                        Fully Meets       Accountant I                   1   0
                                          Administrative Assistant       0   1
                                          Area Sales Manager             9   0
                                          BI Developer                   4   0
                                          BI Director                    1   0
                                          Data Analyst                   1   0
                                          Data Architect                 1   0
                                          Database Administrator         2   1
                                          IT Manager - DB                1   0
                                          IT Support                     2   0
                                          President & CEO                1   0
                                          Production Manager             2   2
                                          Production Technician I       15   8
                                          Production Technician II       3   4
                                          Sales Manager                  1   0
                                          Senior BI Developer            3   0
                                          Software Engineer              2   0
                                          Sr. DBA                        0   1
                        Needs Improvement Production Manager             0   1
                                          Production Technician I        1   1
                                          Software Engineer              0   1
                        PIP               Area Sales Manager             1   0
                                          Production Technician I        3   0
                                          Production Technician II       1   0
LinkedIn                Exceeds           Production Technician I        3   2
                                          Production Technician II       2   1
                                          Software Engineer              1   0
                        Fully Meets       Area Sales Manager             0   1
                                          Data Analyst                   0   1
                                          Director of Sales              1   0
                                          Enterprise Architect           0   1
                                          IT Support                     3   0
                                          Network Engineer               1   0
                                          Principal Data Architect       0   1
                                          Production Manager             1   0
                                          Production Technician I       25   3
                                          Production Technician II      14   5
                                          Software Engineer              1   0
                                          Sr. DBA                        1   0
                                          Sr. Network Engineer           2   0
                        Needs Improvement Production Technician I        2   1
                        PIP               Network Engineer               1   0
                                          Production Technician I        0   1
                                          Production Technician II       0   1
On-line Web application Fully Meets       Production Technician I        0   1
Other                   Fully Meets       Production Technician II       0   1
                                          Sr. Accountant                 1   0
Website                 Exceeds           Production Manager             1   0
                        Fully Meets       Accountant I                   1   0
                                          Administrative Assistant       1   0
                                          Area Sales Manager             5   0
                                          Production Technician I        2   1
                        PIP               Area Sales Manager             2   0

In [ ]:
#RecruitmentSource x PerformanceScore X Sex X TerminatedFlag
df.pivot_table(
    index=['RecruitmentSource', 'PerformanceScore', 'Sex'],
    columns='TerminatedFlag',
    values='Employee_Name',
    aggfunc='count',
    fill_value=0,
    observed=False
)

TerminatedFlag                                  0   1
RecruitmentSource       PerformanceScore  Sex
CareerBuilder           Exceeds           F     1   0
                                          M     0   1
                        Fully Meets       F     5   7
                                          M     4   1
                        Needs Improvement F     1   2
                                          M     1   0
Diversity Job Fair      Exceeds           F     2   1
                                          M     2   1
                        Fully Meets       F     4   7
                                          M     2   5
                        Needs Improvement F     1   0
                                          M     2   1
                        PIP               M     0   1
Employee Referral       Exceeds           F     3   0
                                          M     2   0
                        Fully Meets       F     8   0
                                          M    13   4
                        PIP               M     0   1
Google Search           Exceeds           F     1   1
                        Fully Meets       F    10  19
                                          M     8   6
                        Needs Improvement F     0   1
                                          M     0   2
                        PIP               F     0   1
Indeed                  Exceeds           F     5   1
                                          M     6   0
                        Fully Meets       F    30   9
                                          M    19   8
                        Needs Improvement F     1   2
                                          M     0   1
                        PIP               F     2   0
                                          M     3   0
LinkedIn                Exceeds           F     3   1
                                          M     3   2
                        Fully Meets       F    31   7
                                          M    18   5
                        Needs Improvement F     1   0
                                          M     1   1
                        PIP               F     0   1
                                          M     1   1
On-line Web application Fully Meets       M     0   1
Other                   Fully Meets       F     1   0
                                          M     0   1
Website                 Exceeds           F     1   0
                        Fully Meets       F     4   0
                                          M     5   1
                        PIP               F     1   0
                                          M     1   0

In [ ]:
#RecruitmentSource x PerformanceScore X MaritalDesc X TerminatedFlag
df.pivot_table(
    index=['RecruitmentSource', 'PerformanceScore', 'MaritalDesc'],
    columns='TerminatedFlag',
    values='Employee_Name',
    aggfunc='count',
    fill_value=0,
    observed=False
)

TerminatedFlag                                          0   1
RecruitmentSource       PerformanceScore  MaritalDesc
CareerBuilder           Exceeds           Married       1   1
                        Fully Meets       Divorced      0   1
                                          Married       5   2
                                          Single        4   4
                                          Widowed       0   1
                        Needs Improvement Divorced      1   0
                                          Married       0   1
                                          Single        1   1
Diversity Job Fair      Exceeds           Divorced      2   0
                                          Separated     1   0
                                          Single        1   2
                        Fully Meets       Divorced      0   2
                                          Married       2   6
                                          Separated     1   0
                                          Single        3   4
                        Needs Improvement Divorced      1   0
                                          Married       1   1
                                          Single        1   0
                        PIP               Married       0   1
Employee Referral       Exceeds           Married       3   0
                                          Single        1   0
                                          Widowed       1   0
                        Fully Meets       Divorced      3   0
                                          Married       6   4
                                          Separated     1   0
                                          Single        9   0
                                          Widowed       2   0
                        PIP               Married       0   1
Google Search           Exceeds           Married       1   1
                        Fully Meets       Divorced      1   5
                                          Married       5  12
                                          Separated     1   1
                                          Single       11   7
                        Needs Improvement Single        0   3
                        PIP               Single        0   1
Indeed                  Exceeds           Married       1   1
                                          Separated     1   0
                                          Single        9   0
                        Fully Meets       Divorced      3   3
                                          Married      19   9
                                          Separated     1   0
                                          Single       26   4
                                          Widowed       0   1
                        Needs Improvement Married       1   3
                        PIP               Married       3   0
                                          Separated     1   0
                                          Single        1   0
LinkedIn                Exceeds           Divorced      1   2
                                          Married       1   0
                                          Single        4   1
                        Fully Meets       Divorced      1   2
                                          Married      22   3
                                          Separated     2   0
                                          Single       23   6
                                          Widowed       1   1
                        Needs Improvement Single        2   1
                        PIP               Single        1   2
On-line Web application Fully Meets       Divorced      0   1
Other                   Fully Meets       Married       1   0
                                          Widowed       0   1
Website                 Exceeds           Married       1   0
                        Fully Meets       Divorced      1   0
                                          Married       3   1
                                          Separated     2   0
                                          Single        3   0
                        PIP               Married       1   0
                                          Single        1   0

In [ ]:
#RecruitmentSource x Sex X AgeGroup X TerminatedFlag
df.pivot_table(
    index=['RecruitmentSource', 'Sex', 'AgeGroup'],
    columns='TerminatedFlag',
    values='Employee_Name',
    aggfunc='count',
    fill_value=0,
    observed=False
)

TerminatedFlag                         0  1
RecruitmentSource       Sex AgeGroup
CareerBuilder           F   3039      3  3
                            4049      4  3
                            5059      0  2
                            60+        0  1
                        M   3039      2  1
                            4049      1  0
                            60+        2  1
Diversity Job Fair      F   3039      3  1
                            4049      0  1
                            5059      4  5
                            60+        0  1
                        M   3039      3  2
                            4049      1  4
                            5059      2  1
                            60+        0  1
Employee Referral       F   3039      2  0
                            4049      6  0
                            5059      3  0
                        M   3039      3  2
                            4049      6  2
                            5059      5  1
                            60+        1  0
Google Search           F   3039      1  8
                            4049      5  7
                            5059      4  4
                            60+        1  3
                        M   3039      0  4
                            4049      6  4
                            5059      2  0
Indeed                  F   3039     20  5
                            4049      9  4
                            5059      6  3
                            60+        3  0
                        M   3039      9  1
                            4049     12  4
                            5059      6  4
                            60+        1  0
LinkedIn                F   3039     16  4
                            4049     12  2
                            5059      6  2
                            60+        1  1
                        M   3039      7  4
                            4049     16  2
                            5059      0  2
                            60+        0  1
On-line Web application M   4049      0  1
Other                   F   4049      1  0
                        M   4049      0  1
Website                 F   3039      3  0
                            4049      3  0
                        M   3039      4  0
                            4049      2  0
                            5059      0  1

In [ ]:
#RecruitmentSource x TenureGroup X AgeGroup X TerminatedFlag
df.pivot_table(
    index=['RecruitmentSource', 'TenureGroup', 'AgeGroup'],
    columns='TerminatedFlag',
    values='Employee_Name',
    aggfunc='count',
    fill_value=0,
    observed=False
)

TerminatedFlag                                 0  1
RecruitmentSource       TenureGroup AgeGroup
CareerBuilder           0-2 yrs     3039      0  1
                                    5059      0  1
                        10-15 yrs   3039      4  0
                                    4049      3  0
                                    60+        2  0
                        2-5 yrs     3039      0  1
                                    4049      0  2
                                    5059      0  1
                                    60+        0  1
                        5-10 yrs    3039      1  2
                                    4049      2  1
                                    60+        0  1
Diversity Job Fair      0-2 yrs     3039      0  1
                                    5059      0  1
                                    60+        0  1
                        10-15 yrs   3039      4  0
                                    4049      1  0
                                    5059      4  0
                        15-20 yrs   3039      1  0
                                    5059      1  0
                        2-5 yrs     3039      0  2
                                    4049      0  4
                                    5059      0  3
                                    60+        0  1
                        5-10 yrs    3039      1  0
                                    4049      0  1
                                    5059      1  2
Employee Referral       0-2 yrs     3039      0  1
                        10-15 yrs   3039      3  0
                                    4049      6  0
                                    5059      5  0
                                    60+        1  0
                        2-5 yrs     3039      0  1
                                    4049      0  2
                                    5059      0  1
                        5-10 yrs    3039      2  0
                                    4049      6  0
                                    5059      3  0
Google Search           0-2 yrs     3039      0  4
                                    4049      0  4
                        10-15 yrs   3039      1  0
                                    4049      9  0
                                    5059      6  0
                                    60+        1  0
                        15-20 yrs   4049      1  0
                        2-5 yrs     3039      0  3
                                    4049      0  3
                                    5059      0  4
                                    60+        0  2
                        5-10 yrs    3039      0  5
                                    4049      1  4
                                    60+        0  1
Indeed                  0-2 yrs     3039      0  3
                                    4049      0  4
                                    5059      0  4
                        10-15 yrs   3039     17  0
                                    4049     14  0
                                    5059      8  0
                                    60+        4  0
                        15-20 yrs   3039      1  0
                                    4049      2  0
                                    5059      1  0
                        2-5 yrs     3039      0  1
                                    4049      0  1
                        5-10 yrs    3039     11  2
                                    4049      5  3
                                    5059      3  3
LinkedIn                0-2 yrs     3039      0  3
                                    60+        0  1
                        10-15 yrs   3039     15  0
                                    4049     26  0
                                    5059      6  0
                                    60+        1  0
                        2-5 yrs     3039      0  5
                                    4049      0  3
                                    5059      0  4
                                    60+        0  1
                        5-10 yrs    3039      8  0
                                    4049      2  1
On-line Web application 2-5 yrs     4049      0  1
Other                   15-20 yrs   4049      1  0
                        2-5 yrs     4049      0  1
Website                 10-15 yrs   3039      5  0
                                    4049      3  0
                        2-5 yrs     5059      0  1
                        5-10 yrs    3039      2  0
                                    4049      2  0

In [ ]:
#RecruitmentSource x TenureGroup X Position X TerminatedFlag
df.pivot_table(
    index=['RecruitmentSource', 'TenureGroup', 'Position'],
    columns='TerminatedFlag',
    values='Employee_Name',
    aggfunc='count',
    fill_value=0,
    observed=False
)

TerminatedFlag                                                     0  1
RecruitmentSource       TenureGroup Position
CareerBuilder           0-2 yrs     Area Sales Manager             0  1
                                    Network Engineer               0  1
                        10-15 yrs   Area Sales Manager             2  0
                                    Production Manager             1  0
                                    Production Technician I        3  0
                                    Production Technician II       2  0
                                    Software Engineer              1  0
                        2-5 yrs     Production Technician I        0  3
                                    Production Technician II       0  2
                        5-10 yrs    Network Engineer               1  0
                                    Production Technician I        1  3
                                    Production Technician II       0  1
                                    Shared Services Manager        1  0
Diversity Job Fair      0-2 yrs     Administrative Assistant       0  1
                                    Production Manager             0  1
                                    Production Technician II       0  1
                        10-15 yrs   Area Sales Manager             1  0
                                    Data Analyst                   1  0
                                    IT Manager - Infra             1  0
                                    IT Support                     1  0
                                    Production Technician I        3  0
                                    Production Technician II       1  0
                                    Sales Manager                  1  0
                        15-20 yrs   Accountant I                   1  0
                                    Production Technician I        1  0
                        2-5 yrs     IT Manager - DB                0  1
                                    Production Technician I        0  7
                                    Software Engineer              0  2
                        5-10 yrs    Production Technician I        1  2
                                    Software Engineer              0  1
                                    Sr. Accountant                 1  0
Employee Referral       0-2 yrs     Data Analyst                   0  1
                        10-15 yrs   Area Sales Manager             1  0
                                    CIO                            1  0
                                    Data Analyst                   1  0
                                    Production Manager             1  0
                                    Production Technician I        7  0
                                    Production Technician II       2  0
                                    Sr. Network Engineer           2  0
                        2-5 yrs     Area Sales Manager             0  1
                                    Database Administrator         0  1
                                    Production Manager             0  1
                                    Production Technician I        0  1
                        5-10 yrs    Data Analyst                   3  0
                                    IT Support                     2  0
                                    Network Engineer               1  0
                                    Production Manager             1  0
                                    Production Technician I        2  0
                                    Production Technician II       1  0
                                    Sr. Network Engineer           1  0
Google Search           0-2 yrs     Database Administrator         0  1
                                    Production Technician I        0  3
                                    Production Technician II       0  4
                        10-15 yrs   Production Manager             1  0
                                    Production Technician I       12  0
                                    Production Technician II       2  0
                                    Software Engineer              1  0
                                    Software Engineering Manager   1  0
                        15-20 yrs   Production Technician I        1  0
                        2-5 yrs     Area Sales Manager             0  1
                                    Production Technician I        0  6
                                    Production Technician II       0  4
                                    Sales Manager                  0  1
                        5-10 yrs    Production Technician I        1  9
                                    Production Technician II       0  1
Indeed                  0-2 yrs     Administrative Assistant       0  1
                                    Database Administrator         0  1
                                    Production Manager             0  2
                                    Production Technician I        0  1
                                    Production Technician II       0  5
                                    Sr. DBA                        0  1
                        10-15 yrs   Accountant I                   1  0
                                    Area Sales Manager            10  0
                                    IT Director                    1  0
                                    IT Manager - DB                1  0
                                    IT Manager - Support           1  0
                                    IT Support                     1  0
                                    President & CEO                1  0
                                    Production Manager             1  0
                                    Production Technician I       17  0
                                    Production Technician II       6  0
                                    Sales Manager                  1  0
                                    Software Engineer              2  0
                        15-20 yrs   Area Sales Manager             1  0
                                    Director of Operations         1  0
                                    Production Manager             1  0
                                    Production Technician I        1  0
                        2-5 yrs     Production Technician I        0  1
                                    Software Engineer              0  1
                        5-10 yrs    Area Sales Manager             1  0
                                    BI Developer                   4  0
                                    BI Director                    1  0
                                    Data Analyst                   1  0
                                    Data Architect                 1  0
                                    Database Administrator         2  0
                                    IT Support                     1  0
                                    Production Manager             1  1
                                    Production Technician I        3  7
                                    Production Technician II       1  0
                                    Senior BI Developer            3  0
LinkedIn                0-2 yrs     Data Analyst                   0  1
                                    Production Technician II       0  3
                        10-15 yrs   Director of Sales              1  0
                                    IT Support                     2  0
                                    Network Engineer               1  0
                                    Production Manager             1  0
                                    Production Technician I       27  0
                                    Production Technician II      13  0
                                    Software Engineer              2  0
                                    Sr. Network Engineer           1  0
                        2-5 yrs     Area Sales Manager             0  1
                                    Enterprise Architect           0  1
                                    Principal Data Architect       0  1
                                    Production Technician I        0  6
                                    Production Technician II       0  4
                        5-10 yrs    IT Support                     1  0
                                    Network Engineer               1  0
                                    Production Technician I        3  1
                                    Production Technician II       3  0
                                    Sr. DBA                        1  0
                                    Sr. Network Engineer           1  0
On-line Web application 2-5 yrs     Production Technician I        0  1
Other                   15-20 yrs   Sr. Accountant                 1  0
                        2-5 yrs     Production Technician II       0  1
Website                 10-15 yrs   Accountant I                   1  0
                                    Area Sales Manager             5  0
                                    Production Manager             1  0
                                    Production Technician I        1  0
                        2-5 yrs     Production Technician I        0  1
                        5-10 yrs    Administrative Assistant       1  0
                                    Area Sales Manager             2  0
                                    Production Technician I        1  0

In [ ]:
#RecruitmentSource x EmploymentStatus X PerformanceScore X TerminatedFlag
df.pivot_table(
    index=['RecruitmentSource', 'EmploymentStatus', 'PerformanceScore'],
    columns='TerminatedFlag',
    values='Employee_Name',
    aggfunc='count',
    fill_value=0,
    observed=False
)

TerminatedFlag                                                     0   1
RecruitmentSource       EmploymentStatus       PerformanceScore
CareerBuilder           Active                 Exceeds             1   0
                                               Fully Meets         9   0
                                               Needs Improvement   2   0
                        Terminated for Cause   Fully Meets         0   1
                        Voluntarily Terminated Exceeds             0   1
                                               Fully Meets         0   7
                                               Needs Improvement   0   2
Diversity Job Fair      Active                 Exceeds             4   0
                                               Fully Meets         6   0
                                               Needs Improvement   3   0
                        Voluntarily Terminated Exceeds             0   2
                                               Fully Meets         0  12
                                               Needs Improvement   0   1
                                               PIP                 0   1
Employee Referral       Active                 Exceeds             5   0
                                               Fully Meets        21   0
                        Terminated for Cause   Fully Meets         0   2
                                               PIP                 0   1
                        Voluntarily Terminated Fully Meets         0   2
Google Search           Active                 Exceeds             1   0
                                               Fully Meets        18   0
                        Terminated for Cause   Exceeds             0   1
                                               Fully Meets         0   2
                                               Needs Improvement   0   2
                        Voluntarily Terminated Fully Meets         0  23
                                               Needs Improvement   0   1
                                               PIP                 0   1
Indeed                  Active                 Exceeds            11   0
                                               Fully Meets        49   0
                                               Needs Improvement   1   0
                                               PIP                 5   0
                        Terminated for Cause   Fully Meets         0   2
                                               Needs Improvement   0   2
                        Voluntarily Terminated Exceeds             0   1
                                               Fully Meets         0  15
                                               Needs Improvement   0   1
LinkedIn                Active                 Exceeds             6   0
                                               Fully Meets        49   0
                                               Needs Improvement   2   0
                                               PIP                 1   0
                        Terminated for Cause   Fully Meets         0   1
                                               Needs Improvement   0   1
                                               PIP                 0   1
                        Voluntarily Terminated Exceeds             0   3
                                               Fully Meets         0  11
                                               PIP                 0   1
On-line Web application Voluntarily Terminated Fully Meets         0   1
Other                   Active                 Fully Meets         1   0
                        Voluntarily Terminated Fully Meets         0   1
Website                 Active                 Exceeds             1   0
                                               Fully Meets         9   0
                                               PIP                 2   0
                        Voluntarily Terminated Fully Meets         0   1

In [ ]:
#RecruitmentSource x MaritalDesc X AgeGroup X TerminatedFlag
df.pivot_table(
    index=['RecruitmentSource', 'MaritalDesc', 'AgeGroup'],
    columns='TerminatedFlag',
    values='Employee_Name',
    aggfunc='count',
    fill_value=0,
    observed=False
)

TerminatedFlag                                 0  1
RecruitmentSource       MaritalDesc AgeGroup
CareerBuilder           Divorced    4049      1  1
                        Married     3039      3  3
                                    4049      2  0
                                    60+        1  1
                        Single      3039      2  1
                                    4049      2  2
                                    5059      0  1
                                    60+        1  1
                        Widowed     5059      0  1
Diversity Job Fair      Divorced    3039      2  0
                                    5059      1  1
                                    60+        0  1
                        Married     3039      3  2
                                    4049      0  3
                                    5059      0  2
                                    60+        0  1
                        Separated   5059      2  0
                        Single      3039      1  1
                                    4049      1  2
                                    5059      3  3
Employee Referral       Divorced    4049      1  0
                                    5059      2  0
                        Married     3039      3  2
                                    4049      3  2
                                    5059      3  1
                        Separated   4049      1  0
                        Single      3039      1  0
                                    4049      5  0
                                    5059      3  0
                                    60+        1  0
                        Widowed     3039      1  0
                                    4049      2  0
Google Search           Divorced    3039      0  2
                                    4049      1  3
                        Married     3039      0  5
                                    4049      4  3
                                    5059      2  3
                                    60+        0  2
                        Separated   4049      1  0
                                    60+        0  1
                        Single      3039      1  5
                                    4049      5  5
                                    5059      4  1
                                    60+        1  0
Indeed                  Divorced    3039      1  1
                                    4049      0  1
                                    5059      1  1
                                    60+        1  0
                        Married     3039     12  5
                                    4049      8  6
                                    5059      3  2
                                    60+        1  0
                        Separated   3039      2  0
                                    5059      1  0
                        Single      3039     14  0
                                    4049     13  1
                                    5059      7  3
                                    60+        2  0
                        Widowed     5059      0  1
LinkedIn                Divorced    3039      2  2
                                    4049      0  1
                                    5059      0  1
                        Married     3039      8  2
                                    4049     12  0
                                    5059      2  0
                                    60+        1  1
                        Separated   4049      1  0
                                    5059      1  0
                        Single      3039     13  4
                                    4049     14  2
                                    5059      3  3
                                    60+        0  1
                        Widowed     4049      1  1
On-line Web application Divorced    4049      0  1
Other                   Married     4049      1  0
                        Widowed     4049      0  1
Website                 Divorced    3039      1  0
                        Married     3039      2  0
                                    4049      3  0
                                    5059      0  1
                        Separated   3039      1  0
                                    4049      1  0
                        Single      3039      3  0
                                    4049      1  0

In [ ]:
#RecruitmentSource x TermReason
df.pivot_table(
    index=['RecruitmentSource', 'TermReason'],
    columns='TerminatedFlag',
    values='Employee_Name',
    aggfunc='count',
    fill_value=0,
    observed=False
)

TerminatedFlag                                             0  1
RecruitmentSource       TermReason
CareerBuilder           N/A-StillEmployed                 12  0
                        attendance                         0  1
                        career change                      0  1
                        hours                              0  1
                        maternity leave - did not return   0  1
                        medical issues                     0  1
                        more money                         0  2
                        retiring                           0  1
                        return to school                   0  1
                        unhappy                            0  2
Diversity Job Fair      Another position                   0  6
                        N/A-StillEmployed                 13  0
                        career change                      0  3
                        hours                              0  2
                        medical issues                     0  1
                        military                           0  1
                        relocation out of area             0  1
                        return to school                   0  1
                        unhappy                            0  1
Employee Referral       Fatal attraction                   0  1
                        N/A-StillEmployed                 26  0
                        attendance                         0  1
                        more money                         0  1
                        no-call, no-show                   0  1
                        performance                        0  1
Google Search           Another position                   0  8
                        N/A-StillEmployed                 19  0
                        attendance                         0  2
                        career change                      0  3
                        gross misconduct                   0  1
                        hours                              0  1
                        maternity leave - did not return   0  1
                        military                           0  2
                        more money                         0  5
                        no-call, no-show                   0  1
                        performance                        0  1
                        relocation out of area             0  1
                        return to school                   0  2
                        unhappy                            0  2
Indeed                  Another position                   0  3
                        N/A-StillEmployed                 66  0
                        attendance                         0  3
                        career change                      0  2
                        hours                              0  1
                        more money                         0  2
                        no-call, no-show                   0  2
                        relocation out of area             0  2
                        retiring                           0  1
                        return to school                   0  1
                        unhappy                            0  4
LinkedIn                Another position                   0  2
                        Learned that he is a gangster      0  1
                        N/A-StillEmployed                 58  0
                        hours                              0  3
                        maternity leave - did not return   0  1
                        medical issues                     0  1
                        more money                         0  1
                        performance                        0  2
                        relocation out of area             0  1
                        retiring                           0  2
                        unhappy                            0  4
On-line Web application Another position                   0  1
Other                   N/A-StillEmployed                  1  0
                        military                           0  1
Website                 N/A-StillEmployed                 12  0
                        unhappy                            0  1

In [ ]:
#EmpSatisfaction  PerformanceScore  Department  TerminatedFlag
df.pivot_table(
    index=['EmpSatisfaction', 'PerformanceScore', 'Department'],
    columns='TerminatedFlag',
    values='Employee_Name',
    aggfunc='count',
    fill_value=0,
    observed=False
)

TerminatedFlag                                           0   1
EmpSatisfaction PerformanceScore  Department
1               PIP               Production             1   0
                                  Sales                  1   0
2               Fully Meets       Admin Offices          1   0
                Needs Improvement Production             1   1
                PIP               Production             2   3
                                  Sales                  1   0
3               Exceeds           Production             9   1
                                  Sales                  1   0
                Fully Meets       Admin Offices          2   1
                                  Executive Office       1   0
                                  IT/IS                 12   5
                                  Production            36  20
                                  Sales                  6   0
                                  Software Engineering   3   1
                Needs Improvement IT/IS                  1   0
                                  Production             2   4
                PIP               IT/IS                  1   0
                                  Production             0   1
                                  Sales                  1   0
4               Exceeds           IT/IS                  2   0
                                  Production             6   3
                Fully Meets       Admin Offices          3   1
                                  IT/IS                  8   4
                                  Production            28  26
                                  Sales                  5   1
                                  Software Engineering   1   1
                Needs Improvement Production             2   2
                                  Sales                  1   0
5               Exceeds           IT/IS                  4   0
                                  Production             5   3
                                  Sales                  1   0
                                  Software Engineering   1   1
                Fully Meets       Admin Offices          1   0
                                  IT/IS                 12   1
                                  Production            32  17
                                  Sales                  9   3
                                  Software Engineering   2   0
                Needs Improvement Production             1   2
                                  Software Engineering   0   1
                PIP               Production             1   0
                                  Sales                  0   1

In [ ]:
#EmpSatisfaction  EmploymentStatus  TenureGroup  TerminatedFlag
df.pivot_table(
    index=['EmpSatisfaction', 'EmploymentStatus', 'TenureGroup'],
    columns='TerminatedFlag',
    values='Employee_Name',
    aggfunc='count',
    fill_value=0,
    observed=False
)

TerminatedFlag                                       0   1
EmpSatisfaction EmploymentStatus       TenureGroup
1               Active                 10-15 yrs     2   0
2               Active                 10-15 yrs     4   0
                                       15-20 yrs     1   0
                Terminated for Cause   2-5 yrs       0   1
                Voluntarily Terminated 0-2 yrs       0   1
                                       2-5 yrs       0   1
                                       5-10 yrs      0   1
3               Active                 10-15 yrs    52   0
                                       15-20 yrs     4   0
                                       5-10 yrs     19   0
                Terminated for Cause   0-2 yrs       0   1
                                       2-5 yrs       0   2
                                       5-10 yrs      0   2
                Voluntarily Terminated 0-2 yrs       0  12
                                       2-5 yrs       0  11
                                       5-10 yrs      0   5
4               Active                 10-15 yrs    41   0
                                       15-20 yrs     1   0
                                       5-10 yrs     14   0
                Terminated for Cause   0-2 yrs       0   3
                                       2-5 yrs       0   1
                                       5-10 yrs      0   2
                Voluntarily Terminated 0-2 yrs       0   6
                                       2-5 yrs       0  15
                                       5-10 yrs      0  11
5               Active                 10-15 yrs    50   0
                                       15-20 yrs     2   0
                                       5-10 yrs     17   0
                Terminated for Cause   2-5 yrs       0   4
                Voluntarily Terminated 0-2 yrs       0   6
                                       2-5 yrs       0  14
                                       5-10 yrs      0   5

In [ ]:
#EmpSatisfaction  Sex  PerformanceScore  TerminatedFlag
df.pivot_table(
    index=['EmpSatisfaction', 'Sex', 'PerformanceScore'],
    columns='TerminatedFlag',
    values='Employee_Name',
    aggfunc='count',
    fill_value=0,
    observed=False
)

TerminatedFlag                          0   1
EmpSatisfaction Sex PerformanceScore
1               F   PIP                 2   0
2               F   Fully Meets         1   0
                    PIP                 1   2
                M   Needs Improvement   1   1
                    PIP                 2   1
3               F   Exceeds             6   0
                    Fully Meets        31  14
                    Needs Improvement   1   3
                M   Exceeds             4   1
                    Fully Meets        29  13
                    Needs Improvement   2   1
                    PIP                 2   1
4               F   Exceeds             5   2
                    Fully Meets        27  23
                    Needs Improvement   2   0
                M   Exceeds             3   1
                    Fully Meets        18  10
                    Needs Improvement   1   2
5               F   Exceeds             5   2
                    Fully Meets        34  12
                    Needs Improvement   1   2
                M   Exceeds             6   2
                    Fully Meets        22   9
                    Needs Improvement   0   1
                    PIP                 1   1

In [ ]:
#EmpSatisfaction  Age  TenureGroup  TerminatedFlag
df.pivot_table(
    index=['EmpSatisfaction', 'AgeGroup', 'TenureGroup'],
    columns='TerminatedFlag',
    values='Employee_Name',
    aggfunc='count',
    fill_value=0,
    observed=False
)

TerminatedFlag                         0  1
EmpSatisfaction AgeGroup TenureGroup
1               3039    10-15 yrs     2  0
2               3039    15-20 yrs     1  0
                         2-5 yrs       0  1
                4049    0-2 yrs       0  1
                         10-15 yrs     2  0
                         2-5 yrs       0  1
                         5-10 yrs      0  1
                5059    10-15 yrs     2  0
3               3039    0-2 yrs       0  6
                         10-15 yrs    16  0
                         2-5 yrs       0  4
                         5-10 yrs      9  2
                4049    0-2 yrs       0  3
                         10-15 yrs    18  0
                         15-20 yrs     2  0
                         2-5 yrs       0  4
                         5-10 yrs      6  3
                5059    0-2 yrs       0  2
                         10-15 yrs    12  0
                         15-20 yrs     2  0
                         2-5 yrs       0  3
                         5-10 yrs      4  1
                60+      0-2 yrs       0  2
                         10-15 yrs     6  0
                         2-5 yrs       0  2
                         5-10 yrs      0  1
4               3039    0-2 yrs       0  5
                         10-15 yrs    16  0
                         2-5 yrs       0  2
                         5-10 yrs      5  4
                4049    0-2 yrs       0  2
                         10-15 yrs    20  0
                         15-20 yrs     1  0
                         2-5 yrs       0  6
                         5-10 yrs      7  4
                5059    0-2 yrs       0  2
                         10-15 yrs     4  0
                         2-5 yrs       0  6
                         5-10 yrs      2  4
                60+      10-15 yrs     1  0
                         2-5 yrs       0  2
                         5-10 yrs      0  1
5               3039    0-2 yrs       0  2
                         10-15 yrs    15  0
                         15-20 yrs     1  0
                         2-5 yrs       0  6
                         5-10 yrs     11  3
                4049    0-2 yrs       0  2
                         10-15 yrs    22  0
                         15-20 yrs     1  0
                         2-5 yrs       0  6
                         5-10 yrs      5  2
                5059    0-2 yrs       0  2
                         10-15 yrs    11  0
                         2-5 yrs       0  5
                         5-10 yrs      1  0
                60+      10-15 yrs     2  0
                         2-5 yrs       0  1

In [ ]:
#EmpSatisfaction  Salary  Position  TerminatedFlag
df.groupby(['EmpSatisfaction', 'Position', 'TerminatedFlag'])['Salary'].agg(
    Count='count',
    Avg_Salary15='mean',
    Min_Salary15='min',
    Max_Salary15='max',
    Median_Salary15='median'
).reset_index()

,EmpSatisfaction,Position,TerminatedFlag,Count,Avg_Salary15,Min_Salary15,Max_Salary15,Median_Salary15
0,1,Area Sales Manager,0,1,59231.000000,59231,59231,59231.0
1,1,Production Technician II,0,1,56847.000000,56847,56847,56847.0
2,2,Accountant I,0,1,63000.000000,63000,63000,63000.0
3,2,Area Sales Manager,0,1,58273.000000,58273,58273,58273.0
4,2,Production Manager,0,1,68051.000000,68051,68051,68051.0
5,2,Production Manager,1,1,83082.000000,83082,83082,83082.0
6,2,Production Technician I,0,2,58605.000000,53189,64021,58605.0
7,2,Production Technician I,1,2,50593.500000,48513,52674,50593.5
8,2,Production Technician II,1,1,55800.000000,55800,55800,55800.0
9,3,Administrative Assistant,0,1,51920.000000,51920,51920,51920.0
10,3,Administrative Assistant,1,1,49920.000000,49920,49920,49920.0
11,3,Area Sales Manager,0,8,63096.625000,57859,70468,62430.0
12,3,BI Developer,0,1,90100.000000,90100,90100,90100.0
13,3,Data Analyst,0,3,86890.000000,83552,89292,87826.0
14,3,Data Analyst,1,1,88527.000000,88527,88527,88527.0
15,3,Data Architect,0,1,150290.000000,150290,150290,150290.0
16,3,Database Administrator,0,1,105700.000000,105700,105700,105700.0
17,3,Database Administrator,1,1,113999.000000,113999,113999,113999.0
18,3,IT Manager - Infra,0,1,157000.000000,157000,157000,157000.0
19,3,IT Support,0,2,67635.500000,66593,68678,67635.5
20,3,Network Engineer,0,3,52238.333333,50750,53366,52599.0
21,3,Network Engineer,1,1,75281.000000,75281,75281,75281.0
22,3,President & CEO,0,1,250000.000000,250000,250000,250000.0
23,3,Principal Data Architect,1,1,120000.000000,120000,120000,120000.0
24,3,Production Manager,0,5,77231.000000,62957,88976,77915.0
25,3,Production Manager,1,2,77412.000000,74312,80512,77412.0
26,3,Production Technician I,0,28,56035.000000,46654,64919,55216.0
27,3,Production Technician I,1,13,55853.461538,46664,64724,57748.0
28,3,Production Technician II,0,14,65043.357143,57975,74226,64620.5
29,3,Production Technician II,1,11,67602.090909,55965,74813,68182.0
30,3,Senior BI Developer,0,1,87921.000000,87921,87921,87921.0
31,3,Software Engineer,0,2,90937.000000,86214,95660,90937.0
32,3,Software Engineer,1,1,100416.000000,100416,100416,100416.0
33,3,Software Engineering Manager,0,1,77692.000000,77692,77692,77692.0
34,3,Sr. Accountant,0,1,99351.000000,99351,99351,99351.0
35,3,Sr. DBA,1,1,104437.000000,104437,104437,104437.0
36,3,Sr. Network Engineer,0,1,92329.000000,92329,92329,92329.0
37,4,Accountant I,0,1,64520.000000,64520,64520,64520.0
38,4,Administrative Assistant,1,1,55000.000000,55000,55000,55000.0
39,4,Area Sales Manager,0,3,59762.000000,55875,63291,60120.0
40,4,Area Sales Manager,1,1,59370.000000,59370,59370,59370.0
41,4,BI Developer,0,1,95920.000000,95920,95920,95920.0
42,4,Data Analyst,0,1,92328.000000,92328,92328,92328.0
43,4,Data Analyst,1,1,93093.000000,93093,93093,93093.0
44,4,Database Administrator,1,2,112400.000000,110000,114800,112400.0
45,4,Director of Sales,0,1,180000.000000,180000,180000,180000.0
46,4,IT Manager - DB,1,1,148999.000000,148999,148999,148999.0
47,4,IT Support,0,4,62336.750000,51777,70621,63474.5
48,4,Network Engineer,0,1,76029.000000,76029,76029,76029.0
49,4,Production Manager,0,2,69435.000000,63682,75188,69435.0
50,4,Production Manager,1,1,82758.000000,82758,82758,82758.0
51,4,Production Technician I,0,26,55105.576923,45395,63430,55126.5
52,4,Production Technician I,1,24,54050.250000,45115,64786,53140.0
53,4,Production Technician II,0,8,64807.250000,56294,73330,64828.0
54,4,Production Technician II,1,6,65173.000000,59369,68407,66073.5
55,4,Sales Manager,0,2,69360.500000,65729,72992,69360.5
56,4,Senior BI Developer,0,1,84903.000000,84903,84903,84903.0
57,4,Shared Services Manager,0,1,93046.000000,93046,93046,93046.0
58,4,Software Engineer,0,1,93396.000000,93396,93396,93396.0
59,4,Software Engineer,1,1,83363.000000,83363,83363,83363.0
60,4,Sr. Accountant,0,1,106367.000000,106367,106367,106367.0
61,4,Sr. Network Engineer,0,2,97395.500000,87565,107226,97395.5
62,5,Accountant I,0,1,63003.000000,63003,63003,63003.0
63,5,Area Sales Manager,0,10,67602.600000,61555,74241,67818.5
64,5,Area Sales Manager,1,3,72073.333333,70187,74326,71707.0
65,5,BI Developer,0,2,97920.000000,96820,99020,97920.0
66,5,BI Director,0,1,110929.000000,110929,110929,110929.0
67,5,CIO,0,1,220450.000000,220450,220450,220450.0
68,5,Data Analyst,0,2,91718.500000,89883,93554,91718.5
69,5,Database Administrator,0,1,97999.000000,97999,97999,97999.0
70,5,Director of Operations,0,1,170500.000000,170500,170500,170500.0
71,5,Enterprise Architect,1,1,103613.000000,103613,103613,103613.0
72,5,IT Director,0,1,178000.000000,178000,178000,178000.0
73,5,IT Manager - DB,0,1,140920.000000,140920,140920,140920.0
74,5,IT Manager - Support,0,1,138888.000000,138888,138888,138888.0
75,5,IT Support,0,2,62428.500000,50178,74679,62428.5
76,5,Production Manager,0,1,65714.000000,65714,65714,65714.0
77,5,Production Manager,1,1,74669.000000,74669,74669,74669.0
78,5,Production Technician I,0,29,56767.310345,45046,64991,59026.0
79,5,Production Technician I,1,13,55164.384615,46428,63813,54005.0
80,5,Production Technician II,0,8,66554.750000,55315,74417,66639.5
81,5,Production Technician II,1,8,61255.625000,55578,72609,59272.5
82,5,Sales Manager,1,1,68999.000000,68999,68999,68999.0
83,5,Senior BI Developer,0,1,81584.000000,81584,81584,81584.0
84,5,Software Engineer,0,3,99958.666667,92989,105688,101199.0
85,5,Software Engineer,1,2,104133.500000,99280,108987,104133.5
86,5,Sr. DBA,0,1,100031.000000,100031,100031,100031.0
87,5,Sr. Network Engineer,0,2,89117.000000,85028,93206,89117.0

In [ ]:
#EmpSatisfaction  RecruitmentSource  TenureGroup  TerminatedFlag
df.pivot_table(
    index=['EmpSatisfaction', 'RecruitmentSource', 'TenureGroup'],
    columns='TerminatedFlag',
    values='Employee_Name',
    aggfunc='count',
    fill_value=0,
    observed=False
)

TerminatedFlag                                        0  1
EmpSatisfaction RecruitmentSource       TenureGroup
1               Indeed                  10-15 yrs     1  0
                Website                 10-15 yrs     1  0
2               CareerBuilder           10-15 yrs     1  0
                Diversity Job Fair      15-20 yrs     1  0
                Google Search           5-10 yrs      0  1
                Indeed                  0-2 yrs       0  1
                                        10-15 yrs     2  0
                LinkedIn                2-5 yrs       0  2
                Website                 10-15 yrs     1  0
3               CareerBuilder           0-2 yrs       0  1
                                        10-15 yrs     5  0
                                        2-5 yrs       0  2
                                        5-10 yrs      1  1
                Diversity Job Fair      0-2 yrs       0  2
                                        10-15 yrs     2  0
                                        15-20 yrs     1  0
                                        2-5 yrs       0  2
                                        5-10 yrs      0  1
                Employee Referral       10-15 yrs     5  0
                                        2-5 yrs       0  2
                                        5-10 yrs      5  0
                Google Search           0-2 yrs       0  3
                                        10-15 yrs     5  0
                                        15-20 yrs     1  0
                                        2-5 yrs       0  3
                                        5-10 yrs      0  2
                Indeed                  0-2 yrs       0  4
                                        10-15 yrs    15  0
                                        15-20 yrs     1  0
                                        5-10 yrs      7  2
                LinkedIn                0-2 yrs       0  3
                                        10-15 yrs    18  0
                                        2-5 yrs       0  3
                                        5-10 yrs      4  1
                Other                   15-20 yrs     1  0
                Website                 10-15 yrs     2  0
                                        2-5 yrs       0  1
                                        5-10 yrs      2  0
4               CareerBuilder           0-2 yrs       0  1
                                        10-15 yrs     1  0
                                        2-5 yrs       0  1
                                        5-10 yrs      2  3
                Diversity Job Fair      0-2 yrs       0  1
                                        10-15 yrs     5  0
                                        2-5 yrs       0  6
                                        5-10 yrs      2  2
                Employee Referral       0-2 yrs       0  1
                                        10-15 yrs     2  0
                                        2-5 yrs       0  1
                                        5-10 yrs      5  0
                Google Search           0-2 yrs       0  3
                                        10-15 yrs     6  0
                                        2-5 yrs       0  2
                                        5-10 yrs      0  4
                Indeed                  0-2 yrs       0  2
                                        10-15 yrs    10  0
                                        15-20 yrs     1  0
                                        2-5 yrs       0  1
                                        5-10 yrs      3  4
                LinkedIn                0-2 yrs       0  1
                                        10-15 yrs    14  0
                                        2-5 yrs       0  4
                                        5-10 yrs      1  0
                Other                   2-5 yrs       0  1
                Website                 10-15 yrs     3  0
                                        5-10 yrs      1  0
5               CareerBuilder           10-15 yrs     2  0
                                        2-5 yrs       0  2
                Diversity Job Fair      10-15 yrs     2  0
                                        2-5 yrs       0  2
                Employee Referral       10-15 yrs     8  0
                                        2-5 yrs       0  1
                                        5-10 yrs      1  0
                Google Search           0-2 yrs       0  2
                                        10-15 yrs     6  0
                                        2-5 yrs       0  7
                                        5-10 yrs      1  3
                Indeed                  0-2 yrs       0  4
                                        10-15 yrs    15  0
                                        15-20 yrs     2  0
                                        2-5 yrs       0  1
                                        5-10 yrs      9  2
                LinkedIn                10-15 yrs    16  0
                                        2-5 yrs       0  4
                                        5-10 yrs      5  0
                On-line Web application 2-5 yrs       0  1
                Website                 10-15 yrs     1  0
                                        5-10 yrs      1  0

In [ ]:
#EmpSatisfaction  Department  TenureGroup  TerminatedFlag
df.pivot_table(
    index=['EmpSatisfaction', 'Department', 'TenureGroup'],
    columns='TerminatedFlag',
    values='Employee_Name',
    aggfunc='count',
    fill_value=0,
    observed=False
)

TerminatedFlag                                     0   1
EmpSatisfaction Department           TenureGroup
1               Production           10-15 yrs     1   0
                Sales                10-15 yrs     1   0
2               Admin Offices        15-20 yrs     1   0
                Production           0-2 yrs       0   1
                                     10-15 yrs     3   0
                                     2-5 yrs       0   2
                                     5-10 yrs      0   1
                Sales                10-15 yrs     1   0
3               Admin Offices        0-2 yrs       0   1
                                     15-20 yrs     1   0
                                     5-10 yrs      1   0
                Executive Office     10-15 yrs     1   0
                IT/IS                0-2 yrs       0   3
                                     10-15 yrs     5   0
                                     2-5 yrs       0   2
                                     5-10 yrs      9   0
                Production           0-2 yrs       0   9
                                     10-15 yrs    36   0
                                     15-20 yrs     2   0
                                     2-5 yrs       0  11
                                     5-10 yrs      9   6
                Sales                10-15 yrs     7   0
                                     15-20 yrs     1   0
                Software Engineering 10-15 yrs     3   0
                                     5-10 yrs      0   1
4               Admin Offices        0-2 yrs       0   1
                                     10-15 yrs     1   0
                                     5-10 yrs      2   0
                IT/IS                0-2 yrs       0   3
                                     10-15 yrs     3   0
                                     2-5 yrs       0   1
                                     5-10 yrs      7   0
                Production           0-2 yrs       0   4
                                     10-15 yrs    31   0
                                     15-20 yrs     1   0
                                     2-5 yrs       0  14
                                     5-10 yrs      4  13
                Sales                0-2 yrs       0   1
                                     10-15 yrs     5   0
                                     5-10 yrs      1   0
                Software Engineering 10-15 yrs     1   0
                                     2-5 yrs       0   1
5               Admin Offices        10-15 yrs     1   0
                IT/IS                10-15 yrs     7   0
                                     2-5 yrs       0   1
                                     5-10 yrs      9   0
                Production           0-2 yrs       0   6
                                     10-15 yrs    31   0
                                     15-20 yrs     2   0
                                     2-5 yrs       0  11
                                     5-10 yrs      6   5
                Sales                10-15 yrs     8   0
                                     2-5 yrs       0   4
                                     5-10 yrs      2   0
                Software Engineering 10-15 yrs     3   0
                                     2-5 yrs       0   2

In [ ]:
#EmpSatisfaction  PerformanceScore  Salary  TerminatedFlag
df.groupby(['EmpSatisfaction', 'PerformanceScore', 'TerminatedFlag'])['Salary'].agg(
    Count='count',
    Avg_Salary16='mean',
    Min_Salary16='min',
    Max_Salary16='max',
    Median_Salary16='median'
).reset_index()

,EmpSatisfaction,PerformanceScore,TerminatedFlag,Count,Avg_Salary16,Min_Salary16,Max_Salary16,Median_Salary16
0,1,PIP,0,2,58039.000000,56847,59231,58039.0
1,2,Fully Meets,0,1,63000.000000,63000,63000,63000.0
2,2,Needs Improvement,0,1,68051.000000,68051,68051,68051.0
3,2,Needs Improvement,1,1,83082.000000,83082,83082,83082.0
4,2,PIP,0,3,58494.333333,53189,64021,58273.0
5,2,PIP,1,3,52329.000000,48513,55800,52674.0
6,3,Exceeds,0,10,64482.900000,47414,77915,63859.5
7,3,Exceeds,1,1,70507.000000,70507,70507,70507.0
8,3,Fully Meets,0,60,70518.066667,46654,250000,62883.5
9,3,Fully Meets,1,27,70657.518519,46664,120000,66074.0
10,3,Needs Improvement,0,3,92167.000000,53060,157000,66441.0
11,3,Needs Improvement,1,4,57491.000000,50274,61422,59134.0
12,3,PIP,0,2,57467.000000,53366,61568,57467.0
13,3,PIP,1,1,68898.000000,68898,68898,68898.0
14,4,Exceeds,0,8,63538.000000,50373,92328,60308.0
15,4,Exceeds,1,3,52232.000000,46837,62425,47434.0
16,4,Fully Meets,0,45,67735.488889,45395,180000,61242.0
17,4,Fully Meets,1,33,65565.393939,45115,148999,59370.0
18,4,Needs Improvement,0,3,60775.333333,47750,72992,61584.0
19,4,Needs Improvement,1,2,57636.500000,54933,60340,57636.5
20,5,Exceeds,0,11,108980.636364,46738,220450,92989.0
21,5,Exceeds,1,4,68809.250000,49773,108987,58238.5
22,5,Fully Meets,0,56,69269.803571,45046,140920,64595.5
23,5,Fully Meets,1,21,62876.761905,46428,103613,60754.0
24,5,Needs Improvement,0,1,63025.000000,63025,63025,63025.0
25,5,Needs Improvement,1,3,71038.000000,53564,99280,60270.0
26,5,PIP,0,1,64057.000000,64057,64057,64057.0
27,5,PIP,1,1,70187.000000,70187,70187,70187.0

In [ ]:
#EmpSatisfaction  MaritalDesc  Age  TerminatedFlag
df.pivot_table(
    index=['EmpSatisfaction', 'MaritalDesc', 'AgeGroup'],
    columns='TerminatedFlag',
    values='Employee_Name',
    aggfunc='count',
    fill_value=0,
    observed=False
)

TerminatedFlag                         0  1
EmpSatisfaction MaritalDesc AgeGroup
1               Separated   3039      1  0
                Single      3039      1  0
2               Divorced    4049      1  0
                Married     3039      1  0
                            4049      1  1
                            5059      2  0
                Single      3039      0  1
                            4049      0  2
3               Divorced    3039      0  1
                            4049      1  2
                            5059      1  0
                            60+        1  0
                Married     3039     14  8
                            4049     15  4
                            5059      4  3
                            60+        2  4
                Separated   3039      2  0
                            5059      2  0
                Single      3039      9  3
                            4049     10  4
                            5059     11  3
                            60+        3  1
4               Divorced    3039      5  2
                            4049      1  2
                            5059      1  2
                            60+        0  1
                Married     3039      7  6
                            4049      8  5
                            5059      2  3
                            60+        0  1
                Separated   4049      2  0
                Single      3039      9  3
                            4049     15  3
                            5059      3  5
                            60+        1  1
                Widowed     4049      2  2
                            5059      0  2
5               Divorced    3039      1  2
                            4049      0  3
                            5059      2  1
                Married     3039      9  5
                            4049      9  4
                            5059      2  3
                            60+        1  0
                Separated   4049      2  0
                            5059      2  0
                            60+        0  1
                Single      3039     16  4
                            4049     16  3
                            5059      6  3
                            60+        1  0
                Widowed     3039      1  0
                            4049      1  0

In [ ]:
#EmpSatisfaction x TermReason
df.pivot_table(
    index=['EmpSatisfaction', 'TermReason'],
    columns='TerminatedFlag',
    values='Employee_Name',
    aggfunc='count',
    fill_value=0,
    observed=False
)

TerminatedFlag                                     0  1
EmpSatisfaction TermReason
1               N/A-StillEmployed                  2  0
2               Another position                   0  1
                N/A-StillEmployed                  5  0
                performance                        0  1
                unhappy                            0  2
3               Another position                   0  4
                N/A-StillEmployed                 75  0
                attendance                         0  2
                career change                      0  4
                hours                              0  3
                medical issues                     0  2
                military                           0  2
                more money                         0  3
                no-call, no-show                   0  3
                performance                        0  1
                retiring                           0  2
                return to school                   0  2
                unhappy                            0  5
4               Another position                   0  7
                N/A-StillEmployed                 56  0
                attendance                         0  4
                career change                      0  3
                hours                              0  3
                maternity leave - did not return   0  1
                medical issues                     0  1
                military                           0  2
                more money                         0  3
                no-call, no-show                   0  1
                performance                        0  2
                relocation out of area             0  2
                retiring                           0  2
                return to school                   0  3
                unhappy                            0  4
5               Another position                   0  8
                Fatal attraction                   0  1
                Learned that he is a gangster      0  1
                N/A-StillEmployed                 69  0
                attendance                         0  1
                career change                      0  2
                gross misconduct                   0  1
                hours                              0  2
                maternity leave - did not return   0  2
                more money                         0  5
                relocation out of area             0  3
                unhappy                            0  3

In [ ]:
#Create variable EngagementGroup
def engagement_group(score):
    if score <= 2.0:
        return "Very Low Engagement"
    elif score <= 3.0:
        return "Low Engagement"
    elif score <= 4.0:
        return "Moderate Engagement"
    else:
        return "High Engagement"

df['EngagementGroup'] = df['EngagementSurvey'].apply(engagement_group)

In [ ]:
#EngagementSurvey  PerformanceScore  EmpSatisfaction  TerminatedFlag
df.pivot_table(
    index=['EngagementGroup', 'PerformanceScore', 'EmpSatisfaction'],
    columns='TerminatedFlag',
    values='Employee_Name',
    aggfunc='count',
    fill_value=0,
    observed=False
)

TerminatedFlag                                          0   1
EngagementGroup     PerformanceScore  EmpSatisfaction
High Engagement     Exceeds           3                 9   1
                                      4                 7   3
                                      5                 9   4
                    Fully Meets       2                 1   0
                                      3                35  18
                                      4                36  22
                                      5                38  15
                    Needs Improvement 2                 1   0
                                      3                 1   0
                                      4                 0   1
Low Engagement      Fully Meets       3                 2   0
                                      5                 2   0
                    Needs Improvement 2                 0   1
                                      3                 1   2
                                      4                 2   0
                                      5                 1   2
                    PIP               1                 2   0
                                      2                 1   2
                                      3                 0   1
Moderate Engagement Exceeds           3                 1   0
                                      4                 1   0
                                      5                 2   0
                    Fully Meets       3                23   9
                                      4                 9  11
                                      5                16   6
                    Needs Improvement 3                 0   1
                                      4                 1   1
                                      5                 0   1
                    PIP               2                 0   1
Very Low Engagement Needs Improvement 3                 1   1
                    PIP               2                 2   0
                                      3                 2   0
                                      5                 1   1

In [ ]:
#EngagementSurvey  MaritalDesc  EmpSatisfaction  TerminatedFlag
df.pivot_table(
    index=['EngagementGroup', 'MaritalDesc', 'EmpSatisfaction'],
    columns='TerminatedFlag',
    values='Employee_Name',
    aggfunc='count',
    fill_value=0,
    observed=False
)

TerminatedFlag                                    0   1
EngagementGroup     MaritalDesc EmpSatisfaction
High Engagement     Divorced    2                 1   0
                                3                 2   2
                                4                 6   6
                                5                 3   4
                    Married     2                 1   0
                                3                19  11
                                4                13   8
                                5                16   6
                    Separated   3                 3   0
                                4                 2   0
                                5                 3   1
                    Single      3                21   6
                                4                20  10
                                5                24   8
                    Widowed     4                 2   2
                                5                 1   0
Low Engagement      Divorced    4                 1   0
                    Married     2                 1   1
                                3                 3   1
                                5                 0   2
                    Separated   1                 1   0
                    Single      1                 1   0
                                2                 0   2
                                3                 0   2
                                4                 1   0
                                5                 3   0
Moderate Engagement Divorced    3                 1   1
                                4                 0   1
                                5                 0   2
                    Married     3                13   7
                                4                 4   7
                                5                 4   3
                    Separated   3                 1   0
                                5                 1   0
                    Single      2                 0   1
                                3                 9   2
                                4                 7   2
                                5                12   2
                    Widowed     4                 0   2
                                5                 1   0
Very Low Engagement Married     2                 2   0
                                5                 1   1
                    Single      3                 3   1

In [ ]:
#EngagementSurvey  Sex  EmpSatisfaction  TerminatedFlag
df.pivot_table(
    index=['EngagementGroup', 'Sex', 'EmpSatisfaction'],
    columns='TerminatedFlag',
    values='Employee_Name',
    aggfunc='count',
    fill_value=0,
    observed=False
)

TerminatedFlag                            0   1
EngagementGroup     Sex EmpSatisfaction
High Engagement     F   2                 1   0
                        3                23   7
                        4                27  15
                        5                30  10
                    M   2                 1   0
                        3                22  12
                        4                16  11
                        5                17   9
Low Engagement      F   1                 2   0
                        2                 1   1
                        3                 2   2
                        4                 1   0
                        5                 2   2
                    M   2                 0   2
                        3                 1   1
                        4                 1   0
                        5                 1   0
Moderate Engagement F   2                 0   1
                        3                12   8
                        4                 6  10
                        5                 8   4
                    M   3                12   2
                        4                 5   2
                        5                10   3
Very Low Engagement F   3                 1   0
                    M   2                 2   0
                        3                 2   1
                        5                 1   1

In [ ]:
#EngagementSurvey  Department  PerformanceScore  TerminatedFlag
df.pivot_table(
    index=['EngagementGroup', 'Department', 'PerformanceScore'],
    columns='TerminatedFlag',
    values='Employee_Name',
    aggfunc='count',
    fill_value=0,
    observed=False
)

TerminatedFlag                                               0   1
EngagementGroup     Department           PerformanceScore
High Engagement     Admin Offices        Fully Meets         6   0
                    Executive Office     Fully Meets         1   0
                    IT/IS                Exceeds             6   0
                                         Fully Meets        20   8
                    Production           Exceeds            16   7
                                         Fully Meets        67  43
                                         Needs Improvement   2   1
                    Sales                Exceeds             2   0
                                         Fully Meets        13   2
                    Software Engineering Exceeds             1   1
                                         Fully Meets         3   2
Low Engagement      IT/IS                Needs Improvement   1   0
                    Production           Fully Meets         2   0
                                         Needs Improvement   2   4
                                         PIP                 2   3
                    Sales                Fully Meets         2   0
                                         Needs Improvement   1   0
                                         PIP                 1   0
                    Software Engineering Needs Improvement   0   1
Moderate Engagement Admin Offices        Fully Meets         1   2
                    IT/IS                Fully Meets        12   2
                    Production           Exceeds             4   0
                                         Fully Meets        27  20
                                         Needs Improvement   1   3
                                         PIP                 0   1
                    Sales                Fully Meets         5   2
                    Software Engineering Fully Meets         3   0
Very Low Engagement IT/IS                PIP                 1   0
                    Production           Needs Improvement   1   1
                                         PIP                 2   0
                    Sales                PIP                 2   1

In [ ]:
#EngagementSurvey  TenureGroup  EmpSatisfaction  TerminatedFlag
df.pivot_table(
    index=['EngagementGroup', 'TenureGroup', 'EmpSatisfaction'],
    columns='TerminatedFlag',
    values='Employee_Name',
    aggfunc='count',
    fill_value=0,
    observed=False
)

TerminatedFlag                                    0   1
EngagementGroup     TenureGroup EmpSatisfaction
High Engagement     0-2 yrs     3                 0   8
                                4                 0   6
                                5                 0   4
                    10-15 yrs   2                 1   0
                                3                31   0
                                4                33   0
                                5                33   0
                    15-20 yrs   2                 1   0
                                3                 3   0
                                5                 1   0
                    2-5 yrs     3                 0   7
                                4                 0  12
                                5                 0  12
                    5-10 yrs    3                11   4
                                4                10   8
                                5                13   3
Low Engagement      0-2 yrs     2                 0   1
                                3                 0   1
                    10-15 yrs   1                 2   0
                                2                 1   0
                                3                 3   0
                                4                 1   0
                                5                 2   0
                    2-5 yrs     2                 0   2
                                3                 0   2
                                5                 0   2
                    5-10 yrs    4                 1   0
                                5                 1   0
Moderate Engagement 0-2 yrs     3                 0   4
                                4                 0   3
                                5                 0   2
                    10-15 yrs   3                16   0
                                4                 7   0
                                5                15   0
                    15-20 yrs   3                 1   0
                                4                 1   0
                                5                 1   0
                    2-5 yrs     3                 0   4
                                4                 0   4
                                5                 0   3
                    5-10 yrs    2                 0   1
                                3                 7   2
                                4                 3   5
                                5                 2   2
Very Low Engagement 10-15 yrs   2                 2   0
                                3                 2   0
                    2-5 yrs     5                 0   1
                    5-10 yrs    3                 1   1
                                5                 1   0

In [ ]:
#EngagementSurvey  EmploymentStatus  EmpSatisfaction  TerminatedFlag
df.pivot_table(
    index=['EngagementGroup', 'EmploymentStatus', 'EmpSatisfaction'],
    columns='TerminatedFlag',
    values='Employee_Name',
    aggfunc='count',
    fill_value=0,
    observed=False
)

TerminatedFlag                                               0   1
EngagementGroup     EmploymentStatus       EmpSatisfaction
High Engagement     Active                 2                 2   0
                                           3                45   0
                                           4                43   0
                                           5                47   0
                    Terminated for Cause   3                 0   1
                                           4                 0   5
                                           5                 0   1
                    Voluntarily Terminated 3                 0  18
                                           4                 0  21
                                           5                 0  18
Low Engagement      Active                 1                 2   0
                                           2                 1   0
                                           3                 3   0
                                           4                 2   0
                                           5                 3   0
                    Terminated for Cause   2                 0   1
                                           3                 0   1
                                           5                 0   1
                    Voluntarily Terminated 2                 0   2
                                           3                 0   2
                                           5                 0   1
Moderate Engagement Active                 3                24   0
                                           4                11   0
                                           5                18   0
                    Terminated for Cause   3                 0   2
                                           4                 0   1
                                           5                 0   1
                    Voluntarily Terminated 2                 0   1
                                           3                 0   8
                                           4                 0  11
                                           5                 0   6
Very Low Engagement Active                 2                 2   0
                                           3                 3   0
                                           5                 1   0
                    Terminated for Cause   3                 0   1
                                           5                 0   1

In [ ]:
#EngagementSurvey  RecruitmentSource  EmpSatisfaction  TerminatedFlag
df.pivot_table(
    index=['EngagementGroup', 'RecruitmentSource', 'EmpSatisfaction'],
    columns='TerminatedFlag',
    values='Employee_Name',
    aggfunc='count',
    fill_value=0,
    observed=False
)

TerminatedFlag                                                0  1
EngagementGroup     RecruitmentSource       EmpSatisfaction
High Engagement     CareerBuilder           2                 1  0
                                            3                 2  3
                                            4                 3  3
                                            5                 0  1
                    Diversity Job Fair      2                 1  0
                                            3                 1  4
                                            4                 5  7
                                            5                 0  2
                    Employee Referral       3                 7  1
                                            4                 7  2
                                            5                 5  0
                    Google Search           3                 2  3
                                            4                 6  5
                                            5                 7  8
                    Indeed                  3                15  3
                                            4                 8  4
                                            5                17  4
                    LinkedIn                3                13  4
                                            4                11  4
                                            5                16  3
                    On-line Web application 5                 0  1
                    Other                   3                 1  0
                                            4                 0  1
                    Website                 3                 4  1
                                            4                 3  0
                                            5                 2  0
Low Engagement      CareerBuilder           3                 0  1
                                            5                 0  1
                    Diversity Job Fair      3                 1  1
                                            4                 2  0
                    Employee Referral       5                 1  0
                    Google Search           3                 1  1
                    Indeed                  1                 1  0
                                            2                 1  1
                                            3                 1  0
                                            5                 0  1
                    LinkedIn                2                 0  2
                                            5                 2  0
                    Website                 1                 1  0
Moderate Engagement CareerBuilder           3                 3  0
                                            4                 0  2
                                            5                 2  0
                    Diversity Job Fair      3                 1  0
                                            4                 0  2
                                            5                 2  0
                    Employee Referral       3                 3  1
                                            5                 3  0
                    Google Search           2                 0  1
                                            3                 3  4
                                            4                 0  4
                                            5                 0  4
                    Indeed                  3                 6  3
                                            4                 6  3
                                            5                 8  2
                    LinkedIn                3                 8  2
                                            4                 4  1
                                            5                 3  1
                    Website                 4                 1  0
Very Low Engagement CareerBuilder           3                 1  0
                    Employee Referral       5                 0  1
                    Indeed                  2                 1  0
                                            3                 1  0
                                            5                 1  0
                    LinkedIn                3                 1  1
                    Website                 2                 1  0

In [ ]:
#EngagementSurvey  Position  PerformanceScore  TerminatedFlag
df.pivot_table(
    index=['EngagementGroup', 'Position', 'PerformanceScore'],
    columns='TerminatedFlag',
    values='Employee_Name',
    aggfunc='count',
    fill_value=0,
    observed=False
)

TerminatedFlag                                                       0   1
EngagementGroup     Position                     PerformanceScore
High Engagement     Accountant I                 Fully Meets         2   0
                    Administrative Assistant     Fully Meets         1   0
                    Area Sales Manager           Exceeds             2   0
                                                 Fully Meets        11   1
                    BI Developer                 Fully Meets         2   0
                    BI Director                  Fully Meets         1   0
                    CIO                          Exceeds             1   0
                    Data Analyst                 Exceeds             2   0
                                                 Fully Meets         1   1
                    Data Analyst                 Fully Meets         0   1
                    Data Architect               Fully Meets         1   0
                    Database Administrator       Fully Meets         1   3
                    Director of Sales            Fully Meets         1   0
                    IT Director                  Exceeds             1   0
                    IT Manager - DB              Fully Meets         0   1
                    IT Manager - Support         Exceeds             1   0
                    IT Support                   Exceeds             1   0
                                                 Fully Meets         7   0
                    Network Engineer             Fully Meets         1   1
                    President & CEO              Fully Meets         1   0
                    Production Manager           Exceeds             2   0
                                                 Fully Meets         4   3
                                                 Needs Improvement   1   0
                    Production Technician I      Exceeds             8   5
                                                 Fully Meets        49  24
                                                 Needs Improvement   1   1
                    Production Technician II     Exceeds             6   2
                                                 Fully Meets        14  16
                    Sales Manager                Fully Meets         1   1
                    Senior BI Developer          Fully Meets         2   0
                    Shared Services Manager      Fully Meets         1   0
                    Software Engineer            Exceeds             1   1
                                                 Fully Meets         3   2
                    Sr. Accountant               Fully Meets         2   0
                    Sr. DBA                      Fully Meets         1   1
                    Sr. Network Engineer         Fully Meets         3   0
Low Engagement      Area Sales Manager           Fully Meets         2   0
                                                 PIP                 1   0
                    IT Manager - Infra           Needs Improvement   1   0
                    Production Manager           Needs Improvement   0   1
                    Production Technician I      Fully Meets         1   0
                                                 Needs Improvement   2   2
                                                 PIP                 1   1
                    Production Technician II     Fully Meets         1   0
                                                 Needs Improvement   0   1
                                                 PIP                 1   2
                    Sales Manager                Needs Improvement   1   0
                    Software Engineer            Needs Improvement   0   1
Moderate Engagement Accountant I                 Fully Meets         1   0
                    Administrative Assistant     Fully Meets         0   2
                    Area Sales Manager           Fully Meets         5   2
                    BI Developer                 Fully Meets         2   0
                    Data Analyst                 Fully Meets         3   0
                    Database Administrator       Fully Meets         1   0
                    Director of Operations       Exceeds             1   0
                    Enterprise Architect         Fully Meets         0   1
                    IT Manager - DB              Fully Meets         1   0
                    Network Engineer             Fully Meets         2   0
                    Principal Data Architect     Fully Meets         0   1
                    Production Manager           Fully Meets         2   1
                    Production Technician I      Exceeds             3   0
                                                 Fully Meets        17  14
                                                 Needs Improvement   1   3
                                                 PIP                 0   1
                    Production Technician II     Fully Meets         8   5
                    Senior BI Developer          Fully Meets         1   0
                    Software Engineer            Fully Meets         2   0
                    Software Engineering Manager Fully Meets         1   0
                    Sr. Network Engineer         Fully Meets         2   0
Very Low Engagement Area Sales Manager           PIP                 2   1
                    Network Engineer             PIP                 1   0
                    Production Technician I      Needs Improvement   0   1
                                                 PIP                 2   0
                    Production Technician II     Needs Improvement   1   0

In [ ]:
#EngagementSurvey  Salary  PerformanceScore  TerminatedFlag
df.groupby(['EngagementGroup', 'PerformanceScore', 'TerminatedFlag'])['Salary'].agg(
    Count='count',
    Avg_Salary17='mean',
    Min_Salary17='min',
    Max_Salary17='max',
    Median_Salary17='median'
).reset_index()

,EngagementGroup,PerformanceScore,TerminatedFlag,Count,Avg_Salary17,Min_Salary17,Max_Salary17,Median_Salary17
0,High Engagement,Exceeds,0,25,80290.720000,46738,220450,64397.0
1,High Engagement,Exceeds,1,8,62805.000000,46837,108987,58238.5
2,High Engagement,Fully Meets,0,110,69386.418182,45046,250000,63038.0
3,High Engagement,Fully Meets,1,55,68765.018182,45115,148999,63878.0
4,High Engagement,Needs Improvement,0,2,60555.500000,53060,68051,60555.5
5,High Engagement,Needs Improvement,1,1,60340.000000,60340,60340,60340.0
6,Low Engagement,Fully Meets,0,4,64130.250000,57859,69340,64661.0
7,Low Engagement,Needs Improvement,0,4,85191.750000,47750,157000,68008.5
8,Low Engagement,Needs Improvement,1,5,70406.000000,50274,99280,60270.0
9,Low Engagement,PIP,0,3,60033.000000,56847,64021,59231.0
10,Low Engagement,PIP,1,3,59124.000000,52674,68898,55800.0
11,Moderate Engagement,Exceeds,0,4,86163.000000,52984,170500,60584.0
12,Moderate Engagement,Fully Meets,0,48,69422.145833,46335,140920,63370.5
13,Moderate Engagement,Fully Meets,1,26,61913.346154,45433,120000,57905.0
14,Moderate Engagement,Needs Improvement,0,1,61584.000000,61584,61584,61584.0
15,Moderate Engagement,Needs Improvement,1,3,56639.666667,53564,61422,54933.0
16,Moderate Engagement,PIP,1,1,48513.000000,48513,48513,48513.0
17,Very Low Engagement,Needs Improvement,0,1,66441.000000,66441,66441,66441.0
18,Very Low Engagement,Needs Improvement,1,1,59144.000000,59144,59144,59144.0
19,Very Low Engagement,PIP,0,5,58090.600000,53189,64057,58273.0
20,Very Low Engagement,PIP,1,1,70187.000000,70187,70187,70187.0

In [ ]:
#EngagementSurvey  Age  EmpSatisfaction  TerminatedFlag
df.pivot_table(
    index=['EngagementGroup', 'AgeGroup', 'EmpSatisfaction'],
    columns='TerminatedFlag',
    values='Employee_Name',
    aggfunc='count',
    fill_value=0,
    observed=False
)

TerminatedFlag                                 0  1
EngagementGroup     AgeGroup EmpSatisfaction
High Engagement     3039    2                 1  0
                             3                12  8
                             4                17  6
                             5                19  6
                    4049    2                 1  0
                             3                17  5
                             4                20  9
                             5                20  8
                    5059    3                11  3
                             4                 5  8
                             5                 7  4
                    60+      3                 5  3
                             4                 1  3
                             5                 1  1
Low Engagement      3039    1                 2  0
                             2                 0  1
                             3                 2  1
                             4                 1  0
                             5                 1  2
                    4049    2                 0  2
                             3                 0  1
                             5                 1  0
                    5059    2                 1  0
                             3                 1  1
                             4                 1  0
                             5                 1  0
Moderate Engagement 3039    3                 9  3
                             4                 3  5
                             5                 6  3
                    4049    2                 0  1
                             3                 8  3
                             4                 8  3
                             5                 7  1
                    5059    3                 6  2
                             4                 0  4
                             5                 4  3
                    60+      3                 1  2
                             5                 1  0
Very Low Engagement 3039    3                 2  0
                             5                 1  0
                    4049    2                 1  0
                             3                 1  1
                             5                 0  1
                    5059    2                 1  0

In [ ]:
#EngagementSurvey  Sex  PerformanceScore  TerminatedFlag
df.pivot_table(
    index=['EngagementGroup', 'Sex', 'PerformanceScore'],
    columns='TerminatedFlag',
    values='Employee_Name',
    aggfunc='count',
    fill_value=0,
    observed=False
)

TerminatedFlag                              0   1
EngagementGroup     Sex PerformanceScore
High Engagement     F   Exceeds            14   4
                        Fully Meets        67  28
                    M   Exceeds            11   4
                        Fully Meets        43  27
                        Needs Improvement   2   1
Low Engagement      F   Fully Meets         3   0
                        Needs Improvement   2   4
                        PIP                 3   1
                    M   Fully Meets         1   0
                        Needs Improvement   2   1
                        PIP                 0   2
Moderate Engagement F   Exceeds             2   0
                        Fully Meets        23  21
                        Needs Improvement   1   1
                        PIP                 0   1
                    M   Exceeds             2   0
                        Fully Meets        25   5
                        Needs Improvement   0   2
Very Low Engagement F   Needs Improvement   1   0
                    M   Needs Improvement   0   1
                        PIP                 5   1

In [ ]:
#EngagementSurvey  MaritalDesc  Salary  TerminatedFlag
df.groupby(['EngagementGroup', 'MaritalDesc', 'TerminatedFlag'])['Salary'].agg(
    Count='count',
    Avg_Salary18='mean',
    Min_Salary18='min',
    Max_Salary18='max',
    Median_Salary18='median'
).reset_index()

,EngagementGroup,MaritalDesc,TerminatedFlag,Count,Avg_Salary18,Min_Salary18,Max_Salary18,Median_Salary18
0,High Engagement,Divorced,0,12,61364.000000,45069,92328,61840.5
1,High Engagement,Divorced,1,12,66642.666667,45115,148999,60474.0
2,High Engagement,Married,0,49,73641.387755,46120,250000,63025.0
3,High Engagement,Married,1,25,67709.720000,46837,113999,61962.0
4,High Engagement,Separated,0,8,65341.375000,60436,74417,64696.0
5,High Engagement,Separated,1,1,58275.000000,58275,58275,58275.0
6,High Engagement,Single,0,65,72026.476923,45395,220450,63322.0
7,High Engagement,Single,1,24,69154.708333,46428,114800,63777.0
8,High Engagement,Widowed,0,3,70545.666667,45046,107226,59365.0
9,High Engagement,Widowed,1,2,67206.500000,67176,67237,67206.5
10,Low Engagement,Divorced,0,1,72992.000000,72992,72992,72992.0
11,Low Engagement,Married,0,4,85348.500000,57859,157000,63267.5
12,Low Engagement,Married,1,4,77882.500000,60270,99280,75990.0
13,Low Engagement,Separated,0,1,56847.000000,56847,56847,56847.0
14,Low Engagement,Single,0,5,61230.800000,47750,69340,63025.0
15,Low Engagement,Single,1,4,54468.000000,50274,59124,54237.0
16,Moderate Engagement,Divorced,0,1,88976.000000,88976,88976,88976.0
17,Moderate Engagement,Divorced,1,4,58693.000000,46799,68182,59895.5
18,Moderate Engagement,Married,0,21,70095.238095,50750,105700,63450.0
19,Moderate Engagement,Married,1,17,58049.176471,45433,74326,55965.0
20,Moderate Engagement,Separated,0,2,58679.500000,52984,64375,58679.5
21,Moderate Engagement,Single,0,28,71314.678571,46335,170500,62064.5
22,Moderate Engagement,Single,1,7,70630.428571,45998,120000,53564.0
23,Moderate Engagement,Widowed,0,1,63353.000000,63353,63353,63353.0
24,Moderate Engagement,Widowed,1,2,56079.000000,52788,59370,56079.0
25,Very Low Engagement,Married,0,3,58506.333333,53189,64057,58273.0
26,Very Low Engagement,Married,1,1,70187.000000,70187,70187,70187.0
27,Very Low Engagement,Single,0,3,60458.333333,53366,66441,61568.0
28,Very Low Engagement,Single,1,1,59144.000000,59144,59144,59144.0

In [ ]:
#EngagementSurvey  EmploymentStatus  PerformanceScore  TerminatedFlag
df.pivot_table(
    index=['EngagementGroup', 'EmploymentStatus', 'PerformanceScore'],
    columns='TerminatedFlag',
    values='Employee_Name',
    aggfunc='count',
    fill_value=0,
    observed=False
)

TerminatedFlag                                                  0   1
EngagementGroup     EmploymentStatus       PerformanceScore
High Engagement     Active                 Exceeds             25   0
                                           Fully Meets        110   0
                                           Needs Improvement    2   0
                    Terminated for Cause   Exceeds              0   1
                                           Fully Meets          0   5
                                           Needs Improvement    0   1
                    Voluntarily Terminated Exceeds              0   7
                                           Fully Meets          0  50
Low Engagement      Active                 Fully Meets          4   0
                                           Needs Improvement    4   0
                                           PIP                  3   0
                    Terminated for Cause   Needs Improvement    0   2
                                           PIP                  0   1
                    Voluntarily Terminated Needs Improvement    0   3
                                           PIP                  0   2
Moderate Engagement Active                 Exceeds              4   0
                                           Fully Meets         48   0
                                           Needs Improvement    1   0
                    Terminated for Cause   Fully Meets          0   3
                                           Needs Improvement    0   1
                    Voluntarily Terminated Fully Meets          0  23
                                           Needs Improvement    0   2
                                           PIP                  0   1
Very Low Engagement Active                 Needs Improvement    1   0
                                           PIP                  5   0
                    Terminated for Cause   Needs Improvement    0   1
                                           PIP                  0   1

In [ ]:
#EngagementSurvey  Department  EmpSatisfaction  TerminatedFlag
df.pivot_table(
    index=['EngagementGroup', 'Department', 'EmpSatisfaction'],
    columns='TerminatedFlag',
    values='Employee_Name',
    aggfunc='count',
    fill_value=0,
    observed=False
)

TerminatedFlag                                             0   1
EngagementGroup     Department           EmpSatisfaction
High Engagement     Admin Offices        2                 1   0
                                         3                 2   0
                                         4                 3   0
                    Executive Office     3                 1   0
                    IT/IS                3                 6   4
                                         4                 8   4
                                         5                12   0
                    Production           2                 1   0
                                         3                31  14
                                         4                27  21
                                         5                26  16
                    Sales                3                 4   0
                                         4                 4   0
                                         5                 7   2
                    Software Engineering 3                 1   1
                                         4                 1   1
                                         5                 2   1
Low Engagement      IT/IS                3                 1   0
                    Production           1                 1   0
                                         2                 1   3
                                         3                 1   3
                                         4                 1   0
                                         5                 2   1
                    Sales                1                 1   0
                                         3                 1   0
                                         4                 1   0
                                         5                 1   0
                    Software Engineering 5                 0   1
Moderate Engagement Admin Offices        3                 0   1
                                         4                 0   1
                                         5                 1   0
                    IT/IS                3                 6   1
                                         4                 2   0
                                         5                 4   1
                    Production           2                 0   1
                                         3                14   8
                                         4                 8  10
                                         5                10   5
                    Sales                3                 2   0
                                         4                 1   1
                                         5                 2   1
                    Software Engineering 3                 2   0
                                         5                 1   0
Very Low Engagement IT/IS                3                 1   0
                    Production           2                 1   0
                                         3                 1   1
                                         5                 1   0
                    Sales                2                 1   0
                                         3                 1   0
                                         5                 0   1

In [ ]:
#EngagementSurvey  TenureGroup  PerformanceScore  TerminatedFlag
df.pivot_table(
    index=['EngagementGroup', 'TenureGroup', 'PerformanceScore'],
    columns='TerminatedFlag',
    values='Employee_Name',
    aggfunc='count',
    fill_value=0,
    observed=False
)

TerminatedFlag                                      0   1
EngagementGroup     TenureGroup PerformanceScore
High Engagement     0-2 yrs     Exceeds             0   1
                                Fully Meets         0  17
                    10-15 yrs   Exceeds            21   0
                                Fully Meets        75   0
                                Needs Improvement   2   0
                    15-20 yrs   Exceeds             1   0
                                Fully Meets         4   0
                    2-5 yrs     Exceeds             0   6
                                Fully Meets         0  25
                    5-10 yrs    Exceeds             3   1
                                Fully Meets        31  13
                                Needs Improvement   0   1
Low Engagement      0-2 yrs     Needs Improvement   0   1
                                PIP                 0   1
                    10-15 yrs   Fully Meets         3   0
                                Needs Improvement   3   0
                                PIP                 3   0
                    2-5 yrs     Needs Improvement   0   4
                                PIP                 0   2
                    5-10 yrs    Fully Meets         1   0
                                Needs Improvement   1   0
Moderate Engagement 0-2 yrs     Fully Meets         0   9
                    10-15 yrs   Exceeds             3   0
                                Fully Meets        34   0
                                Needs Improvement   1   0
                    15-20 yrs   Exceeds             1   0
                                Fully Meets         2   0
                    2-5 yrs     Fully Meets         0  10
                                Needs Improvement   0   1
                    5-10 yrs    Fully Meets        12   7
                                Needs Improvement   0   2
                                PIP                 0   1
Very Low Engagement 10-15 yrs   Needs Improvement   1   0
                                PIP                 3   0
                    2-5 yrs     PIP                 0   1
                    5-10 yrs    Needs Improvement   0   1
                                PIP                 2   0

In [ ]:
#EngagementSurvey  Position  EmpSatisfaction  TerminatedFlag
df.pivot_table(
    index=['EngagementGroup', 'Position', 'EmpSatisfaction'],
    columns='TerminatedFlag',
    values='Employee_Name',
    aggfunc='count',
    fill_value=0,
    observed=False
)

TerminatedFlag                                                     0   1
EngagementGroup     Position                     EmpSatisfaction
High Engagement     Accountant I                 2                 1   0
                                                 4                 1   0
                    Administrative Assistant     3                 1   0
                    Area Sales Manager           3                 4   0
                                                 4                 2   0
                                                 5                 7   1
                    BI Developer                 4                 1   0
                                                 5                 1   0
                    BI Director                  5                 1   0
                    CIO                          5                 1   0
                    Data Analyst                 3                 1   0
                                                 4                 1   1
                                                 5                 1   0
                    Data Analyst                 3                 0   1
                    Data Architect               3                 1   0
                    Database Administrator       3                 0   1
                                                 4                 0   2
                                                 5                 1   0
                    Director of Sales            4                 1   0
                    IT Director                  5                 1   0
                    IT Manager - DB              4                 0   1
                    IT Manager - Support         5                 1   0
                    IT Support                   3                 2   0
                                                 4                 4   0
                                                 5                 2   0
                    Network Engineer             3                 0   1
                                                 4                 1   0
                    President & CEO              3                 1   0
                    Production Manager           2                 1   0
                                                 3                 4   1
                                                 4                 1   1
                                                 5                 1   1
                    Production Technician I      3                17   7
                                                 4                21  14
                                                 5                20   9
                    Production Technician II     3                10   6
                                                 4                 5   6
                                                 5                 5   6
                    Sales Manager                4                 1   0
                                                 5                 0   1
                    Senior BI Developer          3                 1   0
                                                 5                 1   0
                    Shared Services Manager      4                 1   0
                    Software Engineer            3                 1   1
                                                 4                 1   1
                                                 5                 2   1
                    Sr. Accountant               3                 1   0
                                                 4                 1   0
                    Sr. DBA                      3                 0   1
                                                 5                 1   0
                    Sr. Network Engineer         3                 1   0
                                                 4                 1   0
                                                 5                 1   0
Low Engagement      Area Sales Manager           1                 1   0
                                                 3                 1   0
                                                 5                 1   0
                    IT Manager - Infra           3                 1   0
                    Production Manager           2                 0   1
                    Production Technician I      2                 1   1
                                                 3                 1   2
                                                 4                 1   0
                                                 5                 1   0
                    Production Technician II     1                 1   0
                                                 2                 0   1
                                                 3                 0   1
                                                 5                 1   1
                    Sales Manager                4                 1   0
                    Software Engineer            5                 0   1
Moderate Engagement Accountant I                 5                 1   0
                    Administrative Assistant     3                 0   1
                                                 4                 0   1
                    Area Sales Manager           3                 2   0
                                                 4                 1   1
                                                 5                 2   1
                    BI Developer                 3                 1   0
                                                 5                 1   0
                    Data Analyst                 3                 2   0
                                                 5                 1   0
                    Database Administrator       3                 1   0
                    Director of Operations       5                 1   0
                    Enterprise Architect         5                 0   1
                    IT Manager - DB              5                 1   0
                    Network Engineer             3                 2   0
                    Principal Data Architect     3                 0   1
                    Production Manager           3                 1   1
                                                 4                 1   0
                    Production Technician I      2                 0   1
                                                 3                10   3
                                                 4                 4  10
                                                 5                 7   4
                    Production Technician II     3                 3   4
                                                 4                 3   0
                                                 5                 2   1
                    Senior BI Developer          4                 1   0
                    Software Engineer            3                 1   0
                                                 5                 1   0
                    Software Engineering Manager 3                 1   0
                    Sr. Network Engineer         4                 1   0
                                                 5                 1   0
Very Low Engagement Area Sales Manager           2                 1   0
                                                 3                 1   0
                                                 5                 0   1
                    Network Engineer             3                 1   0
                    Production Technician I      2                 1   0
                                                 3                 0   1
                                                 5                 1   0
                    Production Technician II     3                 1   0

In [ ]:
#EngagementSurvey  Salary  EmpSatisfaction  TerminatedFlag
df.groupby(['EngagementGroup', 'EmpSatisfaction', 'TerminatedFlag'])['Salary'].agg(
    Count='count',
    Avg_Salary19='mean',
    Min_Salary19='min',
    Max_Salary19='max',
    Median_Salary19='median'
).reset_index()

,EngagementGroup,EmpSatisfaction,TerminatedFlag,Count,Avg_Salary19,Min_Salary19,Max_Salary19,Median_Salary19
0,High Engagement,2,0,2,65525.500000,63000,68051,65525.5
1,High Engagement,3,0,45,71440.000000,47414,250000,64246.0
2,High Engagement,3,1,19,72016.421053,47211,113999,68099.0
3,High Engagement,4,0,43,67715.906977,45395,180000,60724.0
4,High Engagement,4,1,26,69081.076923,45115,148999,62542.0
5,High Engagement,5,0,47,74537.234043,45046,220450,63695.0
6,High Engagement,5,1,19,62128.210526,46428,108987,58371.0
7,Low Engagement,1,0,2,58039.000000,56847,59231,58039.0
8,Low Engagement,2,0,1,64021.000000,64021,64021,64021.0
9,Low Engagement,2,1,3,63852.000000,52674,83082,55800.0
10,Low Engagement,3,0,3,92457.666667,57859,157000,62514.0
11,Low Engagement,3,1,3,59432.000000,50274,68898,59124.0
12,Low Engagement,4,0,2,60371.000000,47750,72992,60371.0
13,Low Engagement,5,0,3,66391.000000,63025,69340,66808.0
14,Low Engagement,5,1,2,79775.000000,60270,99280,79775.0
15,Moderate Engagement,2,1,1,48513.000000,48513,48513,48513.0
16,Moderate Engagement,3,0,24,66408.333333,46654,105700,61938.5
17,Moderate Engagement,3,1,10,67137.000000,46664,120000,63188.5
18,Moderate Engagement,4,0,11,64200.090909,50482,87565,61584.0
19,Moderate Engagement,4,1,12,53293.250000,45433,63515,53140.0
20,Moderate Engagement,5,0,18,79916.555556,46335,170500,65678.5
21,Moderate Engagement,5,1,7,66968.142857,53564,103613,61729.0
22,Very Low Engagement,2,0,2,55731.000000,53189,58273,55731.0
23,Very Low Engagement,3,0,3,60458.333333,53366,66441,61568.0
24,Very Low Engagement,3,1,1,59144.000000,59144,59144,59144.0
25,Very Low Engagement,5,0,1,64057.000000,64057,64057,64057.0
26,Very Low Engagement,5,1,1,70187.000000,70187,70187,70187.0

In [ ]:
#EngagementSurvey  Age  TenureGroup  TerminatedFlag
df.pivot_table(
    index=['EngagementGroup', 'AgeGroup', 'TenureGroup'],
    columns='TerminatedFlag',
    values='Employee_Name',
    aggfunc='count',
    fill_value=0,
    observed=False
)

TerminatedFlag                             0   1
EngagementGroup     AgeGroup TenureGroup
High Engagement     3039    0-2 yrs       0   8
                             10-15 yrs    31   0
                             15-20 yrs     2   0
                             2-5 yrs       0   8
                             5-10 yrs     16   4
                    4049    0-2 yrs       0   5
                             10-15 yrs    44   0
                             15-20 yrs     1   0
                             2-5 yrs       0  10
                             5-10 yrs     13   7
                    5059    0-2 yrs       0   3
                             10-15 yrs    16   0
                             15-20 yrs     2   0
                             2-5 yrs       0   9
                             5-10 yrs      5   3
                    60+      0-2 yrs       0   2
                             10-15 yrs     7   0
                             2-5 yrs       0   4
                             5-10 yrs      0   1
Low Engagement      3039    10-15 yrs     5   0
                             2-5 yrs       0   4
                             5-10 yrs      1   0
                    4049    0-2 yrs       0   1
                             10-15 yrs     1   0
                             2-5 yrs       0   2
                    5059    0-2 yrs       0   1
                             10-15 yrs     3   0
                             5-10 yrs      1   0
Moderate Engagement 3039    0-2 yrs       0   5
                             10-15 yrs    12   0
                             2-5 yrs       0   1
                             5-10 yrs      6   5
                    4049    0-2 yrs       0   2
                             10-15 yrs    15   0
                             15-20 yrs     3   0
                             2-5 yrs       0   4
                             5-10 yrs      5   2
                    5059    0-2 yrs       0   2
                             10-15 yrs     9   0
                             2-5 yrs       0   5
                             5-10 yrs      1   2
                    60+      10-15 yrs     2   0
                             2-5 yrs       0   1
                             5-10 yrs      0   1
Very Low Engagement 3039    10-15 yrs     1   0
                             5-10 yrs      2   0
                    4049    10-15 yrs     2   0
                             2-5 yrs       0   1
                             5-10 yrs      0   1
                    5059    10-15 yrs     1   0

In [ ]:
#EngagementSurvey  Sex  Department  TerminatedFlag
df.pivot_table(
    index=['EngagementGroup', 'Sex', 'Department'],
    columns='TerminatedFlag',
    values='Employee_Name',
    aggfunc='count',
    fill_value=0,
    observed=False
)

TerminatedFlag                                 0   1
EngagementGroup     Sex Department
High Engagement     F   Admin Offices          4   0
                        Executive Office       1   0
                        IT/IS                 14   2
                        Production            50  29
                        Sales                  9   1
                        Software Engineering   3   0
                    M   Admin Offices          2   0
                        IT/IS                 12   6
                        Production            35  22
                        Sales                  6   1
                        Software Engineering   1   3
Low Engagement      F   Production             6   4
                        Sales                  2   0
                        Software Engineering   0   1
                    M   IT/IS                  1   0
                        Production             0   3
                        Sales                  2   0
Moderate Engagement F   Admin Offices          0   2
                        IT/IS                  5   1
                        Production            18  18
                        Sales                  1   2
                        Software Engineering   2   0
                    M   Admin Offices          1   0
                        IT/IS                  7   1
                        Production            14   6
                        Sales                  4   0
                        Software Engineering   1   0
Very Low Engagement F   Production             1   0
                    M   IT/IS                  1   0
                        Production             2   1
                        Sales                  2   1

In [ ]:
#EngagementSurvey x TermReason
df.pivot_table(
    index=['EngagementGroup', 'TermReason'],
    columns='TerminatedFlag',
    values='Employee_Name',
    aggfunc='count',
    fill_value=0,
    observed=False
)

TerminatedFlag                                          0   1
EngagementGroup     TermReason
High Engagement     Another position                    0  12
                    N/A-StillEmployed                 137   0
                    attendance                          0   4
                    career change                       0   4
                    gross misconduct                    0   1
                    hours                               0   6
                    maternity leave - did not return    0   3
                    medical issues                      0   2
                    military                            0   2
                    more money                          0   7
                    no-call, no-show                    0   2
                    performance                         0   2
                    relocation out of area              0   4
                    retiring                            0   3
                    return to school                    0   4
                    unhappy                             0   8
Low Engagement      N/A-StillEmployed                  11   0
                    attendance                          0   1
                    career change                       0   2
                    no-call, no-show                    0   1
                    performance                         0   1
                    unhappy                             0   3
Moderate Engagement Another position                    0   8
                    Learned that he is a gangster       0   1
                    N/A-StillEmployed                  53   0
                    attendance                          0   2
                    career change                       0   3
                    hours                               0   2
                    medical issues                      0   1
                    military                            0   2
                    more money                          0   4
                    no-call, no-show                    0   1
                    relocation out of area              0   1
                    retiring                            0   1
                    return to school                    0   1
                    unhappy                             0   3
Very Low Engagement Fatal attraction                    0   1
                    N/A-StillEmployed                   6   0
                    performance                         0   1

In [ ]:
#Create variable ReviewDelayGroup
bins = [0, 2920, float('inf')]  # 2920 = 8 years
labels = ["58 Years", "8+ Years"]

df['ReviewDelayGroup'] = pd.cut(
    df['Days_Since_Last_Review'],
    bins=bins,
    labels=labels,
    right=True,
    include_lowest=True
)

print(df['ReviewDelayGroup'].value_counts(dropna=False))

ReviewDelayGroup
58 Years    227
8+ Years      84
Name: count, dtype: int64

In [ ]:
#Days_Since_Last_Review  PerformanceScore  Department  TerminatedFlag
df.pivot_table(
    index=['ReviewDelayGroup', 'PerformanceScore', 'Department'],
    columns='TerminatedFlag',
    values='Employee_Name',
    aggfunc='count',
    fill_value=0,
    observed=False
)

TerminatedFlag                                            0   1
ReviewDelayGroup PerformanceScore  Department
58 Years        Exceeds           Admin Offices          0   0
                                   Executive Office       0   0
                                   IT/IS                  6   0
                                   Production            20   1
                                   Sales                  2   0
                                   Software Engineering   1   0
                 Fully Meets       Admin Offices          7   0
                                   Executive Office       1   0
                                   IT/IS                 32   2
                                   Production            96  11
                                   Sales                 20   0
                                   Software Engineering   6   1
                 Needs Improvement Admin Offices          0   0
                                   Executive Office       0   0
                                   IT/IS                  1   0
                                   Production             6   3
                                   Sales                  1   0
                                   Software Engineering   0   0
                 PIP               Admin Offices          0   0
                                   Executive Office       0   0
                                   IT/IS                  1   0
                                   Production             4   1
                                   Sales                  3   1
                                   Software Engineering   0   0
8+ Years         Exceeds           Admin Offices          0   0
                                   Executive Office       0   0
                                   IT/IS                  0   0
                                   Production             0   6
                                   Sales                  0   0
                                   Software Engineering   0   1
                 Fully Meets       Admin Offices          0   2
                                   Executive Office       0   0
                                   IT/IS                  0   8
                                   Production             0  52
                                   Sales                  0   4
                                   Software Engineering   0   1
                 Needs Improvement Admin Offices          0   0
                                   Executive Office       0   0
                                   IT/IS                  0   0
                                   Production             0   6
                                   Sales                  0   0
                                   Software Engineering   0   1
                 PIP               Admin Offices          0   0
                                   Executive Office       0   0
                                   IT/IS                  0   0
                                   Production             0   3
                                   Sales                  0   0
                                   Software Engineering   0   0

In [ ]:
#Days_Since_Last_Review  PerformanceScore  Position  TerminatedFlag
df.pivot_table(
    index=['ReviewDelayGroup', 'PerformanceScore', 'Position'],
    columns='TerminatedFlag',
    values='Employee_Name',
    aggfunc='count',
    fill_value=0,
    observed=False
)

TerminatedFlag                                                    0   1
ReviewDelayGroup PerformanceScore  Position
58 Years        Exceeds           Accountant I                   0   0
                                   Administrative Assistant       0   0
                                   Area Sales Manager             2   0
                                   BI Developer                   0   0
                                   BI Director                    0   0
                                   CIO                            1   0
                                   Data Analyst                   2   0
                                   Data Analyst                   0   0
                                   Data Architect                 0   0
                                   Database Administrator         0   0
                                   Director of Operations         1   0
                                   Director of Sales              0   0
                                   Enterprise Architect           0   0
                                   IT Director                    1   0
                                   IT Manager - DB                0   0
                                   IT Manager - Infra             0   0
                                   IT Manager - Support           1   0
                                   IT Support                     1   0
                                   Network Engineer               0   0
                                   President & CEO                0   0
                                   Principal Data Architect       0   0
                                   Production Manager             2   0
                                   Production Technician I       11   1
                                   Production Technician II       6   0
                                   Sales Manager                  0   0
                                   Senior BI Developer            0   0
                                   Shared Services Manager        0   0
                                   Software Engineer              1   0
                                   Software Engineering Manager   0   0
                                   Sr. Accountant                 0   0
                                   Sr. DBA                        0   0
                                   Sr. Network Engineer           0   0
                 Fully Meets       Accountant I                   3   0
                                   Administrative Assistant       1   0
                                   Area Sales Manager            18   0
                                   BI Developer                   4   0
                                   BI Director                    1   0
                                   CIO                            0   0
                                   Data Analyst                   4   0
                                   Data Analyst                   0   0
                                   Data Architect                 1   0
                                   Database Administrator         2   1
                                   Director of Operations         0   0
                                   Director of Sales              1   0
                                   Enterprise Architect           0   0
                                   IT Director                    0   0
                                   IT Manager - DB                1   0
                                   IT Manager - Infra             0   0
                                   IT Manager - Support           0   0
                                   IT Support                     7   0
                                   Network Engineer               3   0
                                   President & CEO                1   0
                                   Principal Data Architect       0   1
                                   Production Manager             6   0
                                   Production Technician I       67  10
                                   Production Technician II      23   1
                                   Sales Manager                  1   0
                                   Senior BI Developer            3   0
                                   Shared Services Manager        1   0
                                   Software Engineer              5   1
                                   Software Engineering Manager   1   0
                                   Sr. Accountant                 2   0
                                   Sr. DBA                        1   0
                                   Sr. Network Engineer           5   0
                 Needs Improvement Accountant I                   0   0
                                   Administrative Assistant       0   0
                                   Area Sales Manager             0   0
                                   BI Developer                   0   0
                                   BI Director                    0   0
                                   CIO                            0   0
                                   Data Analyst                   0   0
                                   Data Analyst                   0   0
                                   Data Architect                 0   0
                                   Database Administrator         0   0
                                   Director of Operations         0   0
                                   Director of Sales              0   0
                                   Enterprise Architect           0   0
                                   IT Director                    0   0
                                   IT Manager - DB                0   0
                                   IT Manager - Infra             1   0
                                   IT Manager - Support           0   0
                                   IT Support                     0   0
                                   Network Engineer               0   0
                                   President & CEO                0   0
                                   Principal Data Architect       0   0
                                   Production Manager             1   0
                                   Production Technician I        4   3
                                   Production Technician II       1   0
                                   Sales Manager                  1   0
                                   Senior BI Developer            0   0
                                   Shared Services Manager        0   0
                                   Software Engineer              0   0
                                   Software Engineering Manager   0   0
                                   Sr. Accountant                 0   0
                                   Sr. DBA                        0   0
                                   Sr. Network Engineer           0   0
                 PIP               Accountant I                   0   0
                                   Administrative Assistant       0   0
                                   Area Sales Manager             3   1
                                   BI Developer                   0   0
                                   BI Director                    0   0
                                   CIO                            0   0
                                   Data Analyst                   0   0
                                   Data Analyst                   0   0
                                   Data Architect                 0   0
                                   Database Administrator         0   0
                                   Director of Operations         0   0
                                   Director of Sales              0   0
                                   Enterprise Architect           0   0
                                   IT Director                    0   0
                                   IT Manager - DB                0   0
                                   IT Manager - Infra             0   0
                                   IT Manager - Support           0   0
                                   IT Support                     0   0
                                   Network Engineer               1   0
                                   President & CEO                0   0
                                   Principal Data Architect       0   0
                                   Production Manager             0   0
                                   Production Technician I        3   1
                                   Production Technician II       1   0
                                   Sales Manager                  0   0
                                   Senior BI Developer            0   0
                                   Shared Services Manager        0   0
                                   Software Engineer              0   0
                                   Software Engineering Manager   0   0
                                   Sr. Accountant                 0   0
                                   Sr. DBA                        0   0
                                   Sr. Network Engineer           0   0
8+ Years         Exceeds           Accountant I                   0   0
                                   Administrative Assistant       0   0
                                   Area Sales Manager             0   0
                                   BI Developer                   0   0
                                   BI Director                    0   0
                                   CIO                            0   0
                                   Data Analyst                   0   0
                                   Data Analyst                   0   0
                                   Data Architect                 0   0
                                   Database Administrator         0   0
                                   Director of Operations         0   0
                                   Director of Sales              0   0
                                   Enterprise Architect           0   0
                                   IT Director                    0   0
                                   IT Manager - DB                0   0
                                   IT Manager - Infra             0   0
                                   IT Manager - Support           0   0
                                   IT Support                     0   0
                                   Network Engineer               0   0
                                   President & CEO                0   0
                                   Principal Data Architect       0   0
                                   Production Manager             0   0
                                   Production Technician I        0   4
                                   Production Technician II       0   2
                                   Sales Manager                  0   0
                                   Senior BI Developer            0   0
                                   Shared Services Manager        0   0
                                   Software Engineer              0   1
                                   Software Engineering Manager   0   0
                                   Sr. Accountant                 0   0
                                   Sr. DBA                        0   0
                                   Sr. Network Engineer           0   0
                 Fully Meets       Accountant I                   0   0
                                   Administrative Assistant       0   2
                                   Area Sales Manager             0   3
                                   BI Developer                   0   0
                                   BI Director                    0   0
                                   CIO                            0   0
                                   Data Analyst                   0   1
                                   Data Analyst                   0   1
                                   Data Architect                 0   0
                                   Database Administrator         0   2
                                   Director of Operations         0   0
                                   Director of Sales              0   0
                                   Enterprise Architect           0   1
                                   IT Director                    0   0
                                   IT Manager - DB                0   1
                                   IT Manager - Infra             0   0
                                   IT Manager - Support           0   0
                                   IT Support                     0   0
                                   Network Engineer               0   1
                                   President & CEO                0   0
                                   Principal Data Architect       0   0
                                   Production Manager             0   4
                                   Production Technician I        0  28
                                   Production Technician II       0  20
                                   Sales Manager                  0   1
                                   Senior BI Developer            0   0
                                   Shared Services Manager        0   0
                                   Software Engineer              0   1
                                   Software Engineering Manager   0   0
                                   Sr. Accountant                 0   0
                                   Sr. DBA                        0   1
                                   Sr. Network Engineer           0   0
                 Needs Improvement Accountant I                   0   0
                                   Administrative Assistant       0   0
                                   Area Sales Manager             0   0
                                   BI Developer                   0   0
                                   BI Director                    0   0
                                   CIO                            0   0
                                   Data Analyst                   0   0
                                   Data Analyst                   0   0
                                   Data Architect                 0   0
                                   Database Administrator         0   0
                                   Director of Operations         0   0
                                   Director of Sales              0   0
                                   Enterprise Architect           0   0
                                   IT Director                    0   0
                                   IT Manager - DB                0   0
                                   IT Manager - Infra             0   0
                                   IT Manager - Support           0   0
                                   IT Support                     0   0
                                   Network Engineer               0   0
                                   President & CEO                0   0
                                   Principal Data Architect       0   0
                                   Production Manager             0   1
                                   Production Technician I        0   4
                                   Production Technician II       0   1
                                   Sales Manager                  0   0
                                   Senior BI Developer            0   0
                                   Shared Services Manager        0   0
                                   Software Engineer              0   1
                                   Software Engineering Manager   0   0
                                   Sr. Accountant                 0   0
                                   Sr. DBA                        0   0
                                   Sr. Network Engineer           0   0
                 PIP               Accountant I                   0   0
                                   Administrative Assistant       0   0
                                   Area Sales Manager             0   0
                                   BI Developer                   0   0
                                   BI Director                    0   0
                                   CIO                            0   0
                                   Data Analyst                   0   0
                                   Data Analyst                   0   0
                                   Data Architect                 0   0
                                   Database Administrator         0   0
                                   Director of Operations         0   0
                                   Director of Sales              0   0
                                   Enterprise Architect           0   0
                                   IT Director                    0   0
                                   IT Manager - DB                0   0
                                   IT Manager - Infra             0   0
                                   IT Manager - Support           0   0
                                   IT Support                     0   0
                                   Network Engineer               0   0
                                   President & CEO                0   0
                                   Principal Data Architect       0   0
                                   Production Manager             0   0
                                   Production Technician I        0   1
                                   Production Technician II       0   2
                                   Sales Manager                  0   0
                                   Senior BI Developer            0   0
                                   Shared Services Manager        0   0
                                   Software Engineer              0   0
                                   Software Engineering Manager   0   0
                                   Sr. Accountant                 0   0
                                   Sr. DBA                        0   0
                                   Sr. Network Engineer           0   0

In [ ]:
#Days_Since_Last_Review  PerformanceScore  TenureGroup  TerminatedFlag
df.pivot_table(
    index=['ReviewDelayGroup', 'PerformanceScore', 'TenureGroup'],
    columns='TerminatedFlag',
    values='Employee_Name',
    aggfunc='count',
    fill_value=0,
    observed=False
)

TerminatedFlag                                    0   1
ReviewDelayGroup PerformanceScore  TenureGroup
58 Years        Exceeds           0-2 yrs        0   0
                                   10-15 yrs     24   0
                                   15-20 yrs      2   0
                                   2-5 yrs        0   0
                                   5-10 yrs       3   1
                 Fully Meets       0-2 yrs        0   0
                                   10-15 yrs    112   0
                                   15-20 yrs      6   0
                                   2-5 yrs        0   3
                                   5-10 yrs      44  11
                 Needs Improvement 0-2 yrs        0   0
                                   10-15 yrs      7   0
                                   15-20 yrs      0   0
                                   2-5 yrs        0   1
                                   5-10 yrs       1   2
                 PIP               0-2 yrs        0   0
                                   10-15 yrs      6   0
                                   15-20 yrs      0   0
                                   2-5 yrs        0   2
                                   5-10 yrs       2   0
8+ Years         Exceeds           0-2 yrs        0   1
                                   10-15 yrs      0   0
                                   15-20 yrs      0   0
                                   2-5 yrs        0   6
                                   5-10 yrs       0   0
                 Fully Meets       0-2 yrs        0  26
                                   10-15 yrs      0   0
                                   15-20 yrs      0   0
                                   2-5 yrs        0  32
                                   5-10 yrs       0   9
                 Needs Improvement 0-2 yrs        0   1
                                   10-15 yrs      0   0
                                   15-20 yrs      0   0
                                   2-5 yrs        0   4
                                   5-10 yrs       0   2
                 PIP               0-2 yrs        0   1
                                   10-15 yrs      0   0
                                   15-20 yrs      0   0
                                   2-5 yrs        0   1
                                   5-10 yrs       0   1

In [ ]:
#Days_Since_Last_Review  PerformanceScore  ManagerName  TerminatedFlag
df.pivot_table(
    index=['ReviewDelayGroup', 'PerformanceScore', 'ManagerName'],
    columns='TerminatedFlag',
    values='Employee_Name',
    aggfunc='count',
    fill_value=0,
    observed=False
)

TerminatedFlag                                          0   1
ReviewDelayGroup PerformanceScore  ManagerName
58 Years        Exceeds           Alex Sweetwater      1   0
                                   Amy Dunn             3   0
                                   Board of Directors   0   0
                                   Brandon R. LeBlanc   0   0
                                   Brannon Miller       6   0
                                   Brian Champaigne     0   0
                                   David Stanley        0   0
                                   Debra Houlihan       0   0
                                   Elijiah Gray         2   0
                                   Eric Dougall         1   0
                                   Janet King           4   0
                                   Jennifer Zamora      2   0
                                   John Smith           0   0
                                   Kelley Spirea        2   0
                                   Ketsia Liebig        1   0
                                   Kissy Sullivan       1   0
                                   Lynn Daneault        2   0
                                   Michael Albert       1   1
                                   Peter Monroe         0   0
                                   Simon Roup           2   0
                                   Webster Butler       1   0
                 Fully Meets       Alex Sweetwater      5   1
                                   Amy Dunn             3   1
                                   Board of Directors   2   0
                                   Brandon R. LeBlanc   5   0
                                   Brannon Miller       8   0
                                   Brian Champaigne     8   0
                                   David Stanley       14   0
                                   Debra Houlihan       1   0
                                   Elijiah Gray        12   1
                                   Eric Dougall         3   0
                                   Janet King           8   0
                                   Jennifer Zamora      3   0
                                   John Smith           9   0
                                   Kelley Spirea       13   1
                                   Ketsia Liebig       15   0
                                   Kissy Sullivan       9   4
                                   Lynn Daneault        9   0
                                   Michael Albert       9   4
                                   Peter Monroe        12   0
                                   Simon Roup           7   2
                                   Webster Butler       7   0
                 Needs Improvement Alex Sweetwater      0   0
                                   Amy Dunn             0   0
                                   Board of Directors   0   0
                                   Brandon R. LeBlanc   0   0
                                   Brannon Miller       1   0
                                   Brian Champaigne     0   0
                                   David Stanley        1   0
                                   Debra Houlihan       1   0
                                   Elijiah Gray         0   1
                                   Eric Dougall         0   0
                                   Janet King           1   0
                                   Jennifer Zamora      1   0
                                   John Smith           0   0
                                   Kelley Spirea        1   0
                                   Ketsia Liebig        0   0
                                   Kissy Sullivan       0   0
                                   Lynn Daneault        0   0
                                   Michael Albert       2   1
                                   Peter Monroe         0   0
                                   Simon Roup           0   0
                                   Webster Butler       0   1
                 PIP               Alex Sweetwater      0   0
                                   Amy Dunn             2   0
                                   Board of Directors   0   0
                                   Brandon R. LeBlanc   0   0
                                   Brannon Miller       1   0
                                   Brian Champaigne     0   0
                                   David Stanley        0   0
                                   Debra Houlihan       0   0
                                   Elijiah Gray         0   0
                                   Eric Dougall         0   0
                                   Janet King           0   0
                                   Jennifer Zamora      0   0
                                   John Smith           2   0
                                   Kelley Spirea        0   0
                                   Ketsia Liebig        0   0
                                   Kissy Sullivan       0   1
                                   Lynn Daneault        1   1
                                   Michael Albert       1   0
                                   Peter Monroe         1   0
                                   Simon Roup           0   0
                                   Webster Butler       0   0
8+ Years         Exceeds           Alex Sweetwater      0   1
                                   Amy Dunn             0   0
                                   Board of Directors   0   0
                                   Brandon R. LeBlanc   0   0
                                   Brannon Miller       0   1
                                   Brian Champaigne     0   0
                                   David Stanley        0   1
                                   Debra Houlihan       0   0
                                   Elijiah Gray         0   0
                                   Eric Dougall         0   0
                                   Janet King           0   0
                                   Jennifer Zamora      0   0
                                   John Smith           0   0
                                   Kelley Spirea        0   1
                                   Ketsia Liebig        0   1
                                   Kissy Sullivan       0   1
                                   Lynn Daneault        0   0
                                   Michael Albert       0   0
                                   Peter Monroe         0   0
                                   Simon Roup           0   0
                                   Webster Butler       0   1
                 Fully Meets       Alex Sweetwater      0   0
                                   Amy Dunn             0  11
                                   Board of Directors   0   0
                                   Brandon R. LeBlanc   0   2
                                   Brannon Miller       0   2
                                   Brian Champaigne     0   0
                                   David Stanley        0   5
                                   Debra Houlihan       0   1
                                   Elijiah Gray         0   5
                                   Eric Dougall         0   0
                                   Janet King           0   5
                                   Jennifer Zamora      0   1
                                   John Smith           0   3
                                   Kelley Spirea        0   4
                                   Ketsia Liebig        0   3
                                   Kissy Sullivan       0   5
                                   Lynn Daneault        0   0
                                   Michael Albert       0   3
                                   Peter Monroe         0   1
                                   Simon Roup           0   6
                                   Webster Butler       0  10
                 Needs Improvement Alex Sweetwater      0   1
                                   Amy Dunn             0   1
                                   Board of Directors   0   0
                                   Brandon R. LeBlanc   0   0
                                   Brannon Miller       0   0
                                   Brian Champaigne     0   0
                                   David Stanley        0   0
                                   Debra Houlihan       0   0
                                   Elijiah Gray         0   1
                                   Eric Dougall         0   0
                                   Janet King           0   1
                                   Jennifer Zamora      0   0
                                   John Smith           0   0
                                   Kelley Spirea        0   0
                                   Ketsia Liebig        0   1
                                   Kissy Sullivan       0   1
                                   Lynn Daneault        0   0
                                   Michael Albert       0   0
                                   Peter Monroe         0   0
                                   Simon Roup           0   0
                                   Webster Butler       0   1
                 PIP               Alex Sweetwater      0   0
                                   Amy Dunn             0   0
                                   Board of Directors   0   0
                                   Brandon R. LeBlanc   0   0
                                   Brannon Miller       0   3
                                   Brian Champaigne     0   0
                                   David Stanley        0   0
                                   Debra Houlihan       0   0
                                   Elijiah Gray         0   0
                                   Eric Dougall         0   0
                                   Janet King           0   0
                                   Jennifer Zamora      0   0
                                   John Smith           0   0
                                   Kelley Spirea        0   0
                                   Ketsia Liebig        0   0
                                   Kissy Sullivan       0   0
                                   Lynn Daneault        0   0
                                   Michael Albert       0   0
                                   Peter Monroe         0   0
                                   Simon Roup           0   0
                                   Webster Butler       0   0

In [ ]:
#Days_Since_Last_Review  EmpSatisfaction  Department  TerminatedFlag
df.pivot_table(
    index=['ReviewDelayGroup', 'EmpSatisfaction', 'Department'],
    columns='TerminatedFlag',
    values='Employee_Name',
    aggfunc='count',
    fill_value=0,
    observed=False
)

TerminatedFlag                                          0   1
ReviewDelayGroup EmpSatisfaction Department
58 Years        1               Admin Offices          0   0
                                 Executive Office       0   0
                                 IT/IS                  0   0
                                 Production             1   0
                                 Sales                  1   0
                                 Software Engineering   0   0
                 2               Admin Offices          1   0
                                 Executive Office       0   0
                                 IT/IS                  0   0
                                 Production             3   1
                                 Sales                  1   0
                                 Software Engineering   0   0
                 3               Admin Offices          2   0
                                 Executive Office       1   0
                                 IT/IS                 14   2
                                 Production            47   4
                                 Sales                  8   0
                                 Software Engineering   3   1
                 4               Admin Offices          3   0
                                 Executive Office       0   0
                                 IT/IS                 10   0
                                 Production            36   6
                                 Sales                  6   0
                                 Software Engineering   1   0
                 5               Admin Offices          1   0
                                 Executive Office       0   0
                                 IT/IS                 16   0
                                 Production            39   5
                                 Sales                 10   1
                                 Software Engineering   3   0
8+ Years         1               Admin Offices          0   0
                                 Executive Office       0   0
                                 IT/IS                  0   0
                                 Production             0   0
                                 Sales                  0   0
                                 Software Engineering   0   0
                 2               Admin Offices          0   0
                                 Executive Office       0   0
                                 IT/IS                  0   0
                                 Production             0   3
                                 Sales                  0   0
                                 Software Engineering   0   0
                 3               Admin Offices          0   1
                                 Executive Office       0   0
                                 IT/IS                  0   3
                                 Production             0  22
                                 Sales                  0   0
                                 Software Engineering   0   0
                 4               Admin Offices          0   1
                                 Executive Office       0   0
                                 IT/IS                  0   4
                                 Production             0  25
                                 Sales                  0   1
                                 Software Engineering   0   1
                 5               Admin Offices          0   0
                                 Executive Office       0   0
                                 IT/IS                  0   1
                                 Production             0  17
                                 Sales                  0   3
                                 Software Engineering   0   2

In [ ]:
#Days_Since_Last_Review  EngagementSurvey  Department  TerminatedFlag
df.pivot_table(
    index=['ReviewDelayGroup', 'EngagementGroup', 'Department'],
    columns='TerminatedFlag',
    values='Employee_Name',
    aggfunc='count',
    fill_value=0,
    observed=False
)

TerminatedFlag                                              0   1
ReviewDelayGroup EngagementGroup     Department
58 Years        High Engagement     Admin Offices          6   0
                                     Executive Office       1   0
                                     IT/IS                 26   1
                                     Production            85   8
                                     Sales                 15   0
                                     Software Engineering   4   1
                 Low Engagement      Admin Offices          0   0
                                     Executive Office       0   0
                                     IT/IS                  1   0
                                     Production             6   2
                                     Sales                  4   0
                                     Software Engineering   0   0
                 Moderate Engagement Admin Offices          1   0
                                     Executive Office       0   0
                                     IT/IS                 12   1
                                     Production            32   6
                                     Sales                  5   0
                                     Software Engineering   3   0
                 Very Low Engagement Admin Offices          0   0
                                     Executive Office       0   0
                                     IT/IS                  1   0
                                     Production             3   0
                                     Sales                  2   1
                                     Software Engineering   0   0
8+ Years         High Engagement     Admin Offices          0   0
                                     Executive Office       0   0
                                     IT/IS                  0   7
                                     Production             0  43
                                     Sales                  0   2
                                     Software Engineering   0   2
                 Low Engagement      Admin Offices          0   0
                                     Executive Office       0   0
                                     IT/IS                  0   0
                                     Production             0   5
                                     Sales                  0   0
                                     Software Engineering   0   1
                 Moderate Engagement Admin Offices          0   2
                                     Executive Office       0   0
                                     IT/IS                  0   1
                                     Production             0  18
                                     Sales                  0   2
                                     Software Engineering   0   0
                 Very Low Engagement Admin Offices          0   0
                                     Executive Office       0   0
                                     IT/IS                  0   0
                                     Production             0   1
                                     Sales                  0   0
                                     Software Engineering   0   0

In [ ]:
#Days_Since_Last_Review  EmpSatisfaction  ManagerName  TerminatedFlag
df.pivot_table(
    index=['ReviewDelayGroup', 'EmpSatisfaction', 'ManagerName'],
    columns='TerminatedFlag',
    values='Employee_Name',
    aggfunc='count',
    fill_value=0,
    observed=False
)

TerminatedFlag                                       0  1
ReviewDelayGroup EmpSatisfaction ManagerName
58 Years        1               Alex Sweetwater     0  0
                                 Amy Dunn            0  0
                                 Board of Directors  0  0
                                 Brandon R. LeBlanc  0  0
                                 Brannon Miller      0  0
                                 Brian Champaigne    0  0
                                 David Stanley       0  0
                                 Debra Houlihan      0  0
                                 Elijiah Gray        0  0
                                 Eric Dougall        0  0
                                 Janet King          0  0
                                 Jennifer Zamora     0  0
                                 John Smith          1  0
                                 Kelley Spirea       0  0
                                 Ketsia Liebig       0  0
                                 Kissy Sullivan      0  0
                                 Lynn Daneault       0  0
                                 Michael Albert      1  0
                                 Peter Monroe        0  0
                                 Simon Roup          0  0
                                 Webster Butler      0  0
                 2               Alex Sweetwater     0  0
                                 Amy Dunn            1  0
                                 Board of Directors  0  0
                                 Brandon R. LeBlanc  1  0
                                 Brannon Miller      1  0
                                 Brian Champaigne    0  0
                                 David Stanley       0  0
                                 Debra Houlihan      0  0
                                 Elijiah Gray        0  0
                                 Eric Dougall        0  0
                                 Janet King          1  0
                                 Jennifer Zamora     0  0
                                 John Smith          0  0
                                 Kelley Spirea       0  0
                                 Ketsia Liebig       0  0
                                 Kissy Sullivan      0  1
                                 Lynn Daneault       1  0
                                 Michael Albert      0  0
                                 Peter Monroe        0  0
                                 Simon Roup          0  0
                                 Webster Butler      0  0
                 3               Alex Sweetwater     2  1
                                 Amy Dunn            1  0
                                 Board of Directors  2  0
                                 Brandon R. LeBlanc  1  0
                                 Brannon Miller      8  0
                                 Brian Champaigne    3  0
                                 David Stanley       6  0
                                 Debra Houlihan      0  0
                                 Elijiah Gray        5  2
                                 Eric Dougall        2  0
                                 Janet King          5  0
                                 Jennifer Zamora     2  0
                                 John Smith          4  0
                                 Kelley Spirea       9  0
                                 Ketsia Liebig       4  0
                                 Kissy Sullivan      2  2
                                 Lynn Daneault       4  0
                                 Michael Albert      4  0
                                 Peter Monroe        4  0
                                 Simon Roup          4  2
                                 Webster Butler      3  0
                 4               Alex Sweetwater     1  0
                                 Amy Dunn            4  1
                                 Board of Directors  0  0
                                 Brandon R. LeBlanc  2  0
                                 Brannon Miller      4  0
                                 Brian Champaigne    2  0
                                 David Stanley       3  0
                                 Debra Houlihan      2  0
                                 Elijiah Gray        3  0
                                 Eric Dougall        2  0
                                 Janet King          4  0
                                 Jennifer Zamora     0  0
                                 John Smith          2  0
                                 Kelley Spirea       4  1
                                 Ketsia Liebig       6  0
                                 Kissy Sullivan      4  1
                                 Lynn Daneault       1  0
                                 Michael Albert      4  3
                                 Peter Monroe        5  0
                                 Simon Roup          1  0
                                 Webster Butler      2  0
                 5               Alex Sweetwater     3  0
                                 Amy Dunn            2  0
                                 Board of Directors  0  0
                                 Brandon R. LeBlanc  1  0
                                 Brannon Miller      3  0
                                 Brian Champaigne    3  0
                                 David Stanley       6  0
                                 Debra Houlihan      0  0
                                 Elijiah Gray        6  0
                                 Eric Dougall        0  0
                                 Janet King          3  0
                                 Jennifer Zamora     4  0
                                 John Smith          4  0
                                 Kelley Spirea       3  0
                                 Ketsia Liebig       6  0
                                 Kissy Sullivan      4  1
                                 Lynn Daneault       6  1
                                 Michael Albert      4  3
                                 Peter Monroe        4  0
                                 Simon Roup          4  0
                                 Webster Butler      3  1
8+ Years         1               Alex Sweetwater     0  0
                                 Amy Dunn            0  0
                                 Board of Directors  0  0
                                 Brandon R. LeBlanc  0  0
                                 Brannon Miller      0  0
                                 Brian Champaigne    0  0
                                 David Stanley       0  0
                                 Debra Houlihan      0  0
                                 Elijiah Gray        0  0
                                 Eric Dougall        0  0
                                 Janet King          0  0
                                 Jennifer Zamora     0  0
                                 John Smith          0  0
                                 Kelley Spirea       0  0
                                 Ketsia Liebig       0  0
                                 Kissy Sullivan      0  0
                                 Lynn Daneault       0  0
                                 Michael Albert      0  0
                                 Peter Monroe        0  0
                                 Simon Roup          0  0
                                 Webster Butler      0  0
                 2               Alex Sweetwater     0  0
                                 Amy Dunn            0  0
                                 Board of Directors  0  0
                                 Brandon R. LeBlanc  0  0
                                 Brannon Miller      0  2
                                 Brian Champaigne    0  0
                                 David Stanley       0  0
                                 Debra Houlihan      0  0
                                 Elijiah Gray        0  0
                                 Eric Dougall        0  0
                                 Janet King          0  1
                                 Jennifer Zamora     0  0
                                 John Smith          0  0
                                 Kelley Spirea       0  0
                                 Ketsia Liebig       0  0
                                 Kissy Sullivan      0  0
                                 Lynn Daneault       0  0
                                 Michael Albert      0  0
                                 Peter Monroe        0  0
                                 Simon Roup          0  0
                                 Webster Butler      0  0
                 3               Alex Sweetwater     0  0
                                 Amy Dunn            0  5
                                 Board of Directors  0  0
                                 Brandon R. LeBlanc  0  1
                                 Brannon Miller      0  3
                                 Brian Champaigne    0  0
                                 David Stanley       0  1
                                 Debra Houlihan      0  0
                                 Elijiah Gray        0  1
                                 Eric Dougall        0  0
                                 Janet King          0  2
                                 Jennifer Zamora     0  0
                                 John Smith          0  0
                                 Kelley Spirea       0  1
                                 Ketsia Liebig       0  2
                                 Kissy Sullivan      0  4
                                 Lynn Daneault       0  0
                                 Michael Albert      0  0
                                 Peter Monroe        0  1
                                 Simon Roup          0  2
                                 Webster Butler      0  3
                 4               Alex Sweetwater     0  0
                                 Amy Dunn            0  5
                                 Board of Directors  0  0
                                 Brandon R. LeBlanc  0  1
                                 Brannon Miller      0  0
                                 Brian Champaigne    0  0
                                 David Stanley       0  5
                                 Debra Houlihan      0  0
                                 Elijiah Gray        0  4
                                 Eric Dougall        0  0
                                 Janet King          0  2
                                 Jennifer Zamora     0  1
                                 John Smith          0  1
                                 Kelley Spirea       0  1
                                 Ketsia Liebig       0  1
                                 Kissy Sullivan      0  0
                                 Lynn Daneault       0  0
                                 Michael Albert      0  2
                                 Peter Monroe        0  0
                                 Simon Roup          0  3
                                 Webster Butler      0  6
                 5               Alex Sweetwater     0  2
                                 Amy Dunn            0  2
                                 Board of Directors  0  0
                                 Brandon R. LeBlanc  0  0
                                 Brannon Miller      0  1
                                 Brian Champaigne    0  0
                                 David Stanley       0  0
                                 Debra Houlihan      0  1
                                 Elijiah Gray        0  1
                                 Eric Dougall        0  0
                                 Janet King          0  1
                                 Jennifer Zamora     0  0
                                 John Smith          0  2
                                 Kelley Spirea       0  3
                                 Ketsia Liebig       0  2
                                 Kissy Sullivan      0  3
                                 Lynn Daneault       0  0
                                 Michael Albert      0  1
                                 Peter Monroe        0  0
                                 Simon Roup          0  1
                                 Webster Butler      0  3

In [ ]:
#Days_Since_Last_Review  EngagementSurvey  ManagerName  TerminatedFlag
df.pivot_table(
    index=['ReviewDelayGroup', 'EngagementGroup', 'ManagerName'],
    columns='TerminatedFlag',
    values='Employee_Name',
    aggfunc='count',
    fill_value=0,
    observed=False
)

TerminatedFlag                                            0  1
ReviewDelayGroup EngagementGroup     ManagerName
58 Years        High Engagement     Alex Sweetwater      4  1
                                     Amy Dunn             5  0
                                     Board of Directors   2  0
                                     Brandon R. LeBlanc   4  0
                                     Brannon Miller      10  0
                                     Brian Champaigne     5  0
                                     David Stanley        9  0
                                     Debra Houlihan       1  0
                                     Elijiah Gray        10  0
                                     Eric Dougall         4  0
                                     Janet King          10  0
                                     Jennifer Zamora      3  0
                                     John Smith           5  0
                                     Kelley Spirea       14  1
                                     Ketsia Liebig       10  0
                                     Kissy Sullivan       7  3
                                     Lynn Daneault        8  0
                                     Michael Albert       8  4
                                     Peter Monroe         8  0
                                     Simon Roup           5  1
                                     Webster Butler       5  0
                 Low Engagement      Alex Sweetwater      0  0
                                     Amy Dunn             0  0
                                     Board of Directors   0  0
                                     Brandon R. LeBlanc   0  0
                                     Brannon Miller       1  0
                                     Brian Champaigne     0  0
                                     David Stanley        1  0
                                     Debra Houlihan       1  0
                                     Elijiah Gray         1  1
                                     Eric Dougall         0  0
                                     Janet King           0  0
                                     Jennifer Zamora      1  0
                                     John Smith           2  0
                                     Kelley Spirea        1  0
                                     Ketsia Liebig        1  0
                                     Kissy Sullivan       0  1
                                     Lynn Daneault        1  0
                                     Michael Albert       1  0
                                     Peter Monroe         0  0
                                     Simon Roup           0  0
                                     Webster Butler       0  0
                 Moderate Engagement Alex Sweetwater      2  0
                                     Amy Dunn             1  1
                                     Board of Directors   0  0
                                     Brandon R. LeBlanc   1  0
                                     Brannon Miller       5  0
                                     Brian Champaigne     3  0
                                     David Stanley        5  0
                                     Debra Houlihan       0  0
                                     Elijiah Gray         3  1
                                     Eric Dougall         0  0
                                     Janet King           3  0
                                     Jennifer Zamora      2  0
                                     John Smith           3  0
                                     Kelley Spirea        1  0
                                     Ketsia Liebig        5  0
                                     Kissy Sullivan       3  1
                                     Lynn Daneault        2  0
                                     Michael Albert       3  2
                                     Peter Monroe         4  0
                                     Simon Roup           4  1
                                     Webster Butler       3  1
                 Very Low Engagement Alex Sweetwater      0  0
                                     Amy Dunn             2  0
                                     Board of Directors   0  0
                                     Brandon R. LeBlanc   0  0
                                     Brannon Miller       0  0
                                     Brian Champaigne     0  0
                                     David Stanley        0  0
                                     Debra Houlihan       0  0
                                     Elijiah Gray         0  0
                                     Eric Dougall         0  0
                                     Janet King           0  0
                                     Jennifer Zamora      0  0
                                     John Smith           1  0
                                     Kelley Spirea        0  0
                                     Ketsia Liebig        0  0
                                     Kissy Sullivan       0  0
                                     Lynn Daneault        1  1
                                     Michael Albert       1  0
                                     Peter Monroe         1  0
                                     Simon Roup           0  0
                                     Webster Butler       0  0
8+ Years         High Engagement     Alex Sweetwater      0  1
                                     Amy Dunn             0  6
                                     Board of Directors   0  0
                                     Brandon R. LeBlanc   0  0
                                     Brannon Miller       0  3
                                     Brian Champaigne     0  0
                                     David Stanley        0  5
                                     Debra Houlihan       0  1
                                     Elijiah Gray         0  3
                                     Eric Dougall         0  0
                                     Janet King           0  4
                                     Jennifer Zamora      0  1
                                     John Smith           0  1
                                     Kelley Spirea        0  5
                                     Ketsia Liebig        0  2
                                     Kissy Sullivan       0  5
                                     Lynn Daneault        0  0
                                     Michael Albert       0  2
                                     Peter Monroe         0  1
                                     Simon Roup           0  5
                                     Webster Butler       0  9
                 Low Engagement      Alex Sweetwater      0  1
                                     Amy Dunn             0  1
                                     Board of Directors   0  0
                                     Brandon R. LeBlanc   0  0
                                     Brannon Miller       0  2
                                     Brian Champaigne     0  0
                                     David Stanley        0  0
                                     Debra Houlihan       0  0
                                     Elijiah Gray         0  1
                                     Eric Dougall         0  0
                                     Janet King           0  1
                                     Jennifer Zamora      0  0
                                     John Smith           0  0
                                     Kelley Spirea        0  0
                                     Ketsia Liebig        0  0
                                     Kissy Sullivan       0  0
                                     Lynn Daneault        0  0
                                     Michael Albert       0  0
                                     Peter Monroe         0  0
                                     Simon Roup           0  0
                                     Webster Butler       0  0
                 Moderate Engagement Alex Sweetwater      0  0
                                     Amy Dunn             0  5
                                     Board of Directors   0  0
                                     Brandon R. LeBlanc   0  2
                                     Brannon Miller       0  1
                                     Brian Champaigne     0  0
                                     David Stanley        0  1
                                     Debra Houlihan       0  0
                                     Elijiah Gray         0  2
                                     Eric Dougall         0  0
                                     Janet King           0  1
                                     Jennifer Zamora      0  0
                                     John Smith           0  2
                                     Kelley Spirea        0  0
                                     Ketsia Liebig        0  3
                                     Kissy Sullivan       0  1
                                     Lynn Daneault        0  0
                                     Michael Albert       0  1
                                     Peter Monroe         0  0
                                     Simon Roup           0  1
                                     Webster Butler       0  3
                 Very Low Engagement Alex Sweetwater      0  0
                                     Amy Dunn             0  0
                                     Board of Directors   0  0
                                     Brandon R. LeBlanc   0  0
                                     Brannon Miller       0  0
                                     Brian Champaigne     0  0
                                     David Stanley        0  0
                                     Debra Houlihan       0  0
                                     Elijiah Gray         0  0
                                     Eric Dougall         0  0
                                     Janet King           0  0
                                     Jennifer Zamora      0  0
                                     John Smith           0  0
                                     Kelley Spirea        0  0
                                     Ketsia Liebig        0  0
                                     Kissy Sullivan       0  1
                                     Lynn Daneault        0  0
                                     Michael Albert       0  0
                                     Peter Monroe         0  0
                                     Simon Roup           0  0
                                     Webster Butler       0  0

In [ ]:
#Days_Since_Last_Review  EmpSatisfaction  EngagementSurvey  TerminatedFlag
df.pivot_table(
    index=['ReviewDelayGroup', 'EmpSatisfaction', 'EngagementGroup'],
    columns='TerminatedFlag',
    values='Employee_Name',
    aggfunc='count',
    fill_value=0,
    observed=False
)

TerminatedFlag                                         0   1
ReviewDelayGroup EmpSatisfaction EngagementGroup
58 Years        1               High Engagement       0   0
                                 Low Engagement        2   0
                                 Moderate Engagement   0   0
                                 Very Low Engagement   0   0
                 2               High Engagement       2   0
                                 Low Engagement        1   1
                                 Moderate Engagement   0   0
                                 Very Low Engagement   2   0
                 3               High Engagement      45   4
                                 Low Engagement        3   1
                                 Moderate Engagement  24   2
                                 Very Low Engagement   3   0
                 4               High Engagement      43   3
                                 Low Engagement        2   0
                                 Moderate Engagement  11   3
                                 Very Low Engagement   0   0
                 5               High Engagement      47   3
                                 Low Engagement        3   0
                                 Moderate Engagement  18   2
                                 Very Low Engagement   1   1
8+ Years         1               High Engagement       0   0
                                 Low Engagement        0   0
                                 Moderate Engagement   0   0
                                 Very Low Engagement   0   0
                 2               High Engagement       0   0
                                 Low Engagement        0   2
                                 Moderate Engagement   0   1
                                 Very Low Engagement   0   0
                 3               High Engagement       0  15
                                 Low Engagement        0   2
                                 Moderate Engagement   0   8
                                 Very Low Engagement   0   1
                 4               High Engagement       0  23
                                 Low Engagement        0   0
                                 Moderate Engagement   0   9
                                 Very Low Engagement   0   0
                 5               High Engagement       0  16
                                 Low Engagement        0   2
                                 Moderate Engagement   0   5
                                 Very Low Engagement   0   0

In [ ]:
#Days_Since_Last_Review  EmploymentStatus  PerformanceScore  TerminatedFlag
df.pivot_table(
    index=['ReviewDelayGroup', 'EmploymentStatus', 'PerformanceScore'],
    columns='TerminatedFlag',
    values='Employee_Name',
    aggfunc='count',
    fill_value=0,
    observed=False
)

TerminatedFlag                                               0   1
ReviewDelayGroup EmploymentStatus       PerformanceScore
58 Years        Active                 Exceeds             29   0
                                        Fully Meets        162   0
                                        Needs Improvement    8   0
                                        PIP                  8   0
                 Terminated for Cause   Exceeds              0   0
                                        Fully Meets          0   2
                                        Needs Improvement    0   2
                                        PIP                  0   2
                 Voluntarily Terminated Exceeds              0   1
                                        Fully Meets          0  12
                                        Needs Improvement    0   1
                                        PIP                  0   0
8+ Years         Active                 Exceeds              0   0
                                        Fully Meets          0   0
                                        Needs Improvement    0   0
                                        PIP                  0   0
                 Terminated for Cause   Exceeds              0   1
                                        Fully Meets          0   6
                                        Needs Improvement    0   3
                                        PIP                  0   0
                 Voluntarily Terminated Exceeds              0   6
                                        Fully Meets          0  61
                                        Needs Improvement    0   4
                                        PIP                  0   3

In [ ]:
#Days_Since_Last_Review  TenureGroup  PerformanceScore  TerminatedFlag
df.pivot_table(
    index=['ReviewDelayGroup', 'TenureGroup', 'PerformanceScore'],
    columns='TerminatedFlag',
    values='Employee_Name',
    aggfunc='count',
    fill_value=0,
    observed=False
)

TerminatedFlag                                    0   1
ReviewDelayGroup TenureGroup PerformanceScore
58 Years        0-2 yrs     Exceeds              0   0
                             Fully Meets          0   0
                             Needs Improvement    0   0
                             PIP                  0   0
                 10-15 yrs   Exceeds             24   0
                             Fully Meets        112   0
                             Needs Improvement    7   0
                             PIP                  6   0
                 15-20 yrs   Exceeds              2   0
                             Fully Meets          6   0
                             Needs Improvement    0   0
                             PIP                  0   0
                 2-5 yrs     Exceeds              0   0
                             Fully Meets          0   3
                             Needs Improvement    0   1
                             PIP                  0   2
                 5-10 yrs    Exceeds              3   1
                             Fully Meets         44  11
                             Needs Improvement    1   2
                             PIP                  2   0
8+ Years         0-2 yrs     Exceeds              0   1
                             Fully Meets          0  26
                             Needs Improvement    0   1
                             PIP                  0   1
                 10-15 yrs   Exceeds              0   0
                             Fully Meets          0   0
                             Needs Improvement    0   0
                             PIP                  0   0
                 15-20 yrs   Exceeds              0   0
                             Fully Meets          0   0
                             Needs Improvement    0   0
                             PIP                  0   0
                 2-5 yrs     Exceeds              0   6
                             Fully Meets          0  32
                             Needs Improvement    0   4
                             PIP                  0   1
                 5-10 yrs    Exceeds              0   0
                             Fully Meets          0   9
                             Needs Improvement    0   2
                             PIP                  0   1

In [ ]:
#Days_Since_Last_Review  Department  TenureGroup  TerminatedFlag
df.pivot_table(
    index=['ReviewDelayGroup', 'Department', 'TenureGroup'],
    columns='TerminatedFlag',
    values='Employee_Name',
    aggfunc='count',
    fill_value=0,
    observed=False
)

TerminatedFlag                                       0   1
ReviewDelayGroup Department           TenureGroup
58 Years        Admin Offices        0-2 yrs        0   0
                                      10-15 yrs      2   0
                                      15-20 yrs      2   0
                                      2-5 yrs        0   0
                                      5-10 yrs       3   0
                 Executive Office     0-2 yrs        0   0
                                      10-15 yrs      1   0
                                      15-20 yrs      0   0
                                      2-5 yrs        0   0
                                      5-10 yrs       0   0
                 IT/IS                0-2 yrs        0   0
                                      10-15 yrs     15   0
                                      15-20 yrs      0   0
                                      2-5 yrs        0   2
                                      5-10 yrs      25   0
                 Production           0-2 yrs        0   0
                                      10-15 yrs    102   0
                                      15-20 yrs      5   0
                                      2-5 yrs        0   3
                                      5-10 yrs      19  13
                 Sales                0-2 yrs        0   0
                                      10-15 yrs     22   0
                                      15-20 yrs      1   0
                                      2-5 yrs        0   1
                                      5-10 yrs       3   0
                 Software Engineering 0-2 yrs        0   0
                                      10-15 yrs      7   0
                                      15-20 yrs      0   0
                                      2-5 yrs        0   0
                                      5-10 yrs       0   1
8+ Years         Admin Offices        0-2 yrs        0   2
                                      10-15 yrs      0   0
                                      15-20 yrs      0   0
                                      2-5 yrs        0   0
                                      5-10 yrs       0   0
                 Executive Office     0-2 yrs        0   0
                                      10-15 yrs      0   0
                                      15-20 yrs      0   0
                                      2-5 yrs        0   0
                                      5-10 yrs       0   0
                 IT/IS                0-2 yrs        0   6
                                      10-15 yrs      0   0
                                      15-20 yrs      0   0
                                      2-5 yrs        0   2
                                      5-10 yrs       0   0
                 Production           0-2 yrs        0  20
                                      10-15 yrs      0   0
                                      15-20 yrs      0   0
                                      2-5 yrs        0  35
                                      5-10 yrs       0  12
                 Sales                0-2 yrs        0   1
                                      10-15 yrs      0   0
                                      15-20 yrs      0   0
                                      2-5 yrs        0   3
                                      5-10 yrs       0   0
                 Software Engineering 0-2 yrs        0   0
                                      10-15 yrs      0   0
                                      15-20 yrs      0   0
                                      2-5 yrs        0   3
                                      5-10 yrs       0   0

In [ ]:
#Days_Since_Last_Review x TermReason
df.pivot_table(
    index=['ReviewDelayGroup', 'TermReason'],
    columns='TerminatedFlag',
    values='Employee_Name',
    aggfunc='count',
    fill_value=0,
    observed=False
)

TerminatedFlag                                       0   1
ReviewDelayGroup TermReason
58 Years        Another position                    0   5
                 Fatal attraction                    0   1
                 Learned that he is a gangster       0   0
                 N/A-StillEmployed                 207   0
                 attendance                          0   2
                 career change                       0   1
                 gross misconduct                    0   0
                 hours                               0   1
                 maternity leave - did not return    0   0
                 medical issues                      0   1
                 military                            0   1
                 more money                          0   2
                 no-call, no-show                    0   2
                 performance                         0   1
                 relocation out of area              0   1
                 retiring                            0   0
                 return to school                    0   1
                 unhappy                             0   1
8+ Years         Another position                    0  15
                 Fatal attraction                    0   0
                 Learned that he is a gangster       0   1
                 N/A-StillEmployed                   0   0
                 attendance                          0   5
                 career change                       0   8
                 gross misconduct                    0   1
                 hours                               0   7
                 maternity leave - did not return    0   3
                 medical issues                      0   2
                 military                            0   3
                 more money                          0   9
                 no-call, no-show                    0   2
                 performance                         0   3
                 relocation out of area              0   4
                 retiring                            0   4
                 return to school                    0   4
                 unhappy                             0  13

In [ ]:
#Create variable Team_Size_Group
def categorize_team_size(x):
    if x <= 5:
        return "Small (15)"
    elif x <= 12:
        return "Medium (612)"
    else:
        return "Large (1322)"

df['Team_Size_Group'] = df['Team_Size'].apply(categorize_team_size)

In [ ]:
#Team_Size  PerformanceScore  EmpSatisfaction  TerminatedFlag
df.pivot_table(
    index=['Team_Size_Group', 'PerformanceScore', 'EmpSatisfaction'],
    columns='TerminatedFlag',
    values='Employee_Name',
    aggfunc='count',
    fill_value=0,
    observed=False
)

TerminatedFlag                                      0   1
Team_Size_Group PerformanceScore  EmpSatisfaction
Large (1322)   Exceeds           3                10   1
                                  4                 7   3
                                  5                 8   3
                Fully Meets       3                49  25
                                  4                38  31
                                  5                48  20
                Needs Improvement 2                 1   1
                                  3                 2   4
                                  4                 2   2
                                  5                 1   2
                PIP               1                 2   0
                                  2                 3   3
                                  3                 2   1
                                  5                 1   1
Medium (612)   Exceeds           5                 3   1
                Fully Meets       2                 1   0
                                  3                 7   2
                                  4                 5   2
                                  5                 8   0
                Needs Improvement 3                 1   0
                                  5                 0   1
Small (15)     Exceeds           4                 1   0
                Fully Meets       3                 4   0
                                  4                 2   0
                                  5                 0   1
                Needs Improvement 4                 1   0

In [ ]:
#Team_Size  PerformanceScore  Department  TerminatedFlag
df.pivot_table(
    index=['Team_Size_Group', 'PerformanceScore', 'Department'],
    columns='TerminatedFlag',
    values='Employee_Name',
    aggfunc='count',
    fill_value=0,
    observed=False
)

TerminatedFlag                                           0   1
Team_Size_Group PerformanceScore  Department
Large (1322)   Exceeds           IT/IS                  3   0
                                  Production            20   7
                                  Sales                  2   0
                Fully Meets       Admin Offices          1   0
                                  IT/IS                 19   9
                                  Production            96  63
                                  Sales                 19   3
                                  Software Engineering   0   1
                Needs Improvement Production             6   9
                PIP               IT/IS                  1   0
                                  Production             4   4
                                  Sales                  3   1
Medium (612)   Exceeds           IT/IS                  2   0
                                  Software Engineering   1   1
                Fully Meets       Admin Offices          5   2
                                  IT/IS                 10   1
                                  Software Engineering   6   1
                Needs Improvement IT/IS                  1   0
                                  Software Engineering   0   1
Small (15)     Exceeds           IT/IS                  1   0
                Fully Meets       Admin Offices          1   0
                                  Executive Office       1   0
                                  IT/IS                  3   0
                                  Sales                  1   1
                Needs Improvement Sales                  1   0

In [ ]:
#Team_Size  Department  EmpSatisfaction  TerminatedFlag
df.pivot_table(
    index=['Team_Size_Group', 'Department', 'EmpSatisfaction'],
    columns='TerminatedFlag',
    values='Employee_Name',
    aggfunc='count',
    fill_value=0,
    observed=False
)

TerminatedFlag                                         0   1
Team_Size_Group Department           EmpSatisfaction
Large (1322)   Admin Offices        4                 1   0
                IT/IS                3                 8   5
                                     4                 6   3
                                     5                 9   1
                Production           1                 1   0
                                     2                 3   4
                                     3                47  26
                                     4                36  31
                                     5                39  22
                Sales                1                 1   0
                                     2                 1   0
                                     3                 8   0
                                     4                 4   1
                                     5                10   3
                Software Engineering 4                 0   1
Medium (612)   Admin Offices        2                 1   0
                                     3                 1   1
                                     4                 2   1
                                     5                 1   0
                IT/IS                3                 4   0
                                     4                 2   1
                                     5                 7   0
                Software Engineering 3                 3   1
                                     4                 1   0
                                     5                 3   2
Small (15)     Admin Offices        3                 1   0
                Executive Office     3                 1   0
                IT/IS                3                 2   0
                                     4                 2   0
                Sales                4                 2   0
                                     5                 0   1

In [ ]:
#Team_Size  TenureGroup  EmpSatisfaction  TerminatedFlag
df.pivot_table(
    index=['Team_Size_Group', 'TenureGroup', 'EmpSatisfaction'],
    columns='TerminatedFlag',
    values='Employee_Name',
    aggfunc='count',
    fill_value=0,
    observed=False
)

TerminatedFlag                                0   1
Team_Size_Group TenureGroup EmpSatisfaction
Large (1322)   0-2 yrs     2                 0   1
                            3                 0  12
                            4                 0   8
                            5                 0   6
                10-15 yrs   1                 2   0
                            2                 4   0
                            3                45   0
                            4                35   0
                            5                43   0
                15-20 yrs   3                 3   0
                            4                 1   0
                            5                 2   0
                2-5 yrs     2                 0   2
                            3                 0  13
                            4                 0  15
                            5                 0  15
                5-10 yrs    2                 0   1
                            3                15   6
                            4                11  13
                            5                13   5
Medium (612)   0-2 yrs     3                 0   1
                            4                 0   1
                10-15 yrs   3                 4   0
                            4                 2   0
                            5                 7   0
                15-20 yrs   2                 1   0
                2-5 yrs     4                 0   1
                            5                 0   2
                5-10 yrs    3                 4   1
                            4                 3   0
                            5                 4   0
Small (15)     10-15 yrs   3                 3   0
                            4                 4   0
                15-20 yrs   3                 1   0
                2-5 yrs     5                 0   1

In [ ]:
#Team_Size  EngagementSurvey  Department  TerminatedFlag
df.pivot_table(
    index=['Team_Size_Group', 'EngagementGroup', 'Department'],
    columns='TerminatedFlag',
    values='Employee_Name',
    aggfunc='count',
    fill_value=0,
    observed=False
)

TerminatedFlag                                             0   1
Team_Size_Group EngagementGroup     Department
Large (1322)   High Engagement     Admin Offices          1   0
                                    IT/IS                 14   7
                                    Production            85  51
                                    Sales                 14   1
                                    Software Engineering   0   1
                Low Engagement      Production             6   7
                                    Sales                  3   0
                Moderate Engagement IT/IS                  8   2
                                    Production            32  24
                                    Sales                  5   2
                Very Low Engagement IT/IS                  1   0
                                    Production             3   1
                                    Sales                  2   1
Medium (612)   High Engagement     Admin Offices          4   0
                                    IT/IS                  8   1
                                    Software Engineering   4   2
                Low Engagement      IT/IS                  1   0
                                    Software Engineering   0   1
                Moderate Engagement Admin Offices          1   2
                                    IT/IS                  4   0
                                    Software Engineering   3   0
Small (15)     High Engagement     Admin Offices          1   0
                                    Executive Office       1   0
                                    IT/IS                  4   0
                                    Sales                  1   1
                Low Engagement      Sales                  1   0

In [ ]:
#Team_Size  EmploymentStatus  EmpSatisfaction  TerminatedFlag
df.pivot_table(
    index=['Team_Size_Group', 'EmploymentStatus', 'EmpSatisfaction'],
    columns='TerminatedFlag',
    values='Employee_Name',
    aggfunc='count',
    fill_value=0,
    observed=False
)

TerminatedFlag                                           0   1
Team_Size_Group EmploymentStatus       EmpSatisfaction
Large (1322)   Active                 1                 2   0
                                       2                 4   0
                                       3                63   0
                                       4                47   0
                                       5                58   0
                Terminated for Cause   2                 0   1
                                       3                 0   4
                                       4                 0   6
                                       5                 0   3
                Voluntarily Terminated 2                 0   3
                                       3                 0  27
                                       4                 0  30
                                       5                 0  23
Medium (612)   Active                 2                 1   0
                                       3                 8   0
                                       4                 5   0
                                       5                11   0
                Terminated for Cause   3                 0   1
                                       5                 0   1
                Voluntarily Terminated 3                 0   1
                                       4                 0   2
                                       5                 0   1
Small (15)     Active                 3                 4   0
                                       4                 4   0
                Voluntarily Terminated 5                 0   1

In [ ]:
#Team_Size  RecruitmentSource  EmpSatisfaction  TerminatedFlag
df.pivot_table(
    index=['Team_Size_Group', 'RecruitmentSource', 'EmpSatisfaction'],
    columns='TerminatedFlag',
    values='Employee_Name',
    aggfunc='count',
    fill_value=0,
    observed=False
)

TerminatedFlag                                            0   1
Team_Size_Group RecruitmentSource       EmpSatisfaction
Large (1322)   CareerBuilder           2                 1   0
                                        3                 6   4
                                        4                 3   5
                                        5                 1   2
                Diversity Job Fair      3                 2   4
                                        4                 4   7
                                        5                 2   1
                Employee Referral       3                10   2
                                        4                 7   2
                                        5                 9   1
                Google Search           2                 0   1
                                        3                 5   8
                                        4                 6   9
                                        5                 6  11
                Indeed                  1                 1   0
                                        2                 2   1
                                        3                17   5
                                        4                10   7
                                        5                18   6
                LinkedIn                2                 0   2
                                        3                20   7
                                        4                14   5
                                        5                20   4
                On-line Web application 5                 0   1
                Other                   4                 0   1
                Website                 1                 1   0
                                        2                 1   0
                                        3                 3   1
                                        4                 3   0
                                        5                 2   0
Medium (612)   CareerBuilder           5                 1   0
                Diversity Job Fair      2                 1   0
                                        3                 1   1
                                        4                 1   2
                                        5                 0   1
                Google Search           3                 1   0
                                        5                 1   0
                Indeed                  3                 4   1
                                        4                 3   0
                                        5                 8   1
                LinkedIn                3                 1   0
                                        5                 1   0
                Website                 3                 1   0
                                        4                 1   0
Small (15)     Diversity Job Fair      4                 2   0
                Google Search           5                 0   1
                Indeed                  3                 2   0
                                        4                 1   0
                LinkedIn                3                 1   0
                                        4                 1   0
                Other                   3                 1   0

In [ ]:
#Team_Size  Age  TenureGroup  TerminatedFlag
df.pivot_table(
    index=['Team_Size_Group', 'AgeGroup', 'TenureGroup'],
    columns='TerminatedFlag',
    values='Employee_Name',
    aggfunc='count',
    fill_value=0,
    observed=False
)

TerminatedFlag                         0   1
Team_Size_Group AgeGroup TenureGroup
Large (1322)   3039    0-2 yrs       0  11
                         10-15 yrs    39   0
                         15-20 yrs     1   0
                         2-5 yrs       0  11
                         5-10 yrs     20   9
                4049    0-2 yrs       0   8
                         10-15 yrs    58   0
                         15-20 yrs     3   0
                         2-5 yrs       0  16
                         5-10 yrs     15   9
                5059    0-2 yrs       0   6
                         10-15 yrs    24   0
                         15-20 yrs     2   0
                         2-5 yrs       0  14
                         5-10 yrs      4   5
                60+      0-2 yrs       0   2
                         10-15 yrs     8   0
                         2-5 yrs       0   4
                         5-10 yrs      0   2
Medium (612)   3039    0-2 yrs       0   2
                         10-15 yrs     6   0
                         15-20 yrs     1   0
                         2-5 yrs       0   1
                         5-10 yrs      5   0
                4049    10-15 yrs     4   0
                         2-5 yrs       0   1
                         5-10 yrs      3   1
                5059    10-15 yrs     3   0
                         5-10 yrs      3   0
                60+      2-5 yrs       0   1
Small (15)     3039    10-15 yrs     4   0
                         2-5 yrs       0   1
                4049    15-20 yrs     1   0
                5059    10-15 yrs     2   0
                60+      10-15 yrs     1   0

In [ ]:
#Team_Size  Salary  PerformanceScore  TerminatedFlag
df.groupby(['Team_Size_Group', 'PerformanceScore', 'TerminatedFlag'])['Salary'].agg(
    Count='count',
    Avg_Salary20='mean',
    Min_Salary20='min',
    Max_Salary20='max',
    Median_Salary20='median'
).reset_index()

,Team_Size_Group,PerformanceScore,TerminatedFlag,Count,Avg_Salary20,Min_Salary20,Max_Salary20,Median_Salary20
0,Large (1322),Exceeds,0,25,75610.640000,46738,220450,63322.0
1,Large (1322),Exceeds,1,7,56207.571429,46837,70507,57954.0
2,Large (1322),Fully Meets,0,135,64134.562963,45046,180000,61809.0
3,Large (1322),Fully Meets,1,76,65374.855263,45115,120000,61845.5
4,Large (1322),Needs Improvement,0,6,59985.166667,47750,68051,62304.5
5,Large (1322),Needs Improvement,1,9,60239.222222,50274,83082,59144.0
6,Large (1322),PIP,0,8,58819.000000,53189,64057,58752.0
7,Large (1322),PIP,1,5,59214.400000,48513,70187,55800.0
8,Medium (612),Exceeds,0,3,136625.666667,92989,178000,138888.0
9,Medium (612),Exceeds,1,1,108987.000000,108987,108987,108987.0
10,Medium (612),Fully Meets,0,21,92717.428571,51920,150290,93396.0
11,Medium (612),Fully Meets,1,4,88583.750000,49920,148999,77708.0
12,Medium (612),Needs Improvement,0,1,157000.000000,157000,157000,157000.0
13,Medium (612),Needs Improvement,1,1,99280.000000,99280,99280,99280.0
14,Small (15),Exceeds,0,1,51777.000000,51777,51777,51777.0
15,Small (15),Fully Meets,0,6,102676.333333,65707,250000,67635.5
16,Small (15),Fully Meets,1,1,68999.000000,68999,68999,68999.0
17,Small (15),Needs Improvement,0,1,72992.000000,72992,72992,72992.0

In [ ]:
#Team_Size  PerformanceScore  Department  TerminatedFlag
df.pivot_table(
    index=['Team_Size_Group', 'PerformanceScore', 'Department'],
    columns='TerminatedFlag',
    values='Employee_Name',
    aggfunc='count',
    fill_value=0,
    observed=False
)

TerminatedFlag                                           0   1
Team_Size_Group PerformanceScore  Department
Large (1322)   Exceeds           IT/IS                  3   0
                                  Production            20   7
                                  Sales                  2   0
                Fully Meets       Admin Offices          1   0
                                  IT/IS                 19   9
                                  Production            96  63
                                  Sales                 19   3
                                  Software Engineering   0   1
                Needs Improvement Production             6   9
                PIP               IT/IS                  1   0
                                  Production             4   4
                                  Sales                  3   1
Medium (612)   Exceeds           IT/IS                  2   0
                                  Software Engineering   1   1
                Fully Meets       Admin Offices          5   2
                                  IT/IS                 10   1
                                  Software Engineering   6   1
                Needs Improvement IT/IS                  1   0
                                  Software Engineering   0   1
Small (15)     Exceeds           IT/IS                  1   0
                Fully Meets       Admin Offices          1   0
                                  Executive Office       1   0
                                  IT/IS                  3   0
                                  Sales                  1   1
                Needs Improvement Sales                  1   0

In [ ]:
#Team_Size x TermReason
df.pivot_table(
    index=['Team_Size_Group', 'TermReason'],
    columns='TerminatedFlag',
    values='Employee_Name',
    aggfunc='count',
    fill_value=0,
    observed=False
)

TerminatedFlag                                      0   1
Team_Size_Group TermReason
Large (1322)   Another position                    0  19
                Fatal attraction                    0   1
                Learned that he is a gangster       0   1
                N/A-StillEmployed                 174   0
                attendance                          0   6
                career change                       0   8
                gross misconduct                    0   1
                hours                               0   7
                maternity leave - did not return    0   2
                medical issues                      0   2
                military                            0   4
                more money                          0  11
                no-call, no-show                    0   3
                performance                         0   4
                relocation out of area              0   5
                retiring                            0   4
                return to school                    0   5
                unhappy                             0  14
Medium (612)   Another position                    0   1
                N/A-StillEmployed                  25   0
                attendance                          0   1
                career change                       0   1
                hours                               0   1
                medical issues                      0   1
                no-call, no-show                    0   1
Small (15)     N/A-StillEmployed                   8   0
                maternity leave - did not return    0   1

In [ ]:
#Dowload the dataset
from google.colab import files
df.to_csv('Human_Resource.csv', index=False)
files.download('Human_Resource.csv')