# ***Upload and Load dataset***

In [ ]:
#Upload the google drive
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
#Load the dataset
import pandas as pd
df = pd.read_csv('/content/drive/MyDrive/UM-Internship/HRDataset.csv')

# ***Data Cleaning***

In [ ]:
#Display basic information about the dataset
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 311 entries, 0 to 310
Data columns (total 36 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Employee_Name               311 non-null    object
 1   EmpID                       311 non-null    int64
 2   MarriedID                   311 non-null    int64
 3   MaritalStatusID             311 non-null    int64
 4   GenderID                    311 non-null    int64
 5   EmpStatusID                 311 non-null    int64
 6   DeptID                      311 non-null    int64
 7   PerfScoreID                 311 non-null    int64
 8   FromDiversityJobFairID      311 non-null    int64
 9   Salary                      311 non-null    int64
 10  Termd                       311 non-null    int64
 11  PositionID                  311 non-null    int64
 12  Position                    311 non-null    object
 13  State                       311 non-null    object
 14  Zip                         311 non-null    int64
 15  DOB                         311 non-null    object
 16  Sex                         311 non-null    object
 17  MaritalDesc                 311 non-null    object
 18  CitizenDesc                 311 non-null    object
 19  HispanicLatino              311 non-null    object
 20  RaceDesc                    311 non-null    object
 21  DateofHire                  311 non-null    object
 22  DateofTermination           104 non-null    object
 23  TermReason                  311 non-null    object
 24  EmploymentStatus            311 non-null    object
 25  Department                  311 non-null    object
 26  ManagerName                 311 non-null    object
 27  ManagerID                   303 non-null    float64
 28  RecruitmentSource           311 non-null    object
 29  PerformanceScore            311 non-null    object
 30  EngagementSurvey            311 non-null    float64
 31  EmpSatisfaction             311 non-null    int64
 32  SpecialProjectsCount        311 non-null    int64
 33  LastPerformanceReview_Date  311 non-null    object
 34  DaysLateLast30              311 non-null    int64
 35  Absences                    311 non-null    int64
dtypes: float64(2), int64(16), object(18)
memory usage: 87.6+ KB

In [ ]:
#Identify missing values
df.isnull().sum()

Employee_Name                   0
EmpID                           0
MarriedID                       0
MaritalStatusID                 0
GenderID                        0
EmpStatusID                     0
DeptID                          0
PerfScoreID                     0
FromDiversityJobFairID          0
Salary                          0
Termd                           0
PositionID                      0
Position                        0
State                           0
Zip                             0
DOB                             0
Sex                             0
MaritalDesc                     0
CitizenDesc                     0
HispanicLatino                  0
RaceDesc                        0
DateofHire                      0
DateofTermination             207
TermReason                      0
EmploymentStatus                0
Department                      0
ManagerName                     0
ManagerID                       8
RecruitmentSource               0
PerformanceScore                0
EngagementSurvey                0
EmpSatisfaction                 0
SpecialProjectsCount            0
LastPerformanceReview_Date      0
DaysLateLast30                  0
Absences                        0
dtype: int64

In [ ]:
#Identify Duplicate rows
df.duplicated().sum()

np.int64(0)

In [ ]:
#Drop columns
cols_to_drop = [
    'EmpID', 'MarriedID', 'MaritalStatusID', 'GenderID',
    'EmpStatusID', 'DeptID', 'PerfScoreID', 'Termd',
    'PositionID', 'ManagerID', 'Zip', 'FromDiversityJobFairID',
    'CitizenDesc', 'HispanicLatino', 'RaceDesc'
]

df = df.drop(columns=cols_to_drop)

In [ ]:
#Change datatype
df['DOB'] = pd.to_datetime(df['DOB'], format='%m/%d/%y')
df['DOB'] = df['DOB'].mask(df['DOB'] > '2005-01-01', df['DOB'] - pd.DateOffset(years=100))

df['DateofHire'] = pd.to_datetime(df['DateofHire'], format='%m/%d/%Y')

df['DateofTermination'] = pd.to_datetime(
    df['DateofTermination'],
    format='%m/%d/%Y',
    errors='coerce'
)

df['LastPerformanceReview_Date'] = pd.to_datetime(
    df['LastPerformanceReview_Date'],
    format='%m/%d/%Y',
    errors='coerce'
)

In [ ]:
# Create variable age
today = pd.to_datetime('2025-01-01')
df['Age'] = (today - df['DOB']).dt.days // 365

In [ ]:
#Create variable TerminatedFlag
df['TerminatedFlag'] = df['DateofTermination'].notna().astype(int)

In [ ]:
# Create employee tenure
df['Tenure_Years'] = (
    df['DateofTermination'].fillna(today) - df['DateofHire']
).dt.days / 365

In [ ]:
#Create Days_Since_Last_Review variable
df['Days_Since_Last_Review'] = (today - df['LastPerformanceReview_Date']).dt.days

In [ ]:
#Create Team_Size variable
df['Team_Size'] = df.groupby('ManagerName')['Employee_Name'].transform('count')

In [ ]:
#Season of Hire
def season(x):
    m = x.month
    if m in [12,1,2]: return 'Winter'
    if m in [3,4,5]: return 'Spring'
    if m in [6,7,8]: return 'Summer'
    return 'Autumn'

df['Hire_Season'] = df['DateofHire'].apply(season)
print(df['Hire_Season'].head())

0    Summer
1    Spring
2    Summer
3    Winter
4    Summer
Name: Hire_Season, dtype: object

# ***Data Understanding***

In [ ]:
#Download the cleaned dataset file
df.to_csv('HRDataset_cleaned.csv', index=False)

In [ ]:
from google.colab import files
files.download('HRDataset_cleaned.csv')

In [ ]:
#Display final dataset
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 311 entries, 0 to 310
Data columns (total 27 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Employee_Name               311 non-null    object
 1   Salary                      311 non-null    int64
 2   Position                    311 non-null    object
 3   State                       311 non-null    object
 4   DOB                         311 non-null    datetime64[ns]
 5   Sex                         311 non-null    object
 6   MaritalDesc                 311 non-null    object
 7   DateofHire                  311 non-null    datetime64[ns]
 8   DateofTermination           104 non-null    datetime64[ns]
 9   TermReason                  311 non-null    object
 10  EmploymentStatus            311 non-null    object
 11  Department                  311 non-null    object
 12  ManagerName                 311 non-null    object
 13  RecruitmentSource           311 non-null    object
 14  PerformanceScore            311 non-null    object
 15  EngagementSurvey            311 non-null    float64
 16  EmpSatisfaction             311 non-null    int64
 17  SpecialProjectsCount        311 non-null    int64
 18  LastPerformanceReview_Date  311 non-null    datetime64[ns]
 19  DaysLateLast30              311 non-null    int64
 20  Absences                    311 non-null    int64
 21  Age                         311 non-null    int64
 22  TerminatedFlag              311 non-null    int64
 23  Tenure_Years                311 non-null    float64
 24  Days_Since_Last_Review      311 non-null    int64
 25  Team_Size                   311 non-null    int64
 26  Hire_Season                 311 non-null    object
dtypes: datetime64[ns](4), float64(2), int64(9), object(12)
memory usage: 65.7+ KB

In [ ]:
#Display summary statistics (numerical)
numeric_cols = [
    'Salary',
    'EngagementSurvey',
    'EmpSatisfaction',
    'SpecialProjectsCount',
    'DaysLateLast30',
    'Absences',
    'Age',
    'TerminatedFlag',
    'Tenure_Years',
    'Days_Since_Last_Review',
    'Team_Size'
]

df[numeric_cols].describe()

,Salary,EngagementSurvey,EmpSatisfaction,SpecialProjectsCount,DaysLateLast30,Absences,Age,TerminatedFlag,Tenure_Years,Days_Since_Last_Review,Team_Size
count,311.000000,311.000000,311.000000,311.000000,311.000000,311.000000,311.000000,311.000000,311.000000,311.000000,311.000000
mean,69020.684887,4.110000,3.890675,1.218650,0.414791,10.237942,45.446945,0.334405,8.719103,2669.112540,18.221865
std,25156.636930,0.789938,0.909241,2.349421,1.294519,5.852596,8.899959,0.472542,4.219209,827.612978,5.237486
min,45046.000000,1.120000,1.000000,0.000000,0.000000,1.000000,32.000000,0.000000,0.071233,2134.000000,2.000000
25%,55501.500000,3.690000,3.000000,0.000000,0.000000,5.000000,38.000000,0.000000,4.965753,2158.000000,14.000000
50%,62810.000000,4.280000,4.000000,0.000000,0.000000,10.000000,44.000000,0.000000,10.150685,2177.000000,21.000000
75%,72036.000000,4.700000,5.000000,0.000000,0.000000,15.000000,51.000000,1.000000,11.493151,3209.500000,22.000000
max,250000.000000,5.000000,5.000000,8.000000,6.000000,20.000000,74.000000,1.000000,18.991781,5285.000000,22.000000

In [ ]:
#Display summary statistics (Categorical)
categorical_cols = [
    'Position', 'State', 'Sex', 'MaritalDesc',
    'Department', 'ManagerName', 'RecruitmentSource', 'PerformanceScore',
    'Hire_Season'
]

df[categorical_cols].describe().transpose()

                  count unique                      top freq
Position            311     32  Production Technician I  137
State               311     28                       MA  276
Sex                 311      2                        F  176
MaritalDesc         311      5                   Single  137
Department          311      6        Production         209
ManagerName         311     21           Michael Albert   22
RecruitmentSource   311      9                   Indeed   87
PerformanceScore    311      4              Fully Meets  243
Hire_Season         311      4                   Winter   86

In [ ]:
#Display all rows and columns
pd.set_option('display.max_rows', None)
pd.set_option('display.max_columns', None)

# ***Statistical Validation***

In [ ]:
#Chi-test
import pandas as pd
from scipy.stats import chi2_contingency
from itertools import combinations

cat_cols = df.select_dtypes(include=['object']).columns.tolist()

def chi_square_test(df, col1, col2):
    table = pd.crosstab(df[col1], df[col2])

    if table.shape[0] < 2 or table.shape[1] < 2:
        return None

    chi2, p, dof, expected = chi2_contingency(table)
    return p

results = []

for col1, col2 in combinations(cat_cols, 2):
    p_value = chi_square_test(df, col1, col2)

    if p_value is not None:
        results.append([col1, col2, p_value])

chi_df = pd.DataFrame(results, columns=['Variable 1', 'Variable 2', 'p-value'])

significant_chi = chi_df[chi_df['p-value'] < 0.05].sort_values('p-value')
significant_chi

          Variable 1         Variable 2        p-value
17          Position        ManagerName   0.000000e+00
16          Position         Department  2.002489e-229
56        Department        ManagerName  1.586280e-202
45        TermReason   EmploymentStatus  1.299847e-101
25             State         Department   4.736785e-14
26             State        ManagerName   9.468476e-12
60       ManagerName  RecruitmentSource   1.618008e-11
57        Department  RecruitmentSource   1.348631e-08
53  EmploymentStatus  RecruitmentSource   9.920013e-06
18          Position  RecruitmentSource   7.013064e-05
14          Position         TermReason   8.362054e-05
54  EmploymentStatus   PerformanceScore   1.949861e-04
15          Position   EmploymentStatus   1.943025e-03
49        TermReason   PerformanceScore   2.003057e-03
52  EmploymentStatus        ManagerName   3.916869e-03
48        TermReason  RecruitmentSource   7.949677e-03
39       MaritalDesc   EmploymentStatus   9.887131e-03
42       MaritalDesc  RecruitmentSource   1.670987e-02
59        Department        Hire_Season   2.061938e-02
51  EmploymentStatus         Department   2.167004e-02

In [ ]:
#ANOVA test
import pandas as pd
import scipy.stats as stats

numeric_cols = [
    'Salary', 'EngagementSurvey', 'EmpSatisfaction',
    'SpecialProjectsCount', 'DaysLateLast30', 'Absences',
    'Age', 'Tenure_Years', 'Days_Since_Last_Review', 'Team_Size'
]

categorical_cols = df.select_dtypes(include=['object']).columns.tolist()

def run_clean_anova(df, cat_col, num_col):
    valid_groups = []

    for level in df[cat_col].dropna().unique():
        group = df[df[cat_col] == level][num_col].dropna()

        if len(group) >= 2 and group.var() > 0:
            valid_groups.append(group)

    if len(valid_groups) < 2:
        return None

    try:
        f_stat, p_val = stats.f_oneway(*valid_groups)
        return p_val
    except:
        return None

anova_results = []

for cat in categorical_cols:
    for num in numeric_cols:
        p = run_clean_anova(df, cat, num)
        if p is not None:
            anova_results.append([cat, num, p])

anova_df = pd.DataFrame(anova_results, columns=['Categorical_Var', 'Numeric_Var', 'p-value'])
significant_anova = anova_df[anova_df['p-value'] < 0.05].sort_values('p-value')
significant_anova

       Categorical_Var             Numeric_Var        p-value
63          Department    SpecialProjectsCount  3.835128e-163
9             Position               Team_Size  8.925870e-126
93    PerformanceScore          DaysLateLast30  5.744323e-114
0             Position                  Salary  2.034359e-107
3             Position    SpecialProjectsCount  8.338050e-106
57    EmploymentStatus            Tenure_Years  1.216967e-102
69          Department               Team_Size   1.873112e-99
58    EmploymentStatus  Days_Since_Last_Review   8.556718e-97
47          TermReason            Tenure_Years   2.591518e-89
48          TermReason  Days_Since_Last_Review   2.104359e-86
70         ManagerName                  Salary   2.048682e-48
73         ManagerName    SpecialProjectsCount   7.307515e-42
90    PerformanceScore        EngagementSurvey   3.394920e-34
60          Department                  Salary   8.301632e-32
91    PerformanceScore         EmpSatisfaction   1.049776e-07
54    EmploymentStatus          DaysLateLast30   5.056694e-07
88   RecruitmentSource               Team_Size   1.555029e-06
87   RecruitmentSource  Days_Since_Last_Review   1.874803e-06
19               State               Team_Size   2.350733e-05
44          TermReason          DaysLateLast30   4.366764e-05
59    EmploymentStatus               Team_Size   4.173769e-04
82   RecruitmentSource    SpecialProjectsCount   1.429069e-03
13               State    SpecialProjectsCount   1.431591e-03
38         MaritalDesc  Days_Since_Last_Review   2.517809e-03
53    EmploymentStatus    SpecialProjectsCount   2.636144e-03
77         ManagerName            Tenure_Years   3.043892e-03
102        Hire_Season    SpecialProjectsCount   3.102780e-03
37         MaritalDesc            Tenure_Years   3.468485e-03
79   RecruitmentSource                  Salary   4.295491e-03
7             Position            Tenure_Years   7.019632e-03
16               State                     Age   7.214384e-03
8             Position  Days_Since_Last_Review   1.021554e-02
68          Department  Days_Since_Last_Review   2.073340e-02
51    EmploymentStatus        EngagementSurvey   2.326668e-02
104        Hire_Season                Absences   3.263759e-02
78         ManagerName  Days_Since_Last_Review   3.349646e-02
49          TermReason               Team_Size   3.771934e-02
86   RecruitmentSource            Tenure_Years   4.381557e-02
99         Hire_Season                  Salary   4.394763e-02

In [ ]:
#Tukey Post - Hoc
significant_pairs = significant_anova[['Categorical_Var', 'Numeric_Var']].values.tolist()

from statsmodels.stats.multicomp import pairwise_tukeyhsd
import numpy as np

def get_valid_groups(df, cat, num):
    groups = []
    labels = []

    for level in df[cat].dropna().unique():
        group_data = df.loc[df[cat] == level, num].dropna()

        if len(group_data) >= 2 and group_data.var() > 0:
            groups.append(group_data)
            labels.append(np.repeat(level, len(group_data)))

    if len(groups) < 2:
        return None, None

    data = pd.concat(groups)
    labels = np.concatenate(labels)

    return data, labels

tukey_results = {}

for cat, num in significant_pairs:
    data, labels = get_valid_groups(df, cat, num)

    if data is None:
        continue

    try:
        tukey = pairwise_tukeyhsd(endog=data, groups=labels, alpha=0.05)
        tukey_results[(cat, num)] = tukey
    except Exception as e:
        pass

significant_tukey_only = {}

for (cat, num), tukey in tukey_results.items():
    df_tukey = pd.DataFrame(
        data=tukey._results_table.data[1:],
        columns=tukey._results_table.data[0]
    )

    df_sig = df_tukey[df_tukey['reject'] == True]

    if not df_sig.empty:
        significant_tukey_only[(cat, num)] = df_sig

for (cat, num), df_sig in significant_tukey_only.items():
    print("\n" + "="*100)
    print(f"Significant Tukey Results  {cat}  {num}")
    print("="*100)
    print(df_sig)

====================================================================================================
Significant Tukey Results  Department  SpecialProjectsCount
====================================================================================================
              group1                group2  meandiff  p-adj   lower   upper  \
0      Admin Offices                 IT/IS    2.2533    0.0  1.6689  2.8378
1      Admin Offices     Production          -3.6475    0.0 -4.1970 -3.0980
3              IT/IS     Production          -5.9009    0.0 -6.1550 -5.6467
4              IT/IS  Software Engineering   -1.7382    0.0 -2.2757 -1.2006
5  Production         Software Engineering    4.1627    0.0  3.6634  4.6620

   reject
0    True
1    True
3    True
4    True
5    True

====================================================================================================
Significant Tukey Results  Position  Team_Size
====================================================================================================
                      group1                    group2  meandiff   p-adj  \
0         Area Sales Manager                IT Support   -4.5185  0.0000
1         Area Sales Manager   Production Technician I    8.0435  0.0000
2         Area Sales Manager  Production Technician II    8.0604  0.0000
3         Area Sales Manager         Software Engineer   -3.5185  0.0000
4         Area Sales Manager            Sr. Accountant   -9.0185  0.0000
5                 IT Support   Production Technician I   12.5620  0.0000
6                 IT Support  Production Technician II   12.5789  0.0000
8                 IT Support            Sr. Accountant   -4.5000  0.0001
10   Production Technician I         Software Engineer  -11.5620  0.0000
11   Production Technician I            Sr. Accountant  -17.0620  0.0000
12  Production Technician II         Software Engineer  -11.5789  0.0000
13  Production Technician II            Sr. Accountant  -17.0789  0.0000
14         Software Engineer            Sr. Accountant   -5.5000  0.0000

      lower    upper  reject
0   -5.9438  -3.0932    True
1    7.2980   8.7891    True
2    7.2332   8.8877    True
3   -4.8293  -2.2077    True
4  -11.6134  -6.4237    True
5   11.2741  13.8500    True
6   11.2421  13.9158    True
8   -7.2993  -1.7007    True
10 -12.7219 -10.4022    True
11 -19.5840 -14.5401    True
12 -12.7929 -10.3650    True
13 -19.6263 -14.5316    True
14  -8.2427  -2.7573    True

====================================================================================================
Significant Tukey Results  PerformanceScore  DaysLateLast30
====================================================================================================
              group1             group2  meandiff   p-adj   lower   upper  \
0        Fully Meets  Needs Improvement    3.7572  0.0000  3.4548  4.0596
1        Fully Meets                PIP    4.2871  0.0000  3.9347  4.6395
2  Needs Improvement                PIP    0.5299  0.0164  0.0793  0.9805

   reject
0    True
1    True
2    True

====================================================================================================
Significant Tukey Results  Position  Salary
====================================================================================================
                       group1                    group2    meandiff   p-adj  \
2                Accountant I              BI Developer  31957.3333  0.0000
3                Accountant I              Data Analyst  26424.9048  0.0000
4                Accountant I    Database Administrator  44991.9333  0.0000
5                Accountant I           IT Manager - DB  81451.8333  0.0000
12               Accountant I       Senior BI Developer  21295.0000  0.0049
13               Accountant I         Software Engineer  33211.5333  0.0000
14               Accountant I            Sr. Accountant  39351.3333  0.0000
15               Accountant I                   Sr. DBA  38726.3333  0.0000
16               Accountant I      Sr. Network Engineer  29563.1333  0.0000
18   Administrative Assistant              BI Developer  43185.0000  0.0000
19   Administrative Assistant              Data Analyst  37652.5714  0.0000
20   Administrative Assistant    Database Administrator  56219.6000  0.0000
21   Administrative Assistant           IT Manager - DB  92679.5000  0.0000
24   Administrative Assistant        Production Manager  23014.5000  0.0000
28   Administrative Assistant       Senior BI Developer  32522.6667  0.0000
29   Administrative Assistant         Software Engineer  44439.2000  0.0000
30   Administrative Assistant            Sr. Accountant  50579.0000  0.0000
31   Administrative Assistant                   Sr. DBA  49954.0000  0.0000
32   Administrative Assistant      Sr. Network Engineer  40790.8000  0.0000
33         Area Sales Manager              BI Developer  30532.4444  0.0000
34         Area Sales Manager              Data Analyst  25000.0159  0.0000
35         Area Sales Manager    Database Administrator  43567.0444  0.0000
36         Area Sales Manager           IT Manager - DB  80026.9444  0.0000
39         Area Sales Manager        Production Manager  10361.9444  0.0001
40         Area Sales Manager   Production Technician I  -9408.3804  0.0000
43         Area Sales Manager       Senior BI Developer  19870.1111  0.0000
44         Area Sales Manager         Software Engineer  31786.6444  0.0000
45         Area Sales Manager            Sr. Accountant  37926.4444  0.0000
46         Area Sales Manager                   Sr. DBA  37301.4444  0.0000
47         Area Sales Manager      Sr. Network Engineer  28138.2444  0.0000
50               BI Developer           IT Manager - DB  49494.5000  0.0000
51               BI Developer                IT Support -31780.6250  0.0000
52               BI Developer          Network Engineer -33860.0000  0.0000
53               BI Developer        Production Manager -20170.5000  0.0000
54               BI Developer   Production Technician I -39940.8248  0.0000
55               BI Developer  Production Technician II -30572.7895  0.0000
56               BI Developer             Sales Manager -26225.0000  0.0000
62               Data Analyst    Database Administrator  18567.0286  0.0001
63               Data Analyst           IT Manager - DB  55026.9286  0.0000
64               Data Analyst                IT Support -26248.1964  0.0000
65               Data Analyst          Network Engineer -28327.5714  0.0000
66               Data Analyst        Production Manager -14638.0714  0.0001
67               Data Analyst   Production Technician I -34408.3962  0.0000
68               Data Analyst  Production Technician II -25040.3609  0.0000
69               Data Analyst             Sales Manager -20692.5714  0.0003
75     Database Administrator           IT Manager - DB  36459.9000  0.0000
76     Database Administrator                IT Support -44815.2250  0.0000
77     Database Administrator          Network Engineer -46894.6000  0.0000
78     Database Administrator        Production Manager -33205.1000  0.0000
79     Database Administrator   Production Technician I -52975.4248  0.0000
80     Database Administrator  Production Technician II -43607.3895  0.0000
81     Database Administrator             Sales Manager -39259.6000  0.0000
82     Database Administrator       Senior BI Developer -23696.9333  0.0001
86     Database Administrator      Sr. Network Engineer -15428.8000  0.0134
87            IT Manager - DB                IT Support -81275.1250  0.0000
88            IT Manager - DB          Network Engineer -83354.5000  0.0000
89            IT Manager - DB        Production Manager -69665.0000  0.0000
90            IT Manager - DB   Production Technician I -89435.3248  0.0000
91            IT Manager - DB  Production Technician II -80067.2895  0.0000
92            IT Manager - DB             Sales Manager -75719.5000  0.0000
93            IT Manager - DB       Senior BI Developer -60156.8333  0.0000
94            IT Manager - DB         Software Engineer -48240.3000  0.0000
95            IT Manager - DB            Sr. Accountant -42100.5000  0.0000
96            IT Manager - DB                   Sr. DBA -42725.5000  0.0000
97            IT Manager - DB      Sr. Network Engineer -51888.7000  0.0000
99                 IT Support        Production Manager  11610.1250  0.0045
100                IT Support   Production Technician I  -8160.1998  0.0392
103                IT Support       Senior BI Developer  21118.2917  0.0001
104                IT Support         Software Engineer  33034.8250  0.0000
105                IT Support            Sr. Accountant  39174.6250  0.0000
106                IT Support                   Sr. DBA  38549.6250  0.0000
107                IT Support      Sr. Network Engineer  29386.4250  0.0000
108          Network Engineer        Production Manager  13689.5000  0.0043
112          Network Engineer       Senior BI Developer  23197.6667  0.0001
113          Network Engineer         Software Engineer  35114.2000  0.0000
114          Network Engineer            Sr. Accountant  41254.0000  0.0000
115          Network Engineer                   Sr. DBA  40629.0000  0.0000
116          Network Engineer      Sr. Network Engineer  31465.8000  0.0000
117        Production Manager   Production Technician I -19770.3248  0.0000
118        Production Manager  Production Technician II -10402.2895  0.0000
121        Production Manager         Software Engineer  21424.7000  0.0000
122        Production Manager            Sr. Accountant  27564.5000  0.0000
123        Production Manager                   Sr. DBA  26939.5000  0.0000
124        Production Manager      Sr. Network Engineer  17776.3000  0.0000
125   Production Technician I  Production Technician II   9368.0353  0.0000
126   Production Technician I             Sales Manager  13715.8248  0.0222
127   Production Technician I       Senior BI Developer  29278.4915  0.0000
128   Production Technician I         Software Engineer  41195.0248  0.0000
129   Production Technician I            Sr. Accountant  47334.8248  0.0000
130   Production Technician I                   Sr. DBA  46709.8248  0.0000
131   Production Technician I      Sr. Network Engineer  37546.6248  0.0000
133  Production Technician II       Senior BI Developer  19910.4561  0.0000
134  Production Technician II         Software Engineer  31826.9895  0.0000
135  Production Technician II            Sr. Accountant  37966.7895  0.0000
136  Production Technician II                   Sr. DBA  37341.7895  0.0000
137  Production Technician II      Sr. Network Engineer  28178.5895  0.0000
139             Sales Manager         Software Engineer  27479.2000  0.0000
140             Sales Manager            Sr. Accountant  33619.0000  0.0000
141             Sales Manager                   Sr. DBA  32994.0000  0.0000
142             Sales Manager      Sr. Network Engineer  23830.8000  0.0000

           lower        upper  reject
2     15188.3495   48726.3172    True
3     11273.9954   41575.8142    True
4     28957.7180   61026.1487    True
5     61409.0641  101494.6025    True
12     3368.2022   39221.7978    True
13    18758.4869   47664.5798    True
14    19308.5641   59394.1025    True
15    18683.5641   58769.1025    True
16    13528.9180   45597.3487    True
18    26416.0162   59953.9838    True
19    22501.6620   52803.4808    True
20    40185.3846   72253.8154    True
21    72636.7308  112722.2692    True
24     9046.0517   36982.9483    True
28    14595.8689   50449.4644    True
29    29986.1536   58892.2464    True
30    30536.2308   70621.7692    True
31    29911.2308   69996.7692    True
32    24756.5846   56825.0154    True
33    18769.4655   42295.4233    True
34    15687.7170   34312.3147    True
35    32877.5675   54256.5214    True
36    63937.1510   96116.7379    True
39     3131.0108   17592.8781    True
40   -14031.4252   -4785.3355    True
43     6508.2650   33231.9573    True
44    23658.9507   39914.3381    True
45    21836.6510   54016.2379    True
46    21211.6510   53391.2379    True
47    17448.7675   38827.7214    True
50    30480.2596   68508.7404    True
51   -45225.7233  -18335.5267    True
52   -48588.3673  -19131.6327    True
53   -32618.2423   -7722.7577    True
54   -51077.8096  -28803.8400    True
55   -41929.3244  -19216.2545    True
56   -42993.9838   -9456.0162    True
62     5711.0556   31423.0015    True
63    37423.1626   72630.6945    True
64   -37611.3785  -14885.0144    True
65   -41183.5444  -15471.5985    True
66   -24801.6104   -4474.5324    True
67   -42916.2554  -25900.5371    True
68   -33833.6609  -16247.0609    True
69   -35843.4808   -5541.6620    True
75    18090.3986   54829.4014    True
76   -57331.9304  -32298.5196    True
77   -60780.6378  -33008.5622    True
78   -44643.7858  -21766.4142    True
79   -62971.9079  -42978.9417    True
80   -53847.9037  -33366.8753    True
81   -55293.8154  -23225.3846    True
82   -39731.1487   -7662.7180    True
86   -29314.8378   -1542.7622    True
87   -98632.6723  -63917.5777    True
88  -101724.0014  -64984.9986    True
89   -86261.9897  -53068.0103    True
90  -105073.2981  -73797.3515    True
91   -95862.3731  -64272.2059    True
92   -95762.2692  -55676.7308    True
93   -80199.6025  -40114.0641    True
94   -65247.1536  -31233.4464    True
95   -64056.2536  -20144.7464    True
96   -64681.2536  -20769.7464    True
97   -70258.2014  -33519.1986    True
99     1879.2772   21340.9728    True
100  -16146.1588    -174.2409    True
103    6254.1762   35982.4071    True
104   22620.2966   43449.3534    True
105   21817.0777   56532.1723    True
106   21192.0777   55907.1723    True
107   16869.7196   41903.1304    True
108    2250.8142   25128.1858    True
112    7163.4513   39231.8820    True
113   23088.5385   47139.8615    True
114   22884.4986   59623.5014    True
115   22259.4986   58998.5014    True
116   17579.7622   45351.8378    True
117  -25930.7760  -13609.8736    True
118  -16951.3059   -3853.2731    True
121   12334.1544   30515.2456    True
122   10967.5103   44161.4897    True
123   10342.5103   43536.4897    True
124    6337.6142   29214.9858    True
125    5907.4346   12828.6361    True
126     901.6261   26530.0236    True
127   16464.2927   42092.6902    True
128   34003.0736   48386.9760    True
129   31696.8515   62972.7981    True
130   31071.8515   62347.7981    True
131   27550.1417   47543.1079    True
133    6904.9901   32915.9222    True
134   24299.5318   39354.4471    True
135   22171.7059   53761.8731    True
136   21546.7059   53136.8731    True
137   17938.0753   38419.1037    True
139   13026.1536   41932.2464    True
140   13576.2308   53661.7692    True
141   12951.2308   53036.7692    True
142    7796.5846   39865.0154    True

====================================================================================================
Significant Tukey Results  Position  SpecialProjectsCount
====================================================================================================
                      group1                   group2  meandiff   p-adj  \
7               Accountant I  Production Technician I   -4.9708  0.0000
10              Accountant I           Sr. Accountant   -2.5000  0.0016
12  Administrative Assistant             BI Developer    1.6667  0.0363
13  Administrative Assistant             Data Analyst    1.5238  0.0320
15  Administrative Assistant          IT Manager - DB    2.1667  0.0135
17  Administrative Assistant         Network Engineer    1.6667  0.0220
18  Administrative Assistant  Production Technician I   -4.3041  0.0000
19  Administrative Assistant      Senior BI Developer    2.3333  0.0007
22  Administrative Assistant     Sr. Network Engineer    1.8667  0.0048
28              BI Developer  Production Technician I   -5.9708  0.0000
30              BI Developer        Software Engineer   -1.9000  0.0001
31              BI Developer           Sr. Accountant   -3.5000  0.0000
37              Data Analyst  Production Technician I   -5.8279  0.0000
39              Data Analyst        Software Engineer   -1.7571  0.0000
40              Data Analyst           Sr. Accountant   -3.3571  0.0000
45    Database Administrator  Production Technician I   -5.3708  0.0000
47    Database Administrator        Software Engineer   -1.3000  0.0135
48    Database Administrator           Sr. Accountant   -2.9000  0.0000
52           IT Manager - DB  Production Technician I   -6.4708  0.0000
54           IT Manager - DB        Software Engineer   -2.4000  0.0001
55           IT Manager - DB           Sr. Accountant   -4.0000  0.0000
58                IT Support  Production Technician I   -5.5958  0.0000
60                IT Support        Software Engineer   -1.5250  0.0001
61                IT Support           Sr. Accountant   -3.1250  0.0000
63          Network Engineer  Production Technician I   -5.9708  0.0000
65          Network Engineer        Software Engineer   -1.9000  0.0000
66          Network Engineer           Sr. Accountant   -3.5000  0.0000
68   Production Technician I      Senior BI Developer    6.6375  0.0000
69   Production Technician I        Software Engineer    4.0708  0.0000
70   Production Technician I           Sr. Accountant    2.4708  0.0000
71   Production Technician I     Sr. Network Engineer    6.1708  0.0000
72       Senior BI Developer        Software Engineer   -2.5667  0.0000
73       Senior BI Developer           Sr. Accountant   -4.1667  0.0000
76         Software Engineer     Sr. Network Engineer    2.1000  0.0000
77            Sr. Accountant     Sr. Network Engineer    3.7000  0.0000

     lower   upper  reject
7  -6.2055 -3.7361    True
10 -4.4311 -0.5689    True
12  0.0510  3.2824    True
13  0.0640  2.9836    True
15  0.2355  4.0978    True
17  0.1218  3.2116    True
18 -5.5388 -3.0695    True
19  0.6061  4.0606    True
22  0.3218  3.4116    True
28 -7.0439 -4.8977    True
30 -3.1515 -0.6485    True
31 -5.3320 -1.6680    True
37 -6.6477 -5.0082    True
39 -2.7997 -0.7146    True
40 -5.0533 -1.6610    True
45 -6.3340 -4.4076    True
47 -2.4587 -0.1413    True
48 -4.6699 -1.1301    True
52 -7.9775 -4.9641    True
54 -4.0386 -0.7614    True
55 -6.1155 -1.8845    True
58 -6.3653 -4.8263    True
60 -2.5285 -0.5215    True
61 -4.7974 -1.4526    True
63 -6.9340 -5.0076    True
65 -3.0587 -0.7413    True
66 -5.2699 -1.7301    True
68  5.4028  7.8721    True
69  3.3778  4.7638    True
70  0.9641  3.9775    True
71  5.2076  7.1340    True
72 -3.9592 -1.1741    True
73 -6.0978 -2.2355    True
76  0.9413  3.2587    True
77  1.9301  5.4699    True

====================================================================================================
Significant Tukey Results  EmploymentStatus  Tenure_Years
====================================================================================================
   group1                  group2  meandiff  p-adj   lower   upper  reject
0  Active    Terminated for Cause   -8.0154    0.0 -9.2229 -6.8080    True
1  Active  Voluntarily Terminated   -7.8744    0.0 -8.4666 -7.2823    True

====================================================================================================
Significant Tukey Results  Department  Team_Size
====================================================================================================
              group1                group2  meandiff   p-adj    lower  \
0      Admin Offices                 IT/IS    4.7422  0.0000   2.3294
1      Admin Offices     Production          13.6050  0.0000  11.3365
2      Admin Offices                 Sales    4.8996  0.0000   2.3766
4              IT/IS     Production           8.8628  0.0000   7.8137
6              IT/IS  Software Engineering   -2.7927  0.0057  -5.0119
7  Production                        Sales   -8.7054  0.0000  -9.9878
8  Production         Software Engineering  -11.6555  0.0000 -13.7168

In [ ]:
#ANOVA Two way
import statsmodels.api as sm
from statsmodels.formula.api import ols
import pandas as pd
import itertools
import warnings

warnings.filterwarnings("ignore", category=RuntimeWarning)
warnings.filterwarnings("ignore", category=UserWarning)

num_cols = df.select_dtypes(include=['int64', 'float64']).columns
cat_cols = df.select_dtypes(include=['object']).columns

cat_cols_filtered = []
for c in cat_cols:
    if 2 <= df[c].nunique() <= 10:
        if df[c].value_counts().min() >= 5:
            cat_cols_filtered.append(c)

print("Using categorical variables:", cat_cols_filtered)

significant_results = []

print("\nRunning Two-Way ANOVA automatically...\n")

for num in num_cols:
    for cat1, cat2 in itertools.combinations(cat_cols_filtered, 2):

        formula = f"{num} ~ C({cat1}) + C({cat2}) + C({cat1}):C({cat2})"

        try:
            model = ols(formula, data=df).fit()
            anova = sm.stats.anova_lm(model, typ=2)

            p1 = anova.loc[f"C({cat1})", "PR(>F)"]
            p2 = anova.loc[f"C({cat2})", "PR(>F)"]
            p_int = anova.loc[f"C({cat1}):C({cat2})", "PR(>F)"]

            if p1 < 0.05 or p2 < 0.05 or p_int < 0.05:
                significant_results.append({
                    "Numeric Variable": num,
                    "Factor 1": cat1,
                    "Factor 2": cat2,
                    "p(Factor1)": p1,
                    "p(Factor2)": p2,
                    "p(Interaction)": p_int
                })

        except Exception as e:
            continue

if significant_results:
    print("SIGNIFICANT TWO-WAY ANOVA RESULTS:\n")
    for r in significant_results:
        print(f"{r['Numeric Variable']} ~ {r['Factor 1']} + {r['Factor 2']}")
        print(f"  p({r['Factor 1']}): {r['p(Factor1)']:.5f}")
        print(f"  p({r['Factor 2']}): {r['p(Factor2)']:.5f}")
        print(f"  p(Interaction): {r['p(Interaction)']:.5f}")
        print("-" * 60)
else:
    print("No significant Two-Way ANOVA results found.")

Using categorical variables: ['Sex', 'MaritalDesc', 'EmploymentStatus', 'PerformanceScore', 'Hire_Season']

Running Two-Way ANOVA automatically...

SIGNIFICANT TWO-WAY ANOVA RESULTS:

Salary ~ Sex + Hire_Season
  p(Sex): 0.35661
  p(Hire_Season): 0.04473
  p(Interaction): 0.06161
------------------------------------------------------------
Salary ~ MaritalDesc + PerformanceScore
  p(MaritalDesc): 0.33004
  p(PerformanceScore): 0.64157
  p(Interaction): 0.00540
------------------------------------------------------------
Salary ~ MaritalDesc + Hire_Season
  p(MaritalDesc): 0.54714
  p(Hire_Season): 0.01879
  p(Interaction): 0.95304
------------------------------------------------------------
Salary ~ EmploymentStatus + Hire_Season
  p(EmploymentStatus): 0.06485
  p(Hire_Season): 0.04506
  p(Interaction): 0.94113
------------------------------------------------------------
Salary ~ PerformanceScore + Hire_Season
  p(PerformanceScore): 0.10736
  p(Hire_Season): 0.04701
  p(Interaction): 0.14921
------------------------------------------------------------
EngagementSurvey ~ Sex + EmploymentStatus
  p(Sex): 0.52644
  p(EmploymentStatus): 0.02231
  p(Interaction): 0.03308
------------------------------------------------------------
EngagementSurvey ~ Sex + PerformanceScore
  p(Sex): 0.76227
  p(PerformanceScore): 0.00000
  p(Interaction): 0.02244
------------------------------------------------------------
EngagementSurvey ~ MaritalDesc + PerformanceScore
  p(MaritalDesc): 0.08585
  p(PerformanceScore): 0.00000
  p(Interaction): 0.00000
------------------------------------------------------------
EngagementSurvey ~ EmploymentStatus + PerformanceScore
  p(EmploymentStatus): 0.52126
  p(PerformanceScore): 0.00000
  p(Interaction): 0.29273
------------------------------------------------------------
EngagementSurvey ~ EmploymentStatus + Hire_Season
  p(EmploymentStatus): 0.01611
  p(Hire_Season): 0.32745
  p(Interaction): 0.53286
------------------------------------------------------------
EngagementSurvey ~ PerformanceScore + Hire_Season
  p(PerformanceScore): 0.00000
  p(Hire_Season): 0.44717
  p(Interaction): 0.00000
------------------------------------------------------------
EmpSatisfaction ~ Sex + PerformanceScore
  p(Sex): 0.71987
  p(PerformanceScore): 0.00000
  p(Interaction): 0.00587
------------------------------------------------------------
EmpSatisfaction ~ MaritalDesc + PerformanceScore
  p(MaritalDesc): 0.03915
  p(PerformanceScore): 0.05371
  p(Interaction): 0.00000
------------------------------------------------------------
EmpSatisfaction ~ MaritalDesc + Hire_Season
  p(MaritalDesc): 0.11252
  p(Hire_Season): 0.87407
  p(Interaction): 0.02730
------------------------------------------------------------
EmpSatisfaction ~ EmploymentStatus + PerformanceScore
  p(EmploymentStatus): 0.79596
  p(PerformanceScore): 0.00000
  p(Interaction): 0.60779
------------------------------------------------------------
EmpSatisfaction ~ PerformanceScore + Hire_Season
  p(PerformanceScore): 0.00000
  p(Hire_Season): 0.81004
  p(Interaction): 0.09629
------------------------------------------------------------
SpecialProjectsCount ~ Sex + EmploymentStatus
  p(Sex): 0.13470
  p(EmploymentStatus): 0.00288
  p(Interaction): 0.76169
------------------------------------------------------------
SpecialProjectsCount ~ Sex + Hire_Season
  p(Sex): 0.08823
  p(Hire_Season): 0.00242
  p(Interaction): 0.41935
------------------------------------------------------------
SpecialProjectsCount ~ MaritalDesc + EmploymentStatus
  p(MaritalDesc): 0.32738
  p(EmploymentStatus): 0.00341
  p(Interaction): 0.92391
------------------------------------------------------------
SpecialProjectsCount ~ MaritalDesc + Hire_Season
  p(MaritalDesc): 0.49054
  p(Hire_Season): 0.01191
  p(Interaction): 0.18606
------------------------------------------------------------
SpecialProjectsCount ~ EmploymentStatus + PerformanceScore
  p(EmploymentStatus): 0.00124
  p(PerformanceScore): 0.19266
  p(Interaction): 0.70932
------------------------------------------------------------
SpecialProjectsCount ~ EmploymentStatus + Hire_Season
  p(EmploymentStatus): 0.00160
  p(Hire_Season): 0.00193
  p(Interaction): 0.70641
------------------------------------------------------------
SpecialProjectsCount ~ PerformanceScore + Hire_Season
  p(PerformanceScore): 0.39712
  p(Hire_Season): 0.00454
  p(Interaction): 0.93504
------------------------------------------------------------
DaysLateLast30 ~ Sex + EmploymentStatus
  p(Sex): 0.13963
  p(EmploymentStatus): 0.00000
  p(Interaction): 0.85086
------------------------------------------------------------
DaysLateLast30 ~ Sex + PerformanceScore
  p(Sex): 0.73521
  p(PerformanceScore): 0.00000
  p(Interaction): 0.69897
------------------------------------------------------------
DaysLateLast30 ~ MaritalDesc + EmploymentStatus
  p(MaritalDesc): 0.34168
  p(EmploymentStatus): 1.00000
  p(Interaction): 0.00001
------------------------------------------------------------
DaysLateLast30 ~ MaritalDesc + PerformanceScore
  p(MaritalDesc): 0.00109
  p(PerformanceScore): 0.00000
  p(Interaction): 0.00000
------------------------------------------------------------
DaysLateLast30 ~ EmploymentStatus + PerformanceScore
  p(EmploymentStatus): 0.00448
  p(PerformanceScore): 0.00000
  p(Interaction): 0.00000
------------------------------------------------------------
DaysLateLast30 ~ EmploymentStatus + Hire_Season
  p(EmploymentStatus): 0.00000
  p(Hire_Season): 0.43076
  p(Interaction): 0.00017
------------------------------------------------------------
DaysLateLast30 ~ PerformanceScore + Hire_Season
  p(PerformanceScore): 0.00000
  p(Hire_Season): 0.01327
  p(Interaction): 0.00000
------------------------------------------------------------
Absences ~ Sex + Hire_Season
  p(Sex): 0.98543
  p(Hire_Season): 0.03304
  p(Interaction): 0.34812
------------------------------------------------------------
Absences ~ MaritalDesc + Hire_Season
  p(MaritalDesc): 0.50208
  p(Hire_Season): 0.01606
  p(Interaction): 0.40034
------------------------------------------------------------
Absences ~ EmploymentStatus + Hire_Season
  p(EmploymentStatus): 0.30482
  p(Hire_Season): 0.04731
  p(Interaction): 0.66426
------------------------------------------------------------
Absences ~ PerformanceScore + Hire_Season
  p(PerformanceScore): 0.35523
  p(Hire_Season): 0.03030
  p(Interaction): 0.48561
------------------------------------------------------------
TerminatedFlag ~ Sex + MaritalDesc
  p(Sex): 0.67331
  p(MaritalDesc): 0.00711
  p(Interaction): 0.86258
------------------------------------------------------------
TerminatedFlag ~ Sex + EmploymentStatus
  p(Sex): 0.00000
  p(EmploymentStatus): 0.00000
  p(Interaction): 0.00000
------------------------------------------------------------
TerminatedFlag ~ MaritalDesc + EmploymentStatus
  p(MaritalDesc): 0.00000
  p(EmploymentStatus): 0.00000
  p(Interaction): 0.00000
------------------------------------------------------------
TerminatedFlag ~ MaritalDesc + PerformanceScore
  p(MaritalDesc): 0.03976
  p(PerformanceScore): 1.00000
  p(Interaction): 0.29309
------------------------------------------------------------
TerminatedFlag ~ MaritalDesc + Hire_Season
  p(MaritalDesc): 0.00458
  p(Hire_Season): 0.20892
  p(Interaction): 0.52402
------------------------------------------------------------
TerminatedFlag ~ EmploymentStatus + PerformanceScore
  p(EmploymentStatus): 0.00000
  p(PerformanceScore): 0.16584
  p(Interaction): 0.85729
------------------------------------------------------------
TerminatedFlag ~ EmploymentStatus + Hire_Season
  p(EmploymentStatus): 0.00000
  p(Hire_Season): 0.00000
  p(Interaction): 0.00002
------------------------------------------------------------
Tenure_Years ~ Sex + MaritalDesc
  p(Sex): 0.76092
  p(MaritalDesc): 0.00328
  p(Interaction): 0.17860
------------------------------------------------------------
Tenure_Years ~ Sex + EmploymentStatus
  p(Sex): 0.86363
  p(EmploymentStatus): 0.00000
  p(Interaction): 0.11602
------------------------------------------------------------
Tenure_Years ~ MaritalDesc + EmploymentStatus
  p(MaritalDesc): 0.03232
  p(EmploymentStatus): 1.00000
  p(Interaction): 0.00000
------------------------------------------------------------
Tenure_Years ~ MaritalDesc + PerformanceScore
  p(MaritalDesc): 0.02298
  p(PerformanceScore): 0.67895
  p(Interaction): 0.23004
------------------------------------------------------------
Tenure_Years ~ MaritalDesc + Hire_Season
  p(MaritalDesc): 0.00455
  p(Hire_Season): 0.58593
  p(Interaction): 0.12520
------------------------------------------------------------
Tenure_Years ~ EmploymentStatus + PerformanceScore
  p(EmploymentStatus): 0.00000
  p(PerformanceScore): 0.16039
  p(Interaction): 0.68627
------------------------------------------------------------
Tenure_Years ~ EmploymentStatus + Hire_Season
  p(EmploymentStatus): 0.00000
  p(Hire_Season): 0.57049
  p(Interaction): 0.85537
------------------------------------------------------------
Days_Since_Last_Review ~ Sex + MaritalDesc
  p(Sex): 0.24742
  p(MaritalDesc): 0.00229
  p(Interaction): 0.42269
------------------------------------------------------------
Days_Since_Last_Review ~ Sex + EmploymentStatus
  p(Sex): 0.10519
  p(EmploymentStatus): 0.00000
  p(Interaction): 0.00845
------------------------------------------------------------
Days_Since_Last_Review ~ MaritalDesc + EmploymentStatus
  p(MaritalDesc): 0.06234
  p(EmploymentStatus): 1.00000
  p(Interaction): 0.00000
------------------------------------------------------------
Days_Since_Last_Review ~ MaritalDesc + PerformanceScore
  p(MaritalDesc): 0.00666
  p(PerformanceScore): 0.78072
  p(Interaction): 0.48073
------------------------------------------------------------
Days_Since_Last_Review ~ MaritalDesc + Hire_Season
  p(MaritalDesc): 0.00297
  p(Hire_Season): 0.65330
  p(Interaction): 0.15333
------------------------------------------------------------
Days_Since_Last_Review ~ EmploymentStatus + PerformanceScore
  p(EmploymentStatus): 0.00000
  p(PerformanceScore): 0.82713
  p(Interaction): 0.00137
------------------------------------------------------------
Days_Since_Last_Review ~ EmploymentStatus + Hire_Season
  p(EmploymentStatus): 0.00000
  p(Hire_Season): 0.24215
  p(Interaction): 0.08219
------------------------------------------------------------
Team_Size ~ Sex + EmploymentStatus
  p(Sex): 0.16117
  p(EmploymentStatus): 0.00046
  p(Interaction): 0.51393
------------------------------------------------------------
Team_Size ~ Sex + Hire_Season
  p(Sex): 0.10567
  p(Hire_Season): 0.03993
  p(Interaction): 0.53898
------------------------------------------------------------
Team_Size ~ EmploymentStatus + PerformanceScore
  p(EmploymentStatus): 0.00037
  p(PerformanceScore): 0.71635
  p(Interaction): 0.92454
------------------------------------------------------------
Team_Size ~ EmploymentStatus + Hire_Season
  p(EmploymentStatus): 0.00026
  p(Hire_Season): 0.02993
  p(Interaction): 0.95374
------------------------------------------------------------

# ***Business Insights***

In [ ]:
#Salary  EmploymentStatus  Department  TerminatedFlag
df.groupby(['EmploymentStatus', 'Department', 'TerminatedFlag'])['Salary'].agg(
    Count='count',
    Avg_Salary1='mean',
    Min_Salary1='min',
    Max_Salary1='max',
    Median_Salary1='median'
).reset_index()

,EmploymentStatus,Department,TerminatedFlag,Count,Avg_Salary1,Min_Salary1,Max_Salary1,Median_Salary1
0,Active,Admin Offices,0,7,77315.285714,51920,106367,64520.0
1,Active,Executive Office,0,1,250000.000000,250000,250000,250000.0
2,Active,IT/IS,0,40,94512.075000,50178,220450,89587.5
3,Active,Production,0,126,60419.261905,45046,170500,60441.0
4,Active,Sales,0,26,69088.846154,55875,180000,64046.0
5,Active,Software Engineering,0,7,93262.571429,77692,105688,93396.0
6,Terminated for Cause,Admin Offices,1,1,49920.000000,49920,49920,49920.0
7,Terminated for Cause,IT/IS,1,4,110603.000000,103613,114800,111999.5
8,Terminated for Cause,Production,1,8,60383.625000,49773,82758,59134.0
9,Terminated for Cause,Sales,1,2,64778.500000,59370,70187,64778.5
10,Terminated for Cause,Software Engineering,1,1,99280.000000,99280,99280,99280.0
11,Voluntarily Terminated,Admin Offices,1,1,55000.000000,55000,55000,55000.0
12,Voluntarily Terminated,IT/IS,1,6,105056.166667,75281,148999,98765.0
13,Voluntarily Terminated,Production,1,75,59125.266667,45115,83082,58371.0
14,Voluntarily Terminated,Sales,1,3,71677.333333,68999,74326,71707.0
15,Voluntarily Terminated,Software Engineering,1,3,97588.666667,83363,108987,100416.0

In [ ]:
#Salary  PerformanceScore  Department  TerminatedFlag
df.groupby(["PerformanceScore", "Department", "TerminatedFlag"]).agg(
          Employee_Count = ("Salary", "count"),
          Avg_Salary2 = ("Salary", "mean"),
          Min_Salary2 = ("Salary", "min"),
          Median_Salary2 = ("Salary", "median"),
          Max_Salary2 = ("Salary", "max")
      ).reset_index().sort_values(by=["Department", "PerformanceScore", "TerminatedFlag"])

,PerformanceScore,Department,TerminatedFlag,Employee_Count,Avg_Salary2,Min_Salary2,Median_Salary2,Max_Salary2
6,Fully Meets,Admin Offices,0,7,77315.285714,51920,64520.0,106367
7,Fully Meets,Admin Offices,1,2,52460.000000,49920,52460.0,55000
8,Fully Meets,Executive Office,0,1,250000.000000,250000,250000.0,250000
0,Exceeds,IT/IS,0,6,129166.166667,51777,116221.0,220450
9,Fully Meets,IT/IS,0,32,87347.500000,50178,87873.5,150290
10,Fully Meets,IT/IS,1,10,107274.900000,75281,107218.5,148999
17,Needs Improvement,IT/IS,0,1,157000.000000,157000,157000.0,157000
22,PIP,IT/IS,0,1,53366.000000,53366,53366.0,53366
1,Exceeds,Production,0,20,67264.800000,46738,62285.5,170500
2,Exceeds,Production,1,7,56207.571429,46837,57954.0,70507
11,Fully Meets,Production,0,96,59057.354167,45046,59301.5,88976
12,Fully Meets,Production,1,63,59618.619048,45115,59369.0,82758
18,Needs Improvement,Production,0,6,59985.166667,47750,62304.5,68051
19,Needs Improvement,Production,1,9,60239.222222,50274,59144.0,83082
23,PIP,Production,0,4,59528.500000,53189,60434.0,64057
24,PIP,Production,1,4,56471.250000,48513,54237.0,68898
3,Exceeds,Sales,0,2,69319.000000,64397,69319.0,74241
13,Fully Meets,Sales,0,20,70280.400000,55875,64502.5,180000
14,Fully Meets,Sales,1,4,68600.500000,59370,70353.0,74326
20,Needs Improvement,Sales,0,1,72992.000000,72992,72992.0,72992
25,PIP,Sales,0,3,59690.666667,58273,59231.0,61568
26,PIP,Sales,1,1,70187.000000,70187,70187.0,70187
4,Exceeds,Software Engineering,0,1,92989.000000,92989,92989.0,92989
5,Exceeds,Software Engineering,1,1,108987.000000,108987,108987.0,108987
15,Fully Meets,Software Engineering,0,6,93308.166667,77692,94528.0,105688
16,Fully Meets,Software Engineering,1,2,91889.500000,83363,91889.5,100416
21,Needs Improvement,Software Engineering,1,1,99280.000000,99280,99280.0,99280

In [ ]:
#Salary  Sex  PerformanceScore  TerminatedFlag
df.groupby(['Sex', 'PerformanceScore', 'TerminatedFlag']) \
                  .agg(
                      Count=('Salary', 'count'),
                      Avg_Salary3=('Salary', 'mean'),
                     Min_Salary3=('Salary', 'min'),
                      Max_Salary3=('Salary', 'max'),
                      Median_Salary3=('Salary', 'median')
                  ) \
                  .reset_index()

,Sex,PerformanceScore,TerminatedFlag,Count,Avg_Salary3,Min_Salary3,Max_Salary3,Median_Salary3
0,F,Exceeds,0,16,74874.000000,46738,220450,63116.0
1,F,Exceeds,1,4,54396.500000,47434,62425,53863.5
2,F,Fully Meets,0,93,70194.870968,45046,250000,62514.0
3,F,Fully Meets,1,49,64006.428571,45433,120000,62659.0
4,F,Needs Improvement,0,4,59700.000000,47750,66441,62304.5
5,F,Needs Improvement,1,5,66074.000000,50274,99280,60270.0
6,F,PIP,0,3,60033.000000,56847,64021,59231.0
7,F,PIP,1,2,50593.500000,48513,52674,50593.5
8,M,Exceeds,0,13,88764.307692,47414,178000,64397.0
9,M,Exceeds,1,4,71213.500000,46837,108987,64515.0
10,M,Fully Meets,0,69,68016.913043,46120,140920,63973.0
11,M,Fully Meets,1,32,70484.625000,45115,148999,61845.5
12,M,Needs Improvement,0,4,87775.750000,53060,157000,70521.5
13,M,Needs Improvement,1,5,62212.600000,53564,83082,59144.0
14,M,PIP,0,5,58090.600000,53189,64057,58273.0
15,M,PIP,1,3,64961.666667,55800,70187,68898.0

In [ ]:
#Salary  MaritalDesc  PerformanceScore  TerminatedFlag
df.groupby(
    ["MaritalDesc", "PerformanceScore", "TerminatedFlag"]).agg(
    Count=("Salary", "count"),
    Average_Salary4=("Salary", "mean"),
    Median_Salary4=("Salary", "median"),
    Min_Salary4=("Salary", "min"),
    Max_Salary4=("Salary", "max")
).reset_index()

,MaritalDesc,PerformanceScore,TerminatedFlag,Count,Average_Salary4,Median_Salary4,Min_Salary4,Max_Salary4
0,Divorced,Exceeds,0,3,70981.333333,60724.0,59892,92328
1,Divorced,Exceeds,1,2,60474.000000,60474.0,58523,62425
2,Divorced,Fully Meets,0,9,60483.222222,62957.0,45069,88976
3,Divorced,Fully Meets,1,14,65252.571429,59895.5,45115,148999
4,Divorced,Needs Improvement,0,2,70521.500000,70521.5,68051,72992
5,Married,Exceeds,0,8,63887.500000,62487.5,46738,93554
6,Married,Exceeds,1,3,51521.333333,49773.0,46837,57954
7,Married,Fully Meets,0,63,73462.174603,63381.0,46120,250000
8,Married,Fully Meets,1,37,65098.918919,61154.0,45433,113999
9,Married,Needs Improvement,0,2,109292.000000,109292.0,61584,157000
10,Married,Needs Improvement,1,5,71797.400000,61422.0,54933,99280
11,Married,PIP,0,4,59885.000000,61147.0,53189,64057
12,Married,PIP,1,2,69542.500000,69542.5,68898,70187
13,Separated,Exceeds,0,2,58690.500000,58690.5,52984,64397
14,Separated,Fully Meets,0,8,65338.625000,64685.0,60436,74417
15,Separated,Fully Meets,1,1,58275.000000,58275.0,58275,58275
16,Separated,PIP,0,1,56847.000000,56847.0,56847,56847
17,Single,Exceeds,0,15,96476.133333,72640.0,51777,220450
18,Single,Exceeds,1,3,75642.666667,70507.0,47434,108987
19,Single,Fully Meets,0,79,67271.873418,63003.0,45395,150290
20,Single,Fully Meets,1,25,70591.240000,63878.0,45998,120000
21,Single,Needs Improvement,0,4,57569.000000,58042.5,47750,66441
22,Single,Needs Improvement,1,5,56489.200000,59124.0,50274,60340
23,Single,PIP,0,3,58055.000000,59231.0,53366,61568
24,Single,PIP,1,3,52329.000000,52674.0,48513,55800
25,Widowed,Exceeds,0,1,63353.000000,63353.0,63353,63353
26,Widowed,Fully Meets,0,3,70545.666667,59365.0,45046,107226
27,Widowed,Fully Meets,1,4,61642.750000,63273.0,52788,67237

In [ ]:
#Salary  Sex  Department  TerminatedFlag
df.groupby(["Sex", "Department", "TerminatedFlag"]).agg(
    Count=("Salary", "count"),
    Avg_Salary5=("Salary", "mean"),
    Median_Salary5=("Salary", "median"),
    Min_Salary5=("Salary", "min"),
    Max_Salary5=("Salary", "max")
).reset_index()

,Sex,Department,TerminatedFlag,Count,Avg_Salary5,Median_Salary5,Min_Salary5,Max_Salary5
0,F,Admin Offices,0,4,80159.500000,81175.5,51920,106367
1,F,Admin Offices,1,2,52460.000000,52460.0,49920,55000
2,F,Executive Office,0,1,250000.000000,250000.0,250000,250000
3,F,IT/IS,0,19,91381.368421,89292.0,50750,220450
4,F,IT/IS,1,3,114933.333333,114800.0,110000,120000
5,F,Production,0,75,59712.133333,60724.0,45046,77915
6,F,Production,1,51,59485.549020,60070.0,45433,80512
7,F,Sales,0,12,73129.583333,62447.5,57859,180000
8,F,Sales,1,3,67565.000000,68999.0,59370,74326
9,F,Software Engineering,0,5,96431.400000,95660.0,86214,105688
10,F,Software Engineering,1,1,99280.000000,99280.0,99280,99280
11,M,Admin Offices,0,3,73523.000000,64520.0,63003,93046
12,M,IT/IS,0,21,97344.619048,90100.0,50178,178000
13,M,IT/IS,1,7,103992.714286,103613.0,75281,148999
14,M,Production,0,51,61459.156863,59472.0,46120,170500
15,M,Production,1,32,58865.656250,56817.0,45115,83082
16,M,Sales,0,14,65625.357143,66059.0,55875,72992
17,M,Sales,1,2,70947.000000,70947.0,70187,71707
18,M,Software Engineering,0,2,85340.500000,85340.5,77692,92989
19,M,Software Engineering,1,3,97588.666667,100416.0,83363,108987

In [ ]:
#Salary  EmploymentStatus  PerformanceScore  TerminatedFlag
df.groupby(
    ["EmploymentStatus", "PerformanceScore", "TerminatedFlag"]
).agg(
    Count=("Salary", "count"),
    Avg_Salary6=("Salary", "mean"),
    Median_Salary6=("Salary", "median"),
    Min_Salary6=("Salary", "min"),
    Max_Salary6=("Salary", "max")
).reset_index()

,EmploymentStatus,PerformanceScore,TerminatedFlag,Count,Avg_Salary6,Median_Salary6,Min_Salary6,Max_Salary6
0,Active,Exceeds,0,29,81100.689655,63353.0,46738,220450
1,Active,Fully Meets,0,162,69267.222222,63079.5,45046,250000
2,Active,Needs Improvement,0,8,73737.875000,64733.0,47750,157000
3,Active,PIP,0,8,58819.000000,58752.0,53189,64057
4,Terminated for Cause,Exceeds,1,1,49773.000000,49773.0,49773,49773
5,Terminated for Cause,Fully Meets,1,8,86536.750000,93185.5,49920,114800
6,Terminated for Cause,Needs Improvement,1,5,67862.000000,60340.0,59124,99280
7,Terminated for Cause,PIP,1,2,61430.500000,61430.5,52674,70187
8,Voluntarily Terminated,Exceeds,1,7,64666.714286,58523.0,46837,108987
9,Voluntarily Terminated,Fully Meets,1,73,64377.109589,61729.0,45115,148999
10,Voluntarily Terminated,Needs Improvement,1,5,60424.600000,54933.0,50274,83082
11,Voluntarily Terminated,PIP,1,3,57737.000000,55800.0,48513,68898

In [ ]:
#Salary  Department  PerformanceScore  TerminatedFlag
df.groupby(
    ["Department", "PerformanceScore", "TerminatedFlag"]
).agg(
    Count=("Salary", "count"),
    Avg_Salary7=("Salary", "mean"),
    Median_Salary7=("Salary", "min"),
    Min_Salary7=("Salary", "min"),
    Max_Salary7=("Salary", "max")
).reset_index()

,Department,PerformanceScore,TerminatedFlag,Count,Avg_Salary7,Median_Salary7,Min_Salary7,Max_Salary7
0,Admin Offices,Fully Meets,0,7,77315.285714,51920,51920,106367
1,Admin Offices,Fully Meets,1,2,52460.000000,49920,49920,55000
2,Executive Office,Fully Meets,0,1,250000.000000,250000,250000,250000
3,IT/IS,Exceeds,0,6,129166.166667,51777,51777,220450
4,IT/IS,Fully Meets,0,32,87347.500000,50178,50178,150290
5,IT/IS,Fully Meets,1,10,107274.900000,75281,75281,148999
6,IT/IS,Needs Improvement,0,1,157000.000000,157000,157000,157000
7,IT/IS,PIP,0,1,53366.000000,53366,53366,53366
8,Production,Exceeds,0,20,67264.800000,46738,46738,170500
9,Production,Exceeds,1,7,56207.571429,46837,46837,70507
10,Production,Fully Meets,0,96,59057.354167,45046,45046,88976
11,Production,Fully Meets,1,63,59618.619048,45115,45115,82758
12,Production,Needs Improvement,0,6,59985.166667,47750,47750,68051
13,Production,Needs Improvement,1,9,60239.222222,50274,50274,83082
14,Production,PIP,0,4,59528.500000,53189,53189,64057
15,Production,PIP,1,4,56471.250000,48513,48513,68898
16,Sales,Exceeds,0,2,69319.000000,64397,64397,74241
17,Sales,Fully Meets,0,20,70280.400000,55875,55875,180000
18,Sales,Fully Meets,1,4,68600.500000,59370,59370,74326
19,Sales,Needs Improvement,0,1,72992.000000,72992,72992,72992
20,Sales,PIP,0,3,59690.666667,58273,58273,61568
21,Sales,PIP,1,1,70187.000000,70187,70187,70187
22,Software Engineering,Exceeds,0,1,92989.000000,92989,92989,92989
23,Software Engineering,Exceeds,1,1,108987.000000,108987,108987,108987
24,Software Engineering,Fully Meets,0,6,93308.166667,77692,77692,105688
25,Software Engineering,Fully Meets,1,2,91889.500000,83363,83363,100416
26,Software Engineering,Needs Improvement,1,1,99280.000000,99280,99280,99280

In [ ]:
#Salary x TermReason
df.groupby(['TermReason']).agg(
    Avg_Salary22=('Salary', 'mean')
).reset_index()

                          TermReason   Avg_Salary22
0                   Another position   66116.900000
1                   Fatal attraction   70187.000000
2      Learned that he is a gangster  103613.000000
3                  N/A-StillEmployed   70694.033816
4                         attendance   67347.428571
5                      career change   65409.444444
6                   gross misconduct   49773.000000
7                              hours   75731.625000
8   maternity leave - did not return   63800.000000
9                     medical issues   73898.333333
10                          military   59981.750000
11                        more money   57148.454545
12                  no-call, no-show   84460.750000
13                       performance   78727.750000
14            relocation out of area   61225.400000
15                          retiring   60527.750000
16                  return to school   55671.000000
17                           unhappy   61348.928571

In [ ]:
#Position  PerformanceScore  Salary  TerminatedFlag
df.groupby(
    ["Position", "PerformanceScore", "TerminatedFlag"]
).agg(
    Count=("Salary", "count"),
    Avg_Salary8=("Salary", "mean"),
    Median_Salary8=("Salary", "median"),
    Min_Salary8=("Salary", "min"),
    Max_Salary8=("Salary", "max")
).reset_index()

,Position,PerformanceScore,TerminatedFlag,Count,Avg_Salary8,Median_Salary8,Min_Salary8,Max_Salary8
0,Accountant I,Fully Meets,0,3,63507.666667,63003.0,63000,64520
1,Administrative Assistant,Fully Meets,0,1,51920.000000,51920.0,51920,51920
2,Administrative Assistant,Fully Meets,1,2,52460.000000,52460.0,49920,55000
3,Area Sales Manager,Exceeds,0,2,69319.000000,69319.0,64397,74241
4,Area Sales Manager,Fully Meets,0,18,64437.722222,63493.0,55875,71860
5,Area Sales Manager,Fully Meets,1,3,68467.666667,71707.0,59370,74326
6,Area Sales Manager,PIP,0,3,59690.666667,59231.0,58273,61568
7,Area Sales Manager,PIP,1,1,70187.000000,70187.0,70187,70187
8,BI Developer,Fully Meets,0,4,95465.000000,96370.0,90100,99020
9,BI Director,Fully Meets,0,1,110929.000000,110929.0,110929,110929
10,CIO,Exceeds,0,1,220450.000000,220450.0,220450,220450
11,Data Analyst,Exceeds,0,2,92941.000000,92941.0,92328,93554
12,Data Analyst,Fully Meets,0,4,87638.250000,88559.0,83552,89883
13,Data Analyst,Fully Meets,1,1,93093.000000,93093.0,93093,93093
14,Data Analyst,Fully Meets,1,1,88527.000000,88527.0,88527,88527
15,Data Architect,Fully Meets,0,1,150290.000000,150290.0,150290,150290
16,Database Administrator,Fully Meets,0,2,101849.500000,101849.5,97999,105700
17,Database Administrator,Fully Meets,1,3,112933.000000,113999.0,110000,114800
18,Director of Operations,Exceeds,0,1,170500.000000,170500.0,170500,170500
19,Director of Sales,Fully Meets,0,1,180000.000000,180000.0,180000,180000
20,Enterprise Architect,Fully Meets,1,1,103613.000000,103613.0,103613,103613
21,IT Director,Exceeds,0,1,178000.000000,178000.0,178000,178000
22,IT Manager - DB,Fully Meets,0,1,140920.000000,140920.0,140920,140920
23,IT Manager - DB,Fully Meets,1,1,148999.000000,148999.0,148999,148999
24,IT Manager - Infra,Needs Improvement,0,1,157000.000000,157000.0,157000,157000
25,IT Manager - Support,Exceeds,0,1,138888.000000,138888.0,138888,138888
26,IT Support,Exceeds,0,1,51777.000000,51777.0,51777,51777
27,IT Support,Fully Meets,0,7,65385.428571,66593.0,50178,74679
28,Network Engineer,Fully Meets,0,3,59792.666667,52599.0,50750,76029
29,Network Engineer,Fully Meets,1,1,75281.000000,75281.0,75281,75281
30,Network Engineer,PIP,0,1,53366.000000,53366.0,53366,53366
31,President & CEO,Fully Meets,0,1,250000.000000,250000.0,250000,250000
32,Principal Data Architect,Fully Meets,1,1,120000.000000,120000.0,120000,120000
33,Production Manager,Exceeds,0,2,75277.500000,75277.5,72640,77915
34,Production Manager,Fully Meets,0,6,73364.000000,70451.0,62957,88976
35,Production Manager,Fully Meets,1,4,78062.750000,77590.5,74312,82758
36,Production Manager,Needs Improvement,0,1,68051.000000,68051.0,68051,68051
37,Production Manager,Needs Improvement,1,1,83082.000000,83082.0,83082,83082
38,Production Technician I,Exceeds,0,11,56692.545455,57815.0,46738,63353
39,Production Technician I,Exceeds,1,5,52998.400000,49773.0,46837,62425
40,Production Technician I,Fully Meets,0,67,55744.522388,56147.0,45046,64991
41,Production Technician I,Fully Meets,1,38,54648.552632,53748.5,45115,64786
42,Production Technician I,Needs Improvement,0,4,56354.750000,57322.0,47750,63025
43,Production Technician I,Needs Improvement,1,7,56971.571429,59124.0,50274,61422
44,Production Technician I,PIP,0,3,60422.333333,64021.0,53189,64057
45,Production Technician I,PIP,1,2,50593.500000,50593.5,48513,52674
46,Production Technician II,Exceeds,0,6,66770.500000,66726.5,60656,73330
47,Production Technician II,Exceeds,1,2,64230.500000,64230.5,57954,70507
48,Production Technician II,Fully Meets,0,23,64975.608696,65288.0,55315,74417
49,Production Technician II,Fully Meets,1,21,65098.904762,64971.0,55578,74813
50,Production Technician II,Needs Improvement,0,1,66441.000000,66441.0,66441,66441
51,Production Technician II,Needs Improvement,1,1,60270.000000,60270.0,60270,60270
52,Production Technician II,PIP,0,1,56847.000000,56847.0,56847,56847
53,Production Technician II,PIP,1,2,62349.000000,62349.0,55800,68898
54,Sales Manager,Fully Meets,0,1,65729.000000,65729.0,65729,65729
55,Sales Manager,Fully Meets,1,1,68999.000000,68999.0,68999,68999
56,Sales Manager,Needs Improvement,0,1,72992.000000,72992.0,72992,72992
57,Senior BI Developer,Fully Meets,0,3,84802.666667,84903.0,81584,87921
58,Shared Services Manager,Fully Meets,0,1,93046.000000,93046.0,93046,93046
59,Software Engineer,Exceeds,0,1,92989.000000,92989.0,92989,92989
60,Software Engineer,Exceeds,1,1,108987.000000,108987.0,108987,108987
61,Software Engineer,Fully Meets,0,5,96431.400000,95660.0,86214,105688
62,Software Engineer,Fully Meets,1,2,91889.500000,91889.5,83363,100416
63,Software Engineer,Needs Improvement,1,1,99280.000000,99280.0,99280,99280
64,Software Engineering Manager,Fully Meets,0,1,77692.000000,77692.0,77692,77692
65,Sr. Accountant,Fully Meets,0,2,102859.000000,102859.0,99351,106367
66,Sr. DBA,Fully Meets,0,1,100031.000000,100031.0,100031,100031
67,Sr. DBA,Fully Meets,1,1,104437.000000,104437.0,104437,104437
68,Sr. Network Engineer,Fully Meets,0,5,93070.800000,92329.0,85028,107226

In [ ]:
#Position  PerformanceScore  Department  TerminatedFlag
df.pivot_table(
    index = ['Position', 'PerformanceScore', 'Department'],
    columns = 'TerminatedFlag',
    aggfunc = 'size',
    fill_value = 0
).reset_index()

TerminatedFlag,Position,PerformanceScore,Department,0,1
0,Accountant I,Fully Meets,Admin Offices,3,0
1,Administrative Assistant,Fully Meets,Admin Offices,1,2
2,Area Sales Manager,Exceeds,Sales,2,0
3,Area Sales Manager,Fully Meets,Sales,18,3
4,Area Sales Manager,PIP,Sales,3,1
5,BI Developer,Fully Meets,IT/IS,4,0
6,BI Director,Fully Meets,IT/IS,1,0
7,CIO,Exceeds,IT/IS,1,0
8,Data Analyst,Exceeds,IT/IS,2,0
9,Data Analyst,Fully Meets,IT/IS,4,1
10,Data Analyst,Fully Meets,IT/IS,0,1
11,Data Architect,Fully Meets,IT/IS,1,0
12,Database Administrator,Fully Meets,IT/IS,2,3
13,Director of Operations,Exceeds,Production,1,0
14,Director of Sales,Fully Meets,Sales,1,0
15,Enterprise Architect,Fully Meets,IT/IS,0,1
16,IT Director,Exceeds,IT/IS,1,0
17,IT Manager - DB,Fully Meets,IT/IS,1,1
18,IT Manager - Infra,Needs Improvement,IT/IS,1,0
19,IT Manager - Support,Exceeds,IT/IS,1,0
20,IT Support,Exceeds,IT/IS,1,0
21,IT Support,Fully Meets,IT/IS,7,0
22,Network Engineer,Fully Meets,IT/IS,3,1
23,Network Engineer,PIP,IT/IS,1,0
24,President & CEO,Fully Meets,Executive Office,1,0
25,Principal Data Architect,Fully Meets,IT/IS,0,1
26,Production Manager,Exceeds,Production,2,0
27,Production Manager,Fully Meets,Production,6,4
28,Production Manager,Needs Improvement,Production,1,1
29,Production Technician I,Exceeds,Production,11,5
30,Production Technician I,Fully Meets,Production,67,38
31,Production Technician I,Needs Improvement,Production,4,7
32,Production Technician I,PIP,Production,3,2
33,Production Technician II,Exceeds,Production,6,2
34,Production Technician II,Fully Meets,Production,23,21
35,Production Technician II,Needs Improvement,Production,1,1
36,Production Technician II,PIP,Production,1,2
37,Sales Manager,Fully Meets,Sales,1,1
38,Sales Manager,Needs Improvement,Sales,1,0
39,Senior BI Developer,Fully Meets,IT/IS,3,0
40,Shared Services Manager,Fully Meets,Admin Offices,1,0
41,Software Engineer,Exceeds,Software Engineering,1,1
42,Software Engineer,Fully Meets,Software Engineering,5,2
43,Software Engineer,Needs Improvement,Software Engineering,0,1
44,Software Engineering Manager,Fully Meets,Software Engineering,1,0
45,Sr. Accountant,Fully Meets,Admin Offices,2,0
46,Sr. DBA,Fully Meets,IT/IS,1,1
47,Sr. Network Engineer,Fully Meets,IT/IS,5,0

In [ ]:
#Position x EmploymentStatus x PerformanceScore x TerminatedFlag
df.pivot_table(
    index=['Position', 'EmploymentStatus', 'PerformanceScore'],
    columns='TerminatedFlag',
    aggfunc='size',
    fill_value=0
).reset_index()

TerminatedFlag,Position,EmploymentStatus,PerformanceScore,0,1
0,Accountant I,Active,Fully Meets,3,0
1,Administrative Assistant,Active,Fully Meets,1,0
2,Administrative Assistant,Terminated for Cause,Fully Meets,0,1
3,Administrative Assistant,Voluntarily Terminated,Fully Meets,0,1
4,Area Sales Manager,Active,Exceeds,2,0
5,Area Sales Manager,Active,Fully Meets,18,0
6,Area Sales Manager,Active,PIP,3,0
7,Area Sales Manager,Terminated for Cause,Fully Meets,0,1
8,Area Sales Manager,Terminated for Cause,PIP,0,1
9,Area Sales Manager,Voluntarily Terminated,Fully Meets,0,2
10,BI Developer,Active,Fully Meets,4,0
11,BI Director,Active,Fully Meets,1,0
12,CIO,Active,Exceeds,1,0
13,Data Analyst,Active,Exceeds,2,0
14,Data Analyst,Active,Fully Meets,4,0
15,Data Analyst,Voluntarily Terminated,Fully Meets,0,1
16,Data Analyst,Voluntarily Terminated,Fully Meets,0,1
17,Data Architect,Active,Fully Meets,1,0
18,Database Administrator,Active,Fully Meets,2,0
19,Database Administrator,Terminated for Cause,Fully Meets,0,3
20,Director of Operations,Active,Exceeds,1,0
21,Director of Sales,Active,Fully Meets,1,0
22,Enterprise Architect,Terminated for Cause,Fully Meets,0,1
23,IT Director,Active,Exceeds,1,0
24,IT Manager - DB,Active,Fully Meets,1,0
25,IT Manager - DB,Voluntarily Terminated,Fully Meets,0,1
26,IT Manager - Infra,Active,Needs Improvement,1,0
27,IT Manager - Support,Active,Exceeds,1,0
28,IT Support,Active,Exceeds,1,0
29,IT Support,Active,Fully Meets,7,0
30,Network Engineer,Active,Fully Meets,3,0
31,Network Engineer,Active,PIP,1,0
32,Network Engineer,Voluntarily Terminated,Fully Meets,0,1
33,President & CEO,Active,Fully Meets,1,0
34,Principal Data Architect,Voluntarily Terminated,Fully Meets,0,1
35,Production Manager,Active,Exceeds,2,0
36,Production Manager,Active,Fully Meets,6,0
37,Production Manager,Active,Needs Improvement,1,0
38,Production Manager,Terminated for Cause,Fully Meets,0,1
39,Production Manager,Voluntarily Terminated,Fully Meets,0,3
40,Production Manager,Voluntarily Terminated,Needs Improvement,0,1
41,Production Technician I,Active,Exceeds,11,0
42,Production Technician I,Active,Fully Meets,67,0
43,Production Technician I,Active,Needs Improvement,4,0
44,Production Technician I,Active,PIP,3,0
45,Production Technician I,Terminated for Cause,Exceeds,0,1
46,Production Technician I,Terminated for Cause,Fully Meets,0,1
47,Production Technician I,Terminated for Cause,Needs Improvement,0,4
48,Production Technician I,Terminated for Cause,PIP,0,1
49,Production Technician I,Voluntarily Terminated,Exceeds,0,4
50,Production Technician I,Voluntarily Terminated,Fully Meets,0,37
51,Production Technician I,Voluntarily Terminated,Needs Improvement,0,3
52,Production Technician I,Voluntarily Terminated,PIP,0,1
53,Production Technician II,Active,Exceeds,6,0
54,Production Technician II,Active,Fully Meets,23,0
55,Production Technician II,Active,Needs Improvement,1,0
56,Production Technician II,Active,PIP,1,0
57,Production Technician II,Voluntarily Terminated,Exceeds,0,2
58,Production Technician II,Voluntarily Terminated,Fully Meets,0,21
59,Production Technician II,Voluntarily Terminated,Needs Improvement,0,1
60,Production Technician II,Voluntarily Terminated,PIP,0,2
61,Sales Manager,Active,Fully Meets,1,0
62,Sales Manager,Active,Needs Improvement,1,0
63,Sales Manager,Voluntarily Terminated,Fully Meets,0,1
64,Senior BI Developer,Active,Fully Meets,3,0
65,Shared Services Manager,Active,Fully Meets,1,0
66,Software Engineer,Active,Exceeds,1,0
67,Software Engineer,Active,Fully Meets,5,0
68,Software Engineer,Terminated for Cause,Needs Improvement,0,1
69,Software Engineer,Voluntarily Terminated,Exceeds,0,1
70,Software Engineer,Voluntarily Terminated,Fully Meets,0,2
71,Software Engineering Manager,Active,Fully Meets,1,0
72,Sr. Accountant,Active,Fully Meets,2,0
73,Sr. DBA,Active,Fully Meets,1,0
74,Sr. DBA,Voluntarily Terminated,Fully Meets,0,1
75,Sr. Network Engineer,Active,Fully Meets,5,0

In [ ]:
#Position  Sex  PerformanceScore  TerminatedFlag
df.pivot_table(
    index=['Position', 'Sex', 'PerformanceScore'],
    columns='TerminatedFlag',
    aggfunc='size',
    fill_value=0
).reset_index()

TerminatedFlag                      Position Sex   PerformanceScore   0   1
0                               Accountant I   F        Fully Meets   1   0
1                               Accountant I  M         Fully Meets   2   0
2                   Administrative Assistant   F        Fully Meets   1   2
3                         Area Sales Manager   F            Exceeds   1   0
4                         Area Sales Manager   F        Fully Meets   8   2
5                         Area Sales Manager   F                PIP   1   0
6                         Area Sales Manager  M             Exceeds   1   0
7                         Area Sales Manager  M         Fully Meets  10   1
8                         Area Sales Manager  M                 PIP   2   1
9                               BI Developer   F        Fully Meets   1   0
10                              BI Developer  M         Fully Meets   3   0
11                               BI Director  M         Fully Meets   1   0
12                                       CIO   F            Exceeds   1   0
13                              Data Analyst   F            Exceeds   1   0
14                              Data Analyst   F        Fully Meets   2   0
15                              Data Analyst  M             Exceeds   1   0
16                              Data Analyst  M         Fully Meets   2   1
17                             Data Analyst   M         Fully Meets   0   1
18                            Data Architect   F        Fully Meets   1   0
19                    Database Administrator   F        Fully Meets   2   2
20                    Database Administrator  M         Fully Meets   0   1
21                    Director of Operations  M             Exceeds   1   0
22                         Director of Sales   F        Fully Meets   1   0
23                      Enterprise Architect  M         Fully Meets   0   1
24                               IT Director  M             Exceeds   1   0
25                           IT Manager - DB  M         Fully Meets   1   1
26                        IT Manager - Infra  M   Needs Improvement   1   0
27                      IT Manager - Support  M             Exceeds   1   0
28                                IT Support   F            Exceeds   1   0
29                                IT Support   F        Fully Meets   4   0
30                                IT Support  M         Fully Meets   3   0
31                          Network Engineer   F        Fully Meets   2   0
32                          Network Engineer  M         Fully Meets   1   1
33                          Network Engineer  M                 PIP   1   0
34                           President & CEO   F        Fully Meets   1   0
35                  Principal Data Architect   F        Fully Meets   0   1
36                        Production Manager   F            Exceeds   1   0
37                        Production Manager   F        Fully Meets   3   2
38                        Production Manager  M             Exceeds   1   0
39                        Production Manager  M         Fully Meets   3   2
40                        Production Manager  M   Needs Improvement   1   1
41                   Production Technician I   F            Exceeds   6   3
42                   Production Technician I   F        Fully Meets  42  23
43                   Production Technician I   F  Needs Improvement   3   3
44                   Production Technician I   F                PIP   1   2
45                   Production Technician I  M             Exceeds   5   2
46                   Production Technician I  M         Fully Meets  25  15
47                   Production Technician I  M   Needs Improvement   1   4
48                   Production Technician I  M                 PIP   2   0
49                  Production Technician II   F            Exceeds   5   1
50                  Production Technician II   F        Fully Meets  12  16
51                  Production Technician II   F  Needs Improvement   1   1
52                  Production Technician II   F                PIP   1   0
53                  Production Technician II  M             Exceeds   1   1
54                  Production Technician II  M         Fully Meets  11   5
55                  Production Technician II  M                 PIP   0   2
56                             Sales Manager   F        Fully Meets   1   1
57                             Sales Manager  M   Needs Improvement   1   0
58                       Senior BI Developer   F        Fully Meets   1   0
59                       Senior BI Developer  M         Fully Meets   2   0
60                   Shared Services Manager  M         Fully Meets   1   0
61                         Software Engineer   F        Fully Meets   5   0
62                         Software Engineer   F  Needs Improvement   0   1
63                         Software Engineer  M             Exceeds   1   1
64                         Software Engineer  M         Fully Meets   0   2
65              Software Engineering Manager  M         Fully Meets   1   0
66                            Sr. Accountant   F        Fully Meets   2   0
67                                   Sr. DBA   F        Fully Meets   1   0
68                                   Sr. DBA  M         Fully Meets   0   1
69                      Sr. Network Engineer   F        Fully Meets   2   0
70                      Sr. Network Engineer  M         Fully Meets   3   0

In [ ]:
#Position  Salary  Department  TerminatedFlag
df.groupby(
    ["Position", "Department", "TerminatedFlag"]
).agg(
    Count=("Salary", "count"),
    Avg_Salary9=("Salary", "mean"),
    Median_Salary9=("Salary", "median"),
    Min_Salary9=("Salary", "min"),
    Max_Salary9=("Salary", "max")
).reset_index()

,Position,Department,TerminatedFlag,Count,Avg_Salary9,Median_Salary9,Min_Salary9,Max_Salary9
0,Accountant I,Admin Offices,0,3,63507.666667,63003.0,63000,64520
1,Administrative Assistant,Admin Offices,0,1,51920.000000,51920.0,51920,51920
2,Administrative Assistant,Admin Offices,1,2,52460.000000,52460.0,49920,55000
3,Area Sales Manager,Sales,0,23,64243.000000,63291.0,55875,74241
4,Area Sales Manager,Sales,1,4,68897.500000,70947.0,59370,74326
5,BI Developer,IT/IS,0,4,95465.000000,96370.0,90100,99020
6,BI Director,IT/IS,0,1,110929.000000,110929.0,110929,110929
7,CIO,IT/IS,0,1,220450.000000,220450.0,220450,220450
8,Data Analyst,IT/IS,0,6,89405.833333,89587.5,83552,93554
9,Data Analyst,IT/IS,1,1,93093.000000,93093.0,93093,93093
10,Data Analyst,IT/IS,1,1,88527.000000,88527.0,88527,88527
11,Data Architect,IT/IS,0,1,150290.000000,150290.0,150290,150290
12,Database Administrator,IT/IS,0,2,101849.500000,101849.5,97999,105700
13,Database Administrator,IT/IS,1,3,112933.000000,113999.0,110000,114800
14,Director of Operations,Production,0,1,170500.000000,170500.0,170500,170500
15,Director of Sales,Sales,0,1,180000.000000,180000.0,180000,180000
16,Enterprise Architect,IT/IS,1,1,103613.000000,103613.0,103613,103613
17,IT Director,IT/IS,0,1,178000.000000,178000.0,178000,178000
18,IT Manager - DB,IT/IS,0,1,140920.000000,140920.0,140920,140920
19,IT Manager - DB,IT/IS,1,1,148999.000000,148999.0,148999,148999
20,IT Manager - Infra,IT/IS,0,1,157000.000000,157000.0,157000,157000
21,IT Manager - Support,IT/IS,0,1,138888.000000,138888.0,138888,138888
22,IT Support,IT/IS,0,8,63684.375000,66150.0,50178,74679
23,Network Engineer,IT/IS,0,4,58186.000000,52982.5,50750,76029
24,Network Engineer,IT/IS,1,1,75281.000000,75281.0,75281,75281
25,President & CEO,Executive Office,0,1,250000.000000,250000.0,250000,250000
26,Principal Data Architect,IT/IS,1,1,120000.000000,120000.0,120000,120000
27,Production Manager,Production,0,9,73198.888889,72640.0,62957,88976
28,Production Manager,Production,1,5,79066.600000,80512.0,74312,83082
29,Production Technician I,Production,0,85,56061.023529,56339.0,45046,64991
30,Production Technician I,Production,1,52,54646.634615,53784.5,45115,64786
31,Production Technician II,Production,0,31,65108.064516,65288.0,55315,74417
32,Production Technician II,Production,1,26,64634.846154,64963.0,55578,74813
33,Sales Manager,Sales,0,2,69360.500000,69360.5,65729,72992
34,Sales Manager,Sales,1,1,68999.000000,68999.0,68999,68999
35,Senior BI Developer,IT/IS,0,3,84802.666667,84903.0,81584,87921
36,Shared Services Manager,Admin Offices,0,1,93046.000000,93046.0,93046,93046
37,Software Engineer,Software Engineering,0,6,95857.666667,94528.0,86214,105688
38,Software Engineer,Software Engineering,1,4,98011.500000,99848.0,83363,108987
39,Software Engineering Manager,Software Engineering,0,1,77692.000000,77692.0,77692,77692
40,Sr. Accountant,Admin Offices,0,2,102859.000000,102859.0,99351,106367
41,Sr. DBA,IT/IS,0,1,100031.000000,100031.0,100031,100031
42,Sr. DBA,IT/IS,1,1,104437.000000,104437.0,104437,104437
43,Sr. Network Engineer,IT/IS,0,5,93070.800000,92329.0,85028,107226

In [ ]:
#Position  MaritalDesc  PerformanceScore  TerminatedFlag
df.pivot_table(
    index=['Position', 'MaritalDesc', 'PerformanceScore'],
    columns='TerminatedFlag',
    aggfunc='size',
    fill_value=0
).reset_index()

TerminatedFlag,Position,MaritalDesc,PerformanceScore,0,1
0,Accountant I,Divorced,Fully Meets,1,0
1,Accountant I,Married,Fully Meets,1,0
2,Accountant I,Single,Fully Meets,1,0
3,Administrative Assistant,Married,Fully Meets,0,2
4,Administrative Assistant,Single,Fully Meets,1,0
5,Area Sales Manager,Married,Fully Meets,6,1
6,Area Sales Manager,Married,PIP,1,1
7,Area Sales Manager,Separated,Exceeds,1,0
8,Area Sales Manager,Separated,Fully Meets,1,0
9,Area Sales Manager,Single,Exceeds,1,0
10,Area Sales Manager,Single,Fully Meets,11,1
11,Area Sales Manager,Single,PIP,2,0
12,Area Sales Manager,Widowed,Fully Meets,0,1
13,BI Developer,Married,Fully Meets,3,0
14,BI Developer,Single,Fully Meets,1,0
15,BI Director,Married,Fully Meets,1,0
16,CIO,Single,Exceeds,1,0
17,Data Analyst,Divorced,Exceeds,1,0
18,Data Analyst,Married,Exceeds,1,0
19,Data Analyst,Married,Fully Meets,3,1
20,Data Analyst,Single,Fully Meets,1,0
21,Data Analyst,Divorced,Fully Meets,0,1
22,Data Architect,Single,Fully Meets,1,0
23,Database Administrator,Married,Fully Meets,1,1
24,Database Administrator,Single,Fully Meets,1,2
25,Director of Operations,Single,Exceeds,1,0
26,Director of Sales,Married,Fully Meets,1,0
27,Enterprise Architect,Single,Fully Meets,0,1
28,IT Director,Single,Exceeds,1,0
29,IT Manager - DB,Divorced,Fully Meets,0,1
30,IT Manager - DB,Single,Fully Meets,1,0
31,IT Manager - Infra,Married,Needs Improvement,1,0
32,IT Manager - Support,Single,Exceeds,1,0
33,IT Support,Divorced,Fully Meets,1,0
34,IT Support,Married,Fully Meets,3,0
35,IT Support,Separated,Fully Meets,1,0
36,IT Support,Single,Exceeds,1,0
37,IT Support,Single,Fully Meets,2,0
38,Network Engineer,Married,Fully Meets,3,1
39,Network Engineer,Single,PIP,1,0
40,President & CEO,Married,Fully Meets,1,0
41,Principal Data Architect,Single,Fully Meets,0,1
42,Production Manager,Divorced,Fully Meets,2,0
43,Production Manager,Divorced,Needs Improvement,1,0
44,Production Manager,Married,Exceeds,1,0
45,Production Manager,Married,Fully Meets,2,3
46,Production Manager,Married,Needs Improvement,0,1
47,Production Manager,Single,Exceeds,1,0
48,Production Manager,Single,Fully Meets,2,1
49,Production Technician I,Divorced,Exceeds,1,2
50,Production Technician I,Divorced,Fully Meets,5,9
51,Production Technician I,Married,Exceeds,5,2
52,Production Technician I,Married,Fully Meets,23,16
53,Production Technician I,Married,Needs Improvement,1,2
54,Production Technician I,Married,PIP,3,0
55,Production Technician I,Separated,Exceeds,1,0
56,Production Technician I,Separated,Fully Meets,3,0
57,Production Technician I,Single,Exceeds,3,1
58,Production Technician I,Single,Fully Meets,34,12
59,Production Technician I,Single,Needs Improvement,3,5
60,Production Technician I,Single,PIP,0,2
61,Production Technician I,Widowed,Exceeds,1,0
62,Production Technician I,Widowed,Fully Meets,2,1
63,Production Technician II,Divorced,Exceeds,1,0
64,Production Technician II,Divorced,Fully Meets,0,3
65,Production Technician II,Married,Exceeds,1,1
66,Production Technician II,Married,Fully Meets,8,10
67,Production Technician II,Married,Needs Improvement,0,1
68,Production Technician II,Married,PIP,0,1
69,Production Technician II,Separated,Fully Meets,3,1
70,Production Technician II,Separated,PIP,1,0
71,Production Technician II,Single,Exceeds,4,1
72,Production Technician II,Single,Fully Meets,12,5
73,Production Technician II,Single,Needs Improvement,1,0
74,Production Technician II,Single,PIP,0,1
75,Production Technician II,Widowed,Fully Meets,0,2
76,Sales Manager,Divorced,Needs Improvement,1,0
77,Sales Manager,Single,Fully Meets,1,1
78,Senior BI Developer,Single,Fully Meets,3,0
79,Shared Services Manager,Married,Fully Meets,1,0
80,Software Engineer,Married,Fully Meets,1,1
81,Software Engineer,Married,Needs Improvement,0,1
82,Software Engineer,Single,Exceeds,1,1
83,Software Engineer,Single,Fully Meets,4,1
84,Software Engineering Manager,Single,Fully Meets,1,0
85,Sr. Accountant,Married,Fully Meets,2,0
86,Sr. DBA,Married,Fully Meets,0,1
87,Sr. DBA,Single,Fully Meets,1,0
88,Sr. Network Engineer,Married,Fully Meets,3,0
89,Sr. Network Engineer,Single,Fully Meets,1,0
90,Sr. Network Engineer,Widowed,Fully Meets,1,0

In [ ]:
#Position  MaritalDesc  Department  TerminatedFlag
df.pivot_table(
    index=['Position', 'MaritalDesc', 'Department'],
    columns='TerminatedFlag',
    aggfunc='size',
    fill_value=0
).reset_index()

TerminatedFlag,Position,MaritalDesc,Department,0,1
0,Accountant I,Divorced,Admin Offices,1,0
1,Accountant I,Married,Admin Offices,1,0
2,Accountant I,Single,Admin Offices,1,0
3,Administrative Assistant,Married,Admin Offices,0,2
4,Administrative Assistant,Single,Admin Offices,1,0
5,Area Sales Manager,Married,Sales,7,2
6,Area Sales Manager,Separated,Sales,2,0
7,Area Sales Manager,Single,Sales,14,1
8,Area Sales Manager,Widowed,Sales,0,1
9,BI Developer,Married,IT/IS,3,0
10,BI Developer,Single,IT/IS,1,0
11,BI Director,Married,IT/IS,1,0
12,CIO,Single,IT/IS,1,0
13,Data Analyst,Divorced,IT/IS,1,0
14,Data Analyst,Married,IT/IS,4,1
15,Data Analyst,Single,IT/IS,1,0
16,Data Analyst,Divorced,IT/IS,0,1
17,Data Architect,Single,IT/IS,1,0
18,Database Administrator,Married,IT/IS,1,1
19,Database Administrator,Single,IT/IS,1,2
20,Director of Operations,Single,Production,1,0
21,Director of Sales,Married,Sales,1,0
22,Enterprise Architect,Single,IT/IS,0,1
23,IT Director,Single,IT/IS,1,0
24,IT Manager - DB,Divorced,IT/IS,0,1
25,IT Manager - DB,Single,IT/IS,1,0
26,IT Manager - Infra,Married,IT/IS,1,0
27,IT Manager - Support,Single,IT/IS,1,0
28,IT Support,Divorced,IT/IS,1,0
29,IT Support,Married,IT/IS,3,0
30,IT Support,Separated,IT/IS,1,0
31,IT Support,Single,IT/IS,3,0
32,Network Engineer,Married,IT/IS,3,1
33,Network Engineer,Single,IT/IS,1,0
34,President & CEO,Married,Executive Office,1,0
35,Principal Data Architect,Single,IT/IS,0,1
36,Production Manager,Divorced,Production,3,0
37,Production Manager,Married,Production,3,4
38,Production Manager,Single,Production,3,1
39,Production Technician I,Divorced,Production,6,11
40,Production Technician I,Married,Production,32,20
41,Production Technician I,Separated,Production,4,0
42,Production Technician I,Single,Production,40,20
43,Production Technician I,Widowed,Production,3,1
44,Production Technician II,Divorced,Production,1,3
45,Production Technician II,Married,Production,9,13
46,Production Technician II,Separated,Production,4,1
47,Production Technician II,Single,Production,17,7
48,Production Technician II,Widowed,Production,0,2
49,Sales Manager,Divorced,Sales,1,0
50,Sales Manager,Single,Sales,1,1
51,Senior BI Developer,Single,IT/IS,3,0
52,Shared Services Manager,Married,Admin Offices,1,0
53,Software Engineer,Married,Software Engineering,1,2
54,Software Engineer,Single,Software Engineering,5,2
55,Software Engineering Manager,Single,Software Engineering,1,0
56,Sr. Accountant,Married,Admin Offices,2,0
57,Sr. DBA,Married,IT/IS,0,1
58,Sr. DBA,Single,IT/IS,1,0
59,Sr. Network Engineer,Married,IT/IS,3,0
60,Sr. Network Engineer,Single,IT/IS,1,0
61,Sr. Network Engineer,Widowed,IT/IS,1,0

In [ ]:
#Position x Sex x Department X TerminatedFlag
df.pivot_table(
    index=['Position', 'Sex', 'Department'],
    columns='TerminatedFlag',
    aggfunc='size',
    fill_value=0
).reset_index()

TerminatedFlag                      Position Sex            Department   0   1
0                               Accountant I   F         Admin Offices   1   0
1                               Accountant I  M          Admin Offices   2   0
2                   Administrative Assistant   F         Admin Offices   1   2
3                         Area Sales Manager   F                 Sales  10   2
4                         Area Sales Manager  M                  Sales  13   2
5                               BI Developer   F                 IT/IS   1   0
6                               BI Developer  M                  IT/IS   3   0
7                                BI Director  M                  IT/IS   1   0
8                                        CIO   F                 IT/IS   1   0
9                               Data Analyst   F                 IT/IS   3   0
10                              Data Analyst  M                  IT/IS   3   1
11                             Data Analyst   M                  IT/IS   0   1
12                            Data Architect   F                 IT/IS   1   0
13                    Database Administrator   F                 IT/IS   2   2
14                    Database Administrator  M                  IT/IS   0   1
15                    Director of Operations  M      Production          1   0
16                         Director of Sales   F                 Sales   1   0
17                      Enterprise Architect  M                  IT/IS   0   1
18                               IT Director  M                  IT/IS   1   0
19                           IT Manager - DB  M                  IT/IS   1   1
20                        IT Manager - Infra  M                  IT/IS   1   0
21                      IT Manager - Support  M                  IT/IS   1   0
22                                IT Support   F                 IT/IS   5   0
23                                IT Support  M                  IT/IS   3   0
24                          Network Engineer   F                 IT/IS   2   0
25                          Network Engineer  M                  IT/IS   2   1
26                           President & CEO   F      Executive Office   1   0
27                  Principal Data Architect   F                 IT/IS   0   1
28                        Production Manager   F     Production          4   2
29                        Production Manager  M      Production          5   3
30                   Production Technician I   F     Production         52  31
31                   Production Technician I  M      Production         33  21
32                  Production Technician II   F     Production         19  18
33                  Production Technician II  M      Production         12   8
34                             Sales Manager   F                 Sales   1   1
35                             Sales Manager  M                  Sales   1   0
36                       Senior BI Developer   F                 IT/IS   1   0
37                       Senior BI Developer  M                  IT/IS   2   0
38                   Shared Services Manager  M          Admin Offices   1   0
39                         Software Engineer   F  Software Engineering   5   1
40                         Software Engineer  M   Software Engineering   1   3
41              Software Engineering Manager  M   Software Engineering   1   0
42                            Sr. Accountant   F         Admin Offices   2   0
43                                   Sr. DBA   F                 IT/IS   1   0
44                                   Sr. DBA  M                  IT/IS   0   1
45                      Sr. Network Engineer   F                 IT/IS   2   0
46                      Sr. Network Engineer  M                  IT/IS   3   0

In [ ]:
#Position x TermReason
df.groupby(
    ['Position', 'TermReason']).size().reset_index(name='Count')

                        Position                        TermReason  Count
0                   Accountant I                 N/A-StillEmployed      3
1       Administrative Assistant                 N/A-StillEmployed      1
2       Administrative Assistant                     career change      1
3       Administrative Assistant                  no-call, no-show      1
4             Area Sales Manager                  Another position      1
5             Area Sales Manager                  Fatal attraction      1
6             Area Sales Manager                 N/A-StillEmployed     23
7             Area Sales Manager                        attendance      1
8             Area Sales Manager            relocation out of area      1
9                   BI Developer                 N/A-StillEmployed      4
10                   BI Director                 N/A-StillEmployed      1
11                           CIO                 N/A-StillEmployed      1
12                  Data Analyst                 N/A-StillEmployed      6
13                  Data Analyst                       performance      1
14                 Data Analyst                              hours      1
15                Data Architect                 N/A-StillEmployed      1
16        Database Administrator                 N/A-StillEmployed      2
17        Database Administrator                  no-call, no-show      2
18        Database Administrator                       performance      1
19        Director of Operations                 N/A-StillEmployed      1
20             Director of Sales                 N/A-StillEmployed      1
21          Enterprise Architect     Learned that he is a gangster      1
22                   IT Director                 N/A-StillEmployed      1
23               IT Manager - DB                 N/A-StillEmployed      1
24               IT Manager - DB                             hours      1
25            IT Manager - Infra                 N/A-StillEmployed      1
26          IT Manager - Support                 N/A-StillEmployed      1
27                    IT Support                 N/A-StillEmployed      8
28              Network Engineer                 N/A-StillEmployed      4
29              Network Engineer                    medical issues      1
30               President & CEO                 N/A-StillEmployed      1
31      Principal Data Architect                  Another position      1
32            Production Manager                  Another position      2
33            Production Manager                 N/A-StillEmployed      9
34            Production Manager                        attendance      1
35            Production Manager                          retiring      1
36            Production Manager                           unhappy      1
37       Production Technician I                  Another position     11
38       Production Technician I                 N/A-StillEmployed     85
39       Production Technician I                        attendance      4
40       Production Technician I                     career change      2
41       Production Technician I                  gross misconduct      1
42       Production Technician I                             hours      3
43       Production Technician I  maternity leave - did not return      1
44       Production Technician I                    medical issues      1
45       Production Technician I                          military      3
46       Production Technician I                        more money      7
47       Production Technician I                  no-call, no-show      1
48       Production Technician I                       performance      2
49       Production Technician I            relocation out of area      3
50       Production Technician I                          retiring      2
51       Production Technician I                  return to school      4
52       Production Technician I                           unhappy      7
53      Production Technician II                  Another position      4
54      Production Technician II                 N/A-StillEmployed     31
55      Production Technician II                     career change      4
56      Production Technician II                             hours      3
57      Production Technician II  maternity leave - did not return      1
58      Production Technician II                          military      1
59      Production Technician II                        more money      4
60      Production Technician II            relocation out of area      1
61      Production Technician II                          retiring      1
62      Production Technician II                  return to school      1
63      Production Technician II                           unhappy      6
64                 Sales Manager                 N/A-StillEmployed      2
65                 Sales Manager  maternity leave - did not return      1
66           Senior BI Developer                 N/A-StillEmployed      3
67       Shared Services Manager                 N/A-StillEmployed      1
68             Software Engineer                  Another position      1
69             Software Engineer                 N/A-StillEmployed      6
70             Software Engineer                        attendance      1
71             Software Engineer                     career change      1
72             Software Engineer                    medical issues      1
73  Software Engineering Manager                 N/A-StillEmployed      1
74                Sr. Accountant                 N/A-StillEmployed      2
75                       Sr. DBA                 N/A-StillEmployed      1
76                       Sr. DBA                     career change      1
77          Sr. Network Engineer                 N/A-StillEmployed      5

In [ ]:
#Create variable AgeGroup
df["AgeGroup"] = pd.cut(
    df["Age"],
    bins=[20, 30, 40, 50, 60, 100],
    labels=["2029", "3039", "4049", "5059", "60+"]
)

In [ ]:
#Age  PerformanceScore  Department  TerminatedFlag
df.pivot_table(
    index=['AgeGroup', 'PerformanceScore', 'Department'],
    columns='TerminatedFlag',
    aggfunc='size',
    fill_value=0,
    observed=False
).reset_index()

TerminatedFlag AgeGroup   PerformanceScore            Department   0   1
0                 2029            Exceeds         Admin Offices   0   0
1                 2029            Exceeds      Executive Office   0   0
2                 2029            Exceeds                 IT/IS   0   0
3                 2029            Exceeds     Production          0   0
4                 2029            Exceeds                 Sales   0   0
5                 2029            Exceeds  Software Engineering   0   0
6                 2029        Fully Meets         Admin Offices   0   0
7                 2029        Fully Meets      Executive Office   0   0
8                 2029        Fully Meets                 IT/IS   0   0
9                 2029        Fully Meets     Production          0   0
10                2029        Fully Meets                 Sales   0   0
11                2029        Fully Meets  Software Engineering   0   0
12                2029  Needs Improvement         Admin Offices   0   0
13                2029  Needs Improvement      Executive Office   0   0
14                2029  Needs Improvement                 IT/IS   0   0
15                2029  Needs Improvement     Production          0   0
16                2029  Needs Improvement                 Sales   0   0
17                2029  Needs Improvement  Software Engineering   0   0
18                2029                PIP         Admin Offices   0   0
19                2029                PIP      Executive Office   0   0
20                2029                PIP                 IT/IS   0   0
21                2029                PIP     Production          0   0
22                2029                PIP                 Sales   0   0
23                2029                PIP  Software Engineering   0   0
24                3039            Exceeds         Admin Offices   0   0
25                3039            Exceeds      Executive Office   0   0
26                3039            Exceeds                 IT/IS   3   0
27                3039            Exceeds     Production          3   3
28                3039            Exceeds                 Sales   1   0
29                3039            Exceeds  Software Engineering   0   0
30                3039        Fully Meets         Admin Offices   6   2
31                3039        Fully Meets      Executive Office   0   0
32                3039        Fully Meets                 IT/IS  12   5
33                3039        Fully Meets     Production         30  17
34                3039        Fully Meets                 Sales  11   1
35                3039        Fully Meets  Software Engineering   3   1
36                3039  Needs Improvement         Admin Offices   0   0
37                3039  Needs Improvement      Executive Office   0   0
38                3039  Needs Improvement                 IT/IS   1   0
39                3039  Needs Improvement     Production          1   4
40                3039  Needs Improvement                 Sales   1   0
41                3039  Needs Improvement  Software Engineering   0   1
42                3039                PIP         Admin Offices   0   0
43                3039                PIP      Executive Office   0   0
44                3039                PIP                 IT/IS   1   0
45                3039                PIP     Production          2   1
46                3039                PIP                 Sales   1   0
47                3039                PIP  Software Engineering   0   0
48                4049            Exceeds         Admin Offices   0   0
49                4049            Exceeds      Executive Office   0   0
50                4049            Exceeds                 IT/IS   2   0
51                4049            Exceeds     Production         10   0
52                4049            Exceeds                 Sales   0   0
53                4049            Exceeds  Software Engineering   1   1
54                4049        Fully Meets         Admin Offices   1   0
55                4049        Fully Meets      Executive Office   0   0
56                4049        Fully Meets                 IT/IS  10   1
57                4049        Fully Meets     Production         50  24
58                4049        Fully Meets                 Sales   2   0
59                4049        Fully Meets  Software Engineering   2   1
60                4049  Needs Improvement         Admin Offices   0   0
61                4049  Needs Improvement      Executive Office   0   0
62                4049  Needs Improvement                 IT/IS   0   0
63                4049  Needs Improvement     Production          4   5
64                4049  Needs Improvement                 Sales   0   0
65                4049  Needs Improvement  Software Engineering   0   0
66                4049                PIP         Admin Offices   0   0
67                4049                PIP      Executive Office   0   0
68                4049                PIP                 IT/IS   0   0
69                4049                PIP     Production          0   2
70                4049                PIP                 Sales   2   1
71                4049                PIP  Software Engineering   0   0
72                5059            Exceeds         Admin Offices   0   0
73                5059            Exceeds      Executive Office   0   0
74                5059            Exceeds                 IT/IS   1   0
75                5059            Exceeds     Production          6   2
76                5059            Exceeds                 Sales   1   0
77                5059            Exceeds  Software Engineering   0   0
78                5059        Fully Meets         Admin Offices   0   0
79                5059        Fully Meets      Executive Office   0   0
80                5059        Fully Meets                 IT/IS   9   3
81                5059        Fully Meets     Production         13  16
82                5059        Fully Meets                 Sales   4   3
83                5059        Fully Meets  Software Engineering   1   0
84                5059  Needs Improvement         Admin Offices   0   0
85                5059  Needs Improvement      Executive Office   0   0
86                5059  Needs Improvement                 IT/IS   0   0
87                5059  Needs Improvement     Production          1   0
88                5059  Needs Improvement                 Sales   0   0
89                5059  Needs Improvement  Software Engineering   0   0
90                5059                PIP         Admin Offices   0   0
91                5059                PIP      Executive Office   0   0
92                5059                PIP                 IT/IS   0   0
93                5059                PIP     Production          2   1
94                5059                PIP                 Sales   0   0
95                5059                PIP  Software Engineering   0   0
96                  60+            Exceeds         Admin Offices   0   0
97                  60+            Exceeds      Executive Office   0   0
98                  60+            Exceeds                 IT/IS   0   0
99                  60+            Exceeds     Production          1   2
100                 60+            Exceeds                 Sales   0   0
101                 60+            Exceeds  Software Engineering   0   0
102                 60+        Fully Meets         Admin Offices   0   0
103                 60+        Fully Meets      Executive Office   1   0
104                 60+        Fully Meets                 IT/IS   1   1
105                 60+        Fully Meets     Production          3   6
106                 60+        Fully Meets                 Sales   3   0
107                 60+        Fully Meets  Software Engineering   0   0
108                 60+  Needs Improvement         Admin Offices   0   0
109                 60+  Needs Improvement      Executive Office   0   0
110                 60+  Needs Improvement                 IT/IS   0   0
111                 60+  Needs Improvement     Production          0   0
112                 60+  Needs Improvement                 Sales   0   0
113                 60+  Needs Improvement  Software Engineering   0   0
114                 60+                PIP         Admin Offices   0   0
115                 60+                PIP      Executive Office   0   0
116                 60+                PIP                 IT/IS   0   0
117                 60+                PIP     Production          0   0
118                 60+                PIP                 Sales   0   0
119                 60+                PIP  Software Engineering   0   0

In [ ]:
#Age  EmploymentStatus  Department  TerminatedFlag
df.pivot_table(
    index=['AgeGroup', 'EmploymentStatus', 'Department'],
    columns='TerminatedFlag',
    aggfunc='size',
    fill_value=0,
    observed=False
).reset_index()

TerminatedFlag AgeGroup        EmploymentStatus            Department   0   1
0                 2029                  Active         Admin Offices   0   0
1                 2029                  Active      Executive Office   0   0
2                 2029                  Active                 IT/IS   0   0
3                 2029                  Active     Production          0   0
4                 2029                  Active                 Sales   0   0
5                 2029                  Active  Software Engineering   0   0
6                 2029    Terminated for Cause         Admin Offices   0   0
7                 2029    Terminated for Cause      Executive Office   0   0
8                 2029    Terminated for Cause                 IT/IS   0   0
9                 2029    Terminated for Cause     Production          0   0
10                2029    Terminated for Cause                 Sales   0   0
11                2029    Terminated for Cause  Software Engineering   0   0
12                2029  Voluntarily Terminated         Admin Offices   0   0
13                2029  Voluntarily Terminated      Executive Office   0   0
14                2029  Voluntarily Terminated                 IT/IS   0   0
15                2029  Voluntarily Terminated     Production          0   0
16                2029  Voluntarily Terminated                 Sales   0   0
17                2029  Voluntarily Terminated  Software Engineering   0   0
18                3039                  Active         Admin Offices   6   0
19                3039                  Active      Executive Office   0   0
20                3039                  Active                 IT/IS  17   0
21                3039                  Active     Production         36   0
22                3039                  Active                 Sales  14   0
23                3039                  Active  Software Engineering   3   0
24                3039    Terminated for Cause         Admin Offices   0   1
25                3039    Terminated for Cause      Executive Office   0   0
26                3039    Terminated for Cause                 IT/IS   0   2
27                3039    Terminated for Cause     Production          0   3
28                3039    Terminated for Cause                 Sales   0   0
29                3039    Terminated for Cause  Software Engineering   0   1
30                3039  Voluntarily Terminated         Admin Offices   0   1
31                3039  Voluntarily Terminated      Executive Office   0   0
32                3039  Voluntarily Terminated                 IT/IS   0   3
33                3039  Voluntarily Terminated     Production          0  22
34                3039  Voluntarily Terminated                 Sales   0   1
35                3039  Voluntarily Terminated  Software Engineering   0   1
36                4049                  Active         Admin Offices   1   0
37                4049                  Active      Executive Office   0   0
38                4049                  Active                 IT/IS  12   0
39                4049                  Active     Production         64   0
40                4049                  Active                 Sales   4   0
41                4049                  Active  Software Engineering   3   0
42                4049    Terminated for Cause         Admin Offices   0   0
43                4049    Terminated for Cause      Executive Office   0   0
44                4049    Terminated for Cause                 IT/IS   0   0
45                4049    Terminated for Cause     Production          0   4
46                4049    Terminated for Cause                 Sales   0   1
47                4049    Terminated for Cause  Software Engineering   0   0
48                4049  Voluntarily Terminated         Admin Offices   0   0
49                4049  Voluntarily Terminated      Executive Office   0   0
50                4049  Voluntarily Terminated                 IT/IS   0   1
51                4049  Voluntarily Terminated     Production          0  27
52                4049  Voluntarily Terminated                 Sales   0   0
53                4049  Voluntarily Terminated  Software Engineering   0   2
54                5059                  Active         Admin Offices   0   0
55                5059                  Active      Executive Office   0   0
56                5059                  Active                 IT/IS  10   0
57                5059                  Active     Production         22   0
58                5059                  Active                 Sales   5   0
59                5059                  Active  Software Engineering   1   0
60                5059    Terminated for Cause         Admin Offices   0   0
61                5059    Terminated for Cause      Executive Office   0   0
62                5059    Terminated for Cause                 IT/IS   0   2
63                5059    Terminated for Cause     Production          0   1
64                5059    Terminated for Cause                 Sales   0   1
65                5059    Terminated for Cause  Software Engineering   0   0
66                5059  Voluntarily Terminated         Admin Offices   0   0
67                5059  Voluntarily Terminated      Executive Office   0   0
68                5059  Voluntarily Terminated                 IT/IS   0   1
69                5059  Voluntarily Terminated     Production          0  18
70                5059  Voluntarily Terminated                 Sales   0   2
71                5059  Voluntarily Terminated  Software Engineering   0   0
72                  60+                  Active         Admin Offices   0   0
73                  60+                  Active      Executive Office   1   0
74                  60+                  Active                 IT/IS   1   0
75                  60+                  Active     Production          4   0
76                  60+                  Active                 Sales   3   0
77                  60+                  Active  Software Engineering   0   0
78                  60+    Terminated for Cause         Admin Offices   0   0
79                  60+    Terminated for Cause      Executive Office   0   0
80                  60+    Terminated for Cause                 IT/IS   0   0
81                  60+    Terminated for Cause     Production          0   0
82                  60+    Terminated for Cause                 Sales   0   0
83                  60+    Terminated for Cause  Software Engineering   0   0
84                  60+  Voluntarily Terminated         Admin Offices   0   0
85                  60+  Voluntarily Terminated      Executive Office   0   0
86                  60+  Voluntarily Terminated                 IT/IS   0   1
87                  60+  Voluntarily Terminated     Production          0   8
88                  60+  Voluntarily Terminated                 Sales   0   0
89                  60+  Voluntarily Terminated  Software Engineering   0   0

In [ ]:
#Age  Sex  Department  TerminatedFlag
df.pivot_table(
    index=['AgeGroup', 'Sex', 'Department'],
    columns='TerminatedFlag',
    aggfunc='size',
    fill_value=0,
    observed=False
).reset_index()

TerminatedFlag AgeGroup Sex            Department   0   1
0                 2029   F         Admin Offices   0   0
1                 2029   F      Executive Office   0   0
2                 2029   F                 IT/IS   0   0
3                 2029   F     Production          0   0
4                 2029   F                 Sales   0   0
5                 2029   F  Software Engineering   0   0
6                 2029  M          Admin Offices   0   0
7                 2029  M       Executive Office   0   0
8                 2029  M                  IT/IS   0   0
9                 2029  M      Production          0   0
10                2029  M                  Sales   0   0
11                2029  M   Software Engineering   0   0
12                3039   F         Admin Offices   3   2
13                3039   F      Executive Office   0   0
14                3039   F                 IT/IS   7   1
15                3039   F     Production         26  16
16                3039   F                 Sales   9   1
17                3039   F  Software Engineering   3   1
18                3039  M          Admin Offices   3   0
19                3039  M       Executive Office   0   0
20                3039  M                  IT/IS  10   4
21                3039  M      Production         10   9
22                3039  M                  Sales   5   0
23                3039  M   Software Engineering   0   1
24                4049   F         Admin Offices   1   0
25                4049   F      Executive Office   0   0
26                4049   F                 IT/IS   8   0
27                4049   F     Production         29  17
28                4049   F                 Sales   0   0
29                4049   F  Software Engineering   2   0
30                4049  M          Admin Offices   0   0
31                4049  M       Executive Office   0   0
32                4049  M                  IT/IS   4   1
33                4049  M      Production         35  14
34                4049  M                  Sales   4   1
35                4049  M   Software Engineering   1   2
36                5059   F         Admin Offices   0   0
37                5059   F      Executive Office   0   0
38                5059   F                 IT/IS   3   2
39                5059   F     Production         18  12
40                5059   F                 Sales   2   2
41                5059   F  Software Engineering   0   0
42                5059  M          Admin Offices   0   0
43                5059  M       Executive Office   0   0
44                5059  M                  IT/IS   7   1
45                5059  M      Production          4   7
46                5059  M                  Sales   3   1
47                5059  M   Software Engineering   1   0
48                  60+   F         Admin Offices   0   0
49                  60+   F      Executive Office   1   0
50                  60+   F                 IT/IS   1   0
51                  60+   F     Production          2   6
52                  60+   F                 Sales   1   0
53                  60+   F  Software Engineering   0   0
54                  60+  M          Admin Offices   0   0
55                  60+  M       Executive Office   0   0
56                  60+  M                  IT/IS   0   1
57                  60+  M      Production          2   2
58                  60+  M                  Sales   2   0
59                  60+  M   Software Engineering   0   0

In [ ]:
#Age  MaritalDesc  Department  TerminatedFlag
df.pivot_table(
    index=['AgeGroup', 'MaritalDesc', 'Department'],
    columns='TerminatedFlag',
    aggfunc='size',
    fill_value=0,
    observed=False
).reset_index()

TerminatedFlag AgeGroup MaritalDesc            Department   0   1
0                 2029    Divorced         Admin Offices   0   0
1                 2029    Divorced      Executive Office   0   0
2                 2029    Divorced                 IT/IS   0   0
3                 2029    Divorced     Production          0   0
4                 2029    Divorced                 Sales   0   0
5                 2029    Divorced  Software Engineering   0   0
6                 2029     Married         Admin Offices   0   0
7                 2029     Married      Executive Office   0   0
8                 2029     Married                 IT/IS   0   0
9                 2029     Married     Production          0   0
10                2029     Married                 Sales   0   0
11                2029     Married  Software Engineering   0   0
12                2029   Separated         Admin Offices   0   0
13                2029   Separated      Executive Office   0   0
14                2029   Separated                 IT/IS   0   0
15                2029   Separated     Production          0   0
16                2029   Separated                 Sales   0   0
17                2029   Separated  Software Engineering   0   0
18                2029      Single         Admin Offices   0   0
19                2029      Single      Executive Office   0   0
20                2029      Single                 IT/IS   0   0
21                2029      Single     Production          0   0
22                2029      Single                 Sales   0   0
23                2029      Single  Software Engineering   0   0
24                2029     Widowed         Admin Offices   0   0
25                2029     Widowed      Executive Office   0   0
26                2029     Widowed                 IT/IS   0   0
27                2029     Widowed     Production          0   0
28                2029     Widowed                 Sales   0   0
29                2029     Widowed  Software Engineering   0   0
30                3039    Divorced         Admin Offices   1   0
31                3039    Divorced      Executive Office   0   0
32                3039    Divorced                 IT/IS   2   1
33                3039    Divorced     Production          2   4
34                3039    Divorced                 Sales   1   0
35                3039    Divorced  Software Engineering   0   0
36                3039     Married         Admin Offices   3   2
37                3039     Married      Executive Office   0   0
38                3039     Married                 IT/IS   9   3
39                3039     Married     Production         13  12
40                3039     Married                 Sales   5   0
41                3039     Married  Software Engineering   1   2
42                3039   Separated         Admin Offices   0   0
43                3039   Separated      Executive Office   0   0
44                3039   Separated                 IT/IS   0   0
45                3039   Separated     Production          2   0
46                3039   Separated                 Sales   1   0
47                3039   Separated  Software Engineering   0   0
48                3039      Single         Admin Offices   2   0
49                3039      Single      Executive Office   0   0
50                3039      Single                 IT/IS   6   1
51                3039      Single     Production         18   9
52                3039      Single                 Sales   7   1
53                3039      Single  Software Engineering   2   0
54                3039     Widowed         Admin Offices   0   0
55                3039     Widowed      Executive Office   0   0
56                3039     Widowed                 IT/IS   0   0
57                3039     Widowed     Production          1   0
58                3039     Widowed                 Sales   0   0
59                3039     Widowed  Software Engineering   0   0
60                4049    Divorced         Admin Offices   0   0
61                4049    Divorced      Executive Office   0   0
62                4049    Divorced                 IT/IS   0   0
63                4049    Divorced     Production          3   7
64                4049    Divorced                 Sales   0   0
65                4049    Divorced  Software Engineering   0   0
66                4049     Married         Admin Offices   1   0
67                4049     Married      Executive Office   0   0
68                4049     Married                 IT/IS   5   1
69                4049     Married     Production         26  12
70                4049     Married                 Sales   1   1
71                4049     Married  Software Engineering   0   0
72                4049   Separated         Admin Offices   0   0
73                4049   Separated      Executive Office   0   0
74                4049   Separated                 IT/IS   1   0
75                4049   Separated     Production          3   0
76                4049   Separated                 Sales   0   0
77                4049   Separated  Software Engineering   0   0
78                4049      Single         Admin Offices   0   0
79                4049      Single      Executive Office   0   0
80                4049      Single                 IT/IS   5   0
81                4049      Single     Production         30  10
82                4049      Single                 Sales   3   0
83                4049      Single  Software Engineering   3   2
84                4049     Widowed         Admin Offices   0   0
85                4049     Widowed      Executive Office   0   0
86                4049     Widowed                 IT/IS   1   0
87                4049     Widowed     Production          2   2
88                4049     Widowed                 Sales   0   0
89                4049     Widowed  Software Engineering   0   0
90                5059    Divorced         Admin Offices   0   0
91                5059    Divorced      Executive Office   0   0
92                5059    Divorced                 IT/IS   0   0
93                5059    Divorced     Production          4   3
94                5059    Divorced                 Sales   0   0
95                5059    Divorced  Software Engineering   0   0
96                5059     Married         Admin Offices   0   0
97                5059     Married      Executive Office   0   0
98                5059     Married                 IT/IS   4   0
99                5059     Married     Production          5   8
100               5059     Married                 Sales   1   1
101               5059     Married  Software Engineering   0   0
102               5059   Separated         Admin Offices   0   0
103               5059   Separated      Executive Office   0   0
104               5059   Separated                 IT/IS   0   0
105               5059   Separated     Production          3   0
106               5059   Separated                 Sales   1   0
107               5059   Separated  Software Engineering   0   0
108               5059      Single         Admin Offices   0   0
109               5059      Single      Executive Office   0   0
110               5059      Single                 IT/IS   6   3
111               5059      Single     Production         10   7
112               5059      Single                 Sales   3   1
113               5059      Single  Software Engineering   1   0
114               5059     Widowed         Admin Offices   0   0
115               5059     Widowed      Executive Office   0   0
116               5059     Widowed                 IT/IS   0   0
117               5059     Widowed     Production          0   1
118               5059     Widowed                 Sales   0   1
119               5059     Widowed  Software Engineering   0   0
120                 60+    Divorced         Admin Offices   0   0
121                 60+    Divorced      Executive Office   0   0
122                 60+    Divorced                 IT/IS   0   1
123                 60+    Divorced     Production          1   0
124                 60+    Divorced                 Sales   0   0
125                 60+    Divorced  Software Engineering   0   0
126                 60+     Married         Admin Offices   0   0
127                 60+     Married      Executive Office   1   0
128                 60+     Married                 IT/IS   1   0
129                 60+     Married     Production          0   5
130                 60+     Married                 Sales   1   0
131                 60+     Married  Software Engineering   0   0
132                 60+   Separated         Admin Offices   0   0
133                 60+   Separated      Executive Office   0   0
134                 60+   Separated                 IT/IS   0   0
135                 60+   Separated     Production          0   1
136                 60+   Separated                 Sales   0   0
137                 60+   Separated  Software Engineering   0   0
138                 60+      Single         Admin Offices   0   0
139                 60+      Single      Executive Office   0   0
140                 60+      Single                 IT/IS   0   0
141                 60+      Single     Production          3   2
142                 60+      Single                 Sales   2   0
143                 60+      Single  Software Engineering   0   0
144                 60+     Widowed         Admin Offices   0   0
145                 60+     Widowed      Executive Office   0   0
146                 60+     Widowed                 IT/IS   0   0
147                 60+     Widowed     Production          0   0
148                 60+     Widowed                 Sales   0   0
149                 60+     Widowed  Software Engineering   0   0

In [ ]:
#AgeGroup  Salary  PerformanceScore  TerminatedFlag
df.groupby(
    ["AgeGroup", "PerformanceScore", "TerminatedFlag"], observed=False
).agg(
    Count=("Salary", "count"),
    Avg_Salary10=("Salary", "mean"),
    Median_Salary10=("Salary", "median"),
    Min_Salary10=("Salary", "min"),
    Max_Salary10=("Salary", "max")
).reset_index()

,AgeGroup,PerformanceScore,TerminatedFlag,Count,Avg_Salary10,Median_Salary10,Min_Salary10,Max_Salary10
0,2029,Exceeds,0,0,NaN,NaN,NaN,NaN
1,2029,Exceeds,1,0,NaN,NaN,NaN,NaN
2,2029,Fully Meets,0,0,NaN,NaN,NaN,NaN
3,2029,Fully Meets,1,0,NaN,NaN,NaN,NaN
4,2029,Needs Improvement,0,0,NaN,NaN,NaN,NaN
5,2029,Needs Improvement,1,0,NaN,NaN,NaN,NaN
6,2029,PIP,0,0,NaN,NaN,NaN,NaN
7,2029,PIP,1,0,NaN,NaN,NaN,NaN
8,3039,Exceeds,0,7,71269.571429,63353.0,51777.0,93554.0
9,3039,Exceeds,1,3,55416.666667,57954.0,49773.0,58523.0
10,3039,Fully Meets,0,62,67695.290323,63360.5,45395.0,106367.0
11,3039,Fully Meets,1,26,67018.730769,62720.0,45998.0,113999.0
12,3039,Needs Improvement,0,3,98811.000000,72992.0,66441.0,157000.0
13,3039,Needs Improvement,1,5,66732.000000,60270.0,53564.0,99280.0
14,3039,PIP,0,4,58375.250000,58039.0,53366.0,64057.0
15,3039,PIP,1,1,55800.000000,55800.0,55800.0,55800.0
16,4049,Exceeds,0,13,94120.384615,72640.0,47414.0,220450.0
17,4049,Exceeds,1,1,108987.000000,108987.0,108987.0,108987.0
18,4049,Fully Meets,0,65,64295.553846,61349.0,45046.0,107226.0
19,4049,Fully Meets,1,26,63226.153846,63595.5,45115.0,104437.0
20,4049,Needs Improvement,0,4,61430.000000,62304.5,53060.0,68051.0
21,4049,Needs Improvement,1,5,61554.600000,59144.0,50274.0,83082.0
22,4049,PIP,0,2,59920.500000,59920.5,58273.0,61568.0
23,4049,PIP,1,3,57124.666667,52674.0,48513.0,70187.0
24,5059,Exceeds,0,8,71101.500000,63859.5,46738.0,138888.0
25,5059,Exceeds,1,2,54929.500000,54929.5,47434.0,62425.0
26,5059,Fully Meets,0,27,78628.740741,66593.0,45069.0,180000.0
27,5059,Fully Meets,1,22,66526.227273,58592.5,45433.0,120000.0
28,5059,Needs Improvement,0,1,47750.000000,47750.0,47750.0,47750.0
29,5059,Needs Improvement,1,0,NaN,NaN,NaN,NaN
30,5059,PIP,0,2,58605.000000,58605.0,53189.0,64021.0
31,5059,PIP,1,1,68898.000000,68898.0,68898.0,68898.0
32,60+,Exceeds,0,1,60656.000000,60656.0,60656.0,60656.0
33,60+,Exceeds,1,2,58672.000000,58672.0,46837.0,70507.0
34,60+,Fully Meets,0,8,90249.375000,66085.0,59472.0,250000.0
35,60+,Fully Meets,1,7,77411.285714,71966.0,52177.0,148999.0
36,60+,Needs Improvement,0,0,NaN,NaN,NaN,NaN
37,60+,Needs Improvement,1,0,NaN,NaN,NaN,NaN
38,60+,PIP,0,0,NaN,NaN,NaN,NaN
39,60+,PIP,1,0,NaN,NaN,NaN,NaN

In [ ]:
#Age  PerformanceScore  Position  TerminatedFlag
df.pivot_table(
    index=['AgeGroup', 'PerformanceScore', 'Position'],
    columns='TerminatedFlag',
    aggfunc='size',
    fill_value=0,
    observed=False
).reset_index()

TerminatedFlag,AgeGroup,PerformanceScore,Position,0,1
0,2029,Exceeds,Accountant I,0,0
1,2029,Exceeds,Administrative Assistant,0,0
2,2029,Exceeds,Area Sales Manager,0,0
3,2029,Exceeds,BI Developer,0,0
4,2029,Exceeds,BI Director,0,0
5,2029,Exceeds,CIO,0,0
6,2029,Exceeds,Data Analyst,0,0
7,2029,Exceeds,Data Analyst,0,0
8,2029,Exceeds,Data Architect,0,0
9,2029,Exceeds,Database Administrator,0,0
10,2029,Exceeds,Director of Operations,0,0
11,2029,Exceeds,Director of Sales,0,0
12,2029,Exceeds,Enterprise Architect,0,0
13,2029,Exceeds,IT Director,0,0
14,2029,Exceeds,IT Manager - DB,0,0
15,2029,Exceeds,IT Manager - Infra,0,0
16,2029,Exceeds,IT Manager - Support,0,0
17,2029,Exceeds,IT Support,0,0
18,2029,Exceeds,Network Engineer,0,0
19,2029,Exceeds,President & CEO,0,0
20,2029,Exceeds,Principal Data Architect,0,0
21,2029,Exceeds,Production Manager,0,0
22,2029,Exceeds,Production Technician I,0,0
23,2029,Exceeds,Production Technician II,0,0
24,2029,Exceeds,Sales Manager,0,0
25,2029,Exceeds,Senior BI Developer,0,0
26,2029,Exceeds,Shared Services Manager,0,0
27,2029,Exceeds,Software Engineer,0,0
28,2029,Exceeds,Software Engineering Manager,0,0
29,2029,Exceeds,Sr. Accountant,0,0
30,2029,Exceeds,Sr. DBA,0,0
31,2029,Exceeds,Sr. Network Engineer,0,0
32,2029,Fully Meets,Accountant I,0,0
33,2029,Fully Meets,Administrative Assistant,0,0
34,2029,Fully Meets,Area Sales Manager,0,0
35,2029,Fully Meets,BI Developer,0,0
36,2029,Fully Meets,BI Director,0,0
37,2029,Fully Meets,CIO,0,0
38,2029,Fully Meets,Data Analyst,0,0
39,2029,Fully Meets,Data Analyst,0,0
40,2029,Fully Meets,Data Architect,0,0
41,2029,Fully Meets,Database Administrator,0,0
42,2029,Fully Meets,Director of Operations,0,0
43,2029,Fully Meets,Director of Sales,0,0
44,2029,Fully Meets,Enterprise Architect,0,0
45,2029,Fully Meets,IT Director,0,0
46,2029,Fully Meets,IT Manager - DB,0,0
47,2029,Fully Meets,IT Manager - Infra,0,0
48,2029,Fully Meets,IT Manager - Support,0,0
49,2029,Fully Meets,IT Support,0,0
50,2029,Fully Meets,Network Engineer,0,0
51,2029,Fully Meets,President & CEO,0,0
52,2029,Fully Meets,Principal Data Architect,0,0
53,2029,Fully Meets,Production Manager,0,0
54,2029,Fully Meets,Production Technician I,0,0
55,2029,Fully Meets,Production Technician II,0,0
56,2029,Fully Meets,Sales Manager,0,0
57,2029,Fully Meets,Senior BI Developer,0,0
58,2029,Fully Meets,Shared Services Manager,0,0
59,2029,Fully Meets,Software Engineer,0,0
60,2029,Fully Meets,Software Engineering Manager,0,0
61,2029,Fully Meets,Sr. Accountant,0,0
62,2029,Fully Meets,Sr. DBA,0,0
63,2029,Fully Meets,Sr. Network Engineer,0,0
64,2029,Needs Improvement,Accountant I,0,0
65,2029,Needs Improvement,Administrative Assistant,0,0
66,2029,Needs Improvement,Area Sales Manager,0,0
67,2029,Needs Improvement,BI Developer,0,0
68,2029,Needs Improvement,BI Director,0,0
69,2029,Needs Improvement,CIO,0,0
70,2029,Needs Improvement,Data Analyst,0,0
71,2029,Needs Improvement,Data Analyst,0,0
72,2029,Needs Improvement,Data Architect,0,0
73,2029,Needs Improvement,Database Administrator,0,0
74,2029,Needs Improvement,Director of Operations,0,0
75,2029,Needs Improvement,Director of Sales,0,0
76,2029,Needs Improvement,Enterprise Architect,0,0
77,2029,Needs Improvement,IT Director,0,0
78,2029,Needs Improvement,IT Manager - DB,0,0
79,2029,Needs Improvement,IT Manager - Infra,0,0
80,2029,Needs Improvement,IT Manager - Support,0,0
81,2029,Needs Improvement,IT Support,0,0
82,2029,Needs Improvement,Network Engineer,0,0
83,2029,Needs Improvement,President & CEO,0,0
84,2029,Needs Improvement,Principal Data Architect,0,0
85,2029,Needs Improvement,Production Manager,0,0
86,2029,Needs Improvement,Production Technician I,0,0
87,2029,Needs Improvement,Production Technician II,0,0
88,2029,Needs Improvement,Sales Manager,0,0
89,2029,Needs Improvement,Senior BI Developer,0,0
90,2029,Needs Improvement,Shared Services Manager,0,0
91,2029,Needs Improvement,Software Engineer,0,0
92,2029,Needs Improvement,Software Engineering Manager,0,0
93,2029,Needs Improvement,Sr. Accountant,0,0
94,2029,Needs Improvement,Sr. DBA,0,0
95,2029,Needs Improvement,Sr. Network Engineer,0,0
96,2029,PIP,Accountant I,0,0
97,2029,PIP,Administrative Assistant,0,0
98,2029,PIP,Area Sales Manager,0,0
99,2029,PIP,BI Developer,0,0
100,2029,PIP,BI Director,0,0
101,2029,PIP,CIO,0,0
102,2029,PIP,Data Analyst,0,0
103,2029,PIP,Data Analyst,0,0
104,2029,PIP,Data Architect,0,0
105,2029,PIP,Database Administrator,0,0
106,2029,PIP,Director of Operations,0,0
107,2029,PIP,Director of Sales,0,0
108,2029,PIP,Enterprise Architect,0,0
109,2029,PIP,IT Director,0,0
110,2029,PIP,IT Manager - DB,0,0
111,2029,PIP,IT Manager - Infra,0,0
112,2029,PIP,IT Manager - Support,0,0
113,2029,PIP,IT Support,0,0
114,2029,PIP,Network Engineer,0,0
115,2029,PIP,President & CEO,0,0
116,2029,PIP,Principal Data Architect,0,0
117,2029,PIP,Production Manager,0,0
118,2029,PIP,Production Technician I,0,0
119,2029,PIP,Production Technician II,0,0
120,2029,PIP,Sales Manager,0,0
121,2029,PIP,Senior BI Developer,0,0
122,2029,PIP,Shared Services Manager,0,0
123,2029,PIP,Software Engineer,0,0
124,2029,PIP,Software Engineering Manager,0,0
125,2029,PIP,Sr. Accountant,0,0
126,2029,PIP,Sr. DBA,0,0
127,2029,PIP,Sr. Network Engineer,0,0
128,3039,Exceeds,Accountant I,0,0
129,3039,Exceeds,Administrative Assistant,0,0
130,3039,Exceeds,Area Sales Manager,1,0
131,3039,Exceeds,BI Developer,0,0
132,3039,Exceeds,BI Director,0,0
133,3039,Exceeds,CIO,0,0
134,3039,Exceeds,Data Analyst,2,0
135,3039,Exceeds,Data Analyst,0,0
136,3039,Exceeds,Data Architect,0,0
137,3039,Exceeds,Database Administrator,0,0
138,3039,Exceeds,Director of Operations,0,0
139,3039,Exceeds,Director of Sales,0,0
140,3039,Exceeds,Enterprise Architect,0,0
141,3039,Exceeds,IT Director,0,0
142,3039,Exceeds,IT Manager - DB,0,0
143,3039,Exceeds,IT Manager - Infra,0,0
144,3039,Exceeds,IT Manager - Support,0,0
145,3039,Exceeds,IT Support,1,0
146,3039,Exceeds,Network Engineer,0,0
147,3039,Exceeds,President & CEO,0,0
148,3039,Exceeds,Principal Data Architect,0,0
149,3039,Exceeds,Production Manager,0,0
150,3039,Exceeds,Production Technician I,2,2
151,3039,Exceeds,Production Technician II,1,1
152,3039,Exceeds,Sales Manager,0,0
153,3039,Exceeds,Senior BI Developer,0,0
154,3039,Exceeds,Shared Services Manager,0,0
155,3039,Exceeds,Software Engineer,0,0
156,3039,Exceeds,Software Engineering Manager,0,0
157,3039,Exceeds,Sr. Accountant,0,0
158,3039,Exceeds,Sr. DBA,0,0
159,3039,Exceeds,Sr. Network Engineer,0,0
160,3039,Fully Meets,Accountant I,3,0
161,3039,Fully Meets,Administrative Assistant,1,2
162,3039,Fully Meets,Area Sales Manager,10,0
163,3039,Fully Meets,BI Developer,2,0
164,3039,Fully Meets,BI Director,0,0
165,3039,Fully Meets,CIO,0,0
166,3039,Fully Meets,Data Analyst,1,1
167,3039,Fully Meets,Data Analyst,0,1
168,3039,Fully Meets,Data Architect,0,0
169,3039,Fully Meets,Database Administrator,2,2
170,3039,Fully Meets,Director of Operations,0,0
171,3039,Fully Meets,Director of Sales,0,0
172,3039,Fully Meets,Enterprise Architect,0,0
173,3039,Fully Meets,IT Director,0,0
174,3039,Fully Meets,IT Manager - DB,0,0
175,3039,Fully Meets,IT Manager - Infra,0,0
176,3039,Fully Meets,IT Manager - Support,0,0
177,3039,Fully Meets,IT Support,4,0
178,3039,Fully Meets,Network Engineer,0,1
179,3039,Fully Meets,President & CEO,0,0
180,3039,Fully Meets,Principal Data Architect,0,0
181,3039,Fully Meets,Production Manager,0,0
182,3039,Fully Meets,Production Technician I,19,11
183,3039,Fully Meets,Production Technician II,11,6
184,3039,Fully Meets,Sales Manager,1,1
185,3039,Fully Meets,Senior BI Developer,1,0
186,3039,Fully Meets,Shared Services Manager,1,0
187,3039,Fully Meets,Software Engineer,3,1
188,3039,Fully Meets,Software Engineering Manager,0,0
189,3039,Fully Meets,Sr. Accountant,1,0
190,3039,Fully Meets,Sr. DBA,1,0
191,3039,Fully Meets,Sr. Network Engineer,1,0
192,3039,Needs Improvement,Accountant I,0,0
193,3039,Needs Improvement,Administrative Assistant,0,0
194,3039,Needs Improvement,Area Sales Manager,0,0
195,3039,Needs Improvement,BI Developer,0,0
196,3039,Needs Improvement,BI Director,0,0
197,3039,Needs Improvement,CIO,0,0
198,3039,Needs Improvement,Data Analyst,0,0
199,3039,Needs Improvement,Data Analyst,0,0
200,3039,Needs Improvement,Data Architect,0,0
201,3039,Needs Improvement,Database Administrator,0,0
202,3039,Needs Improvement,Director of Operations,0,0
203,3039,Needs Improvement,Director of Sales,0,0
204,3039,Needs Improvement,Enterprise Architect,0,0
205,3039,Needs Improvement,IT Director,0,0
206,3039,Needs Improvement,IT Manager - DB,0,0
207,3039,Needs Improvement,IT Manager - Infra,1,0
208,3039,Needs Improvement,IT Manager - Support,0,0
209,3039,Needs Improvement,IT Support,0,0
210,3039,Needs Improvement,Network Engineer,0,0
211,3039,Needs Improvement,President & CEO,0,0
212,3039,Needs Improvement,Principal Data Architect,0,0
213,3039,Needs Improvement,Production Manager,0,0
214,3039,Needs Improvement,Production Technician I,0,3
215,3039,Needs Improvement,Production Technician II,1,1
216,3039,Needs Improvement,Sales Manager,1,0
217,3039,Needs Improvement,Senior BI Developer,0,0
218,3039,Needs Improvement,Shared Services Manager,0,0
219,3039,Needs Improvement,Software Engineer,0,1
220,3039,Needs Improvement,Software Engineering Manager,0,0
221,3039,Needs Improvement,Sr. Accountant,0,0
222,3039,Needs Improvement,Sr. DBA,0,0
223,3039,Needs Improvement,Sr. Network Engineer,0,0
224,3039,PIP,Accountant I,0,0
225,3039,PIP,Administrative Assistant,0,0
226,3039,PIP,Area Sales Manager,1,0
227,3039,PIP,BI Developer,0,0
228,3039,PIP,BI Director,0,0
229,3039,PIP,CIO,0,0
230,3039,PIP,Data Analyst,0,0
231,3039,PIP,Data Analyst,0,0
232,3039,PIP,Data Architect,0,0
233,3039,PIP,Database Administrator,0,0
234,3039,PIP,Director of Operations,0,0
235,3039,PIP,Director of Sales,0,0
236,3039,PIP,Enterprise Architect,0,0
237,3039,PIP,IT Director,0,0
238,3039,PIP,IT Manager - DB,0,0
239,3039,PIP,IT Manager - Infra,0,0
240,3039,PIP,IT Manager - Support,0,0
241,3039,PIP,IT Support,0,0
242,3039,PIP,Network Engineer,1,0
243,3039,PIP,President & CEO,0,0
244,3039,PIP,Principal Data Architect,0,0
245,3039,PIP,Production Manager,0,0
246,3039,PIP,Production Technician I,1,0
247,3039,PIP,Production Technician II,1,1
248,3039,PIP,Sales Manager,0,0
249,3039,PIP,Senior BI Developer,0,0
250,3039,PIP,Shared Services Manager,0,0
251,3039,PIP,Software Engineer,0,0
252,3039,PIP,Software Engineering Manager,0,0
253,3039,PIP,Sr. Accountant,0,0
254,3039,PIP,Sr. DBA,0,0
255,3039,PIP,Sr. Network Engineer,0,0
256,4049,Exceeds,Accountant I,0,0
257,4049,Exceeds,Administrative Assistant,0,0
258,4049,Exceeds,Area Sales Manager,0,0
259,4049,Exceeds,BI Developer,0,0
260,4049,Exceeds,BI Director,0,0
261,4049,Exceeds,CIO,1,0
262,4049,Exceeds,Data Analyst,0,0
263,4049,Exceeds,Data Analyst,0,0
264,4049,Exceeds,Data Architect,0,0
265,4049,Exceeds,Database Administrator,0,0
266,4049,Exceeds,Director of Operations,1,0
267,4049,Exceeds,Director of Sales,0,0
268,4049,Exceeds,Enterprise Architect,0,0
269,4049,Exceeds,IT Director,1,0
270,4049,Exceeds,IT Manager - DB,0,0
271,4049,Exceeds,IT Manager - Infra,0,0
272,4049,Exceeds,IT Manager - Support,0,0
273,4049,Exceeds,IT Support,0,0
274,4049,Exceeds,Network Engineer,0,0
275,4049,Exceeds,President & CEO,0,0
276,4049,Exceeds,Principal Data Architect,0,0
277,4049,Exceeds,Production Manager,2,0
278,4049,Exceeds,Production Technician I,6,0
279,4049,Exceeds,Production Technician II,1,0
280,4049,Exceeds,Sales Manager,0,0
281,4049,Exceeds,Senior BI Developer,0,0
282,4049,Exceeds,Shared Services Manager,0,0
283,4049,Exceeds,Software Engineer,1,1
284,4049,Exceeds,Software Engineering Manager,0,0
285,4049,Exceeds,Sr. Accountant,0,0
286,4049,Exceeds,Sr. DBA,0,0
287,4049,Exceeds,Sr. Network Engineer,0,0
288,4049,Fully Meets,Accountant I,0,0
289,4049,Fully Meets,Administrative Assistant,0,0
290,4049,Fully Meets,Area Sales Manager,2,0
291,4049,Fully Meets,BI Developer,2,0
292,4049,Fully Meets,BI Director,0,0
293,4049,Fully Meets,CIO,0,0
294,4049,Fully Meets,Data Analyst,2,0
295,4049,Fully Meets,Data Analyst,0,0
296,4049,Fully Meets,Data Architect,0,0
297,4049,Fully Meets,Database Administrator,0,0
298,4049,Fully Meets,Director of Operations,0,0
299,4049,Fully Meets,Director of Sales,0,0
300,4049,Fully Meets,Enterprise Architect,0,0
301,4049,Fully Meets,IT Director,0,0
302,4049,Fully Meets,IT Manager - DB,0,0
303,4049,Fully Meets,IT Manager - Infra,0,0
304,4049,Fully Meets,IT Manager - Support,0,0
305,4049,Fully Meets,IT Support,1,0
306,4049,Fully Meets,Network Engineer,2,0
307,4049,Fully Meets,President & CEO,0,0
308,4049,Fully Meets,Principal Data Architect,0,0
309,4049,Fully Meets,Production Manager,4,1
310,4049,Fully Meets,Production Technician I,34,14
311,4049,Fully Meets,Production Technician II,12,9
312,4049,Fully Meets,Sales Manager,0,0
313,4049,Fully Meets,Senior BI Developer,1,0
314,4049,Fully Meets,Shared Services Manager,0,0
315,4049,Fully Meets,Software Engineer,2,1
316,4049,Fully Meets,Software Engineering Manager,0,0
317,4049,Fully Meets,Sr. Accountant,1,0
318,4049,Fully Meets,Sr. DBA,0,1
319,4049,Fully Meets,Sr. Network Engineer,2,0
320,4049,Needs Improvement,Accountant I,0,0
321,4049,Needs Improvement,Administrative Assistant,0,0
322,4049,Needs Improvement,Area Sales Manager,0,0
323,4049,Needs Improvement,BI Developer,0,0
324,4049,Needs Improvement,BI Director,0,0
325,4049,Needs Improvement,CIO,0,0
326,4049,Needs Improvement,Data Analyst,0,0
327,4049,Needs Improvement,Data Analyst,0,0
328,4049,Needs Improvement,Data Architect,0,0
329,4049,Needs Improvement,Database Administrator,0,0
330,4049,Needs Improvement,Director of Operations,0,0
331,4049,Needs Improvement,Director of Sales,0,0
332,4049,Needs Improvement,Enterprise Architect,0,0
333,4049,Needs Improvement,IT Director,0,0
334,4049,Needs Improvement,IT Manager - DB,0,0
335,4049,Needs Improvement,IT Manager - Infra,0,0
336,4049,Needs Improvement,IT Manager - Support,0,0
337,4049,Needs Improvement,IT Support,0,0
338,4049,Needs Improvement,Network Engineer,0,0
339,4049,Needs Improvement,President & CEO,0,0
340,4049,Needs Improvement,Principal Data Architect,0,0
341,4049,Needs Improvement,Production Manager,1,1
342,4049,Needs Improvement,Production Technician I,3,4
343,4049,Needs Improvement,Production Technician II,0,0
344,4049,Needs Improvement,Sales Manager,0,0
345,4049,Needs Improvement,Senior BI Developer,0,0
346,4049,Needs Improvement,Shared Services Manager,0,0
347,4049,Needs Improvement,Software Engineer,0,0
348,4049,Needs Improvement,Software Engineering Manager,0,0
349,4049,Needs Improvement,Sr. Accountant,0,0
350,4049,Needs Improvement,Sr. DBA,0,0
351,4049,Needs Improvement,Sr. Network Engineer,0,0
352,4049,PIP,Accountant I,0,0
353,4049,PIP,Administrative Assistant,0,0
354,4049,PIP,Area Sales Manager,2,1
355,4049,PIP,BI Developer,0,0
356,4049,PIP,BI Director,0,0
357,4049,PIP,CIO,0,0
358,4049,PIP,Data Analyst,0,0
359,4049,PIP,Data Analyst,0,0
360,4049,PIP,Data Architect,0,0
361,4049,PIP,Database Administrator,0,0
362,4049,PIP,Director of Operations,0,0
363,4049,PIP,Director of Sales,0,0
364,4049,PIP,Enterprise Architect,0,0
365,4049,PIP,IT Director,0,0
366,4049,PIP,IT Manager - DB,0,0
367,4049,PIP,IT Manager - Infra,0,0
368,4049,PIP,IT Manager - Support,0,0
369,4049,PIP,IT Support,0,0
370,4049,PIP,Network Engineer,0,0
371,4049,PIP,President & CEO,0,0
372,4049,PIP,Principal Data Architect,0,0
373,4049,PIP,Production Manager,0,0
374,4049,PIP,Production Technician I,0,2
375,4049,PIP,Production Technician II,0,0
376,4049,PIP,Sales Manager,0,0
377,4049,PIP,Senior BI Developer,0,0
378,4049,PIP,Shared Services Manager,0,0
379,4049,PIP,Software Engineer,0,0
380,4049,PIP,Software Engineering Manager,0,0
381,4049,PIP,Sr. Accountant,0,0
382,4049,PIP,Sr. DBA,0,0
383,4049,PIP,Sr. Network Engineer,0,0
384,5059,Exceeds,Accountant I,0,0
385,5059,Exceeds,Administrative Assistant,0,0
386,5059,Exceeds,Area Sales Manager,1,0
387,5059,Exceeds,BI Developer,0,0
388,5059,Exceeds,BI Director,0,0
389,5059,Exceeds,CIO,0,0
390,5059,Exceeds,Data Analyst,0,0
391,5059,Exceeds,Data Analyst,0,0
392,5059,Exceeds,Data Architect,0,0
393,5059,Exceeds,Database Administrator,0,0
394,5059,Exceeds,Director of Operations,0,0
395,5059,Exceeds,Director of Sales,0,0
396,5059,Exceeds,Enterprise Architect,0,0
397,5059,Exceeds,IT Director,0,0
398,5059,Exceeds,IT Manager - DB,0,0
399,5059,Exceeds,IT Manager - Infra,0,0
400,5059,Exceeds,IT Manager - Support,1,0
401,5059,Exceeds,IT Support,0,0
402,5059,Exceeds,Network Engineer,0,0
403,5059,Exceeds,President & CEO,0,0
404,5059,Exceeds,Principal Data Architect,0,0
405,5059,Exceeds,Production Manager,0,0
406,5059,Exceeds,Production Technician I,3,2
407,5059,Exceeds,Production Technician II,3,0
408,5059,Exceeds,Sales Manager,0,0
409,5059,Exceeds,Senior BI Developer,0,0
410,5059,Exceeds,Shared Services Manager,0,0
411,5059,Exceeds,Software Engineer,0,0
412,5059,Exceeds,Software Engineering Manager,0,0
413,5059,Exceeds,Sr. Accountant,0,0
414,5059,Exceeds,Sr. DBA,0,0
415,5059,Exceeds,Sr. Network Engineer,0,0
416,5059,Fully Meets,Accountant I,0,0
417,5059,Fully Meets,Administrative Assistant,0,0
418,5059,Fully Meets,Area Sales Manager,3,3
419,5059,Fully Meets,BI Developer,0,0
420,5059,Fully Meets,BI Director,1,0
421,5059,Fully Meets,CIO,0,0
422,5059,Fully Meets,Data Analyst,1,0
423,5059,Fully Meets,Data Analyst,0,0
424,5059,Fully Meets,Data Architect,1,0
425,5059,Fully Meets,Database Administrator,0,1
426,5059,Fully Meets,Director of Operations,0,0
427,5059,Fully Meets,Director of Sales,1,0
428,5059,Fully Meets,Enterprise Architect,0,1
429,5059,Fully Meets,IT Director,0,0
430,5059,Fully Meets,IT Manager - DB,1,0
431,5059,Fully Meets,IT Manager - Infra,0,0
432,5059,Fully Meets,IT Manager - Support,0,0
433,5059,Fully Meets,IT Support,2,0
434,5059,Fully Meets,Network Engineer,1,0
435,5059,Fully Meets,President & CEO,0,0
436,5059,Fully Meets,Principal Data Architect,0,1
437,5059,Fully Meets,Production Manager,2,2
438,5059,Fully Meets,Production Technician I,11,11
439,5059,Fully Meets,Production Technician II,0,3
440,5059,Fully Meets,Sales Manager,0,0
441,5059,Fully Meets,Senior BI Developer,1,0
442,5059,Fully Meets,Shared Services Manager,0,0
443,5059,Fully Meets,Software Engineer,0,0
444,5059,Fully Meets,Software Engineering Manager,1,0
445,5059,Fully Meets,Sr. Accountant,0,0
446,5059,Fully Meets,Sr. DBA,0,0
447,5059,Fully Meets,Sr. Network Engineer,1,0
448,5059,Needs Improvement,Accountant I,0,0
449,5059,Needs Improvement,Administrative Assistant,0,0
450,5059,Needs Improvement,Area Sales Manager,0,0
451,5059,Needs Improvement,BI Developer,0,0
452,5059,Needs Improvement,BI Director,0,0
453,5059,Needs Improvement,CIO,0,0
454,5059,Needs Improvement,Data Analyst,0,0
455,5059,Needs Improvement,Data Analyst,0,0
456,5059,Needs Improvement,Data Architect,0,0
457,5059,Needs Improvement,Database Administrator,0,0
458,5059,Needs Improvement,Director of Operations,0,0
459,5059,Needs Improvement,Director of Sales,0,0
460,5059,Needs Improvement,Enterprise Architect,0,0
461,5059,Needs Improvement,IT Director,0,0
462,5059,Needs Improvement,IT Manager - DB,0,0
463,5059,Needs Improvement,IT Manager - Infra,0,0
464,5059,Needs Improvement,IT Manager - Support,0,0
465,5059,Needs Improvement,IT Support,0,0
466,5059,Needs Improvement,Network Engineer,0,0
467,5059,Needs Improvement,President & CEO,0,0
468,5059,Needs Improvement,Principal Data Architect,0,0
469,5059,Needs Improvement,Production Manager,0,0
470,5059,Needs Improvement,Production Technician I,1,0
471,5059,Needs Improvement,Production Technician II,0,0
472,5059,Needs Improvement,Sales Manager,0,0
473,5059,Needs Improvement,Senior BI Developer,0,0
474,5059,Needs Improvement,Shared Services Manager,0,0
475,5059,Needs Improvement,Software Engineer,0,0
476,5059,Needs Improvement,Software Engineering Manager,0,0
477,5059,Needs Improvement,Sr. Accountant,0,0
478,5059,Needs Improvement,Sr. DBA,0,0
479,5059,Needs Improvement,Sr. Network Engineer,0,0
480,5059,PIP,Accountant I,0,0

In [ ]:
#AgeGroup  Salary  Department  TerminatedFlag
df.groupby(
    ["AgeGroup", "Department", "TerminatedFlag"], observed=False
).agg(
    Count=("Salary", "count"),
    Avg_Salary11=("Salary", "mean"),
    Median_Salary11=("Salary", "median"),
    Min_Salary11=("Salary", "min"),
    Max_Salary11=("Salary", "max")
).reset_index()

,AgeGroup,Department,TerminatedFlag,Count,Avg_Salary11,Median_Salary11,Min_Salary11,Max_Salary11
0,2029,Admin Offices,0,0,NaN,NaN,NaN,NaN
1,2029,Admin Offices,1,0,NaN,NaN,NaN,NaN
2,2029,Executive Office,0,0,NaN,NaN,NaN,NaN
3,2029,Executive Office,1,0,NaN,NaN,NaN,NaN
4,2029,IT/IS,0,0,NaN,NaN,NaN,NaN
5,2029,IT/IS,1,0,NaN,NaN,NaN,NaN
6,2029,Production,0,0,NaN,NaN,NaN,NaN
7,2029,Production,1,0,NaN,NaN,NaN,NaN
8,2029,Sales,0,0,NaN,NaN,NaN,NaN
9,2029,Sales,1,0,NaN,NaN,NaN,NaN
10,2029,Software Engineering,0,0,NaN,NaN,NaN,NaN
11,2029,Software Engineering,1,0,NaN,NaN,NaN,NaN
12,3039,Admin Offices,0,6,73642.666667,63761.5,51920.0,106367.0
13,3039,Admin Offices,1,2,52460.000000,52460.0,49920.0,55000.0
14,3039,Executive Office,0,0,NaN,NaN,NaN,NaN
15,3039,Executive Office,1,0,NaN,NaN,NaN,NaN
16,3039,IT/IS,0,17,86080.764706,90100.0,50178.0,157000.0
17,3039,IT/IS,1,5,96180.000000,93093.0,75281.0,113999.0
18,3039,Production,0,36,59302.944444,61039.5,45395.0,69340.0
19,3039,Production,1,25,58429.400000,59124.0,45998.0,74813.0
20,3039,Sales,0,14,64321.142857,63171.0,55875.0,74241.0
21,3039,Sales,1,1,68999.000000,68999.0,68999.0,68999.0
22,3039,Software Engineering,0,3,95099.333333,93396.0,86214.0,105688.0
23,3039,Software Engineering,1,2,91321.500000,91321.5,83363.0,99280.0
24,4049,Admin Offices,0,1,99351.000000,99351.0,99351.0,99351.0
25,4049,Admin Offices,1,0,NaN,NaN,NaN,NaN
26,4049,Executive Office,0,0,NaN,NaN,NaN,NaN
27,4049,Executive Office,1,0,NaN,NaN,NaN,NaN
28,4049,IT/IS,0,12,101220.833333,89587.5,50750.0,220450.0
29,4049,IT/IS,1,1,104437.000000,104437.0,104437.0,104437.0
30,4049,Production,0,64,61101.687500,59872.5,45046.0,170500.0
31,4049,Production,1,31,59612.483871,59369.0,45115.0,83082.0
32,4049,Sales,0,4,63495.000000,63439.0,58273.0,68829.0
33,4049,Sales,1,1,70187.000000,70187.0,70187.0,70187.0
34,4049,Software Engineering,0,3,96616.000000,95660.0,92989.0,101199.0
35,4049,Software Engineering,1,2,104701.500000,104701.5,100416.0,108987.0
36,5059,Admin Offices,0,0,NaN,NaN,NaN,NaN
37,5059,Admin Offices,1,0,NaN,NaN,NaN,NaN
38,5059,Executive Office,0,0,NaN,NaN,NaN,NaN
39,5059,Executive Office,1,0,NaN,NaN,NaN,NaN
40,5059,IT/IS,0,10,101743.200000,90125.0,65707.0,150290.0
41,5059,IT/IS,1,3,112804.333333,114800.0,103613.0,120000.0
42,5059,Production,0,22,60032.272727,59565.0,45069.0,88976.0
43,5059,Production,1,19,57816.736842,55140.0,45433.0,82758.0
44,5059,Sales,0,5,88182.800000,66808.0,58370.0,180000.0
45,5059,Sales,1,3,68467.666667,71707.0,59370.0,74326.0
46,5059,Software Engineering,0,1,77692.000000,77692.0,77692.0,77692.0
47,5059,Software Engineering,1,0,NaN,NaN,NaN,NaN
48,60+,Admin Offices,0,0,NaN,NaN,NaN,NaN
49,60+,Admin Offices,1,0,NaN,NaN,NaN,NaN
50,60+,Executive Office,0,1,250000.000000,250000.0,250000.0,250000.0
51,60+,Executive Office,1,0,NaN,NaN,NaN,NaN
52,60+,IT/IS,0,1,85028.000000,85028.0,85028.0,85028.0
53,60+,IT/IS,1,1,148999.000000,148999.0,148999.0,148999.0
54,60+,Production,0,4,61675.750000,61156.0,59472.0,64919.0
55,60+,Production,1,8,63778.000000,64391.0,46837.0,80512.0
56,60+,Sales,0,3,66973.333333,67251.0,61809.0,71860.0
57,60+,Sales,1,0,NaN,NaN,NaN,NaN
58,60+,Software Engineering,0,0,NaN,NaN,NaN,NaN
59,60+,Software Engineering,1,0,NaN,NaN,NaN,NaN

In [ ]:
#AgeGroup x TermReason
df.groupby(
    ['AgeGroup', 'TermReason'], observed=False).size().reset_index(name='Count')

   AgeGroup                        TermReason  Count
0     2029                  Another position      0
1     2029                  Fatal attraction      0
2     2029     Learned that he is a gangster      0
3     2029                 N/A-StillEmployed      0
4     2029                        attendance      0
5     2029                     career change      0
6     2029                  gross misconduct      0
7     2029                             hours      0
8     2029  maternity leave - did not return      0
9     2029                    medical issues      0
10    2029                          military      0
11    2029                        more money      0
12    2029                  no-call, no-show      0
13    2029                       performance      0
14    2029            relocation out of area      0
15    2029                          retiring      0
16    2029                  return to school      0
17    2029                           unhappy      0
18    3039                  Another position      4
19    3039                  Fatal attraction      0
20    3039     Learned that he is a gangster      0
21    3039                 N/A-StillEmployed     76
22    3039                        attendance      2
23    3039                     career change      3
24    3039                  gross misconduct      1
25    3039                             hours      3
26    3039  maternity leave - did not return      3
27    3039                    medical issues      2
28    3039                          military      1
29    3039                        more money      4
30    3039                  no-call, no-show      3
31    3039                       performance      2
32    3039            relocation out of area      1
33    3039                          retiring      0
34    3039                  return to school      2
35    3039                           unhappy      4
36    4049                  Another position      8
37    4049                  Fatal attraction      1
38    4049     Learned that he is a gangster      0
39    4049                 N/A-StillEmployed     84
40    4049                        attendance      2
41    4049                     career change      4
42    4049                  gross misconduct      0
43    4049                             hours      1
44    4049  maternity leave - did not return      0
45    4049                    medical issues      1
46    4049                          military      2
47    4049                        more money      3
48    4049                  no-call, no-show      0
49    4049                       performance      2
50    4049            relocation out of area      2
51    4049                          retiring      1
52    4049                  return to school      2
53    4049                           unhappy      6
54    5059                  Another position      6
55    5059                  Fatal attraction      0
56    5059     Learned that he is a gangster      1
57    5059                 N/A-StillEmployed     38
58    5059                        attendance      3
59    5059                     career change      2
60    5059                  gross misconduct      0
61    5059                             hours      3
62    5059  maternity leave - did not return      0
63    5059                    medical issues      0
64    5059                          military      0
65    5059                        more money      2
66    5059                  no-call, no-show      1
67    5059                       performance      0
68    5059            relocation out of area      2
69    5059                          retiring      1
70    5059                  return to school      1
71    5059                           unhappy      3
72      60+                  Another position      2
73      60+                  Fatal attraction      0
74      60+     Learned that he is a gangster      0
75      60+                 N/A-StillEmployed      9
76      60+                        attendance      0
77      60+                     career change      0
78      60+                  gross misconduct      0
79      60+                             hours      1
80      60+  maternity leave - did not return      0
81      60+                    medical issues      0
82      60+                          military      1
83      60+                        more money      2
84      60+                  no-call, no-show      0
85      60+                       performance      0
86      60+            relocation out of area      0
87      60+                          retiring      2
88      60+                  return to school      0
89      60+                           unhappy      1

In [ ]:
#Create variable TenureGroup
bins = [0, 2, 5, 10, 15, 20]
labels = ["0-2 yrs", "2-5 yrs", "5-10 yrs", "10-15 yrs", "15-20 yrs"]

df["TenureGroup"] = pd.cut(df["Tenure_Years"], bins=bins, labels=labels, include_lowest=True)

In [ ]:
#Tenure x PerformanceScore x Department x TerminatedFlag
df.pivot_table(
    index=['TenureGroup', 'PerformanceScore', 'Department'],
    columns='TerminatedFlag',
    aggfunc='size',
    fill_value=0,
    observed=False
).reset_index()

TerminatedFlag TenureGroup   PerformanceScore            Department   0   1
0                  0-2 yrs            Exceeds         Admin Offices   0   0
1                  0-2 yrs            Exceeds      Executive Office   0   0
2                  0-2 yrs            Exceeds                 IT/IS   0   0
3                  0-2 yrs            Exceeds     Production          0   1
4                  0-2 yrs            Exceeds                 Sales   0   0
5                  0-2 yrs            Exceeds  Software Engineering   0   0
6                  0-2 yrs        Fully Meets         Admin Offices   0   2
7                  0-2 yrs        Fully Meets      Executive Office   0   0
8                  0-2 yrs        Fully Meets                 IT/IS   0   6
9                  0-2 yrs        Fully Meets     Production          0  17
10                 0-2 yrs        Fully Meets                 Sales   0   1
11                 0-2 yrs        Fully Meets  Software Engineering   0   0
12                 0-2 yrs  Needs Improvement         Admin Offices   0   0
13                 0-2 yrs  Needs Improvement      Executive Office   0   0
14                 0-2 yrs  Needs Improvement                 IT/IS   0   0
15                 0-2 yrs  Needs Improvement     Production          0   1
16                 0-2 yrs  Needs Improvement                 Sales   0   0
17                 0-2 yrs  Needs Improvement  Software Engineering   0   0
18                 0-2 yrs                PIP         Admin Offices   0   0
19                 0-2 yrs                PIP      Executive Office   0   0
20                 0-2 yrs                PIP                 IT/IS   0   0
21                 0-2 yrs                PIP     Production          0   1
22                 0-2 yrs                PIP                 Sales   0   0
23                 0-2 yrs                PIP  Software Engineering   0   0
24                 2-5 yrs            Exceeds         Admin Offices   0   0
25                 2-5 yrs            Exceeds      Executive Office   0   0
26                 2-5 yrs            Exceeds                 IT/IS   0   0
27                 2-5 yrs            Exceeds     Production          0   5
28                 2-5 yrs            Exceeds                 Sales   0   0
29                 2-5 yrs            Exceeds  Software Engineering   0   1
30                 2-5 yrs        Fully Meets         Admin Offices   0   0
31                 2-5 yrs        Fully Meets      Executive Office   0   0
32                 2-5 yrs        Fully Meets                 IT/IS   0   4
33                 2-5 yrs        Fully Meets     Production          0  27
34                 2-5 yrs        Fully Meets                 Sales   0   3
35                 2-5 yrs        Fully Meets  Software Engineering   0   1
36                 2-5 yrs  Needs Improvement         Admin Offices   0   0
37                 2-5 yrs  Needs Improvement      Executive Office   0   0
38                 2-5 yrs  Needs Improvement                 IT/IS   0   0
39                 2-5 yrs  Needs Improvement     Production          0   4
40                 2-5 yrs  Needs Improvement                 Sales   0   0
41                 2-5 yrs  Needs Improvement  Software Engineering   0   1
42                 2-5 yrs                PIP         Admin Offices   0   0
43                 2-5 yrs                PIP      Executive Office   0   0
44                 2-5 yrs                PIP                 IT/IS   0   0
45                 2-5 yrs                PIP     Production          0   2
46                 2-5 yrs                PIP                 Sales   0   1
47                 2-5 yrs                PIP  Software Engineering   0   0
48                5-10 yrs            Exceeds         Admin Offices   0   0
49                5-10 yrs            Exceeds      Executive Office   0   0
50                5-10 yrs            Exceeds                 IT/IS   0   0
51                5-10 yrs            Exceeds     Production          3   1
52                5-10 yrs            Exceeds                 Sales   0   0
53                5-10 yrs            Exceeds  Software Engineering   0   0
54                5-10 yrs        Fully Meets         Admin Offices   3   0
55                5-10 yrs        Fully Meets      Executive Office   0   0
56                5-10 yrs        Fully Meets                 IT/IS  24   0
57                5-10 yrs        Fully Meets     Production         14  19
58                5-10 yrs        Fully Meets                 Sales   3   0
59                5-10 yrs        Fully Meets  Software Engineering   0   1
60                5-10 yrs  Needs Improvement         Admin Offices   0   0
61                5-10 yrs  Needs Improvement      Executive Office   0   0
62                5-10 yrs  Needs Improvement                 IT/IS   0   0
63                5-10 yrs  Needs Improvement     Production          1   4
64                5-10 yrs  Needs Improvement                 Sales   0   0
65                5-10 yrs  Needs Improvement  Software Engineering   0   0
66                5-10 yrs                PIP         Admin Offices   0   0
67                5-10 yrs                PIP      Executive Office   0   0
68                5-10 yrs                PIP                 IT/IS   1   0
69                5-10 yrs                PIP     Production          1   1
70                5-10 yrs                PIP                 Sales   0   0
71                5-10 yrs                PIP  Software Engineering   0   0
72               10-15 yrs            Exceeds         Admin Offices   0   0
73               10-15 yrs            Exceeds      Executive Office   0   0
74               10-15 yrs            Exceeds                 IT/IS   6   0
75               10-15 yrs            Exceeds     Production         16   0
76               10-15 yrs            Exceeds                 Sales   1   0
77               10-15 yrs            Exceeds  Software Engineering   1   0
78               10-15 yrs        Fully Meets         Admin Offices   2   0
79               10-15 yrs        Fully Meets      Executive Office   1   0
80               10-15 yrs        Fully Meets                 IT/IS   8   0
81               10-15 yrs        Fully Meets     Production         78   0
82               10-15 yrs        Fully Meets                 Sales  17   0
83               10-15 yrs        Fully Meets  Software Engineering   6   0
84               10-15 yrs  Needs Improvement         Admin Offices   0   0
85               10-15 yrs  Needs Improvement      Executive Office   0   0
86               10-15 yrs  Needs Improvement                 IT/IS   1   0
87               10-15 yrs  Needs Improvement     Production          5   0
88               10-15 yrs  Needs Improvement                 Sales   1   0
89               10-15 yrs  Needs Improvement  Software Engineering   0   0
90               10-15 yrs                PIP         Admin Offices   0   0
91               10-15 yrs                PIP      Executive Office   0   0
92               10-15 yrs                PIP                 IT/IS   0   0
93               10-15 yrs                PIP     Production          3   0
94               10-15 yrs                PIP                 Sales   3   0
95               10-15 yrs                PIP  Software Engineering   0   0
96               15-20 yrs            Exceeds         Admin Offices   0   0
97               15-20 yrs            Exceeds      Executive Office   0   0
98               15-20 yrs            Exceeds                 IT/IS   0   0
99               15-20 yrs            Exceeds     Production          1   0
100              15-20 yrs            Exceeds                 Sales   1   0
101              15-20 yrs            Exceeds  Software Engineering   0   0
102              15-20 yrs        Fully Meets         Admin Offices   2   0
103              15-20 yrs        Fully Meets      Executive Office   0   0
104              15-20 yrs        Fully Meets                 IT/IS   0   0
105              15-20 yrs        Fully Meets     Production          4   0
106              15-20 yrs        Fully Meets                 Sales   0   0
107              15-20 yrs        Fully Meets  Software Engineering   0   0
108              15-20 yrs  Needs Improvement         Admin Offices   0   0
109              15-20 yrs  Needs Improvement      Executive Office   0   0
110              15-20 yrs  Needs Improvement                 IT/IS   0   0
111              15-20 yrs  Needs Improvement     Production          0   0
112              15-20 yrs  Needs Improvement                 Sales   0   0
113              15-20 yrs  Needs Improvement  Software Engineering   0   0
114              15-20 yrs                PIP         Admin Offices   0   0
115              15-20 yrs                PIP      Executive Office   0   0
116              15-20 yrs                PIP                 IT/IS   0   0
117              15-20 yrs                PIP     Production          0   0
118              15-20 yrs                PIP                 Sales   0   0
119              15-20 yrs                PIP  Software Engineering   0   0

In [ ]:
#Tenure x EmploymentStatus x Department x TerminatedFlag
df.pivot_table(
    index=['TenureGroup', 'EmploymentStatus', 'Department'],
    columns='TerminatedFlag',
    aggfunc='size',
    fill_value=0,
    observed=False
).reset_index()

TerminatedFlag,TenureGroup,EmploymentStatus,Department,0,1
0,0-2 yrs,Active,Admin Offices,0,0
1,0-2 yrs,Active,Executive Office,0,0
2,0-2 yrs,Active,IT/IS,0,0
3,0-2 yrs,Active,Production,0,0
4,0-2 yrs,Active,Sales,0,0
5,0-2 yrs,Active,Software Engineering,0,0
6,0-2 yrs,Terminated for Cause,Admin Offices,0,1
7,0-2 yrs,Terminated for Cause,Executive Office,0,0
8,0-2 yrs,Terminated for Cause,IT/IS,0,2
9,0-2 yrs,Terminated for Cause,Production,0,0
10,0-2 yrs,Terminated for Cause,Sales,0,1
11,0-2 yrs,Terminated for Cause,Software Engineering,0,0
12,0-2 yrs,Voluntarily Terminated,Admin Offices,0,1
13,0-2 yrs,Voluntarily Terminated,Executive Office,0,0
14,0-2 yrs,Voluntarily Terminated,IT/IS,0,4
15,0-2 yrs,Voluntarily Terminated,Production,0,20
16,0-2 yrs,Voluntarily Terminated,Sales,0,0
17,0-2 yrs,Voluntarily Terminated,Software Engineering,0,0
18,2-5 yrs,Active,Admin Offices,0,0
19,2-5 yrs,Active,Executive Office,0,0
20,2-5 yrs,Active,IT/IS,0,0
21,2-5 yrs,Active,Production,0,0
22,2-5 yrs,Active,Sales,0,0
23,2-5 yrs,Active,Software Engineering,0,0
24,2-5 yrs,Terminated for Cause,Admin Offices,0,0
25,2-5 yrs,Terminated for Cause,Executive Office,0,0
26,2-5 yrs,Terminated for Cause,IT/IS,0,2
27,2-5 yrs,Terminated for Cause,Production,0,4
28,2-5 yrs,Terminated for Cause,Sales,0,1
29,2-5 yrs,Terminated for Cause,Software Engineering,0,1
30,2-5 yrs,Voluntarily Terminated,Admin Offices,0,0
31,2-5 yrs,Voluntarily Terminated,Executive Office,0,0
32,2-5 yrs,Voluntarily Terminated,IT/IS,0,2
33,2-5 yrs,Voluntarily Terminated,Production,0,34
34,2-5 yrs,Voluntarily Terminated,Sales,0,3
35,2-5 yrs,Voluntarily Terminated,Software Engineering,0,2
36,5-10 yrs,Active,Admin Offices,3,0
37,5-10 yrs,Active,Executive Office,0,0
38,5-10 yrs,Active,IT/IS,25,0
39,5-10 yrs,Active,Production,19,0
40,5-10 yrs,Active,Sales,3,0
41,5-10 yrs,Active,Software Engineering,0,0
42,5-10 yrs,Terminated for Cause,Admin Offices,0,0
43,5-10 yrs,Terminated for Cause,Executive Office,0,0
44,5-10 yrs,Terminated for Cause,IT/IS,0,0
45,5-10 yrs,Terminated for Cause,Production,0,4
46,5-10 yrs,Terminated for Cause,Sales,0,0
47,5-10 yrs,Terminated for Cause,Software Engineering,0,0
48,5-10 yrs,Voluntarily Terminated,Admin Offices,0,0
49,5-10 yrs,Voluntarily Terminated,Executive Office,0,0
50,5-10 yrs,Voluntarily Terminated,IT/IS,0,0
51,5-10 yrs,Voluntarily Terminated,Production,0,21
52,5-10 yrs,Voluntarily Terminated,Sales,0,0
53,5-10 yrs,Voluntarily Terminated,Software Engineering,0,1
54,10-15 yrs,Active,Admin Offices,2,0
55,10-15 yrs,Active,Executive Office,1,0
56,10-15 yrs,Active,IT/IS,15,0
57,10-15 yrs,Active,Production,102,0
58,10-15 yrs,Active,Sales,22,0
59,10-15 yrs,Active,Software Engineering,7,0
60,10-15 yrs,Terminated for Cause,Admin Offices,0,0
61,10-15 yrs,Terminated for Cause,Executive Office,0,0
62,10-15 yrs,Terminated for Cause,IT/IS,0,0
63,10-15 yrs,Terminated for Cause,Production,0,0
64,10-15 yrs,Terminated for Cause,Sales,0,0
65,10-15 yrs,Terminated for Cause,Software Engineering,0,0
66,10-15 yrs,Voluntarily Terminated,Admin Offices,0,0
67,10-15 yrs,Voluntarily Terminated,Executive Office,0,0
68,10-15 yrs,Voluntarily Terminated,IT/IS,0,0
69,10-15 yrs,Voluntarily Terminated,Production,0,0
70,10-15 yrs,Voluntarily Terminated,Sales,0,0
71,10-15 yrs,Voluntarily Terminated,Software Engineering,0,0
72,15-20 yrs,Active,Admin Offices,2,0
73,15-20 yrs,Active,Executive Office,0,0
74,15-20 yrs,Active,IT/IS,0,0
75,15-20 yrs,Active,Production,5,0
76,15-20 yrs,Active,Sales,1,0
77,15-20 yrs,Active,Software Engineering,0,0
78,15-20 yrs,Terminated for Cause,Admin Offices,0,0
79,15-20 yrs,Terminated for Cause,Executive Office,0,0
80,15-20 yrs,Terminated for Cause,IT/IS,0,0
81,15-20 yrs,Terminated for Cause,Production,0,0
82,15-20 yrs,Terminated for Cause,Sales,0,0
83,15-20 yrs,Terminated for Cause,Software Engineering,0,0
84,15-20 yrs,Voluntarily Terminated,Admin Offices,0,0
85,15-20 yrs,Voluntarily Terminated,Executive Office,0,0
86,15-20 yrs,Voluntarily Terminated,IT/IS,0,0
87,15-20 yrs,Voluntarily Terminated,Production,0,0
88,15-20 yrs,Voluntarily Terminated,Sales,0,0
89,15-20 yrs,Voluntarily Terminated,Software Engineering,0,0

In [ ]:
#Tenure x Sex x PerformanceScore x TerminatedFlag
df.pivot_table(
    index=['TenureGroup', 'Sex', 'PerformanceScore'],
    columns='TerminatedFlag',
    aggfunc='size',
    fill_value=0,
    observed=False
).reset_index()

TerminatedFlag TenureGroup Sex   PerformanceScore   0   1
0                  0-2 yrs   F            Exceeds   0   1
1                  0-2 yrs   F        Fully Meets   0  17
2                  0-2 yrs   F  Needs Improvement   0   0
3                  0-2 yrs   F                PIP   0   0
4                  0-2 yrs  M             Exceeds   0   0
5                  0-2 yrs  M         Fully Meets   0   9
6                  0-2 yrs  M   Needs Improvement   0   1
7                  0-2 yrs  M                 PIP   0   1
8                  2-5 yrs   F            Exceeds   0   3
9                  2-5 yrs   F        Fully Meets   0  20
10                 2-5 yrs   F  Needs Improvement   0   4
11                 2-5 yrs   F                PIP   0   1
12                 2-5 yrs  M             Exceeds   0   3
13                 2-5 yrs  M         Fully Meets   0  15
14                 2-5 yrs  M   Needs Improvement   0   1
15                 2-5 yrs  M                 PIP   0   2
16                5-10 yrs   F            Exceeds   1   0
17                5-10 yrs   F        Fully Meets  25  12
18                5-10 yrs   F  Needs Improvement   1   1
19                5-10 yrs   F                PIP   0   1
20                5-10 yrs  M             Exceeds   2   1
21                5-10 yrs  M         Fully Meets  19   8
22                5-10 yrs  M   Needs Improvement   0   3
23                5-10 yrs  M                 PIP   2   0
24               10-15 yrs   F            Exceeds  15   0
25               10-15 yrs   F        Fully Meets  63   0
26               10-15 yrs   F  Needs Improvement   3   0
27               10-15 yrs   F                PIP   3   0
28               10-15 yrs  M             Exceeds   9   0
29               10-15 yrs  M         Fully Meets  49   0
30               10-15 yrs  M   Needs Improvement   4   0
31               10-15 yrs  M                 PIP   3   0
32               15-20 yrs   F            Exceeds   0   0
33               15-20 yrs   F        Fully Meets   5   0
34               15-20 yrs   F  Needs Improvement   0   0
35               15-20 yrs   F                PIP   0   0
36               15-20 yrs  M             Exceeds   2   0
37               15-20 yrs  M         Fully Meets   1   0
38               15-20 yrs  M   Needs Improvement   0   0
39               15-20 yrs  M                 PIP   0   0

In [ ]:
#Tenure  Salary  Department  TerminatedFlag
df.groupby(
    ["TenureGroup", "Department", "TerminatedFlag"], observed=False
).agg(
    Count=("Salary", "count"),
    Avg_Salary12=("Salary", "mean"),
    Median_Salary12=("Salary", "median"),
    Min_Salary12=("Salary", "min"),
    Max_Salary12=("Salary", "max")
).reset_index()

,TenureGroup,Department,TerminatedFlag,Count,Avg_Salary12,Median_Salary12,Min_Salary12,Max_Salary12
0,0-2 yrs,Admin Offices,0,0,NaN,NaN,NaN,NaN
1,0-2 yrs,Admin Offices,1,2,52460.000000,52460.0,49920.0,55000.0
2,0-2 yrs,Executive Office,0,0,NaN,NaN,NaN,NaN
3,0-2 yrs,Executive Office,1,0,NaN,NaN,NaN,NaN
4,0-2 yrs,IT/IS,0,0,NaN,NaN,NaN,NaN
5,0-2 yrs,IT/IS,1,6,97689.666667,98765.0,75281.0,114800.0
6,0-2 yrs,Production,0,0,NaN,NaN,NaN,NaN
7,0-2 yrs,Production,1,20,64212.850000,64395.0,46430.0,83082.0
8,0-2 yrs,Sales,0,0,NaN,NaN,NaN,NaN
9,0-2 yrs,Sales,1,1,59370.000000,59370.0,59370.0,59370.0
10,0-2 yrs,Software Engineering,0,0,NaN,NaN,NaN,NaN
11,0-2 yrs,Software Engineering,1,0,NaN,NaN,NaN,NaN
12,2-5 yrs,Admin Offices,0,0,NaN,NaN,NaN,NaN
13,2-5 yrs,Admin Offices,1,0,NaN,NaN,NaN,NaN
14,2-5 yrs,Executive Office,0,0,NaN,NaN,NaN,NaN
15,2-5 yrs,Executive Office,1,0,NaN,NaN,NaN,NaN
16,2-5 yrs,IT/IS,0,0,NaN,NaN,NaN,NaN
17,2-5 yrs,IT/IS,1,4,121652.750000,116999.5,103613.0,148999.0
18,2-5 yrs,Production,0,0,NaN,NaN,NaN,NaN
19,2-5 yrs,Production,1,38,58547.184211,58323.0,45115.0,82758.0
20,2-5 yrs,Sales,0,0,NaN,NaN,NaN,NaN
21,2-5 yrs,Sales,1,4,71304.750000,70947.0,68999.0,74326.0
22,2-5 yrs,Software Engineering,0,0,NaN,NaN,NaN,NaN
23,2-5 yrs,Software Engineering,1,3,97210.000000,99280.0,83363.0,108987.0
24,5-10 yrs,Admin Offices,0,3,83777.666667,93046.0,51920.0,106367.0
25,5-10 yrs,Admin Offices,1,0,NaN,NaN,NaN,NaN
26,5-10 yrs,Executive Office,0,0,NaN,NaN,NaN,NaN
27,5-10 yrs,Executive Office,1,0,NaN,NaN,NaN,NaN
28,5-10 yrs,IT/IS,0,25,87411.000000,87921.0,50178.0,150290.0
29,5-10 yrs,IT/IS,1,0,NaN,NaN,NaN,NaN
30,5-10 yrs,Production,0,19,59625.684211,62068.0,47750.0,72640.0
31,5-10 yrs,Production,1,25,56336.560000,54670.0,46428.0,74669.0
32,5-10 yrs,Sales,0,3,64558.333333,63291.0,61555.0,68829.0
33,5-10 yrs,Sales,1,0,NaN,NaN,NaN,NaN
34,5-10 yrs,Software Engineering,0,0,NaN,NaN,NaN,NaN
35,5-10 yrs,Software Engineering,1,1,100416.000000,100416.0,100416.0,100416.0
36,10-15 yrs,Admin Offices,0,2,63761.500000,63761.5,63003.0,64520.0
37,10-15 yrs,Admin Offices,1,0,NaN,NaN,NaN,NaN
38,10-15 yrs,Executive Office,0,1,250000.000000,250000.0,250000.0,250000.0
39,10-15 yrs,Executive Office,1,0,NaN,NaN,NaN,NaN
40,10-15 yrs,IT/IS,0,15,106347.200000,92329.0,50750.0,220450.0
41,10-15 yrs,IT/IS,1,0,NaN,NaN,NaN,NaN
42,10-15 yrs,Production,0,102,59665.960784,60408.0,45046.0,88976.0
43,10-15 yrs,Production,1,0,NaN,NaN,NaN,NaN
44,10-15 yrs,Sales,0,22,69919.909091,64502.5,55875.0,180000.0
45,10-15 yrs,Sales,1,0,NaN,NaN,NaN,NaN
46,10-15 yrs,Software Engineering,0,7,93262.571429,93396.0,77692.0,105688.0
47,10-15 yrs,Software Engineering,1,0,NaN,NaN,NaN,NaN
48,15-20 yrs,Admin Offices,0,2,81175.500000,81175.5,63000.0,99351.0
49,15-20 yrs,Admin Offices,1,0,NaN,NaN,NaN,NaN
50,15-20 yrs,Executive Office,0,0,NaN,NaN,NaN,NaN
51,15-20 yrs,Executive Office,1,0,NaN,NaN,NaN,NaN
52,15-20 yrs,IT/IS,0,0,NaN,NaN,NaN,NaN
53,15-20 yrs,IT/IS,1,0,NaN,NaN,NaN,NaN
54,15-20 yrs,Production,0,5,78802.200000,63682.0,47001.0,170500.0
55,15-20 yrs,Production,1,0,NaN,NaN,NaN,NaN
56,15-20 yrs,Sales,0,1,64397.000000,64397.0,64397.0,64397.0
57,15-20 yrs,Sales,1,0,NaN,NaN,NaN,NaN
58,15-20 yrs,Software Engineering,0,0,NaN,NaN,NaN,NaN
59,15-20 yrs,Software Engineering,1,0,NaN,NaN,NaN,NaN

In [ ]:
#Tenure  Salary  Position  TerminatedFlag
df.groupby(
    ["TenureGroup", "Position", "TerminatedFlag"], observed=False
).agg(
    Count=("Salary", "count"),
    Avg_Salary13=("Salary", "mean"),
    Median_Salary13=("Salary", "median"),
    Min_Salary13=("Salary", "min"),
    Max_Salary13=("Salary", "max")
).reset_index()

,TenureGroup,Position,TerminatedFlag,Count,Avg_Salary13,Median_Salary13,Min_Salary13,Max_Salary13
0,0-2 yrs,Accountant I,0,0,NaN,NaN,NaN,NaN
1,0-2 yrs,Accountant I,1,0,NaN,NaN,NaN,NaN
2,0-2 yrs,Administrative Assistant,0,0,NaN,NaN,NaN,NaN
3,0-2 yrs,Administrative Assistant,1,2,52460.000000,52460.0,49920.0,55000.0
4,0-2 yrs,Area Sales Manager,0,0,NaN,NaN,NaN,NaN
5,0-2 yrs,Area Sales Manager,1,1,59370.000000,59370.0,59370.0,59370.0
6,0-2 yrs,BI Developer,0,0,NaN,NaN,NaN,NaN
7,0-2 yrs,BI Developer,1,0,NaN,NaN,NaN,NaN
8,0-2 yrs,BI Director,0,0,NaN,NaN,NaN,NaN
9,0-2 yrs,BI Director,1,0,NaN,NaN,NaN,NaN
10,0-2 yrs,CIO,0,0,NaN,NaN,NaN,NaN
11,0-2 yrs,CIO,1,0,NaN,NaN,NaN,NaN
12,0-2 yrs,Data Analyst,0,0,NaN,NaN,NaN,NaN
13,0-2 yrs,Data Analyst,1,1,93093.000000,93093.0,93093.0,93093.0
14,0-2 yrs,Data Analyst,0,0,NaN,NaN,NaN,NaN
15,0-2 yrs,Data Analyst,1,1,88527.000000,88527.0,88527.0,88527.0
16,0-2 yrs,Data Architect,0,0,NaN,NaN,NaN,NaN
17,0-2 yrs,Data Architect,1,0,NaN,NaN,NaN,NaN
18,0-2 yrs,Database Administrator,0,0,NaN,NaN,NaN,NaN
19,0-2 yrs,Database Administrator,1,2,112400.000000,112400.0,110000.0,114800.0
20,0-2 yrs,Director of Operations,0,0,NaN,NaN,NaN,NaN
21,0-2 yrs,Director of Operations,1,0,NaN,NaN,NaN,NaN
22,0-2 yrs,Director of Sales,0,0,NaN,NaN,NaN,NaN
23,0-2 yrs,Director of Sales,1,0,NaN,NaN,NaN,NaN
24,0-2 yrs,Enterprise Architect,0,0,NaN,NaN,NaN,NaN
25,0-2 yrs,Enterprise Architect,1,0,NaN,NaN,NaN,NaN
26,0-2 yrs,IT Director,0,0,NaN,NaN,NaN,NaN
27,0-2 yrs,IT Director,1,0,NaN,NaN,NaN,NaN
28,0-2 yrs,IT Manager - DB,0,0,NaN,NaN,NaN,NaN
29,0-2 yrs,IT Manager - DB,1,0,NaN,NaN,NaN,NaN
30,0-2 yrs,IT Manager - Infra,0,0,NaN,NaN,NaN,NaN
31,0-2 yrs,IT Manager - Infra,1,0,NaN,NaN,NaN,NaN
32,0-2 yrs,IT Manager - Support,0,0,NaN,NaN,NaN,NaN
33,0-2 yrs,IT Manager - Support,1,0,NaN,NaN,NaN,NaN
34,0-2 yrs,IT Support,0,0,NaN,NaN,NaN,NaN
35,0-2 yrs,IT Support,1,0,NaN,NaN,NaN,NaN
36,0-2 yrs,Network Engineer,0,0,NaN,NaN,NaN,NaN
37,0-2 yrs,Network Engineer,1,1,75281.000000,75281.0,75281.0,75281.0
38,0-2 yrs,President & CEO,0,0,NaN,NaN,NaN,NaN
39,0-2 yrs,President & CEO,1,0,NaN,NaN,NaN,NaN
40,0-2 yrs,Principal Data Architect,0,0,NaN,NaN,NaN,NaN
41,0-2 yrs,Principal Data Architect,1,0,NaN,NaN,NaN,NaN
42,0-2 yrs,Production Manager,0,0,NaN,NaN,NaN,NaN
43,0-2 yrs,Production Manager,1,3,79302.000000,80512.0,74312.0,83082.0
44,0-2 yrs,Production Technician I,0,0,NaN,NaN,NaN,NaN
45,0-2 yrs,Production Technician I,1,4,55677.000000,55777.0,46430.0,64724.0
46,0-2 yrs,Production Technician II,0,0,NaN,NaN,NaN,NaN
47,0-2 yrs,Production Technician II,1,13,63357.153846,64066.0,55578.0,71966.0
48,0-2 yrs,Sales Manager,0,0,NaN,NaN,NaN,NaN
49,0-2 yrs,Sales Manager,1,0,NaN,NaN,NaN,NaN
50,0-2 yrs,Senior BI Developer,0,0,NaN,NaN,NaN,NaN
51,0-2 yrs,Senior BI Developer,1,0,NaN,NaN,NaN,NaN
52,0-2 yrs,Shared Services Manager,0,0,NaN,NaN,NaN,NaN
53,0-2 yrs,Shared Services Manager,1,0,NaN,NaN,NaN,NaN
54,0-2 yrs,Software Engineer,0,0,NaN,NaN,NaN,NaN
55,0-2 yrs,Software Engineer,1,0,NaN,NaN,NaN,NaN
56,0-2 yrs,Software Engineering Manager,0,0,NaN,NaN,NaN,NaN
57,0-2 yrs,Software Engineering Manager,1,0,NaN,NaN,NaN,NaN
58,0-2 yrs,Sr. Accountant,0,0,NaN,NaN,NaN,NaN
59,0-2 yrs,Sr. Accountant,1,0,NaN,NaN,NaN,NaN
60,0-2 yrs,Sr. DBA,0,0,NaN,NaN,NaN,NaN
61,0-2 yrs,Sr. DBA,1,1,104437.000000,104437.0,104437.0,104437.0
62,0-2 yrs,Sr. Network Engineer,0,0,NaN,NaN,NaN,NaN
63,0-2 yrs,Sr. Network Engineer,1,0,NaN,NaN,NaN,NaN
64,2-5 yrs,Accountant I,0,0,NaN,NaN,NaN,NaN
65,2-5 yrs,Accountant I,1,0,NaN,NaN,NaN,NaN
66,2-5 yrs,Administrative Assistant,0,0,NaN,NaN,NaN,NaN
67,2-5 yrs,Administrative Assistant,1,0,NaN,NaN,NaN,NaN
68,2-5 yrs,Area Sales Manager,0,0,NaN,NaN,NaN,NaN
69,2-5 yrs,Area Sales Manager,1,3,72073.333333,71707.0,70187.0,74326.0
70,2-5 yrs,BI Developer,0,0,NaN,NaN,NaN,NaN
71,2-5 yrs,BI Developer,1,0,NaN,NaN,NaN,NaN
72,2-5 yrs,BI Director,0,0,NaN,NaN,NaN,NaN
73,2-5 yrs,BI Director,1,0,NaN,NaN,NaN,NaN
74,2-5 yrs,CIO,0,0,NaN,NaN,NaN,NaN
75,2-5 yrs,CIO,1,0,NaN,NaN,NaN,NaN
76,2-5 yrs,Data Analyst,0,0,NaN,NaN,NaN,NaN
77,2-5 yrs,Data Analyst,1,0,NaN,NaN,NaN,NaN
78,2-5 yrs,Data Analyst,0,0,NaN,NaN,NaN,NaN
79,2-5 yrs,Data Analyst,1,0,NaN,NaN,NaN,NaN
80,2-5 yrs,Data Architect,0,0,NaN,NaN,NaN,NaN
81,2-5 yrs,Data Architect,1,0,NaN,NaN,NaN,NaN
82,2-5 yrs,Database Administrator,0,0,NaN,NaN,NaN,NaN
83,2-5 yrs,Database Administrator,1,1,113999.000000,113999.0,113999.0,113999.0
84,2-5 yrs,Director of Operations,0,0,NaN,NaN,NaN,NaN
85,2-5 yrs,Director of Operations,1,0,NaN,NaN,NaN,NaN
86,2-5 yrs,Director of Sales,0,0,NaN,NaN,NaN,NaN
87,2-5 yrs,Director of Sales,1,0,NaN,NaN,NaN,NaN
88,2-5 yrs,Enterprise Architect,0,0,NaN,NaN,NaN,NaN
89,2-5 yrs,Enterprise Architect,1,1,103613.000000,103613.0,103613.0,103613.0
90,2-5 yrs,IT Director,0,0,NaN,NaN,NaN,NaN
91,2-5 yrs,IT Director,1,0,NaN,NaN,NaN,NaN
92,2-5 yrs,IT Manager - DB,0,0,NaN,NaN,NaN,NaN
93,2-5 yrs,IT Manager - DB,1,1,148999.000000,148999.0,148999.0,148999.0
94,2-5 yrs,IT Manager - Infra,0,0,NaN,NaN,NaN,NaN
95,2-5 yrs,IT Manager - Infra,1,0,NaN,NaN,NaN,NaN
96,2-5 yrs,IT Manager - Support,0,0,NaN,NaN,NaN,NaN
97,2-5 yrs,IT Manager - Support,1,0,NaN,NaN,NaN,NaN
98,2-5 yrs,IT Support,0,0,NaN,NaN,NaN,NaN
99,2-5 yrs,IT Support,1,0,NaN,NaN,NaN,NaN
100,2-5 yrs,Network Engineer,0,0,NaN,NaN,NaN,NaN
101,2-5 yrs,Network Engineer,1,0,NaN,NaN,NaN,NaN
102,2-5 yrs,President & CEO,0,0,NaN,NaN,NaN,NaN
103,2-5 yrs,President & CEO,1,0,NaN,NaN,NaN,NaN
104,2-5 yrs,Principal Data Architect,0,0,NaN,NaN,NaN,NaN
105,2-5 yrs,Principal Data Architect,1,1,120000.000000,120000.0,120000.0,120000.0
106,2-5 yrs,Production Manager,0,0,NaN,NaN,NaN,NaN
107,2-5 yrs,Production Manager,1,1,82758.000000,82758.0,82758.0,82758.0
108,2-5 yrs,Production Technician I,0,0,NaN,NaN,NaN,NaN
109,2-5 yrs,Production Technician I,1,26,54663.538462,54469.0,45115.0,64786.0
110,2-5 yrs,Production Technician II,0,0,NaN,NaN,NaN,NaN
111,2-5 yrs,Production Technician II,1,11,65525.727273,67237.0,55800.0,74813.0
112,2-5 yrs,Sales Manager,0,0,NaN,NaN,NaN,NaN
113,2-5 yrs,Sales Manager,1,1,68999.000000,68999.0,68999.0,68999.0
114,2-5 yrs,Senior BI Developer,0,0,NaN,NaN,NaN,NaN
115,2-5 yrs,Senior BI Developer,1,0,NaN,NaN,NaN,NaN
116,2-5 yrs,Shared Services Manager,0,0,NaN,NaN,NaN,NaN
117,2-5 yrs,Shared Services Manager,1,0,NaN,NaN,NaN,NaN
118,2-5 yrs,Software Engineer,0,0,NaN,NaN,NaN,NaN
119,2-5 yrs,Software Engineer,1,3,97210.000000,99280.0,83363.0,108987.0
120,2-5 yrs,Software Engineering Manager,0,0,NaN,NaN,NaN,NaN
121,2-5 yrs,Software Engineering Manager,1,0,NaN,NaN,NaN,NaN
122,2-5 yrs,Sr. Accountant,0,0,NaN,NaN,NaN,NaN
123,2-5 yrs,Sr. Accountant,1,0,NaN,NaN,NaN,NaN
124,2-5 yrs,Sr. DBA,0,0,NaN,NaN,NaN,NaN
125,2-5 yrs,Sr. DBA,1,0,NaN,NaN,NaN,NaN
126,2-5 yrs,Sr. Network Engineer,0,0,NaN,NaN,NaN,NaN
127,2-5 yrs,Sr. Network Engineer,1,0,NaN,NaN,NaN,NaN
128,5-10 yrs,Accountant I,0,0,NaN,NaN,NaN,NaN
129,5-10 yrs,Accountant I,1,0,NaN,NaN,NaN,NaN
130,5-10 yrs,Administrative Assistant,0,1,51920.000000,51920.0,51920.0,51920.0
131,5-10 yrs,Administrative Assistant,1,0,NaN,NaN,NaN,NaN
132,5-10 yrs,Area Sales Manager,0,3,64558.333333,63291.0,61555.0,68829.0
133,5-10 yrs,Area Sales Manager,1,0,NaN,NaN,NaN,NaN
134,5-10 yrs,BI Developer,0,4,95465.000000,96370.0,90100.0,99020.0
135,5-10 yrs,BI Developer,1,0,NaN,NaN,NaN,NaN
136,5-10 yrs,BI Director,0,1,110929.000000,110929.0,110929.0,110929.0
137,5-10 yrs,BI Director,1,0,NaN,NaN,NaN,NaN
138,5-10 yrs,CIO,0,0,NaN,NaN,NaN,NaN
139,5-10 yrs,CIO,1,0,NaN,NaN,NaN,NaN
140,5-10 yrs,Data Analyst,0,4,87638.250000,88559.0,83552.0,89883.0
141,5-10 yrs,Data Analyst,1,0,NaN,NaN,NaN,NaN
142,5-10 yrs,Data Analyst,0,0,NaN,NaN,NaN,NaN
143,5-10 yrs,Data Analyst,1,0,NaN,NaN,NaN,NaN
144,5-10 yrs,Data Architect,0,1,150290.000000,150290.0,150290.0,150290.0
145,5-10 yrs,Data Architect,1,0,NaN,NaN,NaN,NaN
146,5-10 yrs,Database Administrator,0,2,101849.500000,101849.5,97999.0,105700.0
147,5-10 yrs,Database Administrator,1,0,NaN,NaN,NaN,NaN
148,5-10 yrs,Director of Operations,0,0,NaN,NaN,NaN,NaN
149,5-10 yrs,Director of Operations,1,0,NaN,NaN,NaN,NaN
150,5-10 yrs,Director of Sales,0,0,NaN,NaN,NaN,NaN
151,5-10 yrs,Director of Sales,1,0,NaN,NaN,NaN,NaN
152,5-10 yrs,Enterprise Architect,0,0,NaN,NaN,NaN,NaN
153,5-10 yrs,Enterprise Architect,1,0,NaN,NaN,NaN,NaN
154,5-10 yrs,IT Director,0,0,NaN,NaN,NaN,NaN
155,5-10 yrs,IT Director,1,0,NaN,NaN,NaN,NaN
156,5-10 yrs,IT Manager - DB,0,0,NaN,NaN,NaN,NaN
157,5-10 yrs,IT Manager - DB,1,0,NaN,NaN,NaN,NaN
158,5-10 yrs,IT Manager - Infra,0,0,NaN,NaN,NaN,NaN
159,5-10 yrs,IT Manager - Infra,1,0,NaN,NaN,NaN,NaN
160,5-10 yrs,IT Manager - Support,0,0,NaN,NaN,NaN,NaN
161,5-10 yrs,IT Manager - Support,1,0,NaN,NaN,NaN,NaN
162,5-10 yrs,IT Support,0,4,64180.000000,65931.5,50178.0,74679.0
163,5-10 yrs,IT Support,1,0,NaN,NaN,NaN,NaN
164,5-10 yrs,Network Engineer,0,3,60664.666667,53366.0,52599.0,76029.0
165,5-10 yrs,Network Engineer,1,0,NaN,NaN,NaN,NaN
166,5-10 yrs,President & CEO,0,0,NaN,NaN,NaN,NaN
167,5-10 yrs,President & CEO,1,0,NaN,NaN,NaN,NaN
168,5-10 yrs,Principal Data Architect,0,0,NaN,NaN,NaN,NaN
169,5-10 yrs,Principal Data Architect,1,0,NaN,NaN,NaN,NaN
170,5-10 yrs,Production Manager,0,2,67798.500000,67798.5,62957.0,72640.0
171,5-10 yrs,Production Manager,1,1,74669.000000,74669.0,74669.0,74669.0
172,5-10 yrs,Production Technician I,0,12,56260.416667,55918.5,47750.0,64057.0
173,5-10 yrs,Production Technician I,1,22,54439.318182,53372.0,46428.0,63676.0
174,5-10 yrs,Production Technician II,0,5,64433.200000,64995.0,55315.0,70131.0
175,5-10 yrs,Production Technician II,1,2,68040.000000,68040.0,63878.0,72202.0
176,5-10 yrs,Sales Manager,0,0,NaN,NaN,NaN,NaN
177,5-10 yrs,Sales Manager,1,0,NaN,NaN,NaN,NaN
178,5-10 yrs,Senior BI Developer,0,3,84802.666667,84903.0,81584.0,87921.0
179,5-10 yrs,Senior BI Developer,1,0,NaN,NaN,NaN,NaN
180,5-10 yrs,Shared Services Manager,0,1,93046.000000,93046.0,93046.0,93046.0
181,5-10 yrs,Shared Services Manager,1,0,NaN,NaN,NaN,NaN
182,5-10 yrs,Software Engineer,0,0,NaN,NaN,NaN,NaN
183,5-10 yrs,Software Engineer,1,1,100416.000000,100416.0,100416.0,100416.0
184,5-10 yrs,Software Engineering Manager,0,0,NaN,NaN,NaN,NaN
185,5-10 yrs,Software Engineering Manager,1,0,NaN,NaN,NaN,NaN
186,5-10 yrs,Sr. Accountant,0,1,106367.000000,106367.0,106367.0,106367.0
187,5-10 yrs,Sr. Accountant,1,0,NaN,NaN,NaN,NaN
188,5-10 yrs,Sr. DBA,0,1,100031.000000,100031.0,100031.0,100031.0
189,5-10 yrs,Sr. DBA,1,0,NaN,NaN,NaN,NaN
190,5-10 yrs,Sr. Network Engineer,0,2,97395.500000,97395.5,87565.0,107226.0
191,5-10 yrs,Sr. Network Engineer,1,0,NaN,NaN,NaN,NaN
192,10-15 yrs,Accountant I,0,2,63761.500000,63761.5,63003.0,64520.0
193,10-15 yrs,Accountant I,1,0,NaN,NaN,NaN,NaN
194,10-15 yrs,Administrative Assistant,0,0,NaN,NaN,NaN,NaN
195,10-15 yrs,Administrative Assistant,1,0,NaN,NaN,NaN,NaN
196,10-15 yrs,Area Sales Manager,0,19,64185.105263,63051.0,55875.0,74241.0
197,10-15 yrs,Area Sales Manager,1,0,NaN,NaN,NaN,NaN
198,10-15 yrs,BI Developer,0,0,NaN,NaN,NaN,NaN
199,10-15 yrs,BI Developer,1,0,NaN,NaN,NaN,NaN
200,10-15 yrs,BI Director,0,0,NaN,NaN,NaN,NaN
201,10-15 yrs,BI Director,1,0,NaN,NaN,NaN,NaN
202,10-15 yrs,CIO,0,1,220450.000000,220450.0,220450.0,220450.0
203,10-15 yrs,CIO,1,0,NaN,NaN,NaN,NaN
204,10-15 yrs,Data Analyst,0,2,92941.000000,92941.0,92328.0,93554.0
205,10-15 yrs,Data Analyst,1,0,NaN,NaN,NaN,NaN
206,10-15 yrs,Data Analyst,0,0,NaN,NaN,NaN,NaN
207,10-15 yrs,Data Analyst,1,0,NaN,NaN,NaN,NaN
208,10-15 yrs,Data Architect,0,0,NaN,NaN,NaN,NaN
209,10-15 yrs,Data Architect,1,0,NaN,NaN,NaN,NaN
210,10-15 yrs,Database Administrator,0,0,NaN,NaN,NaN,NaN
211,10-15 yrs,Database Administrator,1,0,NaN,NaN,NaN,NaN
212,10-15 yrs,Director of Operations,0,0,NaN,NaN,NaN,NaN
213,10-15 yrs,Director of Operations,1,0,NaN,NaN,NaN,NaN
214,10-15 yrs,Director of Sales,0,1,180000.000000,180000.0,180000.0,180000.0
215,10-15 yrs,Director of Sales,1,0,NaN,NaN,NaN,NaN
216,10-15 yrs,Enterprise Architect,0,0,NaN,NaN,NaN,NaN
217,10-15 yrs,Enterprise Architect,1,0,NaN,NaN,NaN,NaN
218,10-15 yrs,IT Director,0,1,178000.000000,178000.0,178000.0,178000.0
219,10-15 yrs,IT Director,1,0,NaN,NaN,NaN,NaN
220,10-15 yrs,IT Manager - DB,0,1,140920.000000,140920.0,140920.0,140920.0
221,10-15 yrs,IT Manager - DB,1,0,NaN,NaN,NaN,NaN
222,10-15 yrs,IT Manager - Infra,0,1,157000.000000,157000.0,157000.0,157000.0
223,10-15 yrs,IT Manager - Infra,1,0,NaN,NaN,NaN,NaN
224,10-15 yrs,IT Manager - Support,0,1,138888.000000,138888.0,138888.0,138888.0
225,10-15 yrs,IT Manager - Support,1,0,NaN,NaN,NaN,NaN
226,10-15 yrs,IT Support,0,4,63188.750000,66150.0,51777.0,68678.0
227,10-15 yrs,IT Support,1,0,NaN,NaN,NaN,NaN
228,10-15 yrs,Network Engineer,0,1,50750.000000,50750.0,50750.0,50750.0
229,10-15 yrs,Network Engineer,1,0,NaN,NaN,NaN,NaN
230,10-15 yrs,President & CEO,0,1,250000.000000,250000.0,250000.0,250000.0
231,10-15 yrs,President & CEO,1,0,NaN,NaN,NaN,NaN
232,10-15 yrs,Principal Data Architect,0,0,NaN,NaN,NaN,NaN
233,10-15 yrs,Principal Data Architect,1,0,NaN,NaN,NaN,NaN
234,10-15 yrs,Production Manager,0,6,76585.166667,76551.5,65714.0,88976.0
235,10-15 yrs,Production Manager,1,0,NaN,NaN,NaN,NaN
236,10-15 yrs,Production Technician I,0,70,56146.185714,57571.5,45046.0,64919.0
237,10-15 yrs,Production Technician I,1,0,NaN,NaN,NaN,NaN
238,10-15 yrs,Production Technician II,0,26,65237.846154,65590.5,56294.0,74417.0
239,10-15 yrs,Production Technician II,1,0,NaN,NaN,NaN,NaN
240,10-15 yrs,Sales Manager,0,2,69360.500000,69360.5,65729.0,72992.0
241,10-15 yrs,Sales Manager,1,0,NaN,NaN,NaN,NaN
242,10-15 yrs,Senior BI Developer,0,0,NaN,NaN,NaN,NaN
243,10-15 yrs,Senior BI Developer,1,0,NaN,NaN,NaN,NaN
244,10-15 yrs,Shared Services Manager,0,0,NaN,NaN,NaN,NaN
245,10-15 yrs,Shared Services Manager,1,0,NaN,NaN,NaN,NaN
246,10-15 yrs,Software Engineer,0,6,95857.666667,94528.0,86214.0,105688.0
247,10-15 yrs,Software Engineer,1,0,NaN,NaN,NaN,NaN
248,10-15 yrs,Software Engineering Manager,0,1,77692.000000,77692.0,77692.0,77692.0
249,10-15 yrs,Software Engineering Manager,1,0,NaN,NaN,NaN,NaN
250,10-15 yrs,Sr. Accountant,0,0,NaN,NaN,NaN,NaN
251,10-15 yrs,Sr. Accountant,1,0,NaN,NaN,NaN,NaN
252,10-15 yrs,Sr. DBA,0,0,NaN,NaN,NaN,NaN
253,10-15 yrs,Sr. DBA,1,0,NaN,NaN,NaN,NaN
254,10-15 yrs,Sr. Network Engineer,0,3,90187.666667,92329.0,85028.0,93206.0
255,10-15 yrs,Sr. Network Engineer,1,0,NaN,NaN,NaN,NaN
256,15-20 yrs,Accountant I,0,1,63000.000000,63000.0,63000.0,63000.0
257,15-20 yrs,Accountant I,1,0,NaN,NaN,NaN,NaN
258,15-20 yrs,Administrative Assistant,0,0,NaN,NaN,NaN,NaN
259,15-20 yrs,Administrative Assistant,1,0,NaN,NaN,NaN,NaN
260,15-20 yrs,Area Sales Manager,0,1,64397.000000,64397.0,64397.0,64397.0
261,15-20 yrs,Area Sales Manager,1,0,NaN,NaN,NaN,NaN
262,15-20 yrs,BI Developer,0,0,NaN,NaN,NaN,NaN
263,15-20 yrs,BI Developer,1,0,NaN,NaN,NaN,NaN
264,15-20 yrs,BI Director,0,0,NaN,NaN,NaN,NaN
265,15-20 yrs,BI Director,1,0,NaN,NaN,NaN,NaN
266,15-20 yrs,CIO,0,0,NaN,NaN,NaN,NaN
267,15-20 yrs,CIO,1,0,NaN,NaN,NaN,NaN
268,15-20 yrs,Data Analyst,0,0,NaN,NaN,NaN,NaN
269,15-20 yrs,Data Analyst,1,0,NaN,NaN,NaN,NaN
270,15-20 yrs,Data Analyst,0,0,NaN,NaN,NaN,NaN
271,15-20 yrs,Data Analyst,1,0,NaN,NaN,NaN,NaN
272,15-20 yrs,Data Architect,0,0,NaN,NaN,NaN,NaN
273,15-20 yrs,Data Architect,1,0,NaN,NaN,NaN,NaN
274,15-20 yrs,Database Administrator,0,0,NaN,NaN,NaN,NaN
275,15-20 yrs,Database Administrator,1,0,NaN,NaN,NaN,NaN
276,15-20 yrs,Director of Operations,0,1,170500.000000,170500.0,170500.0,170500.0
277,15-20 yrs,Director of Operations,1,0,NaN,NaN,NaN,NaN
278,15-20 yrs,Director of Sales,0,0,NaN,NaN,NaN,NaN
279,15-20 yrs,Director of Sales,1,0,NaN,NaN,NaN,NaN
280,15-20 yrs,Enterprise Architect,0,0,NaN,NaN,NaN,NaN
281,15-20 yrs,Enterprise Architect,1,0,NaN,NaN,NaN,NaN
282,15-20 yrs,IT Director,0,0,NaN,NaN,NaN,NaN
283,15-20 yrs,IT Director,1,0,NaN,NaN,NaN,NaN
284,15-20 yrs,IT Manager - DB,0,0,NaN,NaN,NaN,NaN
285,15-20 yrs,IT Manager - DB,1,0,NaN,NaN,NaN,NaN
286,15-20 yrs,IT Manager - Infra,0,0,NaN,NaN,NaN,NaN
287,15-20 yrs,IT Manager - Infra,1,0,NaN,NaN,NaN,NaN
288,15-20 yrs,IT Manager - Support,0,0,NaN,NaN,NaN,NaN
289,15-20 yrs,IT Manager - Support,1,0,NaN,NaN,NaN,NaN
290,15-20 yrs,IT Support,0,0,NaN,NaN,NaN,NaN
291,15-20 yrs,IT Support,1,0,NaN,NaN,NaN,NaN
292,15-20 yrs,Network Engineer,0,0,NaN,NaN,NaN,NaN
293,15-20 yrs,Network Engineer,1,0,NaN,NaN,NaN,NaN
294,15-20 yrs,President & CEO,0,0,NaN,NaN,NaN,NaN
295,15-20 yrs,President & CEO,1,0,NaN,NaN,NaN,NaN
296,15-20 yrs,Principal Data Architect,0,0,NaN,NaN,NaN,NaN
297,15-20 yrs,Principal Data Architect,1,0,NaN,NaN,NaN,NaN
298,15-20 yrs,Production Manager,0,1,63682.000000,63682.0,63682.0,63682.0
299,15-20 yrs,Production Manager,1,0,NaN,NaN,NaN,NaN
300,15-20 yrs,Production Technician I,0,3,53276.333333,47837.0,47001.0,64991.0
301,15-20 yrs,Production Technician I,1,0,NaN,NaN,NaN,NaN
302,15-20 yrs,Production Technician II,0,0,NaN,NaN,NaN,NaN
303,15-20 yrs,Production Technician II,1,0,NaN,NaN,NaN,NaN
304,15-20 yrs,Sales Manager,0,0,NaN,NaN,NaN,NaN
305,15-20 yrs,Sales Manager,1,0,NaN,NaN,NaN,NaN
306,15-20 yrs,Senior BI Developer,0,0,NaN,NaN,NaN,NaN
307,15-20 yrs,Senior BI Developer,1,0,NaN,NaN,NaN,NaN
308,15-20 yrs,Shared Services Manager,0,0,NaN,NaN,NaN,NaN
309,15-20 yrs,Shared Services Manager,1,0,NaN,NaN,NaN,NaN
310,15-20 yrs,Software Engineer,0,0,NaN,NaN,NaN,NaN
311,15-20 yrs,Software Engineer,1,0,NaN,NaN,NaN,NaN
312,15-20 yrs,Software Engineering Manager,0,0,NaN,NaN,NaN,NaN
313,15-20 yrs,Software Engineering Manager,1,0,NaN,NaN,NaN,NaN
314,15-20 yrs,Sr. Accountant,0,1,99351.000000,99351.0,99351.0,99351.0
315,15-20 yrs,Sr. Accountant,1,0,NaN,NaN,NaN,NaN
316,15-20 yrs,Sr. DBA,0,0,NaN,NaN,NaN,NaN
317,15-20 yrs,Sr. DBA,1,0,NaN,NaN,NaN,NaN
318,15-20 yrs,Sr. Network Engineer,0,0,NaN,NaN,NaN,NaN
319,15-20 yrs,Sr. Network Engineer,1,0,NaN,NaN,NaN,NaN

In [ ]:
#Tenure  Salary  PerformanceScore  TerminatedFlag
df.groupby(
    ["TenureGroup", "PerformanceScore", "TerminatedFlag"], observed=False
).agg(
    Count=("Salary", "count"),
    Avg_Salary14=("Salary", "mean"),
    Median_Salary14=("Salary", "median"),
    Min_Salary14=("Salary", "min"),
    Max_Salary14=("Salary", "max")
).reset_index()

,TenureGroup,PerformanceScore,TerminatedFlag,Count,Avg_Salary14,Median_Salary14,Min_Salary14,Max_Salary14
0,0-2 yrs,Exceeds,0,0,NaN,NaN,NaN,NaN
1,0-2 yrs,Exceeds,1,1,57954.000000,57954.0,57954.0,57954.0
2,0-2 yrs,Fully Meets,0,0,NaN,NaN,NaN,NaN
3,0-2 yrs,Fully Meets,1,26,70182.730769,64839.5,46430.0,114800.0
4,0-2 yrs,Needs Improvement,0,0,NaN,NaN,NaN,NaN
5,0-2 yrs,Needs Improvement,1,1,83082.000000,83082.0,83082.0,83082.0
6,0-2 yrs,PIP,0,0,NaN,NaN,NaN,NaN
7,0-2 yrs,PIP,1,1,68898.000000,68898.0,68898.0,68898.0
8,2-5 yrs,Exceeds,0,0,NaN,NaN,NaN,NaN
9,2-5 yrs,Exceeds,1,6,66274.833333,60474.0,47434.0,108987.0
10,2-5 yrs,Fully Meets,0,0,NaN,NaN,NaN,NaN
11,2-5 yrs,Fully Meets,1,35,68230.342857,63515.0,45115.0,148999.0
12,2-5 yrs,Needs Improvement,0,0,NaN,NaN,NaN,NaN
13,2-5 yrs,Needs Improvement,1,5,64776.200000,59124.0,50274.0,99280.0
14,2-5 yrs,PIP,0,0,NaN,NaN,NaN,NaN
15,2-5 yrs,PIP,1,3,59553.666667,55800.0,52674.0,70187.0
16,5-10 yrs,Exceeds,0,3,64381.333333,70131.0,50373.0,72640.0
17,5-10 yrs,Exceeds,1,1,46837.000000,46837.0,46837.0,46837.0
18,5-10 yrs,Fully Meets,0,44,77383.045455,72650.0,50178.0,150290.0
19,5-10 yrs,Fully Meets,1,20,58950.500000,55196.0,46428.0,100416.0
20,5-10 yrs,Needs Improvement,0,1,47750.000000,47750.0,47750.0,47750.0
21,5-10 yrs,Needs Improvement,1,4,58617.500000,59742.0,53564.0,61422.0
22,5-10 yrs,PIP,0,2,58711.500000,58711.5,53366.0,64057.0
23,5-10 yrs,PIP,1,1,48513.000000,48513.0,48513.0,48513.0
24,10-15 yrs,Exceeds,0,24,80161.625000,63116.0,46738.0,220450.0
25,10-15 yrs,Exceeds,1,0,NaN,NaN,NaN,NaN
26,10-15 yrs,Fully Meets,0,112,66344.410714,61952.5,45046.0,250000.0
27,10-15 yrs,Fully Meets,1,0,NaN,NaN,NaN,NaN
28,10-15 yrs,Needs Improvement,0,7,77450.428571,66441.0,53060.0,157000.0
29,10-15 yrs,Needs Improvement,1,0,NaN,NaN,NaN,NaN
30,10-15 yrs,PIP,0,6,58854.833333,58752.0,53189.0,64021.0
31,10-15 yrs,PIP,1,0,NaN,NaN,NaN,NaN
32,15-20 yrs,Exceeds,0,2,117448.500000,117448.5,64397.0,170500.0
33,15-20 yrs,Exceeds,1,0,NaN,NaN,NaN,NaN
34,15-20 yrs,Fully Meets,0,6,64310.333333,63341.0,47001.0,99351.0
35,15-20 yrs,Fully Meets,1,0,NaN,NaN,NaN,NaN
36,15-20 yrs,Needs Improvement,0,0,NaN,NaN,NaN,NaN
37,15-20 yrs,Needs Improvement,1,0,NaN,NaN,NaN,NaN
38,15-20 yrs,PIP,0,0,NaN,NaN,NaN,NaN
39,15-20 yrs,PIP,1,0,NaN,NaN,NaN,NaN

In [ ]:
#Tenure x Age x Department x TerminatedFlag
df.pivot_table(
    index=['TenureGroup', 'AgeGroup', 'Department'],
    columns='TerminatedFlag',
    aggfunc='size',
    fill_value=0,
    observed=False
).reset_index()

TerminatedFlag TenureGroup AgeGroup            Department   0   1
0                  0-2 yrs    2029         Admin Offices   0   0
1                  0-2 yrs    2029      Executive Office   0   0
2                  0-2 yrs    2029                 IT/IS   0   0
3                  0-2 yrs    2029     Production          0   0
4                  0-2 yrs    2029                 Sales   0   0
5                  0-2 yrs    2029  Software Engineering   0   0
6                  0-2 yrs    3039         Admin Offices   0   2
7                  0-2 yrs    3039      Executive Office   0   0
8                  0-2 yrs    3039                 IT/IS   0   4
9                  0-2 yrs    3039     Production          0   7
10                 0-2 yrs    3039                 Sales   0   0
11                 0-2 yrs    3039  Software Engineering   0   0
12                 0-2 yrs    4049         Admin Offices   0   0
13                 0-2 yrs    4049      Executive Office   0   0
14                 0-2 yrs    4049                 IT/IS   0   1
15                 0-2 yrs    4049     Production          0   7
16                 0-2 yrs    4049                 Sales   0   0
17                 0-2 yrs    4049  Software Engineering   0   0
18                 0-2 yrs    5059         Admin Offices   0   0
19                 0-2 yrs    5059      Executive Office   0   0
20                 0-2 yrs    5059                 IT/IS   0   1
21                 0-2 yrs    5059     Production          0   4
22                 0-2 yrs    5059                 Sales   0   1
23                 0-2 yrs    5059  Software Engineering   0   0
24                 0-2 yrs      60+         Admin Offices   0   0
25                 0-2 yrs      60+      Executive Office   0   0
26                 0-2 yrs      60+                 IT/IS   0   0
27                 0-2 yrs      60+     Production          0   2
28                 0-2 yrs      60+                 Sales   0   0
29                 0-2 yrs      60+  Software Engineering   0   0
30                 2-5 yrs    2029         Admin Offices   0   0
31                 2-5 yrs    2029      Executive Office   0   0
32                 2-5 yrs    2029                 IT/IS   0   0
33                 2-5 yrs    2029     Production          0   0
34                 2-5 yrs    2029                 Sales   0   0
35                 2-5 yrs    2029  Software Engineering   0   0
36                 2-5 yrs    3039         Admin Offices   0   0
37                 2-5 yrs    3039      Executive Office   0   0
38                 2-5 yrs    3039                 IT/IS   0   1
39                 2-5 yrs    3039     Production          0   9
40                 2-5 yrs    3039                 Sales   0   1
41                 2-5 yrs    3039  Software Engineering   0   2
42                 2-5 yrs    4049         Admin Offices   0   0
43                 2-5 yrs    4049      Executive Office   0   0
44                 2-5 yrs    4049                 IT/IS   0   0
45                 2-5 yrs    4049     Production          0  15
46                 2-5 yrs    4049                 Sales   0   1
47                 2-5 yrs    4049  Software Engineering   0   1
48                 2-5 yrs    5059         Admin Offices   0   0
49                 2-5 yrs    5059      Executive Office   0   0
50                 2-5 yrs    5059                 IT/IS   0   2
51                 2-5 yrs    5059     Production          0  10
52                 2-5 yrs    5059                 Sales   0   2
53                 2-5 yrs    5059  Software Engineering   0   0
54                 2-5 yrs      60+         Admin Offices   0   0
55                 2-5 yrs      60+      Executive Office   0   0
56                 2-5 yrs      60+                 IT/IS   0   1
57                 2-5 yrs      60+     Production          0   4
58                 2-5 yrs      60+                 Sales   0   0
59                 2-5 yrs      60+  Software Engineering   0   0
60                5-10 yrs    2029         Admin Offices   0   0
61                5-10 yrs    2029      Executive Office   0   0
62                5-10 yrs    2029                 IT/IS   0   0
63                5-10 yrs    2029     Production          0   0
64                5-10 yrs    2029                 Sales   0   0
65                5-10 yrs    2029  Software Engineering   0   0
66                5-10 yrs    3039         Admin Offices   3   0
67                5-10 yrs    3039      Executive Office   0   0
68                5-10 yrs    3039                 IT/IS  11   0
69                5-10 yrs    3039     Production          9   9
70                5-10 yrs    3039                 Sales   2   0
71                5-10 yrs    3039  Software Engineering   0   0
72                5-10 yrs    4049         Admin Offices   0   0
73                5-10 yrs    4049      Executive Office   0   0
74                5-10 yrs    4049                 IT/IS   9   0
75                5-10 yrs    4049     Production          8   9
76                5-10 yrs    4049                 Sales   1   0
77                5-10 yrs    4049  Software Engineering   0   1
78                5-10 yrs    5059         Admin Offices   0   0
79                5-10 yrs    5059      Executive Office   0   0
80                5-10 yrs    5059                 IT/IS   5   0
81                5-10 yrs    5059     Production          2   5
82                5-10 yrs    5059                 Sales   0   0
83                5-10 yrs    5059  Software Engineering   0   0
84                5-10 yrs      60+         Admin Offices   0   0
85                5-10 yrs      60+      Executive Office   0   0
86                5-10 yrs      60+                 IT/IS   0   0
87                5-10 yrs      60+     Production          0   2
88                5-10 yrs      60+                 Sales   0   0
89                5-10 yrs      60+  Software Engineering   0   0
90               10-15 yrs    2029         Admin Offices   0   0
91               10-15 yrs    2029      Executive Office   0   0
92               10-15 yrs    2029                 IT/IS   0   0
93               10-15 yrs    2029     Production          0   0
94               10-15 yrs    2029                 Sales   0   0
95               10-15 yrs    2029  Software Engineering   0   0
96               10-15 yrs    3039         Admin Offices   2   0
97               10-15 yrs    3039      Executive Office   0   0
98               10-15 yrs    3039                 IT/IS   6   0
99               10-15 yrs    3039     Production         26   0
100              10-15 yrs    3039                 Sales  12   0
101              10-15 yrs    3039  Software Engineering   3   0
102              10-15 yrs    4049         Admin Offices   0   0
103              10-15 yrs    4049      Executive Office   0   0
104              10-15 yrs    4049                 IT/IS   3   0
105              10-15 yrs    4049     Production         53   0
106              10-15 yrs    4049                 Sales   3   0
107              10-15 yrs    4049  Software Engineering   3   0
108              10-15 yrs    5059         Admin Offices   0   0
109              10-15 yrs    5059      Executive Office   0   0
110              10-15 yrs    5059                 IT/IS   5   0
111              10-15 yrs    5059     Production         19   0
112              10-15 yrs    5059                 Sales   4   0
113              10-15 yrs    5059  Software Engineering   1   0
114              10-15 yrs      60+         Admin Offices   0   0
115              10-15 yrs      60+      Executive Office   1   0
116              10-15 yrs      60+                 IT/IS   1   0
117              10-15 yrs      60+     Production          4   0
118              10-15 yrs      60+                 Sales   3   0
119              10-15 yrs      60+  Software Engineering   0   0
120              15-20 yrs    2029         Admin Offices   0   0
121              15-20 yrs    2029      Executive Office   0   0
122              15-20 yrs    2029                 IT/IS   0   0
123              15-20 yrs    2029     Production          0   0
124              15-20 yrs    2029                 Sales   0   0
125              15-20 yrs    2029  Software Engineering   0   0
126              15-20 yrs    3039         Admin Offices   1   0
127              15-20 yrs    3039      Executive Office   0   0
128              15-20 yrs    3039                 IT/IS   0   0
129              15-20 yrs    3039     Production          1   0
130              15-20 yrs    3039                 Sales   0   0
131              15-20 yrs    3039  Software Engineering   0   0
132              15-20 yrs    4049         Admin Offices   1   0
133              15-20 yrs    4049      Executive Office   0   0
134              15-20 yrs    4049                 IT/IS   0   0
135              15-20 yrs    4049     Production          3   0
136              15-20 yrs    4049                 Sales   0   0
137              15-20 yrs    4049  Software Engineering   0   0
138              15-20 yrs    5059         Admin Offices   0   0
139              15-20 yrs    5059      Executive Office   0   0
140              15-20 yrs    5059                 IT/IS   0   0
141              15-20 yrs    5059     Production          1   0
142              15-20 yrs    5059                 Sales   1   0
143              15-20 yrs    5059  Software Engineering   0   0
144              15-20 yrs      60+         Admin Offices   0   0
145              15-20 yrs      60+      Executive Office   0   0
146              15-20 yrs      60+                 IT/IS   0   0
147              15-20 yrs      60+     Production          0   0
148              15-20 yrs      60+                 Sales   0   0
149              15-20 yrs      60+  Software Engineering   0   0

In [ ]:
#Tenure x Age x Position x TerminatedFlag
df.pivot_table(
    index=['TenureGroup', 'AgeGroup', 'Position'],
    columns='TerminatedFlag',
    aggfunc='size',
    fill_value=0,
    observed=False
).reset_index()

TerminatedFlag TenureGroup AgeGroup                      Position   0   1
0                  0-2 yrs    2029                  Accountant I   0   0
1                  0-2 yrs    2029      Administrative Assistant   0   0
2                  0-2 yrs    2029            Area Sales Manager   0   0
3                  0-2 yrs    2029                  BI Developer   0   0
4                  0-2 yrs    2029                   BI Director   0   0
5                  0-2 yrs    2029                           CIO   0   0
6                  0-2 yrs    2029                  Data Analyst   0   0
7                  0-2 yrs    2029                 Data Analyst    0   0
8                  0-2 yrs    2029                Data Architect   0   0
9                  0-2 yrs    2029        Database Administrator   0   0
10                 0-2 yrs    2029        Director of Operations   0   0
11                 0-2 yrs    2029             Director of Sales   0   0
12                 0-2 yrs    2029          Enterprise Architect   0   0
13                 0-2 yrs    2029                   IT Director   0   0
14                 0-2 yrs    2029               IT Manager - DB   0   0
15                 0-2 yrs    2029            IT Manager - Infra   0   0
16                 0-2 yrs    2029          IT Manager - Support   0   0
17                 0-2 yrs    2029                    IT Support   0   0
18                 0-2 yrs    2029              Network Engineer   0   0
19                 0-2 yrs    2029               President & CEO   0   0
20                 0-2 yrs    2029      Principal Data Architect   0   0
21                 0-2 yrs    2029            Production Manager   0   0
22                 0-2 yrs    2029       Production Technician I   0   0
23                 0-2 yrs    2029      Production Technician II   0   0
24                 0-2 yrs    2029                 Sales Manager   0   0
25                 0-2 yrs    2029           Senior BI Developer   0   0
26                 0-2 yrs    2029       Shared Services Manager   0   0
27                 0-2 yrs    2029             Software Engineer   0   0
28                 0-2 yrs    2029  Software Engineering Manager   0   0
29                 0-2 yrs    2029                Sr. Accountant   0   0
30                 0-2 yrs    2029                       Sr. DBA   0   0
31                 0-2 yrs    2029          Sr. Network Engineer   0   0
32                 0-2 yrs    3039                  Accountant I   0   0
33                 0-2 yrs    3039      Administrative Assistant   0   2
34                 0-2 yrs    3039            Area Sales Manager   0   0
35                 0-2 yrs    3039                  BI Developer   0   0
36                 0-2 yrs    3039                   BI Director   0   0
37                 0-2 yrs    3039                           CIO   0   0
38                 0-2 yrs    3039                  Data Analyst   0   1
39                 0-2 yrs    3039                 Data Analyst    0   1
40                 0-2 yrs    3039                Data Architect   0   0
41                 0-2 yrs    3039        Database Administrator   0   1
42                 0-2 yrs    3039        Director of Operations   0   0
43                 0-2 yrs    3039             Director of Sales   0   0
44                 0-2 yrs    3039          Enterprise Architect   0   0
45                 0-2 yrs    3039                   IT Director   0   0
46                 0-2 yrs    3039               IT Manager - DB   0   0
47                 0-2 yrs    3039            IT Manager - Infra   0   0
48                 0-2 yrs    3039          IT Manager - Support   0   0
49                 0-2 yrs    3039                    IT Support   0   0
50                 0-2 yrs    3039              Network Engineer   0   1
51                 0-2 yrs    3039               President & CEO   0   0
52                 0-2 yrs    3039      Principal Data Architect   0   0
53                 0-2 yrs    3039            Production Manager   0   0
54                 0-2 yrs    3039       Production Technician I   0   2
55                 0-2 yrs    3039      Production Technician II   0   5
56                 0-2 yrs    3039                 Sales Manager   0   0
57                 0-2 yrs    3039           Senior BI Developer   0   0
58                 0-2 yrs    3039       Shared Services Manager   0   0
59                 0-2 yrs    3039             Software Engineer   0   0
60                 0-2 yrs    3039  Software Engineering Manager   0   0
61                 0-2 yrs    3039                Sr. Accountant   0   0
62                 0-2 yrs    3039                       Sr. DBA   0   0
63                 0-2 yrs    3039          Sr. Network Engineer   0   0
64                 0-2 yrs    4049                  Accountant I   0   0
65                 0-2 yrs    4049      Administrative Assistant   0   0
66                 0-2 yrs    4049            Area Sales Manager   0   0
67                 0-2 yrs    4049                  BI Developer   0   0
68                 0-2 yrs    4049                   BI Director   0   0
69                 0-2 yrs    4049                           CIO   0   0
70                 0-2 yrs    4049                  Data Analyst   0   0
71                 0-2 yrs    4049                 Data Analyst    0   0
72                 0-2 yrs    4049                Data Architect   0   0
73                 0-2 yrs    4049        Database Administrator   0   0
74                 0-2 yrs    4049        Director of Operations   0   0
75                 0-2 yrs    4049             Director of Sales   0   0
76                 0-2 yrs    4049          Enterprise Architect   0   0
77                 0-2 yrs    4049                   IT Director   0   0
78                 0-2 yrs    4049               IT Manager - DB   0   0
79                 0-2 yrs    4049            IT Manager - Infra   0   0
80                 0-2 yrs    4049          IT Manager - Support   0   0
81                 0-2 yrs    4049                    IT Support   0   0
82                 0-2 yrs    4049              Network Engineer   0   0
83                 0-2 yrs    4049               President & CEO   0   0
84                 0-2 yrs    4049      Principal Data Architect   0   0
85                 0-2 yrs    4049            Production Manager   0   1
86                 0-2 yrs    4049       Production Technician I   0   1
87                 0-2 yrs    4049      Production Technician II   0   5
88                 0-2 yrs    4049                 Sales Manager   0   0
89                 0-2 yrs    4049           Senior BI Developer   0   0
90                 0-2 yrs    4049       Shared Services Manager   0   0
91                 0-2 yrs    4049             Software Engineer   0   0
92                 0-2 yrs    4049  Software Engineering Manager   0   0
93                 0-2 yrs    4049                Sr. Accountant   0   0
94                 0-2 yrs    4049                       Sr. DBA   0   1
95                 0-2 yrs    4049          Sr. Network Engineer   0   0
96                 0-2 yrs    5059                  Accountant I   0   0
97                 0-2 yrs    5059      Administrative Assistant   0   0
98                 0-2 yrs    5059            Area Sales Manager   0   1
99                 0-2 yrs    5059                  BI Developer   0   0
100                0-2 yrs    5059                   BI Director   0   0
101                0-2 yrs    5059                           CIO   0   0
102                0-2 yrs    5059                  Data Analyst   0   0
103                0-2 yrs    5059                 Data Analyst    0   0
104                0-2 yrs    5059                Data Architect   0   0
105                0-2 yrs    5059        Database Administrator   0   1
106                0-2 yrs    5059        Director of Operations   0   0
107                0-2 yrs    5059             Director of Sales   0   0
108                0-2 yrs    5059          Enterprise Architect   0   0
109                0-2 yrs    5059                   IT Director   0   0
110                0-2 yrs    5059               IT Manager - DB   0   0
111                0-2 yrs    5059            IT Manager - Infra   0   0
112                0-2 yrs    5059          IT Manager - Support   0   0
113                0-2 yrs    5059                    IT Support   0   0
114                0-2 yrs    5059              Network Engineer   0   0
115                0-2 yrs    5059               President & CEO   0   0
116                0-2 yrs    5059      Principal Data Architect   0   0
117                0-2 yrs    5059            Production Manager   0   1
118                0-2 yrs    5059       Production Technician I   0   1
119                0-2 yrs    5059      Production Technician II   0   2
120                0-2 yrs    5059                 Sales Manager   0   0
121                0-2 yrs    5059           Senior BI Developer   0   0
122                0-2 yrs    5059       Shared Services Manager   0   0
123                0-2 yrs    5059             Software Engineer   0   0
124                0-2 yrs    5059  Software Engineering Manager   0   0
125                0-2 yrs    5059                Sr. Accountant   0   0
126                0-2 yrs    5059                       Sr. DBA   0   0
127                0-2 yrs    5059          Sr. Network Engineer   0   0
128                0-2 yrs      60+                  Accountant I   0   0
129                0-2 yrs      60+      Administrative Assistant   0   0
130                0-2 yrs      60+            Area Sales Manager   0   0
131                0-2 yrs      60+                  BI Developer   0   0
132                0-2 yrs      60+                   BI Director   0   0
133                0-2 yrs      60+                           CIO   0   0
134                0-2 yrs      60+                  Data Analyst   0   0
135                0-2 yrs      60+                 Data Analyst    0   0
136                0-2 yrs      60+                Data Architect   0   0
137                0-2 yrs      60+        Database Administrator   0   0
138                0-2 yrs      60+        Director of Operations   0   0
139                0-2 yrs      60+             Director of Sales   0   0
140                0-2 yrs      60+          Enterprise Architect   0   0
141                0-2 yrs      60+                   IT Director   0   0
142                0-2 yrs      60+               IT Manager - DB   0   0
143                0-2 yrs      60+            IT Manager - Infra   0   0
144                0-2 yrs      60+          IT Manager - Support   0   0
145                0-2 yrs      60+                    IT Support   0   0
146                0-2 yrs      60+              Network Engineer   0   0
147                0-2 yrs      60+               President & CEO   0   0
148                0-2 yrs      60+      Principal Data Architect   0   0
149                0-2 yrs      60+            Production Manager   0   1
150                0-2 yrs      60+       Production Technician I   0   0
151                0-2 yrs      60+      Production Technician II   0   1
152                0-2 yrs      60+                 Sales Manager   0   0
153                0-2 yrs      60+           Senior BI Developer   0   0
154                0-2 yrs      60+       Shared Services Manager   0   0
155                0-2 yrs      60+             Software Engineer   0   0
156                0-2 yrs      60+  Software Engineering Manager   0   0
157                0-2 yrs      60+                Sr. Accountant   0   0
158                0-2 yrs      60+                       Sr. DBA   0   0
159                0-2 yrs      60+          Sr. Network Engineer   0   0
160                2-5 yrs    2029                  Accountant I   0   0
161                2-5 yrs    2029      Administrative Assistant   0   0
162                2-5 yrs    2029            Area Sales Manager   0   0
163                2-5 yrs    2029                  BI Developer   0   0
164                2-5 yrs    2029                   BI Director   0   0
165                2-5 yrs    2029                           CIO   0   0
166                2-5 yrs    2029                  Data Analyst   0   0
167                2-5 yrs    2029                 Data Analyst    0   0
168                2-5 yrs    2029                Data Architect   0   0
169                2-5 yrs    2029        Database Administrator   0   0
170                2-5 yrs    2029        Director of Operations   0   0
171                2-5 yrs    2029             Director of Sales   0   0
172                2-5 yrs    2029          Enterprise Architect   0   0
173                2-5 yrs    2029                   IT Director   0   0
174                2-5 yrs    2029               IT Manager - DB   0   0
175                2-5 yrs    2029            IT Manager - Infra   0   0
176                2-5 yrs    2029          IT Manager - Support   0   0
177                2-5 yrs    2029                    IT Support   0   0
178                2-5 yrs    2029              Network Engineer   0   0
179                2-5 yrs    2029               President & CEO   0   0
180                2-5 yrs    2029      Principal Data Architect   0   0
181                2-5 yrs    2029            Production Manager   0   0
182                2-5 yrs    2029       Production Technician I   0   0
183                2-5 yrs    2029      Production Technician II   0   0
184                2-5 yrs    2029                 Sales Manager   0   0
185                2-5 yrs    2029           Senior BI Developer   0   0
186                2-5 yrs    2029       Shared Services Manager   0   0
187                2-5 yrs    2029             Software Engineer   0   0
188                2-5 yrs    2029  Software Engineering Manager   0   0
189                2-5 yrs    2029                Sr. Accountant   0   0
190                2-5 yrs    2029                       Sr. DBA   0   0
191                2-5 yrs    2029          Sr. Network Engineer   0   0
192                2-5 yrs    3039                  Accountant I   0   0
193                2-5 yrs    3039      Administrative Assistant   0   0
194                2-5 yrs    3039            Area Sales Manager   0   0
195                2-5 yrs    3039                  BI Developer   0   0
196                2-5 yrs    3039                   BI Director   0   0
197                2-5 yrs    3039                           CIO   0   0
198                2-5 yrs    3039                  Data Analyst   0   0
199                2-5 yrs    3039                 Data Analyst    0   0
200                2-5 yrs    3039                Data Architect   0   0
201                2-5 yrs    3039        Database Administrator   0   1
202                2-5 yrs    3039        Director of Operations   0   0
203                2-5 yrs    3039             Director of Sales   0   0
204                2-5 yrs    3039          Enterprise Architect   0   0
205                2-5 yrs    3039                   IT Director   0   0
206                2-5 yrs    3039               IT Manager - DB   0   0
207                2-5 yrs    3039            IT Manager - Infra   0   0
208                2-5 yrs    3039          IT Manager - Support   0   0
209                2-5 yrs    3039                    IT Support   0   0
210                2-5 yrs    3039              Network Engineer   0   0
211                2-5 yrs    3039               President & CEO   0   0
212                2-5 yrs    3039      Principal Data Architect   0   0
213                2-5 yrs    3039            Production Manager   0   0
214                2-5 yrs    3039       Production Technician I   0   6
215                2-5 yrs    3039      Production Technician II   0   3
216                2-5 yrs    3039                 Sales Manager   0   1
217                2-5 yrs    3039           Senior BI Developer   0   0
218                2-5 yrs    3039       Shared Services Manager   0   0
219                2-5 yrs    3039             Software Engineer   0   2
220                2-5 yrs    3039  Software Engineering Manager   0   0
221                2-5 yrs    3039                Sr. Accountant   0   0
222                2-5 yrs    3039                       Sr. DBA   0   0
223                2-5 yrs    3039          Sr. Network Engineer   0   0
224                2-5 yrs    4049                  Accountant I   0   0
225                2-5 yrs    4049      Administrative Assistant   0   0
226                2-5 yrs    4049            Area Sales Manager   0   1
227                2-5 yrs    4049                  BI Developer   0   0
228                2-5 yrs    4049                   BI Director   0   0
229                2-5 yrs    4049                           CIO   0   0
230                2-5 yrs    4049                  Data Analyst   0   0
231                2-5 yrs    4049                 Data Analyst    0   0
232                2-5 yrs    4049                Data Architect   0   0
233                2-5 yrs    4049        Database Administrator   0   0
234                2-5 yrs    4049        Director of Operations   0   0
235                2-5 yrs    4049             Director of Sales   0   0
236                2-5 yrs    4049          Enterprise Architect   0   0
237                2-5 yrs    4049                   IT Director   0   0
238                2-5 yrs    4049               IT Manager - DB   0   0
239                2-5 yrs    4049            IT Manager - Infra   0   0
240                2-5 yrs    4049          IT Manager - Support   0   0
241                2-5 yrs    4049                    IT Support   0   0
242                2-5 yrs    4049              Network Engineer   0   0
243                2-5 yrs    4049               President & CEO   0   0
244                2-5 yrs    4049      Principal Data Architect   0   0
245                2-5 yrs    4049            Production Manager   0   0
246                2-5 yrs    4049       Production Technician I   0  11
247                2-5 yrs    4049      Production Technician II   0   4
248                2-5 yrs    4049                 Sales Manager   0   0
249                2-5 yrs    4049           Senior BI Developer   0   0
250                2-5 yrs    4049       Shared Services Manager   0   0
251                2-5 yrs    4049             Software Engineer   0   1
252                2-5 yrs    4049  Software Engineering Manager   0   0
253                2-5 yrs    4049                Sr. Accountant   0   0
254                2-5 yrs    4049                       Sr. DBA   0   0
255                2-5 yrs    4049          Sr. Network Engineer   0   0
256                2-5 yrs    5059                  Accountant I   0   0
257                2-5 yrs    5059      Administrative Assistant   0   0
258                2-5 yrs    5059            Area Sales Manager   0   2
259                2-5 yrs    5059                  BI Developer   0   0
260                2-5 yrs    5059                   BI Director   0   0
261                2-5 yrs    5059                           CIO   0   0
262                2-5 yrs    5059                  Data Analyst   0   0
263                2-5 yrs    5059                 Data Analyst    0   0
264                2-5 yrs    5059                Data Architect   0   0
265                2-5 yrs    5059        Database Administrator   0   0
266                2-5 yrs    5059        Director of Operations   0   0
267                2-5 yrs    5059             Director of Sales   0   0
268                2-5 yrs    5059          Enterprise Architect   0   1
269                2-5 yrs    5059                   IT Director   0   0
270                2-5 yrs    5059               IT Manager - DB   0   0
271                2-5 yrs    5059            IT Manager - Infra   0   0

In [ ]:
#TenureGroup x TermReason
df.groupby(
    ['TenureGroup', 'TermReason'], observed=False).size().reset_index(name='Count')

   TenureGroup                        TermReason  Count
0      0-2 yrs                  Another position      6
1      0-2 yrs                  Fatal attraction      0
2      0-2 yrs     Learned that he is a gangster      0
3      0-2 yrs                 N/A-StillEmployed      0
4      0-2 yrs                        attendance      1
5      0-2 yrs                     career change      5
6      0-2 yrs                  gross misconduct      0
7      0-2 yrs                             hours      2
8      0-2 yrs  maternity leave - did not return      0
9      0-2 yrs                    medical issues      1
10     0-2 yrs                          military      0
11     0-2 yrs                        more money      3
12     0-2 yrs                  no-call, no-show      2
13     0-2 yrs                       performance      2
14     0-2 yrs            relocation out of area      1
15     0-2 yrs                          retiring      1
16     0-2 yrs                  return to school      1
17     0-2 yrs                           unhappy      4
18     2-5 yrs                  Another position      8
19     2-5 yrs                  Fatal attraction      1
20     2-5 yrs     Learned that he is a gangster      1
21     2-5 yrs                 N/A-StillEmployed      0
22     2-5 yrs                        attendance      2
23     2-5 yrs                     career change      3
24     2-5 yrs                  gross misconduct      1
25     2-5 yrs                             hours      4
26     2-5 yrs  maternity leave - did not return      2
27     2-5 yrs                    medical issues      1
28     2-5 yrs                          military      3
29     2-5 yrs                        more money      6
30     2-5 yrs                  no-call, no-show      2
31     2-5 yrs                       performance      1
32     2-5 yrs            relocation out of area      3
33     2-5 yrs                          retiring      3
34     2-5 yrs                  return to school      1
35     2-5 yrs                           unhappy      7
36    5-10 yrs                  Another position      6
37    5-10 yrs                  Fatal attraction      0
38    5-10 yrs     Learned that he is a gangster      0
39    5-10 yrs                 N/A-StillEmployed     50
40    5-10 yrs                        attendance      4
41    5-10 yrs                     career change      1
42    5-10 yrs                  gross misconduct      0
43    5-10 yrs                             hours      2
44    5-10 yrs  maternity leave - did not return      1
45    5-10 yrs                    medical issues      1
46    5-10 yrs                          military      1
47    5-10 yrs                        more money      2
48    5-10 yrs                  no-call, no-show      0
49    5-10 yrs                       performance      1
50    5-10 yrs            relocation out of area      1
51    5-10 yrs                          retiring      0
52    5-10 yrs                  return to school      3
53    5-10 yrs                           unhappy      3
54   10-15 yrs                  Another position      0
55   10-15 yrs                  Fatal attraction      0
56   10-15 yrs     Learned that he is a gangster      0
57   10-15 yrs                 N/A-StillEmployed    149
58   10-15 yrs                        attendance      0
59   10-15 yrs                     career change      0
60   10-15 yrs                  gross misconduct      0
61   10-15 yrs                             hours      0
62   10-15 yrs  maternity leave - did not return      0
63   10-15 yrs                    medical issues      0
64   10-15 yrs                          military      0
65   10-15 yrs                        more money      0
66   10-15 yrs                  no-call, no-show      0
67   10-15 yrs                       performance      0
68   10-15 yrs            relocation out of area      0
69   10-15 yrs                          retiring      0
70   10-15 yrs                  return to school      0
71   10-15 yrs                           unhappy      0
72   15-20 yrs                  Another position      0
73   15-20 yrs                  Fatal attraction      0
74   15-20 yrs     Learned that he is a gangster      0
75   15-20 yrs                 N/A-StillEmployed      8
76   15-20 yrs                        attendance      0
77   15-20 yrs                     career change      0
78   15-20 yrs                  gross misconduct      0
79   15-20 yrs                             hours      0
80   15-20 yrs  maternity leave - did not return      0
81   15-20 yrs                    medical issues      0
82   15-20 yrs                          military      0
83   15-20 yrs                        more money      0
84   15-20 yrs                  no-call, no-show      0
85   15-20 yrs                       performance      0
86   15-20 yrs            relocation out of area      0
87   15-20 yrs                          retiring      0
88   15-20 yrs                  return to school      0
89   15-20 yrs                           unhappy      0

In [ ]:
#ManagerName x Sex X EmploymentStatus X TerminatedFlag
df.pivot_table(
    index=['ManagerName', 'Sex', 'EmploymentStatus'],
    columns='TerminatedFlag',
    aggfunc='size',
    fill_value=0,
    observed=False
).reset_index()

TerminatedFlag         ManagerName Sex        EmploymentStatus   0  1
0                  Alex Sweetwater   F                  Active   5  0
1                  Alex Sweetwater   F    Terminated for Cause   0  1
2                  Alex Sweetwater  M                   Active   1  0
3                  Alex Sweetwater  M   Voluntarily Terminated   0  2
4                         Amy Dunn   F                  Active   5  0
5                         Amy Dunn   F  Voluntarily Terminated   0  8
6                         Amy Dunn  M                   Active   3  0
7                         Amy Dunn  M   Voluntarily Terminated   0  5
8               Board of Directors   F                  Active   2  0
9               Brandon R. LeBlanc   F                  Active   3  0
10              Brandon R. LeBlanc   F    Terminated for Cause   0  1
11              Brandon R. LeBlanc   F  Voluntarily Terminated   0  1
12              Brandon R. LeBlanc  M                   Active   2  0
13                  Brannon Miller   F                  Active  11  0
14                  Brannon Miller   F  Voluntarily Terminated   0  2
15                  Brannon Miller  M                   Active   5  0
16                  Brannon Miller  M   Voluntarily Terminated   0  4
17                Brian Champaigne   F                  Active   3  0
18                Brian Champaigne  M                   Active   5  0
19                   David Stanley   F                  Active   9  0
20                   David Stanley   F  Voluntarily Terminated   0  5
21                   David Stanley  M                   Active   6  0
22                   David Stanley  M   Voluntarily Terminated   0  1
23                  Debra Houlihan   F                  Active   1  0
24                  Debra Houlihan   F  Voluntarily Terminated   0  1
25                  Debra Houlihan  M                   Active   1  0
26                    Elijiah Gray   F                  Active  12  0
27                    Elijiah Gray   F    Terminated for Cause   0  1
28                    Elijiah Gray   F  Voluntarily Terminated   0  6
29                    Elijiah Gray  M                   Active   2  0
30                    Elijiah Gray  M   Voluntarily Terminated   0  1
31                    Eric Dougall   F                  Active   3  0
32                    Eric Dougall  M                   Active   1  0
33                      Janet King   F                  Active   6  0
34                      Janet King   F  Voluntarily Terminated   0  2
35                      Janet King  M                   Active   7  0
36                      Janet King  M     Terminated for Cause   0  1
37                      Janet King  M   Voluntarily Terminated   0  3
38                 Jennifer Zamora  M                   Active   6  0
39                 Jennifer Zamora  M   Voluntarily Terminated   0  1
40                      John Smith   F                  Active   4  0
41                      John Smith   F    Terminated for Cause   0  1
42                      John Smith   F  Voluntarily Terminated   0  1
43                      John Smith  M                   Active   7  0
44                      John Smith  M   Voluntarily Terminated   0  1
45                   Kelley Spirea   F                  Active   5  0
46                   Kelley Spirea   F    Terminated for Cause   0  1
47                   Kelley Spirea   F  Voluntarily Terminated   0  4
48                   Kelley Spirea  M                   Active  11  0
49                   Kelley Spirea  M     Terminated for Cause   0  1
50                   Ketsia Liebig   F                  Active   9  0
51                   Ketsia Liebig   F    Terminated for Cause   0  1
52                   Ketsia Liebig   F  Voluntarily Terminated   0  4
53                   Ketsia Liebig  M                   Active   7  0
54                  Kissy Sullivan   F                  Active   7  0
55                  Kissy Sullivan   F    Terminated for Cause   0  1
56                  Kissy Sullivan   F  Voluntarily Terminated   0  5
57                  Kissy Sullivan  M                   Active   3  0
58                  Kissy Sullivan  M     Terminated for Cause   0  1
59                  Kissy Sullivan  M   Voluntarily Terminated   0  5
60                   Lynn Daneault   F                  Active   6  0
61                   Lynn Daneault  M                   Active   6  0
62                   Lynn Daneault  M     Terminated for Cause   0  1
63                  Michael Albert   F                  Active   8  0
64                  Michael Albert   F  Voluntarily Terminated   0  4
65                  Michael Albert  M                   Active   5  0
66                  Michael Albert  M     Terminated for Cause   0  1
67                  Michael Albert  M   Voluntarily Terminated   0  4
68                    Peter Monroe   F                  Active   6  0
69                    Peter Monroe  M                   Active   7  0
70                    Peter Monroe  M   Voluntarily Terminated   0  1
71                      Simon Roup   F                  Active   6  0
72                      Simon Roup   F    Terminated for Cause   0  2
73                      Simon Roup   F  Voluntarily Terminated   0  1
74                      Simon Roup  M                   Active   3  0
75                      Simon Roup  M     Terminated for Cause   0  2
76                      Simon Roup  M   Voluntarily Terminated   0  3
77                  Webster Butler   F                  Active   5  0
78                  Webster Butler   F  Voluntarily Terminated   0  7
79                  Webster Butler  M                   Active   3  0
80                  Webster Butler  M   Voluntarily Terminated   0  6

In [ ]:
#ManagerName x MaritalDesc X EmploymentStatus X TerminatedFlag
df.pivot_table(
    index=['ManagerName', 'MaritalDesc', 'EmploymentStatus'],
    columns='TerminatedFlag',
    aggfunc='size',
    fill_value=0,
    observed=False
).reset_index()

TerminatedFlag         ManagerName MaritalDesc        EmploymentStatus   0  1
0                  Alex Sweetwater     Married                  Active   1  0
1                  Alex Sweetwater     Married    Terminated for Cause   0  1
2                  Alex Sweetwater      Single                  Active   5  0
3                  Alex Sweetwater      Single  Voluntarily Terminated   0  2
4                         Amy Dunn    Divorced  Voluntarily Terminated   0  1
5                         Amy Dunn     Married                  Active   4  0
6                         Amy Dunn     Married  Voluntarily Terminated   0  6
7                         Amy Dunn      Single                  Active   4  0
8                         Amy Dunn      Single  Voluntarily Terminated   0  5
9                         Amy Dunn     Widowed  Voluntarily Terminated   0  1
10              Board of Directors     Married                  Active   2  0
11              Brandon R. LeBlanc    Divorced                  Active   1  0
12              Brandon R. LeBlanc     Married                  Active   2  0
13              Brandon R. LeBlanc     Married    Terminated for Cause   0  1
14              Brandon R. LeBlanc     Married  Voluntarily Terminated   0  1
15              Brandon R. LeBlanc      Single                  Active   2  0
16                  Brannon Miller    Divorced                  Active   2  0
17                  Brannon Miller     Married                  Active   9  0
18                  Brannon Miller     Married  Voluntarily Terminated   0  3
19                  Brannon Miller   Separated                  Active   1  0
20                  Brannon Miller      Single                  Active   3  0
21                  Brannon Miller      Single  Voluntarily Terminated   0  3
22                  Brannon Miller     Widowed                  Active   1  0
23                Brian Champaigne     Married                  Active   3  0
24                Brian Champaigne      Single                  Active   5  0
25                   David Stanley    Divorced  Voluntarily Terminated   0  3
26                   David Stanley     Married                  Active   5  0
27                   David Stanley     Married  Voluntarily Terminated   0  3
28                   David Stanley   Separated                  Active   1  0
29                   David Stanley      Single                  Active   8  0
30                   David Stanley     Widowed                  Active   1  0
31                  Debra Houlihan    Divorced                  Active   1  0
32                  Debra Houlihan      Single                  Active   1  0
33                  Debra Houlihan      Single  Voluntarily Terminated   0  1
34                    Elijiah Gray    Divorced                  Active   1  0
35                    Elijiah Gray    Divorced  Voluntarily Terminated   0  2
36                    Elijiah Gray     Married                  Active   6  0
37                    Elijiah Gray     Married  Voluntarily Terminated   0  3
38                    Elijiah Gray      Single                  Active   7  0
39                    Elijiah Gray      Single    Terminated for Cause   0  1
40                    Elijiah Gray      Single  Voluntarily Terminated   0  2
41                    Eric Dougall     Married                  Active   1  0
42                    Eric Dougall      Single                  Active   3  0
43                      Janet King    Divorced                  Active   3  0
44                      Janet King     Married                  Active   5  0
45                      Janet King     Married    Terminated for Cause   0  1
46                      Janet King     Married  Voluntarily Terminated   0  4
47                      Janet King      Single                  Active   5  0
48                      Janet King      Single  Voluntarily Terminated   0  1
49                 Jennifer Zamora    Divorced  Voluntarily Terminated   0  1
50                 Jennifer Zamora     Married                  Active   2  0
51                 Jennifer Zamora      Single                  Active   4  0
52                      John Smith     Married                  Active   4  0
53                      John Smith     Married  Voluntarily Terminated   0  1
54                      John Smith   Separated                  Active   1  0
55                      John Smith      Single                  Active   6  0
56                      John Smith      Single  Voluntarily Terminated   0  1
57                      John Smith     Widowed    Terminated for Cause   0  1
58                   Kelley Spirea    Divorced  Voluntarily Terminated   0  1
59                   Kelley Spirea     Married                  Active   7  0
60                   Kelley Spirea     Married    Terminated for Cause   0  1
61                   Kelley Spirea   Separated                  Active   1  0
62                   Kelley Spirea   Separated  Voluntarily Terminated   0  1
63                   Kelley Spirea      Single                  Active   8  0
64                   Kelley Spirea      Single    Terminated for Cause   0  1
65                   Kelley Spirea      Single  Voluntarily Terminated   0  2
66                   Ketsia Liebig    Divorced                  Active   2  0
67                   Ketsia Liebig    Divorced  Voluntarily Terminated   0  1
68                   Ketsia Liebig     Married                  Active   3  0
69                   Ketsia Liebig     Married    Terminated for Cause   0  1
70                   Ketsia Liebig     Married  Voluntarily Terminated   0  2
71                   Ketsia Liebig      Single                  Active  10  0
72                   Ketsia Liebig      Single  Voluntarily Terminated   0  1
73                   Ketsia Liebig     Widowed                  Active   1  0
74                  Kissy Sullivan    Divorced                  Active   2  0
75                  Kissy Sullivan    Divorced  Voluntarily Terminated   0  3
76                  Kissy Sullivan     Married                  Active   2  0
77                  Kissy Sullivan     Married  Voluntarily Terminated   0  5
78                  Kissy Sullivan   Separated                  Active   2  0
79                  Kissy Sullivan      Single                  Active   4  0
80                  Kissy Sullivan      Single    Terminated for Cause   0  2
81                  Kissy Sullivan      Single  Voluntarily Terminated   0  2
82                   Lynn Daneault     Married                  Active   3  0
83                   Lynn Daneault     Married    Terminated for Cause   0  1
84                   Lynn Daneault   Separated                  Active   1  0
85                   Lynn Daneault      Single                  Active   8  0
86                  Michael Albert    Divorced  Voluntarily Terminated   0  2
87                  Michael Albert     Married                  Active   3  0
88                  Michael Albert     Married  Voluntarily Terminated   0  3
89                  Michael Albert   Separated                  Active   2  0
90                  Michael Albert      Single                  Active   8  0
91                  Michael Albert      Single    Terminated for Cause   0  1
92                  Michael Albert      Single  Voluntarily Terminated   0  2
93                  Michael Albert     Widowed  Voluntarily Terminated   0  1
94                    Peter Monroe    Divorced                  Active   1  0
95                    Peter Monroe     Married                  Active   8  0
96                    Peter Monroe     Married  Voluntarily Terminated   0  1
97                    Peter Monroe   Separated                  Active   1  0
98                    Peter Monroe      Single                  Active   2  0
99                    Peter Monroe     Widowed                  Active   1  0
100                     Simon Roup    Divorced                  Active   1  0
101                     Simon Roup    Divorced  Voluntarily Terminated   0  1
102                     Simon Roup     Married                  Active   5  0
103                     Simon Roup     Married    Terminated for Cause   0  1
104                     Simon Roup     Married  Voluntarily Terminated   0  2
105                     Simon Roup      Single                  Active   3  0
106                     Simon Roup      Single    Terminated for Cause   0  3
107                     Simon Roup      Single  Voluntarily Terminated   0  1
108                 Webster Butler    Divorced  Voluntarily Terminated   0  1
109                 Webster Butler     Married                  Active   2  0
110                 Webster Butler     Married  Voluntarily Terminated   0  6
111                 Webster Butler   Separated                  Active   1  0
112                 Webster Butler      Single                  Active   5  0
113                 Webster Butler      Single  Voluntarily Terminated   0  5
114                 Webster Butler     Widowed  Voluntarily Terminated   0  1

In [ ]:
#ManagerName x Sex X MaritalDesc X TerminatedFlag
df.pivot_table(
    index=['ManagerName', 'Sex', 'MaritalDesc'],
    columns='TerminatedFlag',
    aggfunc='size',
    fill_value=0,
    observed=False
).reset_index()

TerminatedFlag         ManagerName Sex MaritalDesc  0  1
0                  Alex Sweetwater   F     Married  1  1
1                  Alex Sweetwater   F      Single  4  0
2                  Alex Sweetwater  M       Single  1  2
3                         Amy Dunn   F    Divorced  0  1
4                         Amy Dunn   F     Married  2  3
5                         Amy Dunn   F      Single  3  4
6                         Amy Dunn  M      Married  2  3
7                         Amy Dunn  M       Single  1  1
8                         Amy Dunn  M      Widowed  0  1
9               Board of Directors   F     Married  2  0
10              Brandon R. LeBlanc   F     Married  2  2
11              Brandon R. LeBlanc   F      Single  1  0
12              Brandon R. LeBlanc  M     Divorced  1  0
13              Brandon R. LeBlanc  M       Single  1  0
14                  Brannon Miller   F    Divorced  1  0
15                  Brannon Miller   F     Married  6  1
16                  Brannon Miller   F   Separated  1  0
17                  Brannon Miller   F      Single  3  1
18                  Brannon Miller  M     Divorced  1  0
19                  Brannon Miller  M      Married  3  2
20                  Brannon Miller  M       Single  0  2
21                  Brannon Miller  M      Widowed  1  0
22                Brian Champaigne   F     Married  1  0
23                Brian Champaigne   F      Single  2  0
24                Brian Champaigne  M      Married  2  0
25                Brian Champaigne  M       Single  3  0
26                   David Stanley   F    Divorced  0  3
27                   David Stanley   F     Married  2  2
28                   David Stanley   F   Separated  1  0
29                   David Stanley   F      Single  5  0
30                   David Stanley   F     Widowed  1  0
31                   David Stanley  M      Married  3  1
32                   David Stanley  M       Single  3  0
33                  Debra Houlihan   F      Single  1  1
34                  Debra Houlihan  M     Divorced  1  0
35                    Elijiah Gray   F    Divorced  1  1
36                    Elijiah Gray   F     Married  5  3
37                    Elijiah Gray   F      Single  6  3
38                    Elijiah Gray  M     Divorced  0  1
39                    Elijiah Gray  M      Married  1  0
40                    Elijiah Gray  M       Single  1  0
41                    Eric Dougall   F     Married  1  0
42                    Eric Dougall   F      Single  2  0
43                    Eric Dougall  M       Single  1  0
44                      Janet King   F     Married  4  2
45                      Janet King   F      Single  2  0
46                      Janet King  M     Divorced  3  0
47                      Janet King  M      Married  1  3
48                      Janet King  M       Single  3  1
49                 Jennifer Zamora  M     Divorced  0  1
50                 Jennifer Zamora  M      Married  2  0
51                 Jennifer Zamora  M       Single  4  0
52                      John Smith   F     Married  2  1
53                      John Smith   F      Single  2  0
54                      John Smith   F     Widowed  0  1
55                      John Smith  M      Married  2  0
56                      John Smith  M    Separated  1  0
57                      John Smith  M       Single  4  1
58                   Kelley Spirea   F    Divorced  0  1
59                   Kelley Spirea   F     Married  2  1
60                   Kelley Spirea   F   Separated  1  1
61                   Kelley Spirea   F      Single  2  2
62                   Kelley Spirea  M      Married  5  0
63                   Kelley Spirea  M       Single  6  1
64                   Ketsia Liebig   F    Divorced  2  1
65                   Ketsia Liebig   F     Married  1  3
66                   Ketsia Liebig   F      Single  6  1
67                   Ketsia Liebig  M      Married  2  0
68                   Ketsia Liebig  M       Single  4  0
69                   Ketsia Liebig  M      Widowed  1  0
70                  Kissy Sullivan   F    Divorced  2  2
71                  Kissy Sullivan   F     Married  2  2
72                  Kissy Sullivan   F   Separated  2  0
73                  Kissy Sullivan   F      Single  1  2
74                  Kissy Sullivan  M     Divorced  0  1
75                  Kissy Sullivan  M      Married  0  3
76                  Kissy Sullivan  M       Single  3  2
77                   Lynn Daneault   F     Married  1  0
78                   Lynn Daneault   F      Single  5  0
79                   Lynn Daneault  M      Married  2  1
80                   Lynn Daneault  M    Separated  1  0
81                   Lynn Daneault  M       Single  3  0
82                  Michael Albert   F     Married  2  2
83                  Michael Albert   F   Separated  1  0
84                  Michael Albert   F      Single  5  1
85                  Michael Albert   F     Widowed  0  1
86                  Michael Albert  M     Divorced  0  2
87                  Michael Albert  M      Married  1  1
88                  Michael Albert  M    Separated  1  0
89                  Michael Albert  M       Single  3  2
90                    Peter Monroe   F     Married  4  0
91                    Peter Monroe   F   Separated  1  0
92                    Peter Monroe   F     Widowed  1  0
93                    Peter Monroe  M     Divorced  1  0
94                    Peter Monroe  M      Married  4  1
95                    Peter Monroe  M       Single  2  0
96                      Simon Roup   F     Married  3  0
97                      Simon Roup   F      Single  3  3
98                      Simon Roup  M     Divorced  1  1
99                      Simon Roup  M      Married  2  3
100                     Simon Roup  M       Single  0  1
101                 Webster Butler   F    Divorced  0  1
102                 Webster Butler   F     Married  2  4
103                 Webster Butler   F   Separated  1  0
104                 Webster Butler   F      Single  2  2
105                 Webster Butler  M      Married  0  2
106                 Webster Butler  M       Single  3  3
107                 Webster Butler  M      Widowed  0  1

In [ ]:
#ManagerName x Department X EmploymentStatus X TerminatedFlag
df.pivot_table(
    index=['ManagerName', 'Department', 'EmploymentStatus'],
    columns='TerminatedFlag',
    aggfunc='size',
    fill_value=0,
    observed=False
).reset_index()

TerminatedFlag,ManagerName,Department,EmploymentStatus,0,1
0,Alex Sweetwater,Software Engineering,Active,6,0
1,Alex Sweetwater,Software Engineering,Terminated for Cause,0,1
2,Alex Sweetwater,Software Engineering,Voluntarily Terminated,0,2
3,Amy Dunn,Production,Active,8,0
4,Amy Dunn,Production,Voluntarily Terminated,0,13
5,Board of Directors,Admin Offices,Active,1,0
6,Board of Directors,Executive Office,Active,1,0
7,Brandon R. LeBlanc,Admin Offices,Active,5,0
8,Brandon R. LeBlanc,Admin Offices,Terminated for Cause,0,1
9,Brandon R. LeBlanc,Admin Offices,Voluntarily Terminated,0,1
10,Brannon Miller,Production,Active,16,0
11,Brannon Miller,Production,Voluntarily Terminated,0,6
12,Brian Champaigne,IT/IS,Active,8,0
13,David Stanley,Production,Active,15,0
14,David Stanley,Production,Voluntarily Terminated,0,6
15,Debra Houlihan,Sales,Active,2,0
16,Debra Houlihan,Sales,Voluntarily Terminated,0,1
17,Elijiah Gray,Production,Active,14,0
18,Elijiah Gray,Production,Terminated for Cause,0,1
19,Elijiah Gray,Production,Voluntarily Terminated,0,7
20,Eric Dougall,IT/IS,Active,4,0
21,Janet King,Admin Offices,Active,1,0
22,Janet King,IT/IS,Active,1,0
23,Janet King,Production,Active,10,0
24,Janet King,Production,Terminated for Cause,0,1
25,Janet King,Production,Voluntarily Terminated,0,4
26,Janet King,Sales,Active,1,0
27,Janet King,Software Engineering,Voluntarily Terminated,0,1
28,Jennifer Zamora,IT/IS,Active,5,0
29,Jennifer Zamora,IT/IS,Voluntarily Terminated,0,1
30,Jennifer Zamora,Software Engineering,Active,1,0
31,John Smith,Sales,Active,11,0
32,John Smith,Sales,Terminated for Cause,0,1
33,John Smith,Sales,Voluntarily Terminated,0,2
34,Kelley Spirea,Production,Active,16,0
35,Kelley Spirea,Production,Terminated for Cause,0,2
36,Kelley Spirea,Production,Voluntarily Terminated,0,4
37,Ketsia Liebig,Production,Active,16,0
38,Ketsia Liebig,Production,Terminated for Cause,0,1
39,Ketsia Liebig,Production,Voluntarily Terminated,0,4
40,Kissy Sullivan,Production,Active,10,0
41,Kissy Sullivan,Production,Terminated for Cause,0,2
42,Kissy Sullivan,Production,Voluntarily Terminated,0,10
43,Lynn Daneault,Sales,Active,12,0
44,Lynn Daneault,Sales,Terminated for Cause,0,1
45,Michael Albert,Production,Active,13,0
46,Michael Albert,Production,Terminated for Cause,0,1
47,Michael Albert,Production,Voluntarily Terminated,0,8
48,Peter Monroe,IT/IS,Active,13,0
49,Peter Monroe,IT/IS,Voluntarily Terminated,0,1
50,Simon Roup,IT/IS,Active,9,0
51,Simon Roup,IT/IS,Terminated for Cause,0,4
52,Simon Roup,IT/IS,Voluntarily Terminated,0,4
53,Webster Butler,Production,Active,8,0
54,Webster Butler,Production,Voluntarily Terminated,0,13

In [ ]:
#ManagerName x MaritalDesc X Department X TerminatedFlag
df.pivot_table(
    index=['ManagerName', 'MaritalDesc', 'Department'],
    columns='TerminatedFlag',
    aggfunc='size',
    fill_value=0,
    observed=False
).reset_index()

TerminatedFlag         ManagerName MaritalDesc            Department   0  1
0                  Alex Sweetwater     Married  Software Engineering   1  1
1                  Alex Sweetwater      Single  Software Engineering   5  2
2                         Amy Dunn    Divorced     Production          0  1
3                         Amy Dunn     Married     Production          4  6
4                         Amy Dunn      Single     Production          4  5
5                         Amy Dunn     Widowed     Production          0  1
6               Board of Directors     Married         Admin Offices   1  0
7               Board of Directors     Married      Executive Office   1  0
8               Brandon R. LeBlanc    Divorced         Admin Offices   1  0
9               Brandon R. LeBlanc     Married         Admin Offices   2  2
10              Brandon R. LeBlanc      Single         Admin Offices   2  0
11                  Brannon Miller    Divorced     Production          2  0
12                  Brannon Miller     Married     Production          9  3
13                  Brannon Miller   Separated     Production          1  0
14                  Brannon Miller      Single     Production          3  3
15                  Brannon Miller     Widowed     Production          1  0
16                Brian Champaigne     Married                 IT/IS   3  0
17                Brian Champaigne      Single                 IT/IS   5  0
18                   David Stanley    Divorced     Production          0  3
19                   David Stanley     Married     Production          5  3
20                   David Stanley   Separated     Production          1  0
21                   David Stanley      Single     Production          8  0
22                   David Stanley     Widowed     Production          1  0
23                  Debra Houlihan    Divorced                 Sales   1  0
24                  Debra Houlihan      Single                 Sales   1  1
25                    Elijiah Gray    Divorced     Production          1  2
26                    Elijiah Gray     Married     Production          6  3
27                    Elijiah Gray      Single     Production          7  3
28                    Eric Dougall     Married                 IT/IS   1  0
29                    Eric Dougall      Single                 IT/IS   3  0
30                      Janet King    Divorced     Production          3  0
31                      Janet King     Married         Admin Offices   1  0
32                      Janet King     Married     Production          3  4
33                      Janet King     Married                 Sales   1  0
34                      Janet King     Married  Software Engineering   0  1
35                      Janet King      Single                 IT/IS   1  0
36                      Janet King      Single     Production          4  1
37                 Jennifer Zamora    Divorced                 IT/IS   0  1
38                 Jennifer Zamora     Married                 IT/IS   2  0
39                 Jennifer Zamora      Single                 IT/IS   3  0
40                 Jennifer Zamora      Single  Software Engineering   1  0
41                      John Smith     Married                 Sales   4  1
42                      John Smith   Separated                 Sales   1  0
43                      John Smith      Single                 Sales   6  1
44                      John Smith     Widowed                 Sales   0  1
45                   Kelley Spirea    Divorced     Production          0  1
46                   Kelley Spirea     Married     Production          7  1
47                   Kelley Spirea   Separated     Production          1  1
48                   Kelley Spirea      Single     Production          8  3
49                   Ketsia Liebig    Divorced     Production          2  1
50                   Ketsia Liebig     Married     Production          3  3
51                   Ketsia Liebig      Single     Production         10  1
52                   Ketsia Liebig     Widowed     Production          1  0
53                  Kissy Sullivan    Divorced     Production          2  3
54                  Kissy Sullivan     Married     Production          2  5
55                  Kissy Sullivan   Separated     Production          2  0
56                  Kissy Sullivan      Single     Production          4  4
57                   Lynn Daneault     Married                 Sales   3  1
58                   Lynn Daneault   Separated                 Sales   1  0
59                   Lynn Daneault      Single                 Sales   8  0
60                  Michael Albert    Divorced     Production          0  2
61                  Michael Albert     Married     Production          3  3
62                  Michael Albert   Separated     Production          2  0
63                  Michael Albert      Single     Production          8  3
64                  Michael Albert     Widowed     Production          0  1
65                    Peter Monroe    Divorced                 IT/IS   1  0
66                    Peter Monroe     Married                 IT/IS   8  1
67                    Peter Monroe   Separated                 IT/IS   1  0
68                    Peter Monroe      Single                 IT/IS   2  0
69                    Peter Monroe     Widowed                 IT/IS   1  0
70                      Simon Roup    Divorced                 IT/IS   1  1
71                      Simon Roup     Married                 IT/IS   5  3
72                      Simon Roup      Single                 IT/IS   3  4
73                  Webster Butler    Divorced     Production          0  1
74                  Webster Butler     Married     Production          2  6
75                  Webster Butler   Separated     Production          1  0
76                  Webster Butler      Single     Production          5  5
77                  Webster Butler     Widowed     Production          0  1

In [ ]:
#ManagerName x TerminationRate x TermReason
top_manager_names = df["ManagerName"].tolist()

termination_reasons = (
    df[df["ManagerName"].isin(top_manager_names) & (df["TerminatedFlag"] == 1)]
    [["ManagerName", "TermReason"]]
    .groupby(["ManagerName", "TermReason"])
    .size()
    .reset_index(name="Count")
)

termination_reasons

           ManagerName                        TermReason  Count
0      Alex Sweetwater                  Another position      1
1      Alex Sweetwater                        attendance      1
2      Alex Sweetwater                    medical issues      1
3             Amy Dunn                  Another position      1
4             Amy Dunn                        attendance      1
5             Amy Dunn                             hours      2
6             Amy Dunn                    medical issues      1
7             Amy Dunn                        more money      2
8             Amy Dunn            relocation out of area      1
9             Amy Dunn                  return to school      1
10            Amy Dunn                           unhappy      4
11  Brandon R. LeBlanc                     career change      1
12  Brandon R. LeBlanc                  no-call, no-show      1
13      Brannon Miller                  Another position      1
14      Brannon Miller                     career change      1
15      Brannon Miller                        more money      1
16      Brannon Miller                          retiring      1
17      Brannon Miller                           unhappy      2
18       David Stanley                  Another position      3
19       David Stanley                     career change      1
20       David Stanley                  return to school      1
21       David Stanley                           unhappy      1
22      Debra Houlihan  maternity leave - did not return      1
23        Elijiah Gray                  Another position      2
24        Elijiah Gray                     career change      2
25        Elijiah Gray                             hours      1
26        Elijiah Gray                  no-call, no-show      1
27        Elijiah Gray                          retiring      1
28        Elijiah Gray                           unhappy      1
29          Janet King                  Another position      2
30          Janet King                        attendance      1
31          Janet King                     career change      1
32          Janet King                          retiring      1
33          Janet King                           unhappy      1
34     Jennifer Zamora                             hours      1
35          John Smith                  Another position      1
36          John Smith                        attendance      1
37          John Smith            relocation out of area      1
38       Kelley Spirea                  Another position      1
39       Kelley Spirea                        attendance      1
40       Kelley Spirea                  gross misconduct      1
41       Kelley Spirea                             hours      1
42       Kelley Spirea                        more money      2
43       Ketsia Liebig                  Another position      1
44       Ketsia Liebig                        attendance      1
45       Ketsia Liebig                     career change      1
46       Ketsia Liebig                        more money      1
47       Ketsia Liebig            relocation out of area      1
48      Kissy Sullivan                  Another position      3
49      Kissy Sullivan                             hours      1
50      Kissy Sullivan  maternity leave - did not return      1
51      Kissy Sullivan                          military      1
52      Kissy Sullivan                        more money      1
53      Kissy Sullivan                       performance      2
54      Kissy Sullivan                  return to school      1
55      Kissy Sullivan                           unhappy      2
56       Lynn Daneault                  Fatal attraction      1
57      Michael Albert                  Another position      1
58      Michael Albert                        attendance      1
59      Michael Albert  maternity leave - did not return      1
60      Michael Albert                        more money      3
61      Michael Albert            relocation out of area      2
62      Michael Albert                           unhappy      1
63        Peter Monroe                    medical issues      1
64          Simon Roup                  Another position      1
65          Simon Roup     Learned that he is a gangster      1
66          Simon Roup                     career change      1
67          Simon Roup                             hours      1
68          Simon Roup                  no-call, no-show      2
69          Simon Roup                       performance      2
70      Webster Butler                  Another position      2
71      Webster Butler                     career change      1
72      Webster Butler                             hours      1
73      Webster Butler                          military      3
74      Webster Butler                        more money      1
75      Webster Butler                          retiring      1
76      Webster Butler                  return to school      2
77      Webster Butler                           unhappy      2

In [ ]:
#Department x TermReason
df.groupby(['Department', 'TermReason']).size().reset_index(name='Count')

              Department                        TermReason  Count
0          Admin Offices                 N/A-StillEmployed      7
1          Admin Offices                     career change      1
2          Admin Offices                  no-call, no-show      1
3       Executive Office                 N/A-StillEmployed      1
4                  IT/IS                  Another position      1
5                  IT/IS     Learned that he is a gangster      1
6                  IT/IS                 N/A-StillEmployed     40
7                  IT/IS                     career change      1
8                  IT/IS                             hours      2
9                  IT/IS                    medical issues      1
10                 IT/IS                  no-call, no-show      2
11                 IT/IS                       performance      2
12     Production                         Another position     17
13     Production                        N/A-StillEmployed    126
14     Production                               attendance      5
15     Production                            career change      6
16     Production                         gross misconduct      1
17     Production                                    hours      6
18     Production         maternity leave - did not return      2
19     Production                           medical issues      1
20     Production                                 military      4
21     Production                               more money     11
22     Production                         no-call, no-show      1
23     Production                              performance      2
24     Production                   relocation out of area      4
25     Production                                 retiring      4
26     Production                         return to school      5
27     Production                                  unhappy     14
28                 Sales                  Another position      1
29                 Sales                  Fatal attraction      1
30                 Sales                 N/A-StillEmployed     26
31                 Sales                        attendance      1
32                 Sales  maternity leave - did not return      1
33                 Sales            relocation out of area      1
34  Software Engineering                  Another position      1
35  Software Engineering                 N/A-StillEmployed      7
36  Software Engineering                        attendance      1
37  Software Engineering                     career change      1
38  Software Engineering                    medical issues      1

In [ ]:
#PerformanceScore x TermReason
df.groupby(['PerformanceScore', 'TermReason']).size().reset_index(name='Count')

     PerformanceScore                        TermReason  Count
0             Exceeds                  Another position      2
1             Exceeds                 N/A-StillEmployed     29
2             Exceeds                  gross misconduct      1
3             Exceeds  maternity leave - did not return      1
4             Exceeds                        more money      2
5             Exceeds                          retiring      1
6             Exceeds                           unhappy      1
7         Fully Meets                  Another position     17
8         Fully Meets     Learned that he is a gangster      1
9         Fully Meets                 N/A-StillEmployed    162
10        Fully Meets                        attendance      4
11        Fully Meets                     career change      6
12        Fully Meets                             hours      8
13        Fully Meets  maternity leave - did not return      2
14        Fully Meets                    medical issues      3
15        Fully Meets                          military      3
16        Fully Meets                        more money      9
17        Fully Meets                  no-call, no-show      3
18        Fully Meets                       performance      2
19        Fully Meets            relocation out of area      5
20        Fully Meets                          retiring      3
21        Fully Meets                  return to school      5
22        Fully Meets                           unhappy     10
23  Needs Improvement                 N/A-StillEmployed      8
24  Needs Improvement                        attendance      3
25  Needs Improvement                     career change      2
26  Needs Improvement                          military      1
27  Needs Improvement                  no-call, no-show      1
28  Needs Improvement                       performance      1
29  Needs Improvement                           unhappy      2
30                PIP                  Another position      1
31                PIP                  Fatal attraction      1
32                PIP                 N/A-StillEmployed      8
33                PIP                     career change      1
34                PIP                       performance      1
35                PIP                           unhappy      1